<?php
/**
 * Udevix
 *
 * @author     UdevixTeam <udevix@gmail.com>
 * @copyright  Copyright (c) 2015-2017 Udevix
 */
?>

<?php
$helper = Mage::helper('udevix_google_tag_manager');
if ($helper->isActive()) :
    $containerId = trim($helper->getContainerId());
    ?>
    <!-- Google Tag Manager (GTM) (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<?php echo $containerId ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (GTM) (noscript) -->
<?php endif; ?>
