/* swatches on products list */
.product-swatches-container {
    clear: both;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
.product-swatches-container ul {
    margin-bottom: 10px;
    width: 100%;
}
.product-swatches-container ul li {
    display: block;
    float: left;
    /*height: 35px;*/
}
.product-swatches-container li a {
    background: #ddd;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #bbb;
    cursor: default;
    display: block;
    filter: alpha(opacity=20);
    float: left;
    margin: 3px;
    moz-border-radius: 5px;
    opacity: 0.2;
    padding: 0px 5px 0px;
    text-decoration: none;
}
.product-swatches-container a.active {
    background: #fff;
    box-shadow: 3px 3px 5px #aaa;
    color: #333;
    cursor: pointer;
    display: block;
    filter: alpha(opacity=100);
    float: left;
    opacity: 1;
}

.product-swatches-container li a.active.out-of-stock{
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.product-swatches-container a.active.selected {
    background: #fff;
    border: solid 1px #ffffff;
    box-shadow: 1px 1px 5px #444 inset;
    color: #333;
    cursor: pointer;
    padding: 0px 6px 0px !important;
}
.product-swatches-container .has-swatches a {
    overflow: hidden;
    padding: 0px;
    position: relative;
    text-align: center;
}
.product-swatches-container .has-swatches a.active.selected {
    padding: 0px !important;
}
.product-swatches-container .has-swatches.swatch-type-label a.swatch-label,
.product-swatches-container .has-swatches.swatch-type-label a.swatch-label.active.selected {
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: auto !important;
}
.product-swatches-container .has-swatches li {
    position: relative;
}
.product-swatches-container .has-swatches li a span {
    display: none;
}
.product-swatches-container .has-swatches span.tooltip-container {
    display: none;
}
.product-swatches-container .has-swatches span.tooltip-container.on {
    display: block;
    height: 16px;
    left: 0px;
    margin-left:50%;
    position: absolute;
    top: -16px !important;
    z-index: 20000;
}
.product-swatches-container .has-swatches span.tooltip-container.on span.tooltip {
    background: #333;
    color: #efefef;
    display: block;
    float: left;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    margin-left: -50%;
    padding: 0px 5px;
    white-space: nowrap;
    opacity: 1 !important;
    position:relative !important;
    max-width:none !important;
    width: auto !important;
}
#product-options-wrapper .input-box{
    clear:both;
}
#product-options-wrapper .input-box .configurable-option-select.hideselect {
    display: none;
}
.product-image {
    position: relative;
    /*z-index: 1000;*/
    z-index: 0;
}
.catalog-product-view .product-image #wrap img {
    max-width: 100% !important;
    width: 100% !important;
}
#fancybox-link {
    background: #fff;
    border: solid 1px #ccc;
    bottom: 0px;
    display: none;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    position: absolute;
    right: 0px;
    text-decoration: none;
    z-index: 30000;
}

img.product-image-zoom-in{
  height: 20px !important;
  width: auto !important;
  vertical-align: text-bottom;
  margin-right: 5px !important;
  display: inline;
}

.layered-navigation-swatch {
    display: block;
    float: left;
    margin-right: 5px;
}
ul.attribute-swatches li {
    display: inline-block;
    margin: 3px 7px 3px 0px;
    position: relative;
    z-index: 0;
}
ul.attribute-swatches li.color-swatch-last {
    margin-right: 0px;
}
ul.attribute-swatches li a {
    background-position: center;
    border: solid 1px #ddd;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
ul.attribute-swatches li a:hover {
    border-color: #444;
    text-decoration: none;
}
ul.attribute-swatches li a img {
    border: none;
    display: inline;
    left: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    z-index: 0;
}
ul.attribute-swatches li a img.color-swatch-mask {
    border: none;
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 20;
}
ul.attribute-swatches li span {
    display: none;
    z-index: 10000;
}
ul.attribute-swatches li span.tooltip-container.on {
    display: block;
    height: 22px;
    left: 10px;
    position: absolute;
    top: -22px;
    z-index: 20000;
}
ul.attribute-swatches li span.tooltip.on {
    background: transparent;
    display: block;
    float: left;
    height: 22px;
    margin-left: -50%;
    white-space: nowrap !important;
}
ul.attribute-swatches li span span span {
    background: #333;
    border: solid 1px #efefef;
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 15px;
    padding: 1px 10px 1px;
}
.attribute-swatches.product-view {
    border: none;
    clear: both;
    height: 20px;
    margin: 5px 0px;
}
.attribute-swatches.product-list {
    clear: both;
    display: inline-block;
    padding: 0px;
    text-align: center;/* center on grid mode */
    width: 100%;
}




#narrow-by-list ol.swatches li {
    clear: both;
    display: block;
}
#narrow-by-list ol li .layered-navigation-swatch {
    border: solid 1px #ccc;
    margin: 0px 5px 0px 0px;
}

.attribute-availability {
    clear: both;
    display: inline-block;
    margin: 0px 0px 5px;
    padding: 0px;
    text-align: center;
    width: 100%;
}



.attribute-availability li {
    display: inline-block;
    padding: 3px;
}
.swatches.hide-label .layered-navigation-item-label {
    display: none;
}
#narrow-by-list ol.swatches.hide-label li {
    display:inline-block;
}
#narrow-by-list ol.swatches.hide-label li > a{
    display:inline-block;
    padding:5px;
}

#narrow-by-list ol.swatches.hide-label li > a:before{
    content:none;
}


#narrow-by-list ol.swatches.show-label-only li {
    display:inline-block;
    clear:none;
}
#narrow-by-list ol.swatches.show-label-only li > a{
    border: solid 1px #ccc;
    margin: 3px 3px;
    display:inline-block;
    padding:0px 8px;
}

#narrow-by-list ol.swatches.show-label-only li > a:before{
    content:none;
}

#narrow-by-list ol.swatches.show-label-only li > a > span{
    display:inline !important;
}



#product-gallery-container{
    float:left;
    width:100%;
    margin-bottom: 20px;
}

#product-gallery-container ul li a{
    outline: 0;/*remove dotted borders*/
}

/* gallery format when carousel is disabled. */
#product-gallery-container.more-views-container ul li{
  display: block;
  float: left;
  margin: 0px 5px 5px 0px;
}

#product-gallery-container.more-views-container ul li a{
    display:inline-block;
    border: solid 1px #ccc;
}


a.product-image img {
    z-index: 1;
}
a.product-image img.catalog-hover-image {
    display: block;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 0.5s ease-out;
    webkit-transition: opacity 0.5s ease-out;
    z-index: 1000;
}
a.product-image:hover img.catalog-hover-image {
    opacity: 1;
}

/* carousel controls position for vertical carousel... */
.vertical-carousel-container#product-gallery-container .bx-wrapper{
    margin-bottom:0px;
}

.vertical-carousel-container#product-gallery-container .bx-wrapper .product-image-thumbs > a,
.vertical-carousel-container#product-gallery-container .bx-wrapper .product-image-thumbs > a > img{
    max-width: 100%;
    display:block;
}

.vertical-carousel-container#product-gallery-container .bx-wrapper .bx-controls.bx-has-controls-direction a{
    left:50%;
    margin-left: -16px;
    margin-top:0px;
}
.vertical-carousel-container#product-gallery-container .bx-wrapper .bx-controls.bx-has-controls-direction .bx-prev{
    background: url(../jquery-plugins/bxslider/images/controls-vertical.png) no-repeat 0 -32px;
    top:-10px;
}

.vertical-carousel-container#product-gallery-container .bx-wrapper .bx-controls.bx-has-controls-direction .bx-next{
    background: url(../jquery-plugins/bxslider/images/controls-vertical.png) no-repeat -43px -32px;
    top:auto;
    bottom:-10px;
}

.vertical-carousel-container#product-gallery-container .bx-wrapper .bx-controls.bx-has-controls-direction .bx-next:hover,
.vertical-carousel-container#product-gallery-container .bx-wrapper .bx-controls.bx-has-controls-direction .bx-next:focus {
  background-position: -43px 0;
}

.vertical-carousel-container#product-gallery-container .bx-wrapper .bx-controls.bx-has-controls-direction .bx-prev:hover,
.vertical-carousel-container#product-gallery-container .bx-wrapper .bx-controls.bx-has-controls-direction .bx-prev:focus {
  background-position: 0 0;
}

/* previous - next buttons on main image container */

#product-image-gallery-prev,
#product-image-gallery-next{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    outline: 0;
    width: 40px;
    height: 60px;
    text-indent: -9999px;
    z-index: 999;
    display:block;
    background-repeat: no-repeat;
    background-position:center;
    cursor: pointer;
}

#product-image-gallery-prev{
    background-image: url(img/chevron-left.png);
    left:0px;
}

#product-image-gallery-next{
    background-image: url(img/chevron-right.png);
    right:0px;
}

#product-gallery-container.more-views-container ul li.hidden-gallery-item{
    display:none !important;
}

/* reload simple product price - loader */
.attributeswatches-loading-price{
     filter:Alpha(opacity=50);
     opacity: 0.5;
}