<?php
/**
 * @category     Inchoo
 * @package     Inchoo Featured Products
 * @author        Domagoj Potkoc, Inchoo Team <web@inchoo.net>
 * @modified    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
 */
?>
<?php
    $_productCollection=$this->getFeaturedProductCollection();
    $category_url = Mage::getModel("catalog/category")->load(7)->getUrl();
    $_helper = $this->helper('jnqadmin');
    $storeId = Mage::app()->getStore()->getId();
?>
<div class="featured-products pd-container">
    <!--<div class="category-title">
        <h2><a href="<?php echo $this->getUrl('') ?>/featured-products"><?php echo $this->__($this->getBlockLabel()) ?></a>
        <div class="carousel-title-line"></div>
        </h2>
    </div>-->
    <div class="bestseller-title nav-title">
        <h2>LO MÁS VENDIDO EN LAB</h2>
        <div class="right nav-see-more">
            <a href="<?php echo $category_url ?>"><span>Ver Todo</span></a>
        </div>
    </div>

    <?php if(!$_productCollection->count()): ?>
        <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>
    <?php if ($_productCollection->getSize()): ?>

    <?php // Grid Mode
        $_collectionSize = $_productCollection->count();
        $productCount = $_collectionSize;
        $sliderFor = 5;
    ?>
    <?php if ($productCount >= $sliderFor): ?>
        <div class="customNavigation">
            <a class="btn prev"><i class="fa fa-angle-left"></i></a>
            <a class="btn next"><i class="fa fa-angle-right"></i></a>
        </div>
    <?php endif; ?>

    <ul class="<?php if ($productCount >= $sliderFor){?>product-carousel<?php }else{?>products-grid<?php }?>" id="<?php if ($productCount >= $sliderFor){?>featured-carousel<?php }else{?>featured-grid<?php }?>">

        <?php  $i = 0; $row = 0; foreach ($_productCollection->getItems() as $_product):  ?>

            <li class="item <?php if ($productCount >= $sliderFor){?>slider-item<?php }else{?>product-items<?php }?>">
                <div class="product-block">
                    <div class="product-block-inner">
                        <?php $_helper->getProductLabels($_product) ?>
                        <?php //var_export($_product); exit;?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(214,200); ?>" width="214" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                        <div class="product-book clearfix text-left">
                            <h2 class="product-name">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>)">
                            <?php
                                $manufacturers=Mage::getModel('manufacturer/manufacturer')->getCollection()->addFieldToFilter('manufacturer_name',$_product->getData('manufacturer'));
                                foreach($manufacturers as $manufacturer){
                                    $status=$manufacturer->getStatus();
                                    if($status==1) echo $manufacturer->getTitle().' ® <br />';
                                }
                            echo $this->escapeHtml($_product->getName()) ?></a>
                            </h2>
                            <div class="valoration-summary clearfix">
                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                <?php
                                $summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)  ->load($_product->getId());
                                $rating_number=($summaryData['rating_summary'] )/10;
                                if ($rating_number != 0) : ?>
                                <div class="item-point">
                                    <div class="item-point-content">
                                        <?php echo number_format($rating_number,1,'.',' '); ?> 
                                    </div>
                                </div>
                                <?php endif; ?>
                            </div>
                            <div class="product-details">
                            <?php echo $_helper->text_truncate(ucfirst(strtolower($this->stripTags($_product->getShortDescription()))),55," ","..."); ?>
                            </div>
                        <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                        </div>

                        <div class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('COMPRAR') ?></span></span></button>
                            <?php else: ?>
                                <div class="out-of-stock"><?php echo $this->__('Out of stock') ?></div>
                            <?php endif; ?>

                            <ul class="add-to-links">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                    <li><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
    <span class="featured_default_width" style="display:none; visibility:hidden"></span>
<?php endif; ?>
<?php endif; ?>
