<?php
/**
 * @category     Inchoo
 * @package     Inchoo Featured Products
 * @author        Domagoj Potkoc, Inchoo Team <web@inchoo.net>
 * @modified    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
 */
?>

<div class="page-title category-head">
	<h1><?php echo $this->__($this->helper('featuredproducts')->getPageLabel());?></h1>
</div>
<?php echo $this->getChildHtml('featured_product_list');?>