<?php
/**
 * MageSupport.com
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magesupport.com/license/
 *
 * @category   MS
 * @package    MS_Verticalexpanded
 * @copyright  Copyright (c) 2008-2010 MageSupport.com (http://www.magesupport.com)
 * @license    http://www.magesupport.com/license/
 */
?>
<?php
$manufacturers = $this->helper('jnqadmin')->getManufacturers();
?>
<li class="section block-brand-nav" id="manufacturer">
	<a class="title text-center" data-toggle="collapse" data-target="#toggle-manufacturers"><span><?php echo $this->getBlockTitle(); ?></span><span class="symbol"></span></a>
	<div class="toggle collapse in" id="toggle-manufacturers">
		<div class="catagory_list">
			<?php if($this->getComboDropDown()) { ?>
			<select id="layered-select-left" class="select-left" name="layered-select-left" onchange="setLocation(this.value)">
				<option selected="selected"><?php echo $this->__('Please select') ?></option>
				<?php foreach($manufacturers as $manufacturer): ?>
					<option value="<?php echo $manufacturer->getUrl() ?>">
						<?php echo Mage::getModel('eav/entity_attribute_source_table')->setAttribute(Mage::getModel('eav/entity_attribute')->load(Mage::getModel('eav/entity_attribute')->getIdByCode('catalog_product', Mage::getStoreConfig('manufacturer/general/attribute_code'))))->getOptionText($manufacturer->getManufacturerName())?>
					</option>
				<?php endforeach ?>
			</select>
			<?php } else { ?>
			<ul class="cat-list">
				<?php foreach($manufacturers as $manufacturer): ?>
				<?php //$manufacturer_url = str_replace('?___SID=U&', '?', $manufacturer->getUrl()); ?>
            	<?php //$manufacturer_url = str_replace('?___SID=U', '', $manufacturer->getUrl()); ?>
				<li><a href="<?php echo $manufacturer->getUrl(); ?>"><?php echo Mage::getModel('eav/entity_attribute_source_table')->setAttribute(Mage::getModel('eav/entity_attribute')->load(Mage::getModel('eav/entity_attribute')->getIdByCode('catalog_product', Mage::getStoreConfig('manufacturer/general/attribute_code'))))->getOptionText($manufacturer->getManufacturerName()) ?></a></li>
			<?php endforeach ?>
				<li class="list_all">
					<div><a class="tag-todos" href="<?php echo $this->getUrl('manufacturer') ?>">Todos</a></div>
				</li>
			</ul>
			<?php } ?>
		</div>
	</div>
</li>
</script>
<script type="text/javascript">// <![CDATA[
jQuery(document).ready(function(){
var url = window.location.href;
jQuery('#toggle-manufacturers li a[href="'+url+'"]').addClass('active');
})
// ]]></script>