<?php $objReclamo = $this->getData("objReclamo"); ?>

<style>
    td {
        padding: 4px
    }
</style>
<div class="middle" id="anchor-content">
    <div id="page:main-container">
        <div class="columns">
            <div class="side-col" id="page:left">
                <h3>Libro de Reclamaciones</h3>
                <ul class="tabs">
                    <li>
                        <a title="Detalle de Reclamación" class="tab-item-link active">
                            <span>Detalle de Reclamación</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-col" id="content">
                <div class="main-col-inner">
                    <div class="content-header">
                        <h3>Ver Reclamación</h3>
                        <p class="form-buttons">
                            <button title="Volver a atrás" type="button" class="scalable back" onclick="window.history.back()"><span><span>Volver atrás</span></span></button>
                        </p>
                    </div>

                    <div class="entry-edit">
                        <div class="entry-edit-head">
                            <h4>Reclamación - <?php echo $objReclamo->codigo_reclamo ?></h4>
                        </div>
                        <div class="fieldset">
                            <div class="hor-scroll">
                            <form action="<?php echo $this->getUrl('*/*/save', array('id' => $objReclamo->libroreclamaciones_id ,'_current'=> true )) ?>" method="post" id="libroreclamaciones_edit_form" enctype="multipart/form-data">
                                <table>
                                    <tbody>
                                    <?php echo $this->getBlockHtml('formkey')?>
                                        <tr>
                                            <td class="label"><label><b>Fecha Registro:</b></label></td>
                                            <td class="value" style="font-size: 16px"><b> <?php  echo Mage::helper('core')->formatDate($objReclamo->fecha_registro, 'medium', false) ?></b></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label><b>Fecha Reclamo:</b></label></td>
                                            <td class="value" style="font-size: 16px"><b> <?php  echo Mage::helper('core')->formatDate($objReclamo->date_create, 'medium', false) ?></b></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Código:</label></td>
                                            <td class="value"> <?php echo $objReclamo->codigo_reclamo ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Nombre:</label></td>
                                            <td class="value"> <?php echo $objReclamo->nombre_cliente ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Nombre:</label></td>
                                            <td class="value"> <?php echo $objReclamo->apellidos_cliente ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Distrito:</label></td>
                                            <td class="value"> <?php echo $objReclamo->departamento_cliente ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Distrito:</label></td>
                                            <td class="value"> <?php echo $objReclamo->distrito_cliente ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Domicilio:</label></td>
                                            <td class="value"> <?php echo $objReclamo->domicilio_cliente ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Dni:</label></td>
                                            <td class="value"> <?php echo $objReclamo->dni_cliente ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Telefono:</label></td>
                                            <td class="value"> <?php echo $objReclamo->telefono_cliente ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Email:</label></td>
                                            <td class="value"> <?php echo $objReclamo->email_cliente ?></td>
                                        </tr>
                                        <tr>
                                            <td class="label"><label>Padre o Madre:</label></td>
                                            <td class="value"> <?php echo $objReclamo->padremadre_cliente ?></td>
                                        </tr>
                                        <tr >
                                            <td class="label"><label><b>Identificación del Bien:</b></label></td>
                                            <td class="value"> 
                                                <?php echo strtoupper($objReclamo->tiposervicio) ?>
                                                <br />
                                                <b>Descripción:</b>
                                                <br />
                                                <?php echo $objReclamo->descripcion_tiposervicio ?>
                                            </td>                                            
                                        </tr>
                                        <tr>
                                            <td class="label"><label><b>Detalle de Reclamación:</b></label></td>
                                            <td class="value"> 
                                                <?php echo strtoupper($objReclamo->tipo_reclamo); ?>
                                                <br />
                                                <b>Detalle:</b>
                                                <br />
                                                <?php echo $objReclamo->descripcion_reclamo ?>
                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="width: 180px" class="label"><label>Acciones Adoptadas por el Proveedor:</label></td>
                                            <td class="value"> <?php echo $objReclamo->acciones_proveedor ?></td>
                                         </tr>
                                    </tbody>
                                </table>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>