span.ddel {
  background-color: #FFAAAA;
  color: #BB0000;
}

span.dins {
  background-color: #AAFFAA;
  color: #006600;
}

.td-from span.dins {
  display: none;
}

.td-to span.ddel {
  display: none;
}