<?php
// Fetch points earning data
$earn_list_id = 'points-list-earned-' . $this->getItem()->getId();
$earned_points = $this->getEarnedPoints();
?>
<?php if ($earned_points) : ?>
    <div class="item-points-earned-section">
	    <span class="item-points-header-earned">
	    	<?php echo $this->__('Earning %s for this item', Mage::helper('giantpoints')->addLabelForPoint($earned_points)); ?>
		</span>
        <?php if ($this->customerIsGuest()): ?>
            <div class="guest-giantpoints-warning-message">
                <?php echo $this->__('Please create an account or log-in to claim your earnings.'); ?>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>

