<?php if ($this instanceof Magegiant_GiantPointsRule_Block_Checkout_Cart_Item_Renderer): ?>
    <div align="left" class="item-points-undername">
            <span class='item-points-block'>
                <?php echo $this->getChildrenHtml(); ?>
        	</span>
    </div>
<?php endif; ?>
