<!--@subject Your points balance update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo.png\" _area='frontend'":"Labnutrition",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="600" style="width: 100%;">
    <!-- [ middle starts here] -->
    <tr>
        <td align="center" valign="top">
            <table cellspacing="0" cellpadding="0" border="0" width="600" style="width: 100%;">
                <tr>
                    <td valign="top">
                        <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;font-family: Arial, sans-serif;">
                            <strong style="font-family: Arial, sans-serif;">Dear {{htmlescape var=$customer.name}}</strong>,<br/>
                            We have updated the point balance for you so that you can have relevant
                            information of points earned or spent. To view more details, please click <a
                                href="{{store url="giantpoints"}}" style="color:#1E7EC8;">here</a>.
                        </p>

                        <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;font-family: Arial, sans-serif;">

                            <strong style="font-family: Arial, sans-serif;">The transaction detail</strong><br/>
                            <strong style="font-family: Arial, sans-serif;">Transaction comment:</strong> {{var comment}}<br/>
                            <strong style="font-family: Arial, sans-serif;">Transaction amount:</strong> {{var point_amount}}<br/>
                            <strong style="font-family: Arial, sans-serif;">Transaction status:</strong> {{var status}}<br/>
                            <strong style="font-family: Arial, sans-serif;">Current balance:</strong> {{var point_balance}}

                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}
