<!--@subject Happy Birthday! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo.png\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="600"
       style="width: 100%;">
    <!-- [ middle starts here] -->
    <tr>
        <td align="center" valign="top">
            <table cellspacing="0" cellpadding="0" border="0" width="600">
                <tr>
                    <td valign="top">
                        <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;font-family: Arial, sans-serif;">
                            <strong style="font-family: Arial, sans-serif;">Dear {{htmlescape var=$customer.name}}</strong>!<br/>
                            {{var store.getFrontendName()}} would like to wish you good health, luck and
                            success on the occasion of your birthday!

                            By the way, please receive our small gift which is {{var point_amount}} to
                            spend at <a href="{{store url=""}}" style="font-family: Arial, sans-serif;">{{var store.getFrontendName()}}.</a>.
                            Happy Birthday!
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}
