<!--@subject Your points balance expiration @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo.png\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"var title":"Transaction Title",
"var amount":"Transaction Amount",
"var status":"Transaction Status",
"var point_amount":"Point Amount Formated",
"var spent":"Transaction Amount Used",
"var point_used":"Transaction Amount Used Formated",
"var total":"Customer Balance",
"var point_balance":"Customer Balance Formated",
"var expirationdays":"Expiration After Days",
"var expirationdate":"Expiration Date",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<!-- [ middle starts here] -->
<table cellspacing="0" cellpadding="0" border="0" width="600" style="width: 100%;">
    <tr>
        <td valign="top">
            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;">
                <strong style="font-family: Arial, sans-serif;">Dear {{htmlescape var=$customer.name}}</strong>,<br/>
                We would like to inform you that your transaction will expire after {{var expirationdays}} day(s). You should also note that if your earned points expire, your rewards will become invalid. Please check more details below:
            </p>
            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5;font-family: Arial, sans-serif; ">
                <strong style="font-family: Arial, sans-serif;">Comment:</strong> {{var comment}}<br/>
                <strong style="font-family: Arial, sans-serif;">Transaction amount:</strong> {{var point_amount}}<br/>
                <strong style="font-family: Arial, sans-serif;">Transaction amount used:</strong> {{var point_spent}}<br/>
                <strong style="font-family: Arial, sans-serif;">Current balance:</strong> {{var point_balance}}<br/>
                <strong style="font-family: Arial, sans-serif;">Expiration date:</strong> {{var expirationdate}}
            <p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}
