<!--@subject Small gift from your friend, {{var customer_name}}@-->
<!--
<pre>
[[ help ]]
logo : {{var logo_url}}
logo alt : {{var logo_alt}}
store url : {{store url}}
customer_name : {{var customer_name}}
customer_email : {{var customer_email}}
friend_name : {{var friend_name}}
friend_email : {{var friend_email}}
store_name : {{var store_name}}
points_transferred : {{var points_transferred}}
comment : {{var comment}}
</pre>
-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table cellspacing="0" cellpadding="0" border="0" width="600" style="width: 100%;">
    <tr>
        <td valign="top">
            <p>Dear {{var friend_name}},</p>
            <p>You just received <b>{{var point_amount}}</b> from your friend, {{var customer_name}} ({{var customer_email}}) which you can spend at <a href="{{store url=""}}">{{var store_name}}</a>.</p>
            <p>Just <a href="{{store url="customer/account/login"}}">log in to your account</a> and start purchasing products using your points.</p>
            <p>{{var customer_name}}'s personal message: <br />
                <i>{{var comment}}</i>
            </p>
            <p>Happy Shopping!</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}