<!--@subject {{var customer_name}} invited you to join him on {{var store_name}}@-->
<!-- 
<pre>
[[ help ]]
logo : {{var logo_url}}
logo alt : {{var logo_alt}}
store url : {{store url}}
customer_name : {{var customer_name}}
customer_email : {{var customer_email}}
friend_email : {{var friend_email}}
store_name : {{var store_name}}
points_transferred : {{var points_transferred}}
</pre>
-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table cellspacing="0" cellpadding="0" border="0" width="600" style="width: 100%;">
    <tr>
        <td valign="top">
            <p>Hello,</p>

            <p>Your friend, {{var customer_name}}, just tried to send you a gift of <b>{{var
                point_amount}}</b> at
                <a href="{{store url=""}}">{{var store_name}}</a>, but couldn't do this because you
                don't have a registered account.</p>

            <p>Join him now by <a href="{{store url=" customer/account/create"}}">creating an account at
                {{var store_name}}</a> and never miss this chance again in the future.</p>

            <p>Happy Shopping!</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}
