<?php $categories = $this->getStoreCategories(); ?>
<?php //$categories = $this->getObjetivos(); ?>
<?php /*<ul class="objects-list nav nav-tabs table d-table no-margin">
<?php foreach ($categories as $category) { ?>
    <?php $image = $this->getSkinUrl("images/iconos/".$category->getUrlKey().".svg"); ?>
    <li class="<?php echo $category->getUrlKey() ?><?php if ($this->isCategoryActive($category)): ?> active<?php endif ?>"><a class="object-link" href="<?php echo $category->getUrl() ?>"><div class="svg-container"><?php echo Mage::helper('jnqadmin')->getSVGPath($image); ?></div></a><div class="tooltip bottom"><div class="tooltip-arrow hidden-xs hidden-sm"></div><div class="tooltip-inner"><?php echo $this->escapeHtml($category->getName()) ?></div></div>
    </li>
<?php } ?>
</ul>
<?php */ ?>
<?php if (count($categories) > 0): ?>
<?php $helper = $this->helper('catalog/category'); ?>
<?php $flat = Mage::helper('catalog/category_flat')->isEnabled(); ?>
<ul class="objects-list nav nav-tabs table d-table no-margin">
<?php foreach ($categories as $category): ?>
<?php if ($category->getId() == 8) { ?>
    <?php
    $subcategories = $flat ? $category->getChildrenNodes() : $category->getChildren();
    foreach($subcategories as $subcategory): ?>
        <?php
        if ($flat) {
            $subcategory = Mage::getModel('catalog/category')->load($subcategory->getId());
            $image = $this->getSkinUrl("images/iconos/".$subcategory->getUrlKey().".svg");
        } else {
            $image = $this->getSkinUrl("images/iconos/".$subcategory->getUrlKey().".svg");
        }
        ?>
        <li<?php if ($this->isCategoryActive($subcategory)): ?> class="active"<?php endif ?>><a class="object-link" href="<?php echo $subcategory->getUrl() ?>"><div class="svg-container"><?php echo Mage::helper('jnqadmin')->getSVGPath($image); ?></div></a><div class="tooltip bottom"><div class="tooltip-arrow hidden-xs hidden-sm"></div><div class="tooltip-inner"><?php echo $this->escapeHtml($subcategory->getName()) ?></div></div>
    </li>
    <?php endforeach ?>
<?php } ?>
<?php endforeach ?>
</ul>
<?php endif; ?>