html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 35px;
}
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  color: white;
}
.azulnava{
color:#304B9C;
}
.bgazulnava{
background-color:#304B9C;
}

 body .btn-primary {
    background-color: #304B9C;
    border-color: #304B9C;
    color: #FFF; }
    body .btn-primary:hover, body .btn-primary:focus {
      border-color: #535564;
      background-color: #535564;
      color: #FFF; }
    body .btn-primary:active, body .btn-primary:visited, body .btn-primary:active:focus, body .btn-primary:active:hover {
      border-color: #304B9C;
      background-color: #304B9C;
      color: #FFF; }

/*.btn-primary,.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #304B9C !important;
    border-color: #304B9C !important;
}*/

#bgtransparent{
        position:fixed;
        left:0;
        top:0;
		width:100%;
		height:100%;
        background-color:#000000;
        opacity:0.6;
		z-index:999999;
        filter:alpha(opacity=60);
}
#cargador{
    position:absolute;
    top:50%;
    left: 50%;
	width:200px;
	height:60px;
    margin-top: -30px;
    margin-left: -100px;
	z-index:1000000;
	}
	#cargador #text{
width:100%;
text-align:center;
padding:10px 0 0 0;
color:#000000;
font-weight:bold;
float:left;
}
#olvidar_contrasena #titulo{
	width:90%;
	float:left;
	color:#000;
	padding:10px 5% 10px 5%;
	font-size:18px;
	font-weight:bold;	
}
#olvidar_contrasena #divfila{
	width:100%;
	float:left;
}
#olvidar_contrasena #divfila #lado1{
	width:30%;
	height:25px;
	padding:5px 0 0 5%;
	float:left;
}
#olvidar_contrasena #divfila #lado2{
	width:60%;
	height:30px;
	padding:0 5% 0 0;
	float:left;
}
#olvidar_contrasena #divfila #lado2 input{
	width:90%;
}
#olvidar_contrasena #divfila #lado2 select{
	width:91%;
}
#olvidar_contrasena #lado3{
	width:90%;
	height:30px;
	padding:5px 5% 5px 5%;
	float:left;
	font-size:11px;
	text-align:right;
}
#olvidar_contrasena #lado4{
	width:90%;
	height:30px;
	padding:5px 5% 5px 5%;
	float:left;
	text-align:center;
}
#olvidar_contrasena #lado4 a{
	padding:5px;
	background-color:#F00;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;	
}