body{
	margin:0; 
	padding:0;
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;

/*background: rgb(0,183,234); 
background: -moz-radial-gradient(center, ellipse cover, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); 
background: radial-gradient(ellipse at center, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */

background: rgb(207,231,250); 
background: -moz-radial-gradient(center, ellipse cover, rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%); 
background: -webkit-radial-gradient(center, ellipse cover, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
background: radial-gradient(ellipse at center, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 );
background-color:#6393c1;
		background-repeat:no-repeat;

/*background: rgb(173,217,228);
background: -moz-linear-gradient(top,  rgba(173,217,228,1) 0%, rgba(217,237,242,1) 71%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(217,237,242,1) 71%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(173,217,228,1) 0%,rgba(217,237,242,1) 71%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#ffffff',GradientType=0 );*/

/*background: rgb(200,215,220);
background: -moz-linear-gradient(top, rgba(200,215,220,1) 0%, rgba(227,234,237,1) 71%, rgba(242,245,246,1) 100%);
background: -webkit-linear-gradient(top, rgba(200,215,220,1) 0%,rgba(227,234,237,1) 71%,rgba(242,245,246,1) 100%);
background: linear-gradient(to bottom, rgba(200,215,220,1) 0%,rgba(227,234,237,1) 71%,rgba(242,245,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d7dc', endColorstr='#f2f5f6',GradientType=0 );*/

/*background: rgb(233,233,206);
background: -moz-linear-gradient(top, rgba(233,233,206,1) 0%, rgba(252,255,244,1) 100%);
background: -webkit-linear-gradient(top, rgba(233,233,206,1) 0%,rgba(252,255,244,1) 100%);
background: linear-gradient(to bottom, rgba(233,233,206,1) 0%,rgba(252,255,244,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9ce', endColorstr='#fcfff4',GradientType=0 );*/

/*background: rgb(179,190,173);
background: -moz-linear-gradient(top, rgba(179,190,173,1) 0%, rgba(223,229,215,1) 69%, rgba(252,255,244,1) 100%);
background: -webkit-linear-gradient(top, rgba(179,190,173,1) 0%,rgba(223,229,215,1) 69%,rgba(252,255,244,1) 100%);
background: linear-gradient(to bottom, rgba(179,190,173,1) 0%,rgba(223,229,215,1) 69%,rgba(252,255,244,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#fcfff4',GradientType=0 );*/

/*background: -moz-linear-gradient(top, rgba(46,173,232,1) 0%, rgba(125,185,232,0) 100%);
background: -webkit-linear-gradient(top, rgba(46,173,232,1) 0%,rgba(125,185,232,0) 100%);
background: linear-gradient(to bottom, rgba(46,173,232,1) 0%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2eade8', endColorstr='#007db9e8',GradientType=0 );*/






}
.linkdoc{
	font-weight:bold;
	text-decoration:underline;
	color:#00F;
	
}
input{
font-size:11px;
font-family:Verdana, Geneva, sans-serif;
}
select{
font-size:11px;
font-family:Verdana, Geneva, sans-serif;
padding: 2px 0px;
}
a{
	cursor:pointer;
}
#contenedor{
	width:100%;
	float:left;
}
#cabecera{
	width:98%;
	padding:10px 0 0 0;
	margin:0 1% 0 1%;
	float:left;
	border-bottom:4px double #FFF;
}
#cabecera #tituloweb{
	width:49%;
	padding:30px 0 0 1%;
	float:left;
	color:#FFF;
	font-weight:bold;
	font-size:24px;
}
#cabecera #logo{
	width:49%;
	padding:0 1% 10px 0;
	float:left;
	text-align:right;
}
#cabecera #logo img{
	height:75px;
	
}
#cabecera #logo .logo{
	color:#FFF;
	font-weight:bold;
	font-size:24px;
}
#cabecera #logo .crear{
	color:#FFF;
	font-weight:bold;
	font-size:11px;
	margin-left:20px;
}
#opciones{
	width:19%;
	padding:20px 1% 0 0;
	float:left;
	color:#FFF;
	font-weight:bold;
}
#opciones ul{
	margin:0;
	padding:0;
	list-style-type:none;
	float:right;
}
#opciones ul li{
	float:left;	
}
#opciones ul li a{
	color:#FFF;
	padding:5px;
	margin:5px;
	width:100px;
	text-decoration:none;
}
#contenido2inicio{
width:30%;
float:left;
padding:100px 10% 0 10%;
}
#contenidolinicio{
width:30%;
float:left;
padding:25px 10% 0 10%;
}
#conteform{
	-moz-box-shadow: 0 0 30px -3px #888888;
-webkit-box-shadow: 0 0 30px -3px #888888;
box-shadow: 0 0 30px -3px #888888;
float:left;
padding:0 0 20px 0;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-khtml-border-radius:10px;
border-radius: 10px;
background-color:#FFF;
}
#conteform #titulo{
width:100%;
text-align:center;
float:left;
padding:20px 0 20px 0;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: -moz-linear-gradient(top, rgba(71,114,156,0.65) 0%, rgba(6,63,118,0.76) 32%, rgba(6,63,118,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,114,156,0.65)), color-stop(32%,rgba(6,63,118,0.76)), color-stop(100%,rgba(6,63,118,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, rgba(71,114,156,0.65) 0%,rgba(6,63,118,0.76) 32%,rgba(6,63,118,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top, rgba(71,114,156,0.65) 0%,rgba(6,63,118,0.76) 32%,rgba(6,63,118,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top, rgba(71,114,156,0.65) 0%,rgba(6,63,118,0.76) 32%,rgba(6,63,118,1) 100%); /* IE10+ */

background: linear-gradient(to bottom, rgba(71,114,156,0.65) 0%,rgba(6,63,118,0.76) 32%,rgba(6,63,118,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a647729c', endColorstr='#063f76',GradientType=0 ); /* IE6-8 */

padding:10px 0 5px 0;

margin:0 0 10px 0;

-moz-border-radius:10px 10px 0 0;

-webkit-border-radius:10px 10px 0 0;

-khtml-border-radius:10px 10px 0 0;

border-radius: 10px 10px 0 0;

color:#FFFFFF;
}
#conteform #texto{
width:25%;
float:left;
padding:10px 0 5px 5%;
}
#conteform #textbox{
width:65%;
float:left;
text-align:right;
padding:5px 5% 5px 0;
margin:0;
}
#conteform #buttomcancel{
width:49%;
float:left;
text-align:right;
padding:5px 1% 5px 0;
}
#conteform #buttomoption{
width:95%;
float:left;
padding:5px 0 5px 5%;
}
#conteform #buttomsaveini{
width:100%;
float:left;
padding:5px 0 5px 0;
text-align:center;
}
#conteform #buttomsave{
width:100%;
float:left;
padding:5px 0 5px 0;
text-align:center;
}
#conteform #buttomsave a{
	color:#00F;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}
/*#conteform #buttomsave #lado1{
	width:45%;
	padding-left:5%;
	float:left;
	text-align:left;
}*/
#lado2_reg{
	width:95%;
	padding-right:5%;
	float:left;
	text-align:right;	
}
#lado2_reg a{
	color:#00F;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}
.titulo1{
font-weight:bold;
font-size:16px;
}
#pie{
	width:99%;
	padding:0 0 0 1%;
	top:95%;
	height:4%;
	position: fixed;
}
/*#pie a img{
	height:100%;
}*/
#iniciar_sesion #div1{
	width:100%;
	float:left;
	padding:10px 0 0 0;
}
#iniciar_sesion #div1  input[type="text"]{
	width:95%;
}
#iniciar_sesion #div1  input[type="password"]{
	width:95%;
}
#iniciar_sesion #div2{
	width:49%;
	float:left;
	padding:10px 1% 0 0;
	text-align:right;
}
#iniciar_sesion #div2 a{
	text-decoration:none;
	color:#00F;
	font-weight:bold;
	font-size:10px;
}
#iniciar_sesion #div3{
	width:49%;
	float:left;
	padding:10px 0 0 1%;
}
#iniciar_sesion #div3 a{
	text-decoration:none;
	color:#FFFFFF;
	padding:5px;
	background-color:#F00;
	font-weight:bold;
	font-size:10px;
}
#iniciar_sesion #div4{
	width:100%;
	float:left;
	padding:10px 0 0 0;
	text-align:center;
}
#iniciar_sesion #div4 a{
	text-decoration:none;
	color:#00F;
	font-weight:bold;
	font-size:10px;
}

#onclose{
	width:100%;
	float:left;
	text-align:right;
}
#onclose img{
	cursor:pointer;
}
#registrarse #titulo{
	width:90%;
	float:left;
	color:#000;
	padding:10px 5% 10px 5%;
	font-size:18px;
	font-weight:bold;	
}
#registrarse #divfila{
	width:100%;
	float:left;
}
#registrarse #divfila #lado1{
	width:30%;
	height:25px;
	padding:5px 0 0 5%;
	float:left;
}
#registrarse #divfila #lado2{
	width:60%;
	height:30px;
	padding:0 5% 0 0;
	float:left;
}
#registrarse #divfila #lado2 input{
	width:90%;
}
#registrarse #divfila #lado2 select{
	width:91%;
}
#registrarse #lado3{
	width:90%;
	height:30px;
	padding:5px 5% 5px 5%;
	float:left;
	font-size:11px;
	text-align:right;
}
.oblig{
	color:#F00;
}
#registrarse #lado4{
	width:90%;
	height:30px;
	padding:5px 5% 5px 5%;
	float:left;
	text-align:center;
}
#registrarse #lado4 a{
	padding:5px;
	background-color:#F00;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;	
}
#consulta_anonima #titulo{
	width:90%;
	float:left;
	color:#000;
	padding:10px 5% 10px 5%;
	font-size:18px;
	font-weight:bold;	
}
#consulta_anonima #divfila{
	width:100%;
	float:left;
}
#consulta_anonima #divfila #lado1{
	width:30%;
	height:25px;
	padding:5px 0 0 5%;
	float:left;
}
#consulta_anonima #divfila #lado2{
	width:60%;
	height:30px;
	padding:0 5% 0 0;
	float:left;
}
#consulta_anonima #divfila #lado2 input{
	width:90%;
}
#consulta_anonima #divfila #lado2 select{
	width:91%;
}
#consulta_anonima #lado3{
	width:90%;
	height:30px;
	padding:5px 5% 5px 5%;
	float:left;
	font-size:11px;
	text-align:right;
}

#consulta_anonima #lado4{
	width:90%;
	height:30px;
	padding:5px 5% 5px 5%;
	float:left;
	text-align:center;
}
#consulta_anonima #lado4 a{
	padding:5px;
	background-color:#F00;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;	
}
#bgtransparent{
        position:fixed;
        left:0;
        top:0;
		width:100%;
		height:100%;
        background-color:#000000;
        opacity:0.6;
		z-index:999999;
        filter:alpha(opacity=60);
}
#cargador{
    position:absolute;
    top:50%;
    left: 50%;
	width:200px;
	height:60px;
    margin-top: -30px;
    margin-left: -100px;
	background-color:#FFFFFF;
	z-index:1000000;
	}
	#cargador #text{
width:100%;
text-align:center;
padding:10px 0 0 0;
color:#000000;
font-weight:bold;
float:left;
}
#olvidar_contrasena #titulo{
	width:90%;
	float:left;
	color:#000;
	padding:10px 5% 10px 5%;
	font-size:18px;
	font-weight:bold;	
}
#olvidar_contrasena #divfila{
	width:100%;
	float:left;
}
#olvidar_contrasena #divfila #lado1{
	width:30%;
	height:25px;
	padding:5px 0 0 5%;
	float:left;
}
#olvidar_contrasena #divfila #lado2{
	width:60%;
	height:30px;
	padding:0 5% 0 0;
	float:left;
}
#olvidar_contrasena #divfila #lado2 input{
	width:90%;
}
#olvidar_contrasena #divfila #lado2 select{
	width:91%;
}
#olvidar_contrasena #lado3{
	width:90%;
	height:30px;
	padding:5px 5% 5px 5%;
	float:left;
	font-size:11px;
	text-align:right;
}
#olvidar_contrasena #lado4{
	width:90%;
	height:30px;
	padding:5px 5% 5px 5%;
	float:left;
	text-align:center;
}
#olvidar_contrasena #lado4 a{
	padding:5px;
	background-color:#F00;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;	
}
.contenedorgrid{
	float:left;
	margin:10px 10% 30px 10%;
	width:80%;
	height:350px;
}
#barraopciones{
	float:left;
	margin:30px 10% 0 10%;
	width:80%;
}
#ver_detalle #lado25{
	width:25%;
	float:left;
	min-height:25px;
	padding-top:5px;
}

#ver_detalle #lado75{
	width:75%;
	float:left;
	min-height:30px;
}
#ver_detalle a{
	text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
    background-color: #F00;
    font-weight: bold;
    font-size: 10px;
}
#ver_detalle #lado100{
	width:100%;
	float:left;
	min-height:25px;
	padding-top:5px;
}
#ver_detalle #lado75{
	width:85%;
	float:left;
	min-height:25px;
	padding-top:5px;
}
#ver_detalle #lado25{
	width:15%;
	float:left;
	min-height:25px;
	padding-top:5px;
}
#contenedor_admin{
	width:100%;
	float:left;
}
#contenedor_admin #titulo {
    width: 60%;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
	margin-top:20px;
	margin-left:20%;
}
#conteformclave{
-moz-box-shadow: 0 0 30px -3px #888888;
-webkit-box-shadow: 0 0 30px -3px #888888;
box-shadow: 0 0 30px -3px #888888;
float:left;
padding:0 0 5px 0;
margin:0 30% 0 30%;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-khtml-border-radius:10px;
border-radius: 10px;
width:40%;
background-color:#FFF;
}
#conteformclave #titulo{
width:100%;

text-align:center;

float:left;

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: -moz-linear-gradient(top, rgba(71,114,156,0.65) 0%, rgba(6,63,118,0.76) 32%, rgba(6,63,118,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,114,156,0.65)), color-stop(32%,rgba(6,63,118,0.76)), color-stop(100%,rgba(6,63,118,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, rgba(71,114,156,0.65) 0%,rgba(6,63,118,0.76) 32%,rgba(6,63,118,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top, rgba(71,114,156,0.65) 0%,rgba(6,63,118,0.76) 32%,rgba(6,63,118,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top, rgba(71,114,156,0.65) 0%,rgba(6,63,118,0.76) 32%,rgba(6,63,118,1) 100%); /* IE10+ */

background: linear-gradient(to bottom, rgba(71,114,156,0.65) 0%,rgba(6,63,118,0.76) 32%,rgba(6,63,118,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a647729c', endColorstr='#063f76',GradientType=0 ); /* IE6-8 */

padding:10px 0 5px 0;

margin:0 0 10px 0;

-moz-border-radius:10px 10px 0 0;

-webkit-border-radius:10px 10px 0 0;

-khtml-border-radius:10px 10px 0 0;

border-radius: 10px 10px 0 0;

color:#FFFFFF;
}
#conteformclave #textoform{
width:26%;
float:left;
padding:5px 0 5px 2%;
text-align:left;
}
#conteformclave #textboxform{
width:70%;
float:left;
text-align:right;
padding:0 2% 5px 0;
margin:0;
}
#conteformclave #textboxform input{
width:100%;
}
#conteformclave #buttomsave{
width:100%;
float:left;
padding:5px 0 5px 0;
text-align:center;
}