<?php $_productUrl = Mage::registry('product')->getProductUrl() ?>
<div class="social-buttons">
    <div class="fb-share-button" data-href="<?php echo $_productUrl ?>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartir</a></div>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?php echo $_productUrl ?>" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Botón +1. -->
    <!--<div class="g-plusone"></div>-->
    <!--<a data-pin-do="buttonPin" data-pin-count="beside" data-pin-lang="es" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/?url=<?php //echo $_productUrl ?>&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest"></a>-->
</div>