<?php
$manufacturers = $this->getManufacturerCollection();
?>
<div class="manufacturer-list">
	<h2 class="title"><?php echo $this->getPageHeading(); ?></h2>
	<ul  class="grid-manufacturer d-flex text-left" id="pagination">
	<?php foreach($manufacturers as $manufacturer): ?>
		<?php
		$imageUrl = Mage::getBaseUrl('media').$manufacturer->getFilename();
		$dirImg = Mage::getBaseDir().str_replace("/",DS,strstr($imageUrl,'/media'));
		$atributos = '';
		if (file_exists($dirImg)) {
			list($ancho, $alto, $tipo, $atributos) = getimagesize($imageUrl);
		}
		?>
		<li class="item-manufacturer">
			<div class="product-block-inner table d-table no-margin h-100">
				<div class="manufacturer-name">
				<a href="<?php echo $manufacturer->getUrl();?>">
					<img src="<?php echo $imageUrl ?>" title="<?php echo $manufacturer->getTitle() ?>" alt="<?php echo $manufacturer->getTitle() ?>" class="manufacturer_image" <?php echo $atributos ?> />
				</a>
				<?php if($this->displayName()):?>
					<p><a href="<?php echo $manufacturer->getUrl(); ?>">  <?php echo Mage::getModel('eav/entity_attribute_source_table')->setAttribute(Mage::getModel('eav/entity_attribute')->load(Mage::getModel('eav/entity_attribute')->getIdByCode('catalog_product', Mage::getStoreConfig('manufacturer/general/attribute_code'))))->getOptionText($manufacturer->getManufacturerName()) ?>
					</a></p>
				<?php endif; ?>
				</div>
			</div>
		 </li>
	<?php endforeach; ?>
	</ul>
</div>