<?php $manufacturer = $this->getManufacturerName() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $marca_title = $manufacturer->getTitle()?>
<div class="category-head no-display">
<div class="page-title"><h2><?php echo $manufacturer->getTitle()?></h2></div>
</div>

<div class="manufacture_info">		
<?php if ($image = $manufacturer->getFilename()): ?>
	<?php
	$imageUrl = Mage::getBaseUrl('media')."/".$image;
	$dirImg = Mage::getBaseDir().str_replace("/",DS,strstr($imageUrl,'/media'));
	$atributos = '';
	if (file_exists($dirImg)) {
		list($ancho, $alto, $tipo, $atributos) = getimagesize($imageUrl);
	}
	?>
	<div class="manufacture_image no-display">
		 <img class="owl-lazy manufacturer_image" data-src="<?php echo $imageUrl ?>" title="<?php echo $manufacturer->getTitle() ?>" alt="<?php echo $manufacturer->getTitle() ?>" <?php echo $atributos ?> />		
<?php endif ?>
</div>

<?php //if ($description = $manufacturer->getDescription()): ?>
<div class="manufacture_detail no-display">
	<?php //echo $description ?>
</div>
<?php //endif ?>

</div>
<?php echo $this->getChildHtml('product_list');?>

<script>
	jQuery(document).ready(function () {
		jQuery('.category-products-title').html('Todos los productos de <?php echo $marca_title ?>');
	})
</script>