<?php
$manufacturers = $this->getManufacturerCollection();
$counter = 0;
?>
<div class="manufacturer-logos">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
	<ul class="owl-carousel owl-theme owl-manufacturer">
	<?php foreach($manufacturers as $manufacturer): $counter++ ?>
		<?php
		$imageUrl = Mage::getBaseUrl('media').$manufacturer->getFilename();
		$atributos = "";
		$dirImg = Mage::getBaseDir().str_replace("/",DS,strstr($imageUrl,'/media'));
		if (file_exists($dirImg)) {
			list($ancho, $alto, $tipo, $atributos) = getimagesize($imageUrl);
		}
		?>
		<?php if ($counter > 10): ?>
			<?php break; ?>
		<?php endif ?>
		<li class="item slider-item item-manufacturer">
			<div class="product-block table d-table no-margin">
				<div class="product-block-inner">
					<a href="<?php echo $manufacturer->getUrl();?>">
						<img class="manufacturer_image" src="<?php echo $imageUrl ?>" title="<?php echo $manufacturer->getTitle() ?>" alt="<?php echo $manufacturer->getTitle() ?>" <?php echo $atributos ?> />
					</a>
				</div>
			</div>
		</li>
	<?php endforeach; ?>
	</ul>
	<div class="owl-loading">
		<a class="button hidden-sm hidden-md" href="<?php echo $this->getUrl('marcas') ?>"><span>Ver todas las marcas</span></a>
		<i class="fa fa-spinner fa-spin hide"></i>
	</div>
	</div>
	</div>
</div>
</div>