<?php
$id = $this->getRequest()->getParams()['id'];
$manufacturer = Mage::getModel('manufacturer/manufacturer')->load($id);
if ($manufacturer_banner = $manufacturer->getFilebanner()) {
$imageUrl = Mage::getBaseUrl('media').$manufacturer_banner;
$_manufacturer_description = '<h1 class="description-category">'.$manufacturer->getDescription().'</h1>';
?>
<style>
@media only screen and (max-width: 991px){
    /*.category-image{background-image: url('<?php //echo $imageUrl ?>'); }*/
}
</style>
<div class="category-image-container"><p class="category-image"><img src="<?php echo $imageUrl; ?>" draggable="false" alt="<?php echo $manufacturer->getTitle() ?>" title="<?php echo $manufacturer->getTitle() ?>" class="manufacturer_banner" width="1280" height="320" /></p><?php echo $_manufacturer_description ?></div>
<?php } ?>