<?php
$product=$this->getProduct();
if(Mage::getModel('eav/entity_attribute_source_table')->setAttribute(Mage::getModel('eav/entity_attribute')->load(Mage::getModel('eav/entity_attribute')->getIdByCode('catalog_product', Mage::getStoreConfig('manufacturer/general/attribute_code'))))->getOptionText($product->getData('manufacturer'))):
    $manufacturers = Mage::getModel('manufacturer/manufacturer')->getCollection()
    				->addFieldToFilter('manufacturer_name', $product->getData('manufacturer'))
    				->addFieldToFilter('status', array('eq' => 1));
    foreach($manufacturers as $manufacturer){
		$imageUrl = Mage::getBaseUrl('media')."/".$manufacturer->getFilename();
		$dirImg = Mage::getBaseDir().str_replace("/",DS,strstr($imageUrl,'/media'));
		$atributos = '';
		if (file_exists($dirImg)) {
			list($ancho, $alto, $tipo, $atributos) = getimagesize($imageUrl);
		}
		?>
        <div class="manufacturer-img-box">		
	        <a href="<?php echo $manufacturer->getUrl(); ?>">
			<img class="owl-lazy manufacturer_image" data-src="<?php echo $imageUrl ?>" title="<?php echo $manufacturer->getTitle() ?>" alt="<?php echo $manufacturer->getTitle() ?>" <?php echo $atributos ?> />
			</a>
        </div>
<?php } 
endif;
?>