<?php $order = $this->getOrder() ?>
<div class="entry-edit box-left">
    <div class="entry-edit-head">
        <h4 class="icon-head"><?php echo Mage::helper('sales')->__('State Logistics') ?></h4>
    </div>
    <fieldset>
	    <form action="<?php echo $this->getUrl('*/Logistics/saveLogistic') ?>" method="post">
	    	<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
	    	<input type="hidden" name="order_id" value="<?php echo $order->getId() ?>" />
	        <div id="frm-lablogistics">
	            <span class="field-row">
		            <label class="normal" for="order_state">Estado:</label><br>
		            <?php $statusOrder = $order->getStatusLogistics(); ?>
		            <?php $status = Mage::getSingleton('janaq_logistics/status')->getOptionArray() ?>
		            <select id="order_state" name="state_logistics" class="select" >
		                <?php foreach ($status as $key => $value) { ?> 
		                <option value="<?php echo $key ?>" <?php echo $e = ($statusOrder == $key) ? 'selected' : '' ; ?> ><?php echo $value ?></option>
		                <?php } ?>
		            </select>
		        </span>
		        <?php $shipping_method = $order->getShippingMethod(); ?>
		        <?php if ($shipping_method == 'ondeliveryship_ondeliveryship'): ?>
		        <span class="field-row">
		            <label class="normal" for="order_asesor">Asesor Asignado:</label><br>
		            <?php $orderAssessor = $order->getLogisticsAssessor(); ?>
		            <?php $assessor = Mage::getSingleton('janaq_logistics/assessor')->getOptionArray() ?>
		            <select id="order_asesor" name="logistics_assessor" class="select" >
		                <?php foreach ($assessor as $key => $value) { ?> 
		                <option data-id="<?php echo $key ?>" value="<?php echo $value ?>" <?php echo $e = ($orderAssessor == $value) ? 'selected' : '' ; ?> ><?php echo $value ?></option>
		                <?php } ?>
		            </select>
		            <p class="note"><a href="<?php echo Mage::helper("adminhtml")->getUrl('adminhtml/system_config/edit/section/jnqadmin_config'); ?>" target="_blank">Editar Asesores</a> Sección: Asesores de Pago Contraentrega</p>
		        </span>
		        <?php endif ?>
		        <div class="f-right">
		            <button  title="Guardar Logística" type="submit" class="scalable save">
		            	<span><span><span>Guardar Logística</span></span></span>
		            </button>
	            </div>
	        </div>
        </form>
    </fieldset>
</div>
<!--<div class="clear"></div>-->