<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<!--<div class="category-title"><h2><a href="<?php echo $this->getUrl('') ?>bestseller"><?php echo $this->getHeading(); ?></a></h2></div>-->

<?php 
	$_productCollection=$this->getLoadedProductCollection();
	$_helper = $this->helper('jnqadmin');
	$category_url = Mage::getModel("catalog/category")->load(7)->getUrl();
	$storeId = Mage::app()->getStore()->getId();
 ?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="bestseller pd-container">
 <div class="bestseller-title nav-title">
	<h2>LO MÁS VENDIDO EN LAB</h2>
	<div class="right nav-see-more">
		<a href="<?php echo $category_url ?>"><span><?php echo $this->__('Ver Todo') ?></span></a>
	</div>
</div>
	<?php $_collectionSize = $_productCollection->count() ?>
	<?php $sliderFor = 5; $productCount = $_collectionSize; ?>
	
	<?php if ($productCount >= $sliderFor): ?>
		<div class="customNavigation">
			<a class="btn prev"><i class="fa fa-angle-left"></i></a>
			<a class="btn next"><i class="fa fa-angle-right"></i></a>
		</div>	
	<?php endif; ?>

		<ul class="<?php if ($productCount >= $sliderFor){?>product-carousel<?php }else{?>products-grid<?php }?>" id="<?php if ($productCount >= $sliderFor){?>bestseller-carousel<?php }else{?>bestseller-grid<?php }?>">
				
    	<?php $i=0; foreach ($_productCollection as $_product):  $i++;?>
		
		<?php $_product = Mage::getModel('catalog/product')->load($_product->getEntityId()); ?>

           <li class="item <?php if ($productCount >= $sliderFor){?>slider-item<?php }else{?>product-items<?php }?>">
           	<div class="product-block">
           		<div class="product-block-inner">
           			<div class="product-image-block">
           				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
           			<?php $this->helper('jnqadmin')->getProductLabels($_product) ?>

           			<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(235,250); ?>" width="235" height="250" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>

					<div class="product-book text-left">
						<div class="valoration-summary clearfix">
							<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							<?php
							$summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)  ->load($_product->getId());
							$rating_number=($summaryData['rating_summary'] )/10;
							if ($rating_number != 0) : ?>
							<div class="item-point">
								<div class="item-point-content">
									<?php echo number_format($rating_number,1,'.',' '); ?> 
								</div>
							</div>
							<?php endif; ?>
						</div>
						<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>">
						<?php
						$manufacturers=Mage::getModel('manufacturer/manufacturer')->getCollection()->addFieldToFilter('manufacturer_name',$_product->getData('manufacturer'));
	                    foreach($manufacturers as $manufacturer){
	                        $status=$manufacturer->getStatus();
	                        if($status==1) echo $manufacturer->getTitle().' ® <br />';
	                    }
	                    echo $this->escapeHtml($_product->getName()) ?></a></h2>
						<div class="product-details">
							<?php
							echo $_helper->text_truncate(ucfirst(strtolower($this->stripTags($_product->getShortDescription()))),55," ","...");
							?>
						</div>
					<?php echo $this->getPriceHtml($_product, true) ?>
					</div>

				</div>
			</div>
			</div>
            </li>

        <?php endforeach ?>
		</ul>
		
		<span style="display: none; visibility: hidden;" class="bestseller_default_width"></span>
<?php endif; ?>
</div>