<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>

<?php 
	//$_productCollection=$this->getLoadedProductCollection();
    $bestseller = 1;
    $_productCollection = Mage::getModel('catalog/product')
    ->getCollection()
    ->addAttributeToSelect('prod_bestseller')
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('prod_bestseller', array('like' => $bestseller))
    ->addAttributeToFilter('status',array('eq' => Mage_Catalog_Model_Product_Status::STATUS_ENABLED))
	->addAttributeToFilter('visibility',array('eq' => Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH));
	$_helper = $this->helper('jnqadmin');
	$category_url = Mage::getModel("catalog/category")->load(7)->getUrl();
	$storeId = Mage::app()->getStore()->getId();
	$jnq_helper = Mage::helper('jnqadmin');
 ?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div id="bestseller">
<div class="bestseller-products">
 <header class="bestseller-title nav-title">
	<h2>LO MÁS VENDIDO EN LAB</h2>
	<div class="right nav-see-more">
		<a href="<?php echo $category_url ?>"><span><?php echo $this->__('Ver Todo') ?></span></a>
	</div>
</header>
	<?php $_collectionSize = $_productCollection->count() ?>
	<?php $sliderFor = 5; $productCount = $_collectionSize; ?>
	
	<?php if ($productCount >= $sliderFor): ?>
		<div class="customNavigation">
			<a class="btn prev"><i class="fa fa-angle-left"></i></a>
			<a class="btn next"><i class="fa fa-angle-right"></i></a>
		</div>	
	<?php endif; ?>

	<ul class="<?php if ($productCount >= $sliderFor){?>product-carousel<?php }else{?>products-grid<?php }?>" id="<?php if ($productCount >= $sliderFor){?>bestseller-carousel<?php }else{?>bestseller-grid<?php }?>">
				
    	<?php $i=0; foreach ($_productCollection as $_product):  $i++;?>
		<?php
			$_product = Mage::getModel('catalog/product')->load($_product->getEntityId());
			$marca_swatch = $jnq_helper->getManufacturerProduct($_product);
			$rating_number = $jnq_helper->getRatingNumber($_product);
			$objetivos = $jnq_helper->getObjetivos($_product);
		?>

        <li class="item <?php if ($productCount >= $sliderFor){?>slider-item<?php }else{?>product-items<?php }?>">
           	<div class="product-block">
           		<div class="product-block-inner">           		
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>">
					<?php echo $this->escapeHtml($_product->getName()); ?>
                    <?php echo $marca_swatch ;?>
                	</a></h2>
					<div class="valoration-summary clearfix">
						<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
						<?php echo $rating_number; ?>
					</div>
           			<div class="product-image-block">
           				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">

           				<?php $_helper->getProductLabels($_product) ?>

           			<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(235,250); ?>" width="235" height="250" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>

					<div class="product-book">
						<div class="product-details no-display">
						<?php echo $_helper->text_truncate(ucfirst(strtolower($this->stripTags($_product->getShortDescription()))),55," ","..."); ?>
						</div>
						<div class="producto-objetivos">
		                <?php if($objetivos != ''):?>
		                    <h3>OBJETIVO:</h3>
		                    <p><?php echo $objetivos ?></p>
			            <?php endif?>
			            </div>
				        <div class="attr-container clearfix">
						<?php echo $this->getPriceHtml($_product, true) ?>
						</div>
						<?php if($_product->isSaleable()): ?>
	                    <button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Buy Now') ?></span></span></button>
	                	<?php endif; ?>
					</div>

				</div>
			</div>
			</div>
        </li>

    <?php endforeach ?>
	</ul>
		
	<span style="display: none; visibility: hidden;" class="bestseller_default_width"></span>
<?php endif; ?>
</div>
</div>