<?php
    $_code= $this->getMethodCode();
//  $_total = Mage::getSingleton('checkout/cart')->getQuote()->getGrandTotal();
?>
<div class="<?php echo $_code ?>-icon">
    <img src="<?php echo $this->getSkinUrl('images/checkout/mdp/bancos.png') ?>" alt="Tarjeta Crédito Visa" />
    <p class="instructions"><?php echo $this->getMethod()->getConfigData('instructions');?></p>
</div>