<?php if($status == 201): ?>
    
    <link rel="stylesheet" href="<?php echo $this->getSkinUrl('mercadopago/css/style.css'); ?>" />
    
    <div id="standard_banner_checkout">
        <img src="<?php echo $banner_checkout; ?>"  class="banner_checkout_mp"/>
    </div>
    
    <?php if($type_checkout == "lightbox"):?>
    
        <script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>
    
        <!-- Abra o Checkout -->
        <script type="text/javascript">
            $MPC.openCheckout ({
                url: "<?php echo $init_point; ?>",
                mode: "modal",
                onreturn: function(data) {
                    // execute_my_onreturn (Apenas modelo)
                }
            });
        </script>
        
        <a href="<?php echo $init_point; ?>" name="MP-Checkout" class="blue-M-Rn" mp-mode="modal">Pagar</a>
        <!-- Cole esse código antes de fechar a etiqueta </body> -->
    
    <?php elseif($type_checkout == "redirect"):?>
        <script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>
    
        <!-- Abra o Checkout -->
        <script type="text/javascript">
            $MPC.openCheckout ({
                url: "<?php echo $init_point; ?>",
                mode: "redirect",
                onreturn: function(data) {
                    // execute_my_onreturn (Apenas modelo)
                }
            });
        </script>
    <?php else: ?>
    
        <!-- Aqui você deve inserir a URL que corresponde a "init_point" -->
        <iframe src="<?php echo $init_point; ?>" name="MP-Checkout" width="<?php echo $iframe_width; ?>" height="<?php echo $iframe_height; ?>" frameborder="0" scrolling="no" id="checkout_mercadopago"></iframe>
        
        <!-- Cole esse código antes de fechar a etiqueta </body> -->
        <script type="text/javascript">
            (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;
            s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";
            var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}
            window.$MPBR_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
        </script>
        
    <?php endif;?>

<?php else: ?>   
    
    <h1><?php echo $message; ?></h1>
    <pre><?php echo $json; ?></pre>
    
<?php endif;?>    