<?php if ($videos = $this->getVideoList()): ?>
<div class="videos pd-container">
    <div class="container">
        <div class="row">
            <header class="videos-title nav-title">
            	<h2><?php echo $this->getTitle() ?></h2>
            	<div class="right nav-see-more">
        			<a href="<?php echo $this->getVideosUrl() ?>" target="_blank"><span><?php echo $this->__('Ver Todo') ?></span></a>
        		</div>
            </header>
            <ul class="owl-carousel owl-theme" id="labtv-carousel">
            	<?php
                for ($i = 0; $i < count($videos); $i++) {
                    $videoid = $videos[$i]->id->videoId;
                    $videotitle = $videos[$i]->snippet->title;
                    $videodescription = $videos[$i]->snippet->description;
                    $videodate = $videos[$i]->snippet->publishedAt; // date time published
                    $videothumbnail = $videos[$i]->snippet->thumbnails->high->url; // default, medium or high
                ?>
                <li class="item slider-item">
                    <a class="yt-image owl-lazy" data-src="<?php echo $videothumbnail ?>" href="https://www.youtube.com/watch?v=<?php echo $videoid ?>" title="<?php echo $videotitle ?>" target="_blank"></a>
                </li>
                <?php } ?>
            </ul>
            <div class="owl-loading"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#labtv-carousel").owlCarousel({
            autoplay: false,
            nav: true,
            navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
            dots: false,
            lazyLoad: true,
            responsiveClass:true,
            responsive: {0: { items: 1 },600: { items: 2},1000: { items: 4 }},
            margin: 0,
        })
    })
</script>
<?php endif ?>