/* Reset ================================================================================= */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
}
img {
  border: 0;
  vertical-align: top;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
/* Headings */
/*h2 {
  font-size: 160%;
}
h3 {
  font-size: 140%;
}
h4 {
  font-size: 120%;
}
h5,
h6 {
  font-size: 110%;
}*/
/* Forms */
form {
  display: block;
}
fieldset {
  border: 0;
}
legend {
  display: none;
}
/* Table */
table {
  border: 0;
  border-spacing: 0;
  empty-cells: show;
  font-size: 100%;
}
caption,
th,
td {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}
/* Content */
p {
  margin: 0 0 10px;
}

address {
  font-style: normal;
  line-height: 1.35;
}
cite {
  font-style: normal;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after {
  content: '';
}
small,
big {
  font-size: 1em;
}
/*sup           { font-size:1em; vertical-align:top; }*/
/* Lists */
ul,
ol {
  list-style: none;
  margin: 0;
}
/* Tools */
.hidden {
  display: block !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}
.nobr {
  white-space: nowrap !important;
}
.wrap {
  white-space: normal !important;
}
.a-left {
  text-align: left !important;
}
.a-center {
  text-align: center !important;
}
.a-right {
  text-align: right !important;
}
.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.f-left,
.left {
  float: left !important;
}
.f-right,
.right {
  float: right !important;
}
.f-none {
  float: none !important;
}
.no-display {
  display: none;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-bg {
  background: none !important;
}
/* Global Styles ========================================================================= */
/* Form Elements */
button,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 100%;
  border: 1px solid #ccc;
  /*-webkit-appearance: none;*/
  outline: 0;
}
input[type="text"],
textarea,
input[type="password"] {
  -webkit-appearance: none;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0;
}
.page {}
.magemenu-menu.horizontal-menu {
/*  float: left;
  clear: both;*/
}
.magemenu-menu.horizontal-menu .menu.nb-custome , .magemenu-menu.horizontal-menu .menu.nbtype- {
  position: relative;
}
.magemenu-menu.horizontal-menu .menu > a {
  position: relative;
}
.magemenu-menu.horizontal-menu .menu > a img {
  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: -12px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block {
  float: left;
  margin-bottom: 0;
  width: auto;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate {
  position: relative;
  z-index: 2;
  width: 215px;
  min-width: 215px;
  margin-right: 20px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate h3 {
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/*.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate h3:before,
li.subcate_list:before {
  position: absolute;
  width: 6px;
  height: 6px;
  content: "";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 16px;
  left: -15px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 1px solid #999999;
}
li.subcate_list:before {
   left: 15px; 
}*/
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate h3 a {
  float: left;
  white-space: nowrap;
  text-decoration: none;
  color: #555f76;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 25px;
  border-bottom: 1px dotted #d7d7d7;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:first-child {
  border-top: 1px dotted #d7d7d7;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate.subparent:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 14px;
  top: 7px;
  right: 15px;
  color: #444;
  position: absolute;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate h3 {
  float: left;
  width: 100%;
  margin: 0;
  line-height: 40px;
  font-size: 100%;
  text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate h3 > a {
  color: #444;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate .itemMenu {
  position: relative;
  padding-left: 15px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate .itemMenu a {
  color: #444;
  line-height: 40px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate .itemMenu:hover {
  background: #25bce9;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate .itemMenu:hover > a {
  color: #fff;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul.itemsubmenu {
  position: absolute;
  left: 150%;
  min-width: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: hidden;
  top: 0;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul {
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul li {
  border-bottom: 1px dotted #d7d7d7;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul li:first-child {
  border-top: 1px dotted #d7d7d7;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul li a {
  line-height: 40px;
  text-decoration: none;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul .itemMenu:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: visible;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover {
  background: #25bce9;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover h3 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover h3:before {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-color: #fff;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover h3 a {
  color: #fff;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 100%;
  top: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: visible;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-left {
  min-width: auto;
  margin-right: 20px;
  width: 225px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-left > p > img {
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-bottom {
  padding-top: 15px;
  width: 100%;
  float: left;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-bottom > p img {
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-top {
  margin-bottom: 30px;
  padding: 0 0 13px 0;
  border-bottom: 1px dashed #d7d7d7;
  width: 100%;
  color: #555f76;
  font-size: 18px;
  text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-product {
  position: relative;
  z-index: 1;
  width: 225px;
  min-width: 225px;
  margin-right: 20px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-right {
  width: 230px;
  min-width: 230px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block h2.title-right {
  font-size: 14px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #555f76;
  width: 100%;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content {
  float: left;
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content > a {
  margin-bottom: 10px;
  float: left;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content > img {
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content > p {
  width: 230px;
  color: #888;
  float: left;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item > h2 {
  font-size: 18px;
  color: #555f76;
  margin-top: -2px;
  margin-bottom: 10px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-image {
  float: left;
  border: 1px solid #d7d7d7;
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-image img {
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info {
  float: left;
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .product-name {
  margin-top: 25px;
  float: left;
  width: 100%;
  margin-bottom: 3px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .product-name a {
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  font-size: 14px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .price-box .regular-price,
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .price-box .special-price {
  padding-left: 0;
  margin-right: 10px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .price-box .regular-price .price,
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .price-box .special-price .price {
  font-size: 18px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .price-box .old-price .price {
  font-size: 14px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions {
  margin-top: 7px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions .btn-cart {
  line-height: 40px;
  padding: 0 25px;
  float: left;
  background: #25bce9;
  border: none;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions .btn-cart:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions .btn-cart span {
  color: #fff;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions .add-to-links {
  float: left;
  width: 100%;
  clear: both;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions .add-to-links li {
  float: left;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions .add-to-links li a.link-wishlist {
  margin-right: 10px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions .add-to-links li a.link-compare {
  margin-left: 10px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions p {
  color: #888;
}
.magemenu-menu.horizontal-menu .explodedmenu {
  float: left;
  width: 100%;
  position: relative;
}
.magemenu-menu.horizontal-menu .explodedmenu > li {
  padding: 0;
}
.magemenu-menu.horizontal-menu .explodedmenu > li:hover > a {
  -webkit-transition: all 0.2s ease-out 0.6s;
  -moz-transition: all 0.2s ease-out 0.6s;
  -o-transition: all 0.2s ease-out 0.6s;
  transition: all 0.2s ease-out 0.6s;
  background: #25bce9;
  text-decoration: none;
  z-index: 1;
}
.magemenu-menu.horizontal-menu .explodedmenu > li:hover > a span {
  color: #fff;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu {
  float: left;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu > a {
  float: left;
  position: relative;
  /*padding: 4px 20px 4px;*/
  /*color: #333333;*/
  text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu > a span {
  font-weight: 500 !important;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup {
  position: absolute;
  top: 119px;
  z-index: 991;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0.7s;
  -moz-transition: all 0.3s ease 0.7s;
  -o-transition: all 0.3s ease 0.7s;
  transition: all 0.3s ease 0.7s;
  left: 0;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-4 .explodedmenu-menu-popup {
    width: 100%;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block {
  float: left;
  max-width: 100%;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block {
  background: #fff;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 270px;
  padding: 15px 10px;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li {
  position: relative;
  background: #fbfbfb;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li a {
  padding: 5px 0 5px 32px;
  display: block;
  position: relative;
  color: #666666;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li a:hover {
  background: #25bce9;
  color: #fff;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li ul {
  position: absolute;
  top: 0;
  left: 230px;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 9;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  left: 180px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.block .actions a {
	float: right !important;
}

.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu:hover .explodedmenu-menu-popup {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  -webkit-transition: all 0.3s ease-out 0.6s;
  -moz-transition: all 0.3s ease-out 0.6s;
  -o-transition: all 0.3s ease-out 0.6s;
  transition: all 0.3s ease-out 0.6s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff; 
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 992;
}
.magemenu-menu.horizontal-menu .navbar {
  min-height: 0;
  margin-bottom: 0;
}
.magemenu-menu.horizontal-menu .subparent:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 14px;
  top: 7px;
  right: 10px;
  color: #444;
  position: absolute;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.horizontal-menu .subparent:hover.subparent:before {
  right: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #fff;
}
.magemenu-menu.vertical-menu {
  float: left;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 1px solid #d7d7d7;
}
.magemenu-menu.vertical-menu.show {
  overflow: visible;
  height: auto;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  min-height: 200px;
  z-index: 999;
  background: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.magemenu-menu.vertical-menu .subparent:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 14px;
  top: 7px;
  right: 10px;
  color: #444;
  position: absolute;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.vertical-menu .header-nav > ul > li {
  float: left;
  width: 100%;
  border-top: 1px dotted #d7d7d7;
}
.magemenu-menu.vertical-menu .header-nav > ul > li:first-child {
  border-top: none;
}
.magemenu-menu.vertical-menu .explodedmenu {
  float: left;
  width: 100%;
  position: relative;
}
.magemenu-menu.vertical-menu .explodedmenu > li {
  padding: 5px 0;
}
.magemenu-menu.vertical-menu .explodedmenu > li > a {
  color: #444;
  float: left;
  width: 100%;
  position: relative;
}
.magemenu-menu.vertical-menu .explodedmenu > li:hover {
  background: #25bce9;
}
.magemenu-menu.vertical-menu .explodedmenu > li:hover > a {
  color: #fff;
}
.magemenu-menu.vertical-menu .explodedmenu > li.parentMenu > a:after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 3px;
  font-family: "FontAwesome";
  color: #444;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 16px;
}
.magemenu-menu.vertical-menu .explodedmenu > li.parentMenu:hover > a:after {
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu {
  float: left;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu > a {
  margin-right: 1px;
  float: left;
  position: relative;
  padding: 4px 15px 4px;
  text-transform: uppercase;
  text-decoration: none;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu > a span {
  font-weight: 500 !important;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu > a span > img {
  float: left;
  margin-right: 15px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu > a > img {
  position: absolute;
  left: 17%;
  top: -12px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block {
  float: left;
  margin-bottom: 0;
  width: auto;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate {
  position: relative;
  z-index: 2;
  width: 215px;
  min-width: 215px;
  margin-right: 20px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate h3 {
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate h3:before {
  position: absolute;
  width: 6px;
  height: 6px;
  content: "";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 16px;
  left: -15px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 1px solid #999999;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate h3 a {
  float: left;
  white-space: nowrap;
  text-decoration: none;
  color: #555f76;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 25px;
  border-bottom: 1px dotted #d7d7d7;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:first-child {
  border-top: 1px dotted #d7d7d7;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate.subparent:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 14px;
  top: 7px;
  right: 15px;
  color: #444;
  position: absolute;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate h3 {
  float: left;
  width: 100%;
  margin: 0;
  line-height: 40px;
  font-size: 100%;
  text-transform: uppercase;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate h3 > a {
  color: #444;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate .itemMenu {
  position: relative;
  padding-left: 15px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate .itemMenu a {
  color: #444;
  line-height: 40px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate .itemMenu:hover {
  background: #25bce9;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate .itemMenu:hover > a {
  color: #fff;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate ul.itemsubmenu {
  position: absolute;
  left: 150%;
  min-width: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: hidden;
  top: 0;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate ul {
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate ul li {
  border-bottom: 1px dotted #d7d7d7;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate ul li:first-child {
  border-top: 1px dotted #d7d7d7;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate ul li a {
  line-height: 40px;
  text-decoration: none;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate ul .itemMenu:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: visible;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:hover {
  background: #25bce9;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:hover h3 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:hover h3:before {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-color: #fff;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:hover h3 a {
  color: #fff;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-cate .subcate:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 100%;
  top: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: visible;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-left {
  min-width: auto;
  margin-right: 20px;
  display: block;
  float: left;
  width: 225px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-left > p > img {
  width: 100%;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-bottom {
  padding-top: 15px;
  width: 100%;
  float: left;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-bottom > p img {
  width: 100%;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-top {
  margin-bottom: 30px;
  padding: 0 0 13px 0;
  border-bottom: 1px dashed #d7d7d7;
  width: 100%;
  color: #555f76;
  font-size: 18px;
  text-transform: uppercase;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-product {
  position: relative;
  z-index: 1;
  width: 225px;
  min-width: 225px;
  margin-right: 20px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block.block-right {
  width: 230px;
  min-width: 230px;
  margin-right: 20px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block h2.title-right {
  font-size: 14px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #555f76;
  width: 100%;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block .block-content {
  width: 230px;
  float: left;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block .block-content > img {
  width: 100%;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block .block-content > a {
  margin-bottom: 10px;
  float: left;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .block .block-content > p {
  width: 230px;
  color: #888;
  float: left;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item > h2 {
  font-size: 18px;
  color: #555f76;
  margin-top: -2px;
  margin-bottom: 10px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-image {
  float: left;
  border: 1px solid #d7d7d7;
  width: 100%;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-image img {
  width: 100%;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-info {
  float: left;
  width: 100%;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-info .product-name {
  margin-top: 25px;
  float: left;
  width: 100%;
  margin-bottom: 3px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-info .product-name a {
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  font-size: 14px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-info .price-box .regular-price,
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-info .price-box .special-price {
  padding-left: 0;
  margin-right: 10px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-info .price-box .regular-price .price,
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-info .price-box .special-price .price {
  font-size: 18px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .product-info .price-box .old-price .price {
  font-size: 14px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions {
  margin-top: 7px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions .btn-cart {
  line-height: 40px;
  padding: 0 25px;
  float: left;
  background: #25bce9;
  border: none;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions .btn-cart:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions .btn-cart span {
  color: #fff;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions .add-to-links {
  float: left;
  width: 100%;
  clear: both;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions .add-to-links li {
  float: left;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions .add-to-links li a.link-wishlist {
  margin-right: 10px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions .add-to-links li a.link-compare {
  margin-left: 10px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu .inner-cms-block .product-grid .item .actions p {
  color: #888;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.nb-custome {
  position: relative;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup,
.magemenu-menu.vertical-menu .explodedmenu li.menu .explodedmenu-menu-popup {
  position: absolute;
  top: -1px;
  z-index: 991;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  left: 150%;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block,
.magemenu-menu.vertical-menu .explodedmenu li.menu .explodedmenu-menu-popup .inner-cms-block {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 20px 15px;
  float: left;
  max-width: 1170px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.nbtype-3 .explodedmenu-menu-popup .inner-cms-block, 
.magemenu-menu.vertical-menu .explodedmenu li.menu.nbtype-5 .explodedmenu-menu-popup .inner-cms-block{
	box-shadow: none;
	padding-top: 0;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.nbtype-3 .explodedmenu-menu-popup .exploded-cms-block,
.magemenu-menu.vertical-menu .explodedmenu li.menu.nbtype-5 .explodedmenu-menu-popup .exploded-cms-block {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 20px 15px;
  float: left;
  max-width: 1170px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block {
  background: #fff;
}
.magemenu-menu img {
	max-width: 100%;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 270px;
  padding: 15px 10px;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li {
  position: relative;
  background: #fbfbfb;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li a {
  padding: 5px 0 5px 32px;
  display: block;
  position: relative;
  color: #666666;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li a:before {
  content: "\f105";
  position: absolute;
  left: 20px;
  top: 5px;
  font-family: "FontAwesome";
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li a:hover {
  background: #25bce9;
  color: #fff;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li a:hover:before {
  content: "\f105";
  position: absolute;
  left: 20px;
  top: 5px;
  font-family: "FontAwesome";
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li ul {
  position: absolute;
  top: 0;
  left: 230px;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 9;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  left: 180px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu:hover .explodedmenu-menu-popup,
.magemenu-menu.vertical-menu .explodedmenu li.menu:hover .explodedmenu-menu-popup {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  left: 100%;
}
.menu parentMenu.nbtype-3 .explodedmenu-menu-popup {
    width: 100%;
}
.menu parentMenu.nbtype-3 .explodedmenu-menu-popup .inner-cms-block.row-cate-grid a{
    color: #333333
}
.menu parentMenu.nbtype-3 .explodedmenu-menu-popup .inner-cms-block.row-cate-grid a:hover {
    text-decoration: none;
}
.main-container {
  clear: both;
}
.vertical-menu .menu .row-cate-grid img{
    margin: 0 auto;
}
.vertical-menu .explodedmenu-menu-popup{
    border-top: 1px solid #d7d7d7;
}
.wrap-vertical-menu {
  padding-left: 0;
  float: left;
  cursor: pointer;
  clear: both;
}

.nb_lbl_type img{
	float: left;
	margin-right: 5px;
}

.nb_pstatic_cat {
	font-weight: bold;
}

.wrap-vertical-menu > span {
  line-height: 50px;
  padding-left: 35px;
  position: relative;
  text-transform: uppercase;
  float: left;
  width: 100%;
  color: #444;
  font-weight: bold;
}
.wrap-vertical-menu > span:before {
  content: "\f0c9";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 16px;
  top: 0;
  left: 10px;
}
#header-nav {
  border: none !important;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid {
    width: 100%;  
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div {
    text-align: center;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div:not(:last-child) {
    padding-right: 15px;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a.mm-product-name,
.magemenu-menu.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a.mm-product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.nbtype-6  .mm-product-name  strong{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   	
	width: 100%;
	display: block;
}
.magemenu-menu.vertical-menu .nbtype-5 .explodedmenu-menu-popup {
	min-height: 250px;
}
/* .mm-product-name > strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
} */
.magemenu-menu .price-box .price {
	font-size: 13px;
}
.magemenu-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid img {
    width: auto;
    height: 150px;
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
.magemenu-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a:first-child img {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a{
    text-decoration: none;
   
}
.magemenu-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a:hover img {
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px); 
    -moz-transform: translateY(-10px); 
    -o-transform: translateY(-10px); 
    transform: translateY(-10px); 
}
.magemenu-menu.horizontal-menu .inner-cms-block.nb-repare-width {
    /* display: flex; */
}
.magemenu-menu.horizontal-menu .inner-cms-block.row-cate-grid {
    width: 100%;
}
.magemenu-menu.horizontal-menu .inner-cms-block.row-cate-grid .form-group {
    display: inline-block;
}
.magemenu-menu.horizontal-menu .inner-cms-block.row-cate-grid .form-group {
/*    margin-right: 15px;*/
}
.magemenu-menu .inner-cms-block.row-cate-grid .form-group  a:first-child  span:first-child {
	height: 145px;	
	display: block;
}
.magemenu-menu .inner-cms-block.row-cate-grid .form-group img {
	margin: 0 auto;
    max-width: 100%;
	max-height: 100%;
    -weblit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.magemenu-menu .inner-cms-block.row-cate-grid .form-group img:hover {
    -weblit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.magemenu-menu.horizontal-menu .inner-cms-block.row-cate-grid .form-group a {
    text-decoration: none;
}
.magemenu-menu .inner-cms-block.row-cate-grid .form-group a.mm-cate-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.magemenu-menu .menu .inner-cms-block .block h2{
    font-size: 18px;
    color: #555f76;    
    min-width: 1px;
    margin-top: -2px;
    margin-bottom: 10px;
}
.magemenu-menu .menu .inner-cms-block .block h2.product-name {
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
}
.magemenu-menu .menu .inner-cms-block .block .product-image,
.magemenu-menu .menu .inner-cms-block .block .product-image:hover {
    border: 1px solid #d7d7d7;
}
.magemenu-menu .menu .inner-cms-block .block .product-image img {
    max-width: 100%;
}
.magemenu-menu.horizontal-menu .nbtype-3 .explodedmenu-menu-popup,
.magemenu-menu.horizontal-menu .nbtype-2 .explodedmenu-menu-popup,
.magemenu-menu.horizontal-menu .nbtype-5 .explodedmenu-menu-popup {
    width: 100%;
}
.magemenu-menu.horizontal-menu .nbtype-3 .explodedmenu-menu-popup .col-category {
    padding-top: 15px;
}
.magemenu-menu.horizontal-menu .nbtype-3 .explodedmenu-menu-popup .col-category a {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #000;
    text-decoration: none;
}
.magemenu-menu.horizontal-menu .nbtype-3 .explodedmenu-menu-popup .col-category a:hover,
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-5 .row-product-list > div a:hover {
    text-decoration: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-right {
    width: 200px;
    min-width: 200px;
  }
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content img {
    width: 100%;
  }
  .magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block {
    
  }
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-7 .explodedmenu-menu-popup,
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.my-contact-form,
.magemenu-menu .explodedmenu li.menu.parentMenu.nbtype-6 .explodedmenu-menu-popup,
.magemenu-menu .explodedmenu li.menu.parentMenu.nbtype-6 .explodedmenu-menu-popup .inner-cms-block{
    width: 100%;
}
.magemenu-menu .explodedmenu li.menu.parentMenu.nbtype-6 .explodedmenu-menu-popup .inner-cms-block {
    
}
.col-nb-1 {width: 100%; float:left; padding: 0px 15px;}
.col-nb-2 {width: 50%; float:left; padding: 0px 15px;}
.col-nb-3 {width: 33.333333333%; float:left; padding: 0px 15px;}
.col-nb-4 {width: 25%; float:left; padding: 0px 15px;}
.col-nb-5 {width: 20%; float:left; padding: 0px 15px;}
.col-nb-6 {width: 16.666666666%; float:left; padding: 0px 15px;}
.col-nb-7 {width: 14.2857142857%; float:left; padding: 0px 15px;}
.col-nb-8 {width: 12.5%; float:left; padding: 0px 15px;}
.col-nb-9 {width: 11.1111111111%; float:left; padding: 0px 15px;}
.col-nb-10 {width: 10%; float:left; float:left; padding: 0px 15px;}
.col-nb-11 {width: 9.09090909091%; float:left; padding: 0px 15px;}
.col-nb-12 {width: 8.333333333%; float:left; padding: 0px 15px;}
.nbtype-5 .col-nb-1, .nbtype-5 .col-nb-2, .nbtype-5 .col-nb-3,
.nbtype-5 .col-nb-4, .nbtype-5 .col-nb-5, .nbtype-5 .col-nb-6,
.nbtype-5 .col-nb-7, .nbtype-5 .col-nb-8, .nbtype-5 .col-nb-9,
.nbtype-5 .col-nb-10, .nbtype-5 .col-nb-11, .nbtype-5 .col-nb-12 {
    padding: 0px;
    padding-right: 15px;
}
.magemenu-menu .explodedmenu li.menu.parentMenu.nbtype-5 .row-product-list > div a,
.magemenu-menu .subcate_content a.mm-product-name{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
}
.nbtype-6 .product_list_by_sub_cat .inner-cms-block {
    width: 100%;
    padding-left: 0;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-5 .row-product-list > p {
    text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-5 .block-2.row-product-list {
    padding-top: 15px;
}
.magemenu-menu #block-col2.row-static-cate-grid img {
    max-width: 100%;
}
li.subcate_list {
    display: block;
    line-height: normal;
    height: inherit;
    width: 100%;
    cursor: pointer;
    padding: 5px 0;
    text-transform: uppercase;
    position: relative;
}
li.subcate_list:not(:first-child){
    border-top: 0;
}
li.subcate_list.active {
    border-right: 0;
    color: #fc0e31;
}
li.subcate_list:hover {
    color: #fc0e31;
}
li.subcate_list:hover:before {
    border-color: #fc0e31;
}
.subcate_content {
    display: none;
}
.subcate_content.active {
    display: block;
}
.nbtype-3 .row-static-cate-grid .col-category  span:first-child {
	height: 80px;
	display: block;
}
.nbtype-3 .row-static-cate-grid img {
	max-width: 100%;
	max-height: 100%;
}
.nbtype-3 .row-static-cate-grid a {
	color: #000;
}

.pull-right {
	position: absolute;
    bottom: 0;
    right: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-mobile .parentMenu {
    float: left;
    width: 100%;
  }
  .wrap-vertical-menu {
    display: none;
  }
  .magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block {
      
  } 
    .magemenu-menu.horizontal-menu .menu.nb-custome {
        position: static;
    }
    .magemenu-menu.horizontal-menu .menu .inner-cms-block.nb-repare-width .block.block-product,
    .magemenu-menu.horizontal-menu .menu .inner-cms-block.nb-repare-width .block.block-left,
    .magemenu-menu.horizontal-menu .menu .inner-cms-block.nb-repare-width .block.block-right,
    .magemenu-menu.horizontal-menu .menu .inner-cms-block.nb-repare-width .block.block-cate
    {
        width: 160px;
        min-width: 160px;
    }
    .magemenu-menu.horizontal-menu .menu .inner-cms-block.nb-repare-width .block img {
        width: 100%;
        height: auto;
    }
    .magemenu-menu.horizontal-menu .menu .inner-cms-block.nb-repare-width .block h2 {
        font-size: 16px;
    }
    .magemenu-menu.horizontal-menu .menu .inner-cms-block.nb-repare-width .block.block-cate .subcate a {
        font-size: 13px;
    }
}
@media (max-width: 767px) {
  .menu-mobile .parentMenu {
    float: left;
    width: 100%;
  }
  .wrap-vertical-menu {
    display: none;
  }
}
