<li>
    <div class="facebook-share-button giantpoints-social-purchase">
        <a href="javascript://" class="btn" onclick="<?php echo $this->getOnClickAction(); ?>">
            <i></i>
            <span class="label"><?php echo $this->__("Share"); ?></span>
        </a>
    </div>
</li>
<?php $_locale = Mage::helper('giantpointsbhv/config')->getFacebookLocale(); ?>
<script type="text/javascript">
    //<![CDATA[
    var fbShareAction = function (element, args) {
        var fbSharedUrl = args.url, eventName = args.eventName;
        FB.ui(
            {
                method: 'stream.share', u: fbSharedUrl
            }
            , function (response) {
                Event.fire(element, eventName, response);
            }
        )
    };
    /*Add Facebook Js Libarary*/
    Event.observe(document, 'dom:loaded', function () {
        window.fbAsyncInit = window.fbAsyncInit || function () {
            FB.init({
                xfbml: true
            });
        };

        if (document.getElementById('fb-root') == undefined) {
            // if FB is not already defined (currently by Evolved Like) insert div and load JS SDK async
            var fbRootDiv = new Element('div');
            fbRootDiv.id = "fb-root";
            $$('body')[0].insert(fbRootDiv);

            // Load the SDK asynchronously
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/<?php echo $_locale ?>/sdk.js#xfbml=1&version=v2.7";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }
    });

    //]]>
</script>
