/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{overflow: hidden;position: relative;width: 100%;}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.product-carousel .slider-item{float: left;}
.product-carousel .slider-item.first_item_tm{border-left-color: #fff;}
.slider-controls .slider-page,.slider-controls .slider-buttons div{cursor: pointer;}

/* fix */
.product-carousel .slider-wrapper,
.product-carousel .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	list-style:none;
}
.customNavigation{ text-align: center; position:relative;width:100%}
.customNavigation a{
    cursor: pointer;
    display: block;
    height: auto;
    position: absolute;
    top: -30px;
    width: auto;
    z-index: 1;
} 
.blog .customNavigation a{top:6px;}
.manufacture .customNavigation a{top:-55px;}
.customNavigation a.prev {
	right: 35px;
	transition:all 300ms ease 0s;
	 -webkit-transition:all 300ms ease 0s;
	 -moz-transition:all 300ms ease 0s;
	 -o-transition:all 300ms ease 0s;
}
.customNavigation a.next {
    right:0px;
	transition:all 300ms ease 0s;
	 -webkit-transition:all 300ms ease 0s;
	 -moz-transition:all 300ms ease 0s;
	 -o-transition:all 300ms ease 0s;
}

/**************** additional carousel start *******************/
.additional-carousel .product-carousel{  width:auto; margin:0 40px; }
.additional-carousel .customNavigation a.prev {
  background: url("../../images/sprite.png") no-repeat scroll -196px 6px  #f6f6f6;
    left:15px;
	top:45px;
	z-index:999;  
	text-indent: -9999px;
	cursor:pointer;
}
.box-up-sell .customNavigation a,.crosssell .customNavigation a{top:-56px;}
.additional-carousel .customNavigation a.prev:hover{ background: url("../../images/sprite.png") no-repeat scroll -196px -30px #d56b1f;  text-decoration:none; z-index:999;}
.additional-carousel .customNavigation a.next {
	background: url("../../images/sprite.png") no-repeat scroll -232px 6px #f6f6f6 ;
    right:16px;
	top:45px;
	cursor:pointer;
	z-index:999; 
	 text-indent: -9999px;
}
.additional-carousel .customNavigation a.next:hover{ background: url("../../images/sprite.png") no-repeat scroll -232px -30px #d56b1f; text-decoration:none; z-index:999;}
.additional-carousel .slider-item {   float: left;  width: 90px; }
.additional-carousel .slider-item .product-block{ background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    clear: both;
    margin: 4px 7px;
    overflow: hidden;}

/* additional carousel End */
.product-info .product-image .customNavigation{ text-align: center; position:absolute; width:100%; z-index:9;}
.product-info .product-image .customNavigation a{
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}
.product-info .product-image .customNavigation a.prev {
  	background: url("../../image/megnor/sprite.png") no-repeat scroll -11px -60px transparent;
    left:-3px;
	top:35px;
}
.product-info .product-image .customNavigation a.prev:hover{ background-position: -11px -90px; text-decoration:none;}
.product-info .product-image .customNavigation a.next {
	background: url("../../image/megnor/sprite.png") no-repeat scroll -43px -60px transparent;
	right:-3px;
	top:35px;
}
.product-info .product-image .customNavigation a.next:hover{ background-position: -43px -90px; text-decoration:none;}