/* ========cloud-zoom============*/
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    margin:0px;    /* Set this to minus the border thickness. */
    background:url(../../images/zoom_in.png);
    cursor:move;
}

/* This is for the title text. */
.cloud-zoom-title {    
    position:absolute !important;
    background-color:#fff;
    color:#6a3212;
    padding:0px;
    width:0px;
	height:0px !important;
    text-align:center;
    font-weight:bold;
    font-size:0px;
	line-height:20px;
    top:0px;
}
/* This is the zoom window. */
.cloud-zoom-big {border:1px solid #f0e7dd;overflow:hidden;margin-left:34px;}
/* This is the loading message. */
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}
.product-image .mousetrap {z-index:999 !important;} 

/** Lightbox */ 
/* ColorBox Core Style
-------------------------------------------------------------- */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; }
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* ColorBox skin.
   The following styles are ordered & tabbed
   in a way that represents the nesting of the generated HTML.
-------------------------------------------------------------- */
#cboxOverlay{background:url(../../images/megnor/overlay.png) repeat 0 0;}
#colorbox{}
#cboxContent{background:#fff; overflow:hidden; border:none;/*10px solid #333*/ padding:10px; }
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:40px; /*10px above buttons*/ }
#cboxTitle{position:absolute; bottom:17px;text-align:center; width:100%; color:#999999;}
#cboxCurrent{position:absolute; bottom:17px; left:80px; color:#999999;}
#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}

#cboxPrevious,
#cboxNext { position:absolute; background:url(../../images/megnor/slider-arrows.png) no-repeat #ddd; width:30px; height:30px; text-indent:-9999px; }
#cboxPrevious:hover,
#cboxNext:hover { background-color:#333; }
#cboxPrevious{bottom:10px; left:10px; background-position:-10px -10px;}
#cboxPrevious:hover{background-position:-10px -60px;}
#cboxNext{bottom:10px; left:40px; background-position:-60px -10px;}
#cboxNext:hover{background-position:-60px -60px;}

#cboxLoadingOverlay{background:url(../../images/megnor/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../../images/megnor/loading.gif) no-repeat center center;}

#cboxClose{position:absolute; bottom:10px; right:10px; background:url(../../images/megnor/close-button.png) -10px -10px no-repeat #ddd; width:30px; height:30px; text-indent:-9999px;}
#cboxClose:hover{background-position:-10px -60px; background-color:#333;}

#cboxNext,
#cboxPrevious,
#cboxClose {
	transition:			background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}
.zoom-btn-small {
    background: url("../../images/zoom.png") no-repeat scroll center center transparent !important;
    bottom: 0;
    color: #333333;
    font-size: 0;
    line-height: 2.6666em;
    width:40px;
	height:40px;
    position: absolute;
    right: 0;
    z-index: 100;
    border: none !important;
}