.tm-hide {opacity: 0;}
.tm-checkbox {
    background: url('../../images/sprite.png') -3px -43px no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    opacity: .6;
    filter: alpha(opacity=60);
}
.tm-radio {display: inline;padding: 0px;height: 17px;vertical-align: middle;position: relative;}
.tm-checked {
    background-position: -76px -44px;
    border-radius: 0px;
    opacity: 1;
    filter: alpha(opacity=100);
}
.tm-selected {background-position: -72px -7px;}
.tm-checkbox-green {
    background: url('../../images/megnor/sprite.png') 0 1px no-repeat;
    display: inline-block;
}
.tm-checked-green {background-position: 0 -18px;}
.ie7 .tm-checkbox {display: inline;}
/* Selects */
.sbHolder {
    border: solid 1px #c9c9c9;
    position: relative;
    width: auto;
    padding: 0px;
    height: 38px;
    text-align: left;
    vertical-align: middle;
    text-transform: capitalize;
    font-family: 'OpenSans-regular', sans-serif;
}
.sbHolder:focus .sbSelector {} .sbSelector {
    outline: none;
    overflow: hidden;
    top: 0;
    padding: 7px 13px;
    display: block;
    color: #888;
}
.sbSelector:link,.sbSelector:visited,.sbSelector:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
}
.header .sbToggle {background-image: url("../../images/arrow-down.png");}
.header .sbToggleOpen {background-image: url("../../images/arrow-up.png");}
.sbToggle {
    background: url("../../images/arrow-down1.png") no-repeat scroll center center transparent;
    display: block;
    outline: none;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -4px;
    height: 8px;
    width: 15px;
}
.sbToggleOpen {background: transparent url("../../images/arrow-up1.png") no-repeat center center;}
.sbOptions {
    background-color: #fff;
    border: solid 1px #e3e3e3;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    top: 36px !important;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
}
.sbOptions li {display: block;padding: 0;margin: 0;}
.sbOptions a {display: block;outline: none;padding: 4px 0 4px 3px;text-decoration: none;}
.pager .sbOptions li > a {border-radius: 0;display: block;border: none;padding: 5px 13px;}
.pager .sbOptions li > a:hover,.pager .sbOptions li > a:focus{background-color: #F9F9F9;color: #4C4C4C;}
.pager .sbOptions li:not(:last-of-type) > a {
    border-bottom: solid 1px #e3e3e3;
}
/* display none until init */
.product-carousel {display: none; width: 100%; -ms-touch-action: pan-y;}
#column-left .product-carousel,#column-right .product-carousel {display: block;}
#column-left .customNavigation,#column-right .customNavigation {display: none;}
.product-carousel .slider-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer {overflow: hidden;position: relative;width: 100%;}
.product-carousel .slider-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.product-carousel .slider-item {float: left;}
.slider-controls .slider-page,.slider-controls .slider-buttons div {cursor: pointer;}
/* mouse grab icon */
.grabbing {}
/* fix */

.product-carousel .slider-wrapper,
.product-carousel .slider-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.customNavigation {text-align: center;position: absolute;width: 100%}
.customNavigation a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    font-size: 22px;
    color: #3f3f3f;
    line-height: normal;
    padding: 0 !important;
}
.customNavigation a i {font-style: normal;font-weight: bold;}
.prev-opac {opacity: .5;}
.nav-see-more {margin-right: 55px;line-height: 30px;}
.nav-see-more a {
    border-right: 3px;
    display: inline-block;
    line-height: normal;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    vertical-align: middle;
    z-index: 9;
}
.nav-see-more a span {border-left: solid 3px #f92525;padding: 0px 9px;}
.nav-see-more a:hover,.nav-see-more a:focus {color: #FFF;text-decoration: none;}
.nav-see-more a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f92525;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.nav-see-more a:hover:before,
.nav-see-more a:focus:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* Responsive menu Css Start */
.nav-responsive span {display: none;}
.ie7 .nav-responsive span {display: inline;}
#nav-mobile ul li {list-style: none; position: relative;}
.nav-responsive .expandable {
    background: transparent url("../../images/sprite.png") no-repeat scroll -122px -122px;
    height: 23px;
    width: 31px;
    float: none;
    margin: auto;
}
.responsive-menu {padding: 0; position: relative;}
.responsive-menu #nav-mobile {
    position: absolute;
    z-index: 999;
    margin: 0px;
    width: 100%;
    list-style: none;
}
.responsive-menu #nav-mobile ul {
    margin-left: 15px;
    border-left: solid 1px rgba(0, 0, 0, .3);
}
.responsive-menu .hitarea {
    width: 24px;
    height: 23px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 0;
    position: relative;
    display: table;
}
.responsive-menu li.level0 .hitarea.level-top-hitarea {
    height: 34px;
    background-position-y: -119px;
}
.responsive-menu .expandable .collapsable-hitarea {
    background: url("../../images/sprite.png") no-repeat scroll -237px -127px transparent;
}
.responsive-menu .expandable-hitarea {
    background: url("../../images/sprite.png") no-repeat scroll -204px -124px transparent;
}
.responsive-menu .collapsable-hitarea {
    background: url("../../images/sprite.png") no-repeat scroll -232px -124px transparent;
}
/* Responsive menu Css End */
/*RESPONSIVE TABLE*/
.tm_responsive_container,.tm_responsive_container_footer {width: auto;overflow: hidden;}
.tm_responsive_group {
    float: left;
    margin: 5px 0;
    padding: 3%;
    width: 92%;
    border: 1px solid #f0e7dd;
    color: #4D4D4D;
    background: #Fff;
}
.tm_responsive_row label {width: 100px;display: block;float: left;font-weight: bold;}
.tm_responsive_row span {width: 250px;display: block;float: left;}
.tm_responsive_row {overflow: hidden;border-bottom: 1px solid #f0e7dd;padding: 10px 0;}
.tm_responsive_row span .separator {display: none;}
/*RESPONSIVE TABLE*/