#advancedmenu {
    margin: 0 auto;
    z-index: 11;
}
#advancedmenu .submenu {
    background: white;
    border-bottom: 3px solid #da0712;
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 14px -3px;
}
#advancedmenu .submenu-item-container,
.inner-cms-block  .submenu-item-container{
    width: 28%;
    height: 100%;
    padding: 0;
}
.featured-product{width: 72%;padding: 20px;}
#advancedmenu .submenu-item-container,
.featured-product{float: left;vertical-align: top;}
#advancedmenu .price-box,
.featured-product .price-box{
    display: table;
    min-height: 30px;
    width: 100%;
    margin: 3px auto;
    text-transform: none;
}
#advancedmenu .price-box .price,
.featured-product .price-box .price{
    display: table-cell;
    vertical-align: bottom;
    width: 50%;
}
#category-banner .banner-title,
.featured-product .banner-title{
    padding-bottom: 5px;
}
#category-banner .banner-title .nav-see-more,
.featured-product .banner-title .nav-see-more{
    line-height: normal;
    position: absolute;
    top: 19px;
    right: 18px;
}
#category-banner .banner-title h3,
.banner-title h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
#category-banner .banner-title .nav-see-more a,
.featured-product .banner-title .nav-see-more a{
    padding: 0;
    color: #3f3f3f;
    font-size: 12px;
}
#category-banner .banner-title .nav-see-more a:hover,
.featured-product .banner-title .nav-see-more a:hover{color: #FFF;}
.submenu-product-description .price-box .old-price,
.featured-product .price-box .old-price{
    font-size: 14px;
    color: #515356;
}
.submenu-product-description .price-box .special-price,
.featured-product .price-box .special-price {
    float: right;
    font-size: 14px;
    padding: 0;
}
.advancedmenu-container {margin: auto;}
.submenu-item-container-content {
    float: none;
    white-space: nowrap;
    border-right: 1px solid #EEE;
    padding: 20px 40px 40px 50px;
    height: 100%;
    min-height: 207px;
    min-width: 194px;
}
#advancedmenu .submenu-banner-container {max-height: 380px;overflow-y: auto;}

#advancedmenu .submenu-item a {color: #3f3f3f;}
#advancedmenu .submenu-item a:hover {color: #f92525;}
#advancedmenu .available-options{
    font-size: 13px;
    color: #515356;
    text-transform: none;
    min-height: 20px;
}
div.menu {float: left;padding: 0;height: 100%;}
div.menu.act {
    background:none;
    color: white;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}
.submenu-product-col-description {width: 80%;float: left;}
.feature-desc {text-align: left;}
.feature-desc a{padding: 0;color: #000;}
.submenu-product {
    float: none;
    max-width: 33.333%;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 35px;
}

.feature-img {text-align: center;}
div.megnor-advanced-menu-popup .feature-img a{padding: 0px;}
.feature-img img{max-width: 100%;width: 141px;}
div.menu.active {background:white;color:#f92525;}

.submenu-product-title {font-size: 12px;color: #000000;padding: 0;min-height: 36px;}
.submenu-product-title span{display: block;line-height: 1.256;}
.submenu-product-subtitle-content {
    color: #f92525;
    font-size: 143%;
    font-family: 'OpenSans-regular';
    font-weight: bolder;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 2px solid #f92525;
    width: 77%;
}
.submenu-product-content, .submenu-banner {
    width: 100%;
    height: 100%;
    float: none;
    min-height: 215px;
}
.product-menu-center {text-align: center;}
.submenu-product-col-img-content {position: relative;}
.p-desc-featured:first-letter{text-transform: uppercase;}
.p-desc-featured {
    color: #444;
    font-family: 'OpenSans-regular';
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    padding: 3px 0px;
    min-height: 45px;
    text-transform: lowercase;
}
div.megnor-advanced-menu-popup {
    border: medium none;
    /*display: none;*/
    max-height: 0px;
    position: absolute;
    text-align: left;
    top: 119px !important;
    background: white;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: all .45s ease;
    -o-transition: all .45s ease;
    transition: all .45s ease;
}
div.menu.active div.megnor-advanced-menu-popup{max-height: 1000px;visibility: visible;}
.header-background.f-nav div.megnor-advanced-menu-popup{top: 84px !important;}
.popup-banner {
    left: 50% !important;
    max-width: 1280px !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100% !important;
}
#advancedmenu .menu-item {position: relative;text-transform: uppercase;}
#advancedmenu div.act .parentMenu > a {color: #444;}
.megnor-advanced-menu-popup_inner{padding:7px 12px;}
div.menu a, div.megnor-advanced-menu-popup a {   display:block; }
.menu.active span.menu-parent {color: #f92525;}
div.megnor-advanced-menu-popup a.actParent {color: #f92525;}
div.megnor-advanced-menu-popup a.act {color: #f92525;}
div.column {
    float:left;
    width:155px; /* column width */
    padding:0px 0px 5px;
	margin-right:10px;
}
div.column.last{margin-right:0px;}
div.itemSubMenu {/*margin-left:20px;*/}
.clearBoth {clear:both;}
div.megnor-advanced-menu-popup .block2{ padding:5px 10px;}
#advancedmenu .megnor-advanced-menu-popup .itemMenu  a	{
    font-weight:normal;
    font-size: 13px;
    font-family:'dinmedium', sans-serif;
}
#advancedmenu .level1 > a.itemMenuName {
    font-size: 14px;
	font-weight:normal;
    color:#444;
	text-transform:capitalize;
	margin-left:10px;
}
#advancedmenu div.column {margin: 0;width: 100%;}
.itemSubMenu .itemMenu {margin-bottom:0px;font-family:'dinmedium', sans-serif;}
.itemSubMenu .itemMenu a.itemMenuName{
    color: #a27c66; 
    font-weight: normal;
    padding: 4px 9px;	 
	line-height:18px;

}
.itemSubMenu .itemMenu a:hover{background:#844724; color:#fff;}

.custom_menu:hover .customblock_inner {display: block;} 
.customblock_inner{ background:#FFF; width:250px; padding:5px;}

.price-box a.minimal-price-link span.label {display: none !important;}
.product-shop a.link-learn {display: none !important;}
.catalog-category-view .product-shop a.link-learn {display: none !important;}