/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav { list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider .slides{ padding:0; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; list-style:none !important;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {border: 0;position: relative; clear:both; margin: 0; overflow:hidden;-webkit-border-radius: 0px;
-moz-border-radius: 0px;border-radius: 0px;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {background: #888;margin:0;text-align: center;}

/* Direction Nav */
.flex-direction-nav { margin:0 !important; z-index:999; }
.flex-direction-nav  li{ list-style:none;}
.flexslider:hover .flex-direction-nav { display:block;  margin:0 !important;  }
.flex-direction-nav li a.flex-next,
.flex-direction-nav li a.flex-prev{
    position: absolute;
    font-size: 0;
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -20px;
}
.flexslider .flex-direction-nav a{line-height: 40px;overflow: initial;text-align: center;}
.flexslider .flex-direction-nav a:before{
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 3px 1px 0px #7e807e;
}
.flex-direction-nav li a.flex-next{background-position: -106px -509px;right: 2%;}
.flex-direction-nav li a.flex-prev{background-position: -39px -509px;left: 2%;}
.flex-direction-nav li a.flex-prev:hover{ background-position:-39px -546px;}
.flex-direction-nav li a.flex-next:hover{ background-position:-106px -547px;}

/* Control Nav */
.flex-control-nav {
    position: absolute; bottom:29px; left:50%; margin:0; z-index:8; width:100%; text-align:right;padding: 0 15px;
}
.flex-control-nav li {margin: 0 3px; font-size:0; display:inline-block;}
.flex-control-paging li a {
    box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
    cursor: pointer;
    display:block;
    text-indent: -9999px;
    border-radius: 50%;
    background-color: #FFF;
	width:15px;
	height:15px;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active{
    background-color: #F92525;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.flex-control-paging li a.flex-active{  cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}