<?php $order = $this->getOrder() ?>
<?php if ($order->getRucPim() && $order->getRazonSocialPim()): ?>
	<div class="entry-edit box-right">
	    <div class="entry-edit-head">
	        <h4 class="icon-head"><?php echo Mage::helper('sales')->__('Información Factura') ?></h4>
	    </div>
	    <fieldset>
	        <table class="form-list" cellspacing="0">
	            <tbody>
	            	<tr>
		                <td class="label"><label>RUC</label></td>
		                <td class="value"><strong><?php  echo $order->getRucPim(); ?></strong></td>
		            </tr>
	                <tr>
		                <td class="label"><label>Razón Social</label></td>
		                <td class="value"><strong><span id="order_status"><?php  echo $order->getRazonSocialPim(); ?></span></strong></td>
		            </tr>
                </tbody>
            </table>
	    </fieldset>
	</div>
<?php endif ?>

<div class="clear"></div>