<?php
/*
NOTICE OF LICENSE

This source file is subject to the SafeMageEULA that is bundled with this package in the file LICENSE.txt.

It is also available at this URL: https://www.safemage.com/LICENSE_EULA.txt

Copyright (c)  SafeMage (https://www.safemage.com/)
*/
?>
<?php
$item = Mage::registry('item');
$user = $item->getUser();
?>
<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-view">Summary</h4></div>
    <fieldset>
        <table cellspacing="2" class="box-left">
            <tbody>
            <tr>
                <td><strong>Time:</strong></td>
                <td><?php echo Mage::helper('core')->formatTime($item->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_LONG, true); ?></td>
            </tr>
            <tr>
                <td><strong>User:</strong></td>
                <td><?php echo $user->getName(); ?> (<a href="<?php echo $this->getUrl('adminhtml/permissions_user/edit', array('user_id' => $user->getUserId())); ?>" target="_blank"><?php echo $user->getUsername(); ?></a>)</td>
            </tr>
            <tr>
                <td><strong>Remote Address:</strong></td>
                <td><?php echo $item->getIp(); ?></td>
            </tr>
            <tr>
                <td><strong>Entity Type:</strong></td>
                <td><?php echo $item->getObject(); ?></td>
            </tr>
            <tr>
                <td><strong>Entity ID:</strong></td>
                <td><?php echo $item->getObjectId(); ?></td>
            </tr>
            </tbody></table>

    </fieldset>
</div>
<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-view">Details</h4></div>
    <div class="grid">
    <fieldset style="padding:0;">
        <table cellspacing="2" class="box-left">
            <tbody>
            <tr class="headings">
                <td><strong>Field Name</strong></td>
                <td><strong>From</strong></td>
                <td><strong>To</strong></td>
            </tr>
            <?php foreach($item->getDiff() as $name => $diff): ?>
            <tr>
                <td><?php echo $name; ?></td>
                <td class="td-from"><?php echo is_null($diff[0]) ? '' : $this->_displayDiff($diff[0], $diff[1]); ?></td>
                <td class="td-to"><?php echo is_null($diff[1]) ? '' : $this->_displayDiff($diff[0], $diff[1]); ?></td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </fieldset>
    </div>
</div>