<?php 
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Advancedfilters
 * @version    	1.0.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */ ?>
<?php
  $helper = Mage::helper('productfilters');
  $paramCatagory = $this->getRequest()->getParam('cat');
  /* $parent_id = $helper->getCatagoryParentId($paramCatagory);
  if(!empty($parent_id) && !empty($paramCatagory)){
	$paramCatagory = $parent_id;
  } */
  if(!empty($paramCatagory)) {
   		$catlistHtml = $helper->getTreeCategories($paramCatagory,$this->getLayer()->getProductCollection(), false);
  } else if(Mage::registry('current_category')) {
   		$currentCategoryId = Mage::registry('current_category')->getEntityId();
   		$catlistHtml = $helper->getTreeCategories($currentCategoryId,$this->getLayer()->getProductCollection(), false);
  }  

?>
<div class="catagory_list">
	<?php  echo $catlistHtml; ?>
  <?php 

  $currentCat = Mage::registry('current_category');
      
  $idCat= array_search(7,$currentCat->getPathIds());
  $idObj= array_search(8,$currentCat->getPathIds());
  if ($idCat) {
    $categoryPath = Mage::getModel('catalog/category')->load($currentCat->getPathIds()[$idCat]);
  }elseif ($idObj) {
    $categoryPath = Mage::getModel('catalog/category')->load($currentCat->getPathIds()[$idObj]);
  }
  ?>
    <ul class="list_all"><li><div><a href="<?php echo $categoryPath->getUrl(); ?> ">Todos</a></div></li><ul>  
</div>

<Script>
	jQuery(document).ready(function($){
		$(".product_categories_list .accor").on("click",function(event){
			$(this).toggleClass('minus');
			$(this).parent().children('ul.sub-cat-list').toggle();
  		});
   });
</Script>