<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Advancedfilters
 * @version     1.0.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>
<ol>
<?php foreach ($this->getItems() as $_item): ?>
    <li>
    <div id="mydiv" >
    	<?php if ($_item->getCount() <= 0): ?>
    		<span class="product_block_count_zero"> 
    	<?php endif;?>
    	
	    <input type="checkbox" class="filter_options" 
	    	   data-url="<?php echo $_item->getUrl() ?>" 
	    	   name="<?php echo $_item->getFilter()->getRequestVar(); ?>"
	    	   value="<?php echo $_item->getValueString(); ?>" id="<?php echo $_item->getValueString(); ?>" class="filter"   
	    	  <?php if ($_item->isSelected()): ?> checked="checked" <?php endif; ?>
	    <?php if ($_item->getCount() <= 0): ?>
        	disabled style='cursor:default;'
        <?php endif; ?>
        style='cursor:pointer;'/>
        <label for="<?php echo $_item->getValueString(); ?>"><?php echo $_item->getLabel() ?>
        <?php if ($this->shouldDisplayProductCount()): ?>
          <span class="count f-right">(<?php echo $_item->getCount() ?>)</span>
       <?php endif; ?>
        </label>
       <?php if ($_item->getCount() <= 0): ?>
    		</span> 
       <?php endif;?>
  </div> 
  </li>
<?php endforeach ?>
</ol>
