<?php
$_quote = $this->getQuote();
?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;" style="width: 100%;">
    <thead>
    <tr>
        <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Item') ?></th>
        <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Sku') ?></th>
        <th align="center" bgcolor="#EAEAEA"
            style="font-size:13px; padding:3px 9px"><?php echo $this->__('Image') ?></th>
        <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Qty') ?></th>
        <th align="right" bgcolor="#EAEAEA"
            style="font-size:13px; padding:3px 9px"><?php echo $this->__('Subtotal') ?></th>
    </tr>
    </thead>
    <?php if (is_object($_quote)) : ?>
        <?php $i = 0;
        foreach ($_quote->getAllItems() as $_item): ?>
            <?php if ($_item->getParentItemId()) continue; else $i++; ?>
            <?php if ($_item->getProductType() == 'configurable' || $_item->getProductType() == 'bundle') :
                $finalResult = array();
                $result = array();
                $options = $_item->getProduct()->getTypeInstance(true)->getOrderOptions($_item->getProduct());
                // Check for options
                if ($options) {
                    if (isset($options['options'])) {
                        $result = array_merge($result, $options['options']);
                    }
                    if (isset($options['additional_options'])) {
                        $result = array_merge($result, $options['additional_options']);
                    }
                    if (!empty($options['attributes_info'])) {
                        $result = array_merge($options['attributes_info'], $result);
                    }
                    if (isset($options['bundle_options'])) {


                        $productId = $_item->getProduct()->getId();
                        $bundled_product = Mage::getModel('catalog/product')->load($productId);
                        $selectionCollection = $bundled_product->getTypeInstance(true)->getSelectionsCollection(
                            $bundled_product->getTypeInstance(true)->getOptionsIds($bundled_product), $bundled_product
                        );

                        $bundled_items = array();
                        $label = '';
                        $qty = '';
                        foreach ($selectionCollection as $option) {
                            foreach ($options['bundle_options'] as $bundle) {
                                if ($bundle['value'][0]['title'] == $option->getName()) {
                                    $label = $bundle['label'];
                                    $qty = $bundle['value'][0]['qty'];
                                    $aux_options[] = array('label' => $label, 'value' => $qty . ' x ' . $option->getName() . ' ' . Mage::helper('checkout')->formatPrice($option->getPrice()), 'sku' => $option->getSku());
                                }

                            }
                        }

                        $result = array_merge($result, $aux_options);
                    }
                }
                $options = array_merge($finalResult, $result);
            endif; ?>
            <tbody<?php echo $i % 2 ? ' bgcolor="#F6F6F6"' : '' ?>>
            <tr>
                <?php echo '<td valign="top" align="left" style="padding:3px 9px">' . $_item['name']; ?>
                <?php if (isset($options) && is_array($options)) : foreach ($options as $option) : echo '<br /><strong><em>' . $option['label'] . '</em></strong> ' . $option['value'];
                    if (isset($option['sku'])) : echo ' ' . $option['sku']; endif; endforeach;
                    $options = null; endif; ?>
                <?php echo '<td valign="top" align="left" style="padding:3px 9px">' . $_item['sku'] . '</td>'; ?>
                <?php echo '<td valign="top" align="left" style="padding:3px 9px"><a href="{{var url}}"><img src="' . $this->getImage($_item) . '"/></a></td>'; ?>
                <?php echo '<td valign="top" align="center" style="padding:3px 9px">' . $_item['qty'] . '</td>'; ?>
                <?php echo '<td valign="top" align="right" style="padding:3px 9px">' . $this->getTax($_item) . '</td>'; ?>

            </tr>
            </tbody>
        <?php endforeach; ?>
    <?php endif; ?>
</table>