<?php $columns = Mage::getStoreConfig('onestepcheckout/general/page_layout') ?>
<div class="billing_address section-content">
    <h3 id="billing_step_header" class="font-dinbek_bold step_1"><?php echo $this->__('Step %s:', "1") ?> <?php echo($this->__("Billing Address")); ?><?php if ($columns == "2columns"): ?> <button class="button btn-toggle" type="button"><span class="plus">+</span><span class="minus">-</span></button><?php endif ?></h3>
    <div class="billing-body section-body clearfix" style="display: block;">
    <?php if ($this->customerHasAddresses()): ?>
        <h4 class="section-title font-dinbekregular"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></h4>
        <ul>
            <li><p><?php echo $this->getAddressesHtmlSelect('billing') ?></p></li>
            <li class="no-display"><input type='hidden' name='islogin2' id='islogin2' value='1'/></li>
        </ul>
    <?php else: ?>
        <h4 class="section-title font-dinbekregular"><?php echo $this->__('Complete the following billing information') ?></h4>
    <?php endif; ?>
    <fieldset class="group-select" id="billing-new-address-form" <?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <input type="hidden" name="billing[address_id]" value="<?php echo $this->getBillingAddress()->getId() ?>" id="billing:address_id" />
        <ul>
            <?php $helper = Mage::helper('onestepcheckout') ?>
            <?php $fieldValue = $helper->getFieldValue() ?>
            <?php $fields = $helper->getFieldEnables() ?>
            <?php $isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn() ?>
            <?php $checkCountry = 0 ?>
            <?php $checkRegion = 0 ?>
            <?php $row = 0; ?>
            <?php for ($i = 0; $i < 20; $i++): ?>
                <?php $bfield = $fields[$i]['value'] ?>
                <?php if ($bfield == 'country') $checkCountry = 1 ?>
                <?php if ($bfield == 'region') $checkRegion = 1 ?>
                <?php if ($isLoggedIn && $bfield == 'email') continue; ?>
                <?php if (!$bfield || $bfield == '0') continue; ?>
                <?php if (($i % 2 == 0) || (($i % 2 != 0) && (!$fields[$i - 1]['value'] || $fields[$i - 1]['value'] == '0' || ($isLoggedIn && $fields[$i - 1]['value'] == 'email')))): ?>
                    <li class="blistfield-<?php echo $bfield ?>">
                    <?php endif ?>
                    <?php if ((($i % 2 == 0) && ($bfield && $bfield != '0') && (!$fields[$i + 1]['value'] || $fields[$i + 1]['value'] == '0' || ($isLoggedIn && $fields[$i + 1]['value'] == 'email'))) || (($i % 2 != 0) && ($bfield && $bfield != '0') && (!$fields[$i - 1]['value'] || $fields[$i - 1]['value'] == '0' || ($isLoggedIn && $fields[$i - 1]['value'] == 'email')))):
                        ?>
                        <div class="one-field">
                        <?php else: ?>
                            <div class="two-fields<?php if ($row % 2 != 0) echo ' last' ?>">
                                <?php $row++; ?>
                            <?php endif ?>
                            <?php if (!$bfield || $bfield == '0') continue; ?>
                            <?php if ($bfield == 'street'): ?>
                                <label <?php if ($helper->getFieldRequire($bfield)): ?>class="required" <?php endif ?> for="billing:street1"><?php echo $this->__('Address') ?><?php if ($helper->getFieldRequire($bfield)): ?><em>*</em><?php endif ?>:</label>
                                <input  type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getBillingAddress()->getStreet(1)) ?>" class="<?php if ($helper->getFieldRequire($bfield)) echo 'required-entry'; ?> input-text"/>
                                <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                    <input style="margin-top:10px;"  type="text" title="<?php echo $this->__('Street Address ' . $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->htmlEscape($this->getBillingAddress()->getStreet($_i)) ?>" class="input-text" />
                                <?php endfor ?>

                            <?php elseif ($bfield == 'doctype'): ?>
                            <label class="required" for="billing:doctype"><?php echo Mage::helper('checkout')->__('Document'); ?><em>*</em>:</label>
                            <select id="billing:doctype" name="billing[doctype]" title="<?php echo $this->__('Document Type') ?>" class="required-entry select-doctype">
                                <option value="1"><?php echo Mage::helper('checkout')->__('DNI'); ?></option>
                                <option value="4"><?php echo Mage::helper('checkout')->__('CE'); ?></option>
                                <option value="7"><?php echo Mage::helper('checkout')->__('PASAPORT'); ?></option>
                            </select>
                            <?php elseif ($bfield == 'country'): ?>
                                <label <?php if ($helper->getFieldRequire($bfield)): ?>class="required"<?php endif ?> for="billing:country_id"><?php echo $this->__('Country') ?><?php if ($helper->getFieldRequire($bfield)): ?><em>*</em><?php endif ?>:</label>
                                <?php echo $this->getCountryHtmlSelect('billing') ?>
                                <?php if (!$helper->getFieldRequire($bfield)): ?>
                                    <script type="text/javascript">
                                        if ($('billing:country_id'))
                                            $('billing:country_id').removeClassName('validate-select');
                                    </script>
                                <?php endif ?>
                            <?php elseif ($bfield == 'region'): ?>
                                <label<?php if ($helper->getFieldRequire($bfield)): ?> class="required"<?php endif ?> for="billing:region"><?php echo $this->__('State/Province') ?><?php if ($helper->getFieldRequire($bfield)): ?><em>*</em><?php endif ?>:</label>
                                <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="<?php if ($helper->getFieldRequire($bfield)) echo "validate-select"; ?>" style="display:none;">
                                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                </select>
                                <?php if (!$helper->enableGeoip()): ?>
                                    <script type="text/javascript">
                                        $('billing:region_id').setAttribute('defaultValue', "<?php echo $this->htmlEscape($this->getBillingAddress()->getRegionId()) ?>");
                                    </script>
                                <?php endif; ?>
                                <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getBillingAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="<?php if ($helper->getFieldRequire($bfield)) echo 'required-entry'; ?> input-text" style="display:none" />
                                <?php if (!$helper->getFieldRequire($bfield)): ?>
                                    <script type="text/javascript">
                                        if ($('billing:region_id'))
                                            $('billing:region_id').removeClassName('validate-select');
                                    </script>
                                <?php endif ?>
                            <?php elseif ($bfield == 'prefix'): ?>
                                <?php $customerNameBlock = Mage::getBlockSingleton('customer/widget_name') ?>
                                <label<?php if ($helper->getFieldRequire($bfield)): ?> class="required"<?php endif ?> for="billing:prefix"><?php echo $this->__('Prefix Name') ?><?php if ($helper->getFieldRequire($bfield)): ?><em>*</em><?php endif ?>:</label>
                                <?php if ($customerNameBlock->getPrefixOptions() === false): ?>
                                    <input type="text" id="<?php echo $customerNameBlock->getFieldId('prefix') ?>" name="billing[<?php echo $customerNameBlock->getFieldName('prefix') ?>]" value="" title="<?php echo $this->__('Prefix') ?>" class="input-text <?php if ($helper->getFieldRequire($bfield)) echo "required-entry"; ?>" <?php echo $customerNameBlock->getFieldParams() ?> />
                                <?php else: ?>
                                    <select id="<?php echo $customerNameBlock->getFieldId('prefix') ?>" name="billing[<?php echo $customerNameBlock->getFieldName('prefix') ?>]" title="<?php echo $this->__('Prefix') ?>" class="<?php if ($helper->getFieldRequire($bfield)) echo "required-entry"; ?>" <?php echo $customerNameBlock->getFieldParams() ?>>
                                        <?php foreach ($customerNameBlock->getPrefixOptions() as $_option): ?>
                                            <option value="<?php echo $_option ?>"><?php echo $this->__($_option) ?></option>
                                        <?php endforeach ?>
                                    </select>
                                <?php endif; ?>
                            <?php elseif ($bfield == 'suffix'): ?>
                                <?php $customerNameBlock = Mage::getBlockSingleton('customer/widget_name') ?>
                                <label<?php if ($helper->getFieldRequire($bfield)): ?> class="required" <?php endif ?> for="billing:prefix"><?php echo $this->__('Suffix Name') ?><?php if ($helper->getFieldRequire($bfield)): ?><em>*</em><?php endif ?>:</label>
                                <?php if ($customerNameBlock->getSuffixOptions() === false): ?>
                                    <input type="text" id="<?php echo $customerNameBlock->getFieldId('suffix') ?>" name="billing[<?php echo $customerNameBlock->getFieldName('suffix') ?>]" value="" title="<?php echo $this->__('Suffix') ?>" class="input-text <?php if ($helper->getFieldRequire($bfield)) echo "required-entry"; ?>" <?php echo $customerNameBlock->getFieldParams() ?> />
                                <?php else: ?>
                                    <select id="<?php echo $customerNameBlock->getFieldId('suffix') ?>" name="billing[<?php echo $customerNameBlock->getFieldName('suffix') ?>]" title="<?php echo $this->__('Suffix') ?>" class="<?php if ($helper->getFieldRequire($bfield)) echo "required-entry"; ?>" <?php echo $customerNameBlock->getFieldParams() ?>>
                                        <?php foreach ($customerNameBlock->getSuffixOptions() as $_option): ?>
                                            <option value="<?php echo $_option ?>"><?php echo $this->__($_option) ?></option>
                                        <?php endforeach ?>
                                    </select>
                                <?php endif; ?>
                            <?php elseif ($bfield == 'birthday'): ?>
                                <?php $_dob = $this->getLayout()->createBlock('onestepcheckout/widget_dob') ?>
                                <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                            <?php elseif ($bfield == 'gender'): ?>
                                <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                                <label  <?php if ($helper->getFieldRequire($bfield)): ?>class="required"<?php endif ?> for="<?php echo $_gender->getFieldId('gender') ?>"><?php echo $this->__('Gender') ?><?php if ($helper->getFieldRequire($bfield)): ?><em>*</em><?php endif ?>:</label>
                                <select id="<?php echo $_gender->getFieldId('gender') ?>" name="billing[<?php echo $_gender->getFieldName('gender') ?>]" title="<?php echo $this->__('Gender') ?>" class="<?php if ($helper->getFieldRequire($bfield)) echo "validate-select"; ?>" <?php echo $_gender->getFieldParams() ?>>
                                    <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions(); ?>
                                    <?php $value = $_gender->getGender(); ?>
                                    <?php foreach ($options as $option): ?>
                                        <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value||$option['value']==$this->getCustomerData($_gender->getFieldName('gender'))) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            <?php elseif ($bfield == 'postcode'): ?>
                                    <!--id="billing:postcode"-->
                                    <label<?php if ($helper->getFieldRequire($bfield)): ?> class="required"<?php endif ?> for="billing:<?php echo $bfield; ?>"><?php echo $this->__($fieldValue[$bfield]) ?>
                                    <?php if ($helper->getFieldRequire($bfield)): ?><em>*</em><?php endif ?>:</label>
                                    <select id="billing:postcode" name="billing[postcode]" title="Provincia - Distrito" class="input-text required-entry select-postcode" style="">
                                        <option value="">Por Favor, Seleccione una Provincia - Distrito</option>
                                    </select>

                            <?php else: ?>
                                <label<?php if ($helper->getFieldRequire($bfield) || $bfield == 'firstname' || $bfield == 'lastname' || $bfield == 'email'): ?> class="required"<?php endif ?> for="billing:<?php echo $bfield; ?>"><?php echo $this->__($fieldValue[$bfield]) ?>
                                    <?php if ($helper->getFieldRequire($bfield) || $bfield == 'firstname' || $bfield == 'lastname' || $bfield == 'email'): ?><em>*</em><?php endif ?>:</label>

                                <?php $_class = ""; $maxlength = "";
                                if ($bfield == 'telephone'){
                                    $_class = " validate-phone-nro validate-digits ";
                                    $maxlength = 'maxlength="9"';
                                }
                                ?>
                                <input type="text" id="billing:<?php echo $bfield; ?>" autocomplete="off" name="billing[<?php echo $bfield; ?>]" value="<?php echo $this->htmlEscape($this->getCustomerData($bfield)) ?>" title="<?php echo $this->__($fieldValue[$bfield]) ?>" class="input-text <?php echo $_class ?><?php if ($helper->getFieldRequire($bfield) || $bfield == 'firstname' || $bfield == 'lastname' || $bfield == 'email') echo 'required-entry';echo $retVal = ($bfield == 'postcode') ? ' input-postcode' : '' ;echo $retVal = ($bfield == 'fax') ? '' : '' ?>" <?php echo $maxlength ?> />
                                <?php if ($helper->enableGeoip()): ?>
                                    <?php if (($bfield == 'postcode') && $helper->allowDetectByPostcode()): ?>
                                        <span id="billing_<?php echo $bfield ?>_autocomplete_indicator" class="autocomplete-indicator" style="display:none;">
                                            <img class="v-middle" alt="Loading..." src="<?php echo $this->getSkinUrl('images/geoip/indicator.gif') ?>">
                                        </span>
                                        <div id="billing:<?php echo $bfield . '_autocomplete'; ?>" class="autocomplete" style="display:none; position:absolute; background-color:#FFFFFF; max-height:230px; overflow:auto; border:1px solid #B6B6B6"></div>
                                    <?php endif; ?>
                                    <?php if (($bfield == 'city') && $helper->allowDetectByCity()): ?>
                                        <span id="billing_<?php echo $bfield ?>_autocomplete_indicator" class="autocomplete-indicator" style="display:none;">
                                            <img class="v-middle" alt="Loading..." src="<?php echo $this->getSkinUrl('images/geoip/indicator.gif') ?>">
                                        </span>
                                        <div id="billing:<?php echo $bfield . '_autocomplete'; ?>" class="autocomplete" style="display:none; position:absolute; background-color:#FFFFFF; max-height:230px; overflow:auto; border:1px solid #B6B6B6"></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <?php if ($bfield == 'email'): ?>
                                    <span id="valid_email_address_image" style="display:none;"><img src="<?php echo $this->getSkinUrl('images/onestepcheckout/valid.gif') ?>" title="<?php echo $this->__('Valid Email Address'); ?>" alt="<?php echo $this->__('Valid Email Address'); ?>" width="18"/></span>
                                    <div id="email-error-message" class="error-message"></div>
                                <?php endif ?>
                            <?php endif ?>
                        </div>
                        <?php if (($i % 2 != 0) || (($i % 2 == 0) && (!$fields[$i + 1]['value'] || $fields[$i + 1]['value'] == '0' || ($isLoggedIn && $fields[$i + 1]['value'] == 'email')))): ?>
                    </li>
                <?php endif ?>
            <?php endfor ?>
            <?php if ($checkCountry == 0): ?>
                <div style="display:none;">
                    <?php echo $this->getCountryHtmlSelect('billing') ?>
                </div>
            <?php endif ?>
            <?php if (!$this->isCustomerLoggedIn() && Mage::helper('onestepcheckout')->enableRegistration() && Mage::helper('onestepcheckout')->allowGuestCheckout()): ?>
                <li class="create_account">
                    <div>
                        <input id="create_account_checkbox_id" type="checkbox" name="create_account_checkbox" value="1" />
                        <label for="create_account_checkbox_id"><?php echo $this->__('Create an account for later use') ?></label>
                    </div>
                </li>
                <script type="text/javascript">
                    Event.observe('create_account_checkbox_id', 'click', function() {
                        if ($('create_account_checkbox_id').checked)
                            $('password_section_id').show();
                        else
                            $('password_section_id').hide();
                    });
                </script>
            <?php endif; ?>
            <?php if (!$this->isCustomerLoggedIn() && (Mage::helper('onestepcheckout')->enableRegistration() || !Mage::helper('onestepcheckout')->allowGuestCheckout())): ?>
                <li id="password_section_id" <?php if (!Mage::helper('onestepcheckout')->allowGuestCheckout()): ?>style="display:block"<?php else: ?>style="display:none"<?php endif ?>>
                    <div class="two-fields">
                        <label class="required"  for="billing:customer_password"><?php echo $this->__('Password') ?> <em>*</em></label><br/>
                        <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                    </div>
                    <div class="two-fields last">
                        <label class="required"  for="billing:confirm_password"><?php echo $this->__('Confirm Password') ?> <em>*</span></em></label><br/>
                        <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                    </div>
                </li>
            <?php endif ?>
            <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()): ?>
                <li class="control">
                    <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getBillingAddress()->getSaveInAddressBook()): ?> checked="checked"<?php endif; ?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                </li>
            <?php else: ?>
                <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
            <?php endif; ?>
            <li style="display:none;">
                <input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping" value="1" />
            </li>

<?php if ($this->isCustomerLoggedIn()):?>
			<li><input type='hidden' name='islogin' id='islogin' value='1'/></li>
		<?php endif;?>
		<li><input type='hidden' name='emailvalid' id='emailvalid' value=''/></li>

        </ul>
    </fieldset>
    <?php if ($this->isShowShippingAddress()): ?>
        <ul>
            <li class="shipping_other_address">
                <div class="input-box input-different-shipping">
                    <input onclick="showDifferentAdress();" type="checkbox" name="shipping[different_shipping]" id="shipping:different_shipping" value="1" />
                    <label for="shipping:different_shipping"><?php echo $this->__('Ship to different address'); ?></label>
                </div>
            </li>
        </ul>
    <?php else: ?>
        <li style="display: none;">
        <input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping" value="1" />
        </li>
    <?php endif; ?>
    <div class="condicion_factura">
      <input type="checkbox" name="is_ruc" id="is_ruc2" value="1" class="no-display" />
      <label for="is_ruc2" class="item_check_label">¿ Necesita Factura ?</label>
    </div>
    
    <ul class="extra_fields_checkout_ruc clearfix no-display">
        <li><div class="one-field">
            <label class="required" for="ruc_input">RUC:</label>
            <input type="text" title="RUC" name="ruc_pim" id="ruc_input" value="00000000000" class="required-entry input-text" maxlength="11">
        </div></li><li>
        <div class="one-field">
            <label class="required" for="razon_social_input">Razón Social:</label>
            <input type="text" title="RAZON SOCIAL" name="razon_social_pim" id="razon_social_input" value="." class="required-entry validate_razon_social input-text">
      </div></li>
    </ul>
</div>
    
</div>
<script type="text/javascript">
    //<![CDATA[
    var countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?>;
    var regionsDistricts = <?php echo $this->helper('provincedropdown')->getProvinceJson() ?>
    //jQuery('.input-postcode').removeAttr("id").hide();
    if ($('billing:region') || $('billing:region_id'))
        var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions);
    if ($('billing:postcode')) {
        var billingProvinceUpdater = new ProvinceUpdater('billing:region_id','billing:postcode', regionsDistricts);
    }

<?php if (!$helper->getFieldRequire('region')): ?>
    if ($('billing:region_id')) {
        $('billing:region_id').removeClassName('validate-select');
        $('billing:region_id').removeClassName('required-entry');
    }
<?php endif ?>
        if ($('billing:email')) {
			Event.observe(document, "dom:loaded", function() {
				var url = '<?php echo $this->getUrl('onestepcheckout/index/is_valid_email', array('_secure' => true)) ?>';
				var email_address = $('billing:email').value;
				var parameters = {email_address: email_address};
				var request = new Ajax.Request(
						url,
						{
							parameters: parameters,
							onComplete: check_valid_email.bindAsEventListener($('billing:email')),
							onFailure: ''
						});
			});
            Event.observe('billing:email', 'change', function() {
                var url = '<?php echo $this->getUrl('onestepcheckout/index/is_valid_email', array('_secure' => true)) ?>';
                var email_address = $('billing:email').value;
                var parameters = {email_address: email_address};
                var request = new Ajax.Request(
                    url,
                    {
                        parameters: parameters,
                        onComplete: check_valid_email.bindAsEventListener(this),
                        onFailure: ''
                    });
            });
        }
        if ($('billing-address-select')) {
            Event.observe('billing-address-select', 'change', function() {
                var isNew = $('billing-address-select').value ? false : true;
                setNewAddress(isNew, 'billing', save_address_url, update_address_shipping, update_address_payment, update_address_review);
            });
        }
    //]]>

<?php if ($helper->enableGeoip()): ?>
            /*
             Show list postcode billing
             */
    <?php if ($helper->allowDetectByPostcode()): ?>
            new Ajax.Autocompleter(
                'billing:postcode',
                'billing:postcode_autocomplete',
                '<?php echo $this->getUrl('onestepcheckout/geoip/checkPostcode') ?>',
                {
                    paramName: 'postcode',
                    minChars:<?php echo $helper->getMinCharsPostcode() ?>,
                    indicator: 'billing_postcode_autocomplete_indicator',
                    updateElement: fillFilterBilling,
                    evalJSON: 'force'
                }
            );
    <?php endif; ?>

            /*
             Show list city billing
             */
    <?php if ($helper->allowDetectByCity()): ?>
            new Ajax.Autocompleter(
                'billing:city',
                'billing:city_autocomplete',
                '<?php echo $this->getUrl('onestepcheckout/geoip/checkCity') ?>',
                {
                    paramName: 'city',
                    minChars:<?php echo $helper->getMinCharsCity() ?>,
                    indicator: 'billing_city_autocomplete_indicator',
                    updateElement: fillFilterBilling,
                    evalJSON: 'force'
                }
            );
    <?php endif; ?>

            function fillFilterBilling(li)
            {
                var country = li.getAttribute('country');
                var region = li.getAttribute('region');
                var region_id = li.getAttribute('region_id');
                var city = li.getAttribute('city');
                var postcode = li.getAttribute('postcode');
                if (city != '') {
                    if ($('billing:postcode')) {
                        $('billing:postcode').value = postcode;
                    }
                }
                if (country != '') {
                    if ($('billing:country_id')) {
                        $('billing:country_id').value = country;
                    }
                }
                if (region != '') {
                    if ($('billing:region')) {
                        $('billing:region').value = region;
                    }
                }

                if (region_id != '') {
                    if ($('billing:region_id')) {
                        $('billing:region_id').value = region_id;
                    }
                }

                if (city != '') {
                    if ($('billing:city')) {
                        $('billing:city').value = city;
                    }
                }

                updateBillingRegion();

            }
<?php endif; ?>
        function updateBillingRegion() {
            var countryEl = $('billing:country_id');
            var regionTextEl = $('billing:region');
            var regionSelectEl = $('billing:region_id');
            var regions = <?php echo $this->helper('directory')->getRegionJson() ?>;
            var config = regions['config'];
            delete regions.config;
            var regions = regions;
            var zipEl = $(zipEl);
            disableAction = (typeof disableAction == 'undefined') ? 'hide' : disableAction;

            updateRegion(countryEl, regionTextEl, regionSelectEl, regions, disableAction, zipEl);
        }
        updateBillingRegion();

    <?php if (Mage::getStoreConfig('onestepcheckout/general/suggest_address', Mage::app()->getStore()->getStoreId())): ?>
            var autocompleteBilling;
            //Huy - change from sublocality => sublocality_level_1
            var componentBillingForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'short_name',
                postal_code: 'short_name',
                sublocality_level_1: 'long_name'
            };

            autocompleteBilling = new google.maps.places.Autocomplete(
                    (document.getElementById('billing:street1')),
                    {types: ['geocode']});

            google.maps.event.addListener(autocompleteBilling, 'place_changed', function() {
                fillBillingAddress();
            });

            function fillBillingAddress() {
                var place = autocompleteBilling.getPlace();
                var street, city, region_id, region, country, postal_code, sublocality;

                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    if (componentBillingForm[addressType]) {
                        if (addressType == 'street_number') {
                            if (street)
                                street += ' ' + place.address_components[i][componentBillingForm['street_number']];
                            else
                                street = place.address_components[i][componentBillingForm['street_number']];
                        }
                        if (addressType == 'route') {
                            if (street)
                                street += ' ' + place.address_components[i][componentBillingForm['route']];
                            else
                                street = place.address_components[i][componentBillingForm['route']];
                        }
                        if (addressType == 'locality')
                            city = place.address_components[i][componentBillingForm['locality']];
                        if (addressType == 'administrative_area_level_1') {
                            region_id = place.address_components[i]['short_name'];
                            region = place.address_components[i]['long_name'];
                        }
                        if (addressType == 'country')
                            country = place.address_components[i][componentBillingForm['country']];
                        if (addressType == 'postal_code')
                            postal_code = place.address_components[i][componentBillingForm['postal_code']];
                        //Huy - change from sublocality => sublocality_level_1
                        if (addressType == 'sublocality_level_1')
                            sublocality = place.address_components[i][componentBillingForm['sublocality_level_1']];
                    }
                }
                fillAddress('billing', street, city, region_id, region, country, postal_code, sublocality);
            }
    <?php endif; ?>



    <?php
    $helper          = Mage::helper('provincedropdown');
    $address         = Mage::getSingleton('checkout/session')->getQuote()->getBillingAddress();
    $defaultCity     = $address->getCity();
    $defaultPostCode = $address->getPostcode();

    $citiesOptions   = addslashes($helper->getUaeCitiesAsDropdown($defaultCity));
    ?>
    /*var billingPostcode = '<?php echo $defaultPostCode ; ?>';
    function billingSwitchCityField(){
        var selectVal = jQuery('#billing\\:country_id option:selected').val();
        if(selectVal != "PE"){
            
            jQuery('.input-postcode').css('display','block');
            jQuery('.select-postcode').css('display','none');
            jQuery('.input-postcode').html('').fadeIn();

        }

    }
    function billingSwitchDistritoField(region_id){
        if (region_id == '') {
            var selectValD = jQuery('#billing\\:region_id option:selected').text();
        }else{
            var selectValD =region_id;
        }
        jQuery.ajax({
            url: "<?php echo $this->getUrl('provincedropdown/ajax/endereco') ?>",
            type: "POST",
            data: "region="+selectValD+"&type=billing&province_default="+billingPostcode,
            beforeSend: function () {
                jQuery('.select-postcode').attr('disabled', true);
            },
            success: function(data) {
                jQuery('.select-postcode').removeAttr('disabled');
                if (data) {
                defalut = '<option value="">Por Favor, Seleccione una Provincia - Distrito</option>';
                data = defalut+data;
                

                jQuery('.select-postcode').attr("id","billing:postcode").show();
                jQuery('.select-postcode').find('option').remove();
                jQuery('.select-postcode').html(data).fadeIn();

                jQuery('.input-postcode').removeAttr("id").hide();
                }else{

                jQuery('.select-postcode').removeAttr("id").hide();

                jQuery('.input-postcode').attr("id","billing:postcode").show();
                jQuery('.input-postcode').html('').fadeIn();
                }
                oscvalidate($('billing:postcode'));
                if (typeof getBillingPostcode !== 'undefined') {getBillingPostcode();}
            }
        });

    }
    */
   jQuery(document).ready(function(){
    jQuery('.input-postcode').removeAttr("id").hide();
    jQuery(".blistfield-city").addClass('hidden');
    jQuery(".slistfield-city").addClass('hidden');
    jQuery('#billing\\:city').val("<?php echo $defaultCity ?>");

    var selectValD = jQuery('#billing\\:region_id option:selected').text();
        //billingSwitchDistritoField(selectValD);
        jQuery('#billing\\:country_id').change(function() {
            //billingSwitchCityField();
        });
        jQuery('#billing\\:region_id').change(function() {
            //billingSwitchDistritoField('');
        });
        jQuery('.select-postcode').change(function() {
            var bpvalue = jQuery(this).val();
            jQuery('.input-postcode').val(bpvalue);
            if (bpvalue.length) {
                var _bpvalue = bpvalue.split("-")[1].trim();
                jQuery('#billing\\:city').val(_bpvalue);
            }
            oscvalidate($('billing:city'));
            getBillingPostcode();
        });
        if (jQuery('#billing\\:doctype').length) {
            var select_btd = jQuery('#billing\\:doctype option:selected').val();
            classValidateDocument(select_btd, "billing\\:fax");
            jQuery('#billing\\:doctype').change(function() {
                classValidateDocument(jQuery(this).val(), "billing\\:fax");
                oscvalidate($('billing:fax'));
            });
        }
        else {
            classValidateDocument("7", "billing\\:fax");
        }

        jQuery("#is_ruc2").bind("change", function(){
        if(jQuery(this).is(":checked")) {
            jQuery(".extra_fields_checkout_ruc").removeClass("no-display");
            jQuery("#ruc_input").addClass("validate-ruc");
            jQuery("#ruc_input").val("");
            jQuery("#razon_social_input").val("");

        } else {
            jQuery(".extra_fields_checkout_ruc").addClass("no-display");
            jQuery("#ruc_input").removeClass("validate-ruc");

            jQuery("#ruc_input").val("00000000000");
            jQuery("#razon_social_input").val(".");
        }
    });
   })
</script>
