<?php
	$collectionStores = $this->getCollectionStoreLocation();
	$storescount = count($collectionStores);
	$lima_Id = "";
	$states = array();
	$store_filters = "";
?>
<?php if ($storescount > 0) { ?>
<div class="form-list liststores" id="shipping_form_storepickup_storepickup">
 	<div class="table d-table select_departament form-group"<?php if ($storescount == 1): ?> style="display: none;"<?php endif ?>>
 		<div class="d-table-cell col-xs-6 col-sm-5 v-middle text-left" style="padding-left: 0;">
		<label for="departament_shipping">Departamento:</label>
		</div>
		<div class="d-table-cell col-xs-6 col-sm-7 v-middle no-padding">
		<select id="departament_shipping" class="validate-select validation-passed">
			<option value="">Por favor seleccione...</option>
			<?php foreach ($collectionStores as $key => $store) {
				$states[$store->getStateId()] = $store->getState();
				$datos_state[] = $store->getState();
			 	//$cities[] = $store->getCity();
			 	$state_name = str_replace(' ','', $store->getCity());

			 	$_cities[$state_name] = array(
			 		'city' => $store->getCity(),
					'state_id' => $store->getStateId(),
					'state' => $store->getState(),
				);

			 	$store_filters .= '<div class="item-'.$store->getStateId().' item-store d-flex align-items-center" data-storeid="'.$store->getStorelocatorId().'" data-city="'.$state_name.'"><div class="info-store"><div class="store-header row"><div class="table d-table no-margin"><div class="ic-store text-center col-xs-2"><i class="fa fa-shopping-cart"></i></div><div class="col-xs-10"><h4 class="store-name no-margin"><strong>'.$store->getName().'</strong></h4></div></div></div><div class="info-store-row info-st-tb row"><div class="table d-table no-margin"><div class="ic-store text-center col-xs-2"><i class="fa fa-map-marker"></i></div><div class="address-store col-xs-10">'.$store->getAddress().', '.$store->getCity().', '.$store->getState().'<div class="phone-store no-display">'.$store->getPhone().'</div></div></div></div></div></div>';
			}
			$states = array_unique($states);
			//$cities = array_unique($cities);
			//$lima_Id = array_keys($states)[0];
			$lima_Id = array_search('Lima', $states);
			?>

			<?php foreach ($states as $key => $state) {
				echo '<option value="'.$key.'">'.$state.'</option>';
			} ?>
		</select>
		</div>
	</div>
	<div id="detail-selected-store-locator"></div>
	<span id="txt-dias-entrega"></span>
	<!--<div id="content-contact-storepickup" class="hide">
		<div class="title-store" style="color: #90949c;padding: 10px 0 0 0;"><strong>Datos de la persona que va a recoger el pedido</strong></div>
		<div class="extra_fields_storepickup">
			<label class="required" for="storepickup:">Nombre:</label>
			<br>
			<input type="text" title="Nombre" name="name_storepickup" id="name_storepickup" value="" class="required-entry input-text">
			<label class="required" for="storepickup:">DNI:</label>
			<br>
			<input type="text" title="Razón Social" name="dni_storepickup" id="dni_storepickup" value="" class="required-entry input-text validate-dni">
		</div>
	</div>-->
</div>

<div id="modal-storelocator" class="modal fade text-center" aria-hidden="false" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="title-storelocator modal-header">
				<h2 class="modal-title"><?php echo $this->__('Seleccione una tienda'); ?></h2>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="list_stores filterstoreslist modal-body no-padding">
				<div class="text-center checkout-totals-loading" id="checkout-storepickup-loading" style="display:none;z-index: 9;">
                    <div class="table d-table no-margin h-100"><div class="d-table-cell col-xs-12"><i class="fa fa-spin fa-spinner fa-2x"></i></div></div>
                </div>
            <div class="filter-list-store" style="display:none;">
			<ul class="filter-store clearfix d-flex align-items-center">
			<?php
			$counter = 0;
			foreach ($_cities as $key => $city) {
				$counter++;
			 	if ($city['state_id'] == $lima_Id) {
			 		echo '<li><input class="no-display" type="checkbox" id="ls-'. $counter.'" data-state="'.$city['state'].'" value="'.$key.'"><label class="tag-checked" for="ls-'.$counter.'">'.$city['city'].'</label></li>';
			 	}
			} ?>
			</ul>
			</div>
			<div class="itemstores text-left d-flex"><?php echo $store_filters ?></div>
			<div class="error" id="pim-message-error"></div>
			</div>
		</div>
	</div>
</div>
<?php } ?>
<input type="hidden" class="required-entry" name="mst_store_id" value="" id="select_store_id" />
<div  class="error" id="pim-error"></div>
<?php if($storescount > 0) { ?>
<script type="text/javascript">
var InfostorePopup = Class.create();
var arrayInfoStoreLocator = [];
InfostorePopup.prototype = {
    initialize: function(store_id,html , latitude, longtitude ){
        this.store_id = store_id;
        this.html = html;
    }
}

function storeShow() {
<?php foreach ($collectionStores as $store) { ?>
	<?php $hours = '<div class="phone-hours" style="border: 1px solid #ddd;"><button type="button" class="open_hour_title text-center button w-100 collapsed" data-toggle="collapse" data-target="#table-hours"><i class="fa fa-clock-o"></i> '.$this->__('Opening hours').' <i class="fa fa-angle-down"></i></span></button><div class="collapse" id="table-hours"><table class="table no-margin">'.Mage::helper("storelocator")->getWorkingTime($store, "G:i").'</table></div></div>'; ?>
	var store_id = <?php echo $store->getStorelocatorId(); ?>;
	var info_store = '<div class="info-store-content"><h4 class="title-store"><strong><?php echo htmlentities( (string) $store->getName(), ENT_QUOTES, 'utf-8', FALSE); ?></strong></h4><div class="address-store"><?php echo htmlentities( (string) $store->getAddress(), ENT_QUOTES, 'utf-8', FALSE); ?>, <?php echo htmlentities( (string) $store->getCity(), ENT_QUOTES, 'utf-8', FALSE); ?>, <?php echo htmlentities( (string) $store->getState(), ENT_QUOTES, 'utf-8', FALSE); ?></div><div class="phone-store hide"><?php echo $store->getPhone(); ?></div></div><?php echo $hours ?></div>';
	//info
	info_popup = new InfostorePopup(store_id, info_store);
	arrayInfoStoreLocator.push(info_popup);
<?php } ?>
}

function storeActive(storeId) {
	//console.log(storeId);
	var form_key = "<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>";
	var param = {
		form_key:form_key,
		store: storeId
	}
	$('checkout-storepickup-loading').show();
	//console.log(storeId);
	var ajax = new Ajax.Request("/navasoft/navasoft/check/", {
		method: 'post',
		onSuccess: function(transport) {
			var status_store = false;
			var message_store = 'La tienda no tiene stock.';
			if(transport.status == 200) {
				$('checkout-storepickup-loading').hide();
				data  = transport.responseText.evalJSON();
				//console.log(data);
				if (data.status) {
					status_store = true;
					jQuery('#modal-storelocator').modal("hide");
					jQuery('#modal-storelocator').on("bs.modal.hidden", function () {
					if(jQuery('.filter-store input[type="checkbox"]').prop('checked', true)){
			        	jQuery('.filter-store input[type="checkbox"]').removeAttr('checked');
			        	}
			        	jQuery('.list_stores .item-store').css('display','');
					})
					$('pim-message-error').update('');
					message_store = '';
				} else {
					//console.log(data.message);
					$('pim-message-error').update(data.message);
					message_store = data.message;
				}
          	} else {
          		//console.log('false');
			}
			for(i=0 ; i<arrayInfoStoreLocator.length; i++) {
				if(arrayInfoStoreLocator[i].store_id == storeId){
					if (arrayInfoStoreLocator[i]) {
						if(jQuery('#select_store_id') != undefined) {
							jQuery('#detail-selected-store-locator').html(arrayInfoStoreLocator[i].html);
							if (status_store) {
								jQuery('#select_store_id').val(arrayInfoStoreLocator[i].store_id);
								$('pim-error').update('');
							} else {
								jQuery('#select_store_id').val('');
								$('pim-error').update(message_store);
							}
						}
						jQuery('.item-' + storeId).addClass('active');
					}
					break;
				}
			}
      },
      parameters: param
  });
	/*Elegir tienda en popup de checkout*/
}

jQuery(document).ready(function() {
	jQuery( "#departament_shipping" ).change(function() {
		storeShow();

	    var dep_id = jQuery(this).val();
		var LimaId = '<?php echo $lima_Id; ?>';
		if (dep_id) {
			jQuery('#modal-storelocator').modal({backdrop: 'static', keyboard: false});
	        if (dep_id == LimaId) {
				jQuery('.filter-list-store').css('display','');
			} else {
				jQuery('.filter-list-store').css('display','none');
			}
			filter_store(dep_id);
			jQuery('.itemstores .item-store').addClass('hidden-store');
			jQuery('.item-'+dep_id).removeClass('hidden-store');
		} else {
			jQuery('#detail-selected-store-locator').html('');
			jQuery('#select_store_id').val('');
		}

	    switch(dep_id) {
		    case '497': mensajeFechaEntrega = 'Recoge tu pedido en 7 días hábiles.'; break;
		    case '488': mensajeFechaEntrega = 'Recoge tu pedido en 7 días hábiles.'; break;
		    case '495': mensajeFechaEntrega = 'Recoge tu pedido en 5 días hábiles.'; break;
		    case '504': mensajeFechaEntrega = 'Recoge tu pedido en 7 días hábiles.'; break;
		    case '496': mensajeFechaEntrega = 'Recoge tu pedido en 7 días hábiles.'; break;
		    case '494': mensajeFechaEntrega = 'Recoge tu pedido en 7 días hábiles.'; break;
		    case '499': mensajeFechaEntrega = 'Recoge tu pedido en 5 días hábiles.'; break;
		    case '498': mensajeFechaEntrega = 'Recoge tu pedido en 7 días hábiles.'; break;
		    case '486': mensajeFechaEntrega = 'Recoge tu pedido en 7 días hábiles.'; break;
		    default:
		        mensajeFechaEntrega = "";
		}
		//jQuery('#txt-dias-entrega').text(mensajeFechaEntrega);
  	});
	jQuery('#modal-storelocator').on('hidden.bs.modal', function () {
		if ($('select_store_id').value == '') {
			jQuery( "#departament_shipping" ).val("").change();
		}
	})

  	<?php if ($storescount == 1) { ?>
	storeShow();
	var item_storeid = jQuery('.itemstores .item-store:first').data('storeid');
	storeActive(item_storeid);
  	<?php } ?>
});

/*Filtrar tiendas*/
function filter_store(dep_id) {
	jQuery('.itemstores .item-'+dep_id).unbind('click');
	jQuery('.itemstores .item-'+dep_id).on("click", function () {
		var storeId = jQuery(this).data("storeid");
		storeActive(storeId);
	})
    jQuery('.filter-store input[type="checkbox"]').click(function() {
    	var checked = jQuery('.filter-store input[type="checkbox"]:checked');
        if (checked.length > 0) {
        	jQuery('.itemstores .item-store').addClass('hidden-store');
        	checked.each(function() {
            	jQuery('.itemstores .item-store[data-city=' + this.value + ']').removeClass('hidden-store');
           });
		} else {
	       jQuery('.itemstores .item-'+dep_id).removeClass('hidden-store');
		}
    })
}
</script>
<?php } ?>