<?php
	$i = 0;
	$pm_body = '';
	/*$params = $this->getRequest()->getParams();
	$s_region = Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress()->getRegion();
	Mage::log($s_region);
	$upon_delivery = false;
	if (isset($params['urb_type']) && $params['urb_type'] == '4') {
		$upon_delivery = true;
	}*/
?>
<h4 class="section-title font-dinbekregular"><?php echo $this->__('Select your payment method') ?></h4>
<dl class="sp-methods" id="checkout-payment-method-load">
<div class="sp-methods-list row row-medium field-row d-flex form-group">
<?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
<?php $i++;?>
<?php
	/*if (isset($params['shipping_method'])) {
		$_shipping_method = $params['shipping_method'];
		if($_shipping_method == 'motoboy_motoboy') {
		    if($_code == 'payupagoefectivo') {
		    	$i = $i + 1;
		        continue;
		    }
		}
		else if ($_shipping_method == 'ondeliveryship_ondeliveryship') {
			if($_code != 'posvisa' && $_code != 'posmastercard' && $_code != 'ondelivery') {
				$i = $i + 1;
		        continue;
		    }
		    if ($_code == 'ondelivery' && $s_region != "Lima") {
		    	$i = $i + 1;
		        continue;
		    }
		} else {
			if($_code == 'posvisa' || $_code == 'posmastercard') {
				$i = $i + 1;
		        continue;
		    }
		    if($_shipping_method != 'servientrega_servientrega') {
				if($_code == 'ondelivery') {
					$i = $i + 1;
			        continue;
			    }
			}
		}
		
		if ($_shipping_method == 'urbaner_urbaner' && !$upon_delivery) {
			if($_code == 'posvisa' && $_code == 'posmastercard') {
				$i = $i + 1;
		        continue;
		    }
		}
	}*/
?>
<?php if($i != count($this->getMethods())):?>
	<style type="text/css">
		#advice-validate-one-required-by-name-p_method_<?php echo $_code ?>{display: none !important;}
	</style>
<?php endif;?>
	<div class="payment-method-item col-xs-6 col-sm-4<?php if ($this->getSelectedMethodCode()==$_code): ?> active<?php endif ?>">
        <?php $icon = $this->getSkinUrl("images/checkout/mdp/")."p_method_" . $_code . ".svg" ?>
		<div class="d-table table no-margin h-100">
		<div class="v-middle col-xs-12 no-padding">
	<?php if( sizeof($this->getMethods()) > 1 ): ?>
		<input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" onclick="save_shipping_method(shipping_method_url,0,update_payment_review);" <?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> class="radio validate-one-required-by-name" />
	<?php else: ?>
		<input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio validate-one-required-by-name" onclick="save_shipping_method(shipping_method_url,0,update_payment_review);" />
	<?php endif; ?>
        <label class="d-flex h-100 align-items-center" for="p_method_<?php echo $_code ?>">
        <?php echo Mage::helper('jnqadmin')->getSVGPath($icon) ?>
        <span class="sp_text v-middle"><?php echo $this->getMethodTitle($_method) ?></span><span class="no-display"><?php echo $this->getMethodLabelAfterHtml($_method) ?></span></label>
		<?php echo $this->getCarrierName($_code) ?>
		</div>
		</div>
	</div>
	<?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
	<?php $pm_body .= '<div id="container_payment_method_'.$_code.'" class="payment-method" style="display: none;">'.$html.'</div>'; ?>
	<?php endif; ?>
<?php endforeach; ?>
</div>
<?php if (count($this->getMethods())): ?>
	<div class="sp-methods-body"><?php echo $pm_body ?></div>
<?php endif ?>
</dl>
<div class="tool-tip" id="payment-tool-tip" style="display:none;">
	<div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
	<div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
</div>
<script type="text/javascript">
//<![CDATA[
$$('#checkout-payment-method-load .payment-method-item input').invoke('observe', 'click', function(e) {
    var element = e.element();
    var name = 'payment_form_' + element.value;

    /* Hide all other forms */
    $$('.sp-methods .payment-method').invoke('hide');

    if(element.checked) {
        var form = $(name);
        var container = $('container_payment_method_' + element.value);

        if(element !== null && container !== null) {
            container.show();
            if ($(name)) {
            	$(name).show();
            }
        }
    }
});

	function toggleToolTip(event){
		if($('payment-tool-tip')){
			$('payment-tool-tip').setStyle({
				top: (Event.pointerY(event)-560)+'px'//,
				//left: (Event.pointerX(event)+100)+'px'
			})
			$('payment-tool-tip').toggle();
		}
		Event.stop(event);
	}
	if($('payment-tool-tip-close')){
		Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
	}

	initWhatIsCvvListeners();
//]]>
</script>
