<?php $columns = Mage::getStoreConfig('onestepcheckout/general/page_layout') ?>
<?php if ($this->isShowShippingAddress()): ?>
<div id="showhide_shipping" class="shipping_address section-content" style="display:none;">
    <h3 id="shipping_step_header" class="font-dinbek_bold step_2"><?php echo $this->__('Step %s:', "1.1") ?> <?php echo($this->__("Shipping Address")); ?><?php if ($columns == "2columns"): ?> <button class="button btn-toggle" type="button"><span class="plus">+</span><span class="minus">-</span></button><?php endif ?></h3>
    <div class="shipping-body section-body clearfix">
        <?php if ($this->customerHasAddresses()): ?>
        <h4 class="section-title font-dinbekregular"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></h4>
        <ul><li><?php echo $this->getAddressesHtmlSelect('shipping') ?></li></ul>
        <?php endif ?>
        <fieldset class="group-select" id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none"<?php endif ?>>
            <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getShippingAddress()->getId() ?>" id="shipping:address_id" />
            <ul>				
                <?php 
				$helper = $this->getOscHelper();
				$fieldValue = $helper->getFieldValue();
                $checkCountry = 0 ;
                $checkRegion = 0;
				$row = 0; 
                $fields = $helper->getFieldEnables();
                for ($i = 0; $i < 20; $i++):
                    $sfield = $fields[$i]['value'];
                    if ($sfield == 'country') $checkCountry = 1; 
					if ($sfield == 'region') $checkRegion = 1; 
                    if (!$sfield || $sfield == '0' || $sfield == 'email' ||
						$sfield == 'birthday' || $sfield == 'gender' || $sfield == 'taxvat')
							continue;
                    if (($i % 2 == 0) || (($i % 2 != 0) && (!$fields[$i - 1]['value'] || $fields[$i - 1]['value'] == '0' || $fields[$i - 1]['value'] == 'email' || $fields[$i - 1]['value'] == 'birthday' || $fields[$i - 1]['value'] == 'gender' || $fields[$i - 1]['value'] == 'taxvat'))):
                        ?>
                        <li class="slistfield-<?php echo $sfield ?>">
                        <?php endif ?>
                        <?php
                        if ((($i % 2 == 0) && ($sfield && $sfield != '0') && (!$fields[$i + 1]['value'] || $fields[$i + 1]['value'] == '0' || $fields[$i + 1]['value'] == 'email' || $fields[$i + 1]['value'] == 'birthday' || $fields[$i + 1]['value'] == 'gender' || $fields[$i + 1]['value'] == 'taxvat')) || (($i % 2 != 0) && ($sfield && $sfield != '0') && (!$fields[$i - 1]['value'] || $fields[$i - 1]['value'] == '0' || $fields[$i - 1]['value'] == 'email' || $fields[$i - 1]['value'] == 'birthday' || $fields[$i - 1]['value'] == 'gender' || $fields[$i - 1]['value'] == 'taxvat'))):
                            ?>
                            <div class="one-field">
                                <?php else: ?>
                                <div class="two-fields <?php if($row%2!=0) echo 'last' ?>">
								<?php $row++;?>
                                <?php endif ?>
                                <?php if (!$sfield || $sfield == '0') continue; ?>
                                    <?php if ($sfield == 'street'): ?>
                                    <label<?php if ($helper->getFieldRequire($sfield)): ?> class="required" <?php endif ?>for="shipping:street1"><?php echo $this->__('Address') ?><?php if ($helper->getFieldRequire($sfield)): ?><em>*</em><?php endif ?>:</label>
                                    <input  type="text" title="<?php echo $this->__('Street Address') ?>" name="shipping[street][]" id="shipping:street1" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getStreet(1)) ?>" class="<?php if ($helper->getFieldRequire($sfield)) echo 'required-entry'; ?> input-text"/>
                                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                        <input style="margin-top:10px;"  type="text" title="<?php echo $this->__('Street Address ' . $_i) ?>" name="shipping[street][]" id="shipping:street<?php echo $_i ?>" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getStreet($_i)) ?>" class="input-text" />
                                    <?php endfor ?>
                            <?php elseif ($sfield == 'doctype'): ?>
                                <label class="required" for="shipping:doctype"><?php  echo Mage::helper('checkout')->__('Document'); ?><em>*</em>:</label>
                                <select id="shipping:doctype" name="shipping[doctype]" title="<?php echo $this->__('Document Type') ?>" class="required-entry select-doctype">
                                    <option value="1"><?php echo Mage::helper('checkout')->__('DNI'); ?></option>
                                    <option value="4"><?php echo Mage::helper('checkout')->__('CE'); ?></option>
                                    <option value="7"><?php echo Mage::helper('checkout')->__('PASAPORT'); ?></option>
                                </select>
                                <?php //$doctype = $this->getShippingAddress()->getDoctype(); ?>

                                    <?php elseif ($sfield == 'country'): ?>
                                    <label<?php if ($helper->getFieldRequire($sfield)): ?> class="required"<?php endif ?> for="shipping:country_id"><?php echo $this->__('Country') ?><?php if ($helper->getFieldRequire($sfield)): ?><em>*</em><?php endif ?>:</label>
                                    <?php echo $this->getCountryHtmlSelect('shipping') ?>
                                    <?php if (!$helper->getFieldRequire($sfield)): ?>	
                                    <script type="text/javascript">
                                        if ($('shipping:country_id'))
                                            $('shipping:country_id').removeClassName('validate-select');</script>
                                    <?php endif ?>
                                    <?php elseif ($sfield == 'region'): ?>
                                    <label<?php if ($helper->getFieldRequire($sfield)): ?> class="required"<?php endif ?> for="shipping:region"><?php echo $this->__('State/Province') ?><?php if ($helper->getFieldRequire($sfield)): ?><em>*</em><?php endif ?>:</label>
                                    <select id="shipping:region_id" name="shipping[region_id]" title="<?php echo $this->__('State/Province') ?>" class="<?php if ($helper->getFieldRequire($sfield)) echo "validate-select"; ?>" style="display:none;">
                                        <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                    </select>
                                        <?php if (!$helper->enableGeoip()): ?>
                                        <script type="text/javascript">
                                            $('shipping:region_id').setAttribute('value', "<?php echo $this->htmlEscape($this->getShippingAddress()->getRegionId()) ?>");</script>
                                    <?php endif; ?>
                                    <input type="text" id="shipping:region" name="shipping[region]" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="<?php if ($helper->getFieldRequire($sfield)) echo 'required-entry'; ?> input-text" style="display:none" />
                                <?php elseif ($sfield == 'prefix'): ?>
                                        <?php $customerNameBlock = Mage::getBlockSingleton('customer/widget_name') ?>
                                    <label <?php if ($helper->getFieldRequire($sfield)): ?>class="required"<?php endif ?>  for="shipping:prefix"><?php echo $this->__('Prefix Name') ?><?php if ($helper->getFieldRequire($sfield)): ?><em>*</em><?php endif ?>:</label>
                                    <?php if ($customerNameBlock->getPrefixOptions() === false): ?>
                                        <input type="text" id="<?php echo $customerNameBlock->getFieldId('prefix') ?>" name="shipping[<?php echo $customerNameBlock->getFieldName('prefix') ?>]" value="" title="<?php echo $this->__('Prefix') ?>" class="input-text <?php if ($helper->getFieldRequire($sfield)) echo "required-entry"; ?>" <?php echo $customerNameBlock->getFieldParams() ?> />
                                        <?php else: ?>
                                        <select id="<?php echo $customerNameBlock->getFieldId('prefix') ?>" name="shipping[<?php echo $customerNameBlock->getFieldName('prefix') ?>]" title="<?php echo $this->__('Prefix') ?>" class="<?php if ($helper->getFieldRequire($sfield)) echo "required-entry"; ?>" <?php echo $customerNameBlock->getFieldParams() ?>>
                                            <?php foreach ($customerNameBlock->getPrefixOptions() as $_option): ?>
                                                <option value="<?php echo $_option ?>"><?php echo $this->__($_option) ?></option>
                                        <?php endforeach ?>
                                        </select>
                                    <?php endif; ?>
                                <?php elseif ($sfield == 'suffix'): ?>
                                        <?php $customerNameBlock = Mage::getBlockSingleton('customer/widget_name') ?>
                                    <label<?php if ($helper->getFieldRequire($sfield)): ?> class="required"<?php endif ?> for="shipping:prefix"><?php echo $this->__('Suffix Name') ?><?php if ($helper->getFieldRequire($sfield)): ?><em>*</em><?php endif ?>:</label>
                                    <?php if ($customerNameBlock->getSuffixOptions() === false): ?>
                                        <input type="text" id="<?php echo $customerNameBlock->getFieldId('suffix') ?>" name="shipping[<?php echo $customerNameBlock->getFieldName('suffix') ?>]" value="" title="<?php echo $this->__('Suffix') ?>" class="input-text <?php if ($helper->getFieldRequire($sfield)) echo "required-entry"; ?>" <?php echo $customerNameBlock->getFieldParams() ?> />
                                        <?php else: ?>
                                        <select id="<?php echo $customerNameBlock->getFieldId('suffix') ?>" name="shipping[<?php echo $customerNameBlock->getFieldName('suffix') ?>]" title="<?php echo $this->__('Suffix') ?>" class="<?php if ($helper->getFieldRequire($sfield)) echo "required-entry"; ?>" <?php echo $customerNameBlock->getFieldParams() ?>>
                                            <?php foreach ($customerNameBlock->getSuffixOptions() as $_option): ?>
                                                <option value="<?php echo $_option ?>"><?php echo $this->__($_option) ?></option>
                                        <?php endforeach ?>
                                        </select>
                                    <?php endif; ?>
                                    <?php elseif ($sfield == 'postcode'): ?>
                                            <label<?php if ($helper->getFieldRequire($sfield)): ?> class="required"<?php endif ?> for="shipping:<?php echo $sfield; ?>"><?php echo $this->__($fieldValue[$sfield]) ?>
                                        <?php if ($helper->getFieldRequire($sfield) || $sfield == 'firstname' || $sfield == 'lastname'): ?><em>*</em><?php endif ?>:</label>
                                            <!--id="shipping:postcode"-->
                                            <select name="shipping[postcode]" id="shipping:postcode" title="Provincia - Distrito" class="input-text required-entry select-postcode-shipping" style="">
                                                <option value="">Por Favor, Seleccione una Provincia - Distrito</option>
                                            </select>
                                    <?php else: ?>
                                    <label<?php if ($helper->getFieldRequire($sfield) || $sfield == 'firstname' || $sfield == 'lastname'): ?> class="required"<?php endif ?> for="shipping:<?php echo $sfield; ?>"><?php echo $this->__($fieldValue[$sfield]) ?>
                                        <?php if ($helper->getFieldRequire($sfield) || $sfield == 'firstname' || $sfield == 'lastname'): ?><em>*</em><?php endif ?>:</label>
                                    
                                    <?php $_class = "";
                                    if ($sfield == 'telephone'){
                                        $_class=" validate-phone-nro validate-digits ";
                                    }
                                    ?>
                                    <input type="text" id="shipping:<?php echo $sfield; ?>" name="shipping[<?php echo $sfield; ?>]" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getData($sfield)) ?>" title="<?php echo $this->__($fieldValue[$sfield]) ?>" class="input-text <?php echo $_class ?><?php if ($helper->getFieldRequire($sfield) || $sfield == 'firstname' || $sfield == 'lastname') echo 'required-entry';echo $retVal = ($sfield == 'postcode') ? ' input-postcode-shipping' : '' ;echo $retVal = ($sfield == 'fax') ? '' : '' ; ?>" />
                                    <?php if ($helper->enableGeoip()): ?>

                                    <?php endif; ?>	
                            <?php endif ?>
                            </div>
                            <?php if (($i % 2 != 0) || (($i % 2 == 0) && (!$fields[$i + 1]['value'] || $fields[$i + 1]['value'] == '0' || $fields[$i + 1]['value'] == 'email') || $fields[$i + 1]['value'] == 'birthday' || $fields[$i + 1]['value'] == 'gender' || $fields[$i + 1]['value'] == 'taxvat')):
                                ?>
                        </li>
                    <?php endif ?>
                <?php endfor ?>
                    <?php if ($checkCountry == 0): ?>
                    <div style="display:none;">
                    <?php echo $this->getCountryHtmlSelect('shipping') ?>
                    </div>
                <?php endif ?>
                    <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()): ?>
                    <li class="control"><input type="checkbox" class="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" <?php if ($this->getShippingAddress()->getSaveInAddressBook()): ?> checked="checked"<?php endif; ?> /> <label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></li>
                <?php else: ?>
                    <li><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
    <?php endif; ?>
            </ul>
        </fieldset> 
    </div>
    </div>
<?php endif; ?>
<script type="text/javascript">
//<![CDATA[	
<?php if ($this->isShowShippingAddress()): ?>
    <?php if ($checkRegion == 1): ?>
            var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', countryRegions, undefined, 'shipping:postcode');
            var shippingProvinceUpdater = new ProvinceUpdater('shipping:region_id','shipping:postcode', regionsDistricts);
    <?php endif; ?>
    <?php if (!$helper->getFieldRequire('region')): ?>
            if ($('shipping:region_id')){
            $('shipping:region_id').removeClassName('validate-select');
                    $('shipping:region_id').removeClassName('required-entry');
            }
    <?php endif ?>
        function check_show_shipping(){
            <?php if ($this->isVirtual() || Mage::helper('onestepcheckout')->isHideShippingMethod()): ?>
                    return false;
            <?php else: ?>
                    return true;
            <?php endif; ?>
        }
        function check_show_delivery(){
            <?php if (!Mage::helper('onestepcheckout')->enabledDelivery()): ?>
                    return false;
            <?php else: ?>
                    return true;
            <?php endif; ?>
        }
        function showDifferentAdress() {
        if ($('shipping:different_shipping').checked) {
            $('billing:use_for_shipping').value = '0';
            $('showhide_shipping').style.display = 'block';
            $('onestepcheckout-shipping-section').addClassName('active').show();
            jQuery('#showhide_shipping .section-body').show();
            jQuery('#onestepcheckout-shipping-section .buttons-validate').show();
            if (check_show_shipping() && !check_show_delivery()){
                change_class_name($('shipping_method_step_header'), 2, 3);
                change_class_name($('payment_method_step_header'), 3, 4);
            }
            if (!check_show_shipping() && check_show_delivery()){
                change_class_name($('time_of_delivery_header'), 2, 3);
                change_class_name($('payment_method_step_header'), 3, 4);
            }
            if (!check_show_shipping() && !check_show_delivery()){
                change_class_name($('payment_method_step_header'), 2, 3);
            }

            if (check_show_shipping() && check_show_delivery()){
                change_class_name($('shipping_method_step_header'), 2, 3);
                change_class_name($('time_of_delivery_header'), 3, 4);
                change_class_name($('payment_method_step_header'), 4, 5);
            }
        } else{
            $('billing:use_for_shipping').value = '1';
            $('showhide_shipping').style.display = 'none';
            $('onestepcheckout-shipping-section').removeClassName('active').hide();
            jQuery('#showhide_shipping .section-body').hide();
            jQuery('#onestepcheckout-shipping-section .buttons-validate').hide();
            if (check_show_shipping() && !check_show_delivery()){
                change_class_name($('shipping_method_step_header'), 3, 2);
                change_class_name($('payment_method_step_header'), 4, 3);
            }
            if (!check_show_shipping() && check_show_delivery()){
                change_class_name($('time_of_delivery_header'), 3, 2);
                change_class_name($('payment_method_step_header'), 4, 3);
            }
            if (!check_show_shipping() && !check_show_delivery()){
                change_class_name($('payment_method_step_header'), 3, 2);
            }

            if (check_show_shipping() && check_show_delivery()){
                change_class_name($('shipping_method_step_header'), 3, 2);
                change_class_name($('time_of_delivery_header'), 4, 3);
                change_class_name($('payment_method_step_header'), 5, 4);
            }
        }
        //<!-- if show different shipping address, save billing & shipping address when customer check the checkbox-->
    <?php $storeId = Mage::app()->getStore()->getStoreId() ?>
    <?php if (Mage::getStoreConfig('onestepcheckout/ajax_update/enable_ajax', $storeId)): ?>
            save_address_information(save_address_url, update_address_shipping, update_address_payment, update_address_review);
    <?php endif; ?>
        }

        if ($('shipping-address-select')) {
        Event.observe('shipping-address-select', 'change', function() {
        var isNew = $('shipping-address-select').value ? false : true;
                setNewAddress(isNew, 'shipping', save_address_url, update_address_shipping, update_address_payment, update_address_review);
        });
        }
<?php endif; ?>
//]]>
</script>


<?php if (Mage::getStoreConfig('onestepcheckout/general/suggest_address', Mage::app()->getStore()->getStoreId())): ?>
    <script type="text/javascript">
        var autocompleteShipping;
                var componentShippingForm = {
                street_number: 'short_name',
                        route: 'long_name',
                        locality: 'long_name',
                        administrative_area_level_1: 'long_name',
                        country: 'short_name',
                        postal_code: 'short_name',
                        sublocality: 'long_name'
                };
                autocompleteShipping = new google.maps.places.Autocomplete(
                        (document.getElementById('shipping:street1')),
                {types: ['geocode']});
                google.maps.event.addListener(autocompleteShipping, 'place_changed', function() {
                fillShippingAddress();
                });
                function fillShippingAddress() {
                var place = autocompleteShipping.getPlace();
                        var street, city, region_id, region, country, postal_code, sublocality;
                        for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                        if (componentShippingForm[addressType]) {
                if (addressType == 'street_number'){
                if (street)
                        street += ' ' + place.address_components[i][componentBillingForm['street_number']];
                        else
                        street = place.address_components[i][componentBillingForm['street_number']];
                }
                if (addressType == 'route'){
                if (street)
                        street += ' ' + place.address_components[i][componentBillingForm['route']];
                        else
                        street = place.address_components[i][componentBillingForm['route']];
                }
                if (addressType == 'locality')
                        city = place.address_components[i][componentShippingForm['locality']];
                        if (addressType == 'administrative_area_level_1') {
                region_id = place.address_components[i]['short_name'];
                        region = place.address_components[i]['long_name'];
                }
                if (addressType == 'country')
                        country = place.address_components[i][componentShippingForm['country']];
                        if (addressType == 'postal_code')
                        postal_code = place.address_components[i][componentShippingForm['postal_code']];
                        if (addressType == 'sublocality')
                        sublocality = place.address_components[i][componentBillingForm['sublocality']];
                }
                }
                fillAddress('shipping', street, city, region_id, region, country, postal_code, sublocality)
                }
    </script>
<?php endif; ?>

<script type="text/javascript">
    <?php
    $helper          = Mage::helper('provincedropdown');
    $address         = Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress();
    $defaultCity     = $address->getCity();
    $defaultPostCode = $address->getPostcode();

    $citiesOptions   = addslashes($helper->getUaeCitiesAsDropdown($defaultCity));
    ?>
    var shippingPostcode = '<?php echo $defaultPostCode ; ?>';
    /*function shippingSwitchCityField(){
        var selectVal = jQuery('#shipping\\:country_id option:selected').val();
        if(selectVal != "PE"){
            
            jQuery('.input-postcode-shipping').css('display','block');
            jQuery('.select-postcode-shipping').css('display','none');
            jQuery('.input-postcode-shipping').html('').fadeIn();
        }
 
    }*/
    /*function shippingSwitchDistritoField(region_id){
        if (region_id == '') {
            var selectValD = jQuery('#shipping\\:region_id option:selected').text();
        }else{
            var selectValD =region_id;
        }
        
        jQuery.ajax({
            url: "<?php echo $this->getUrl('provincedropdown/ajax/endereco') ?>",
            type: "POST",
            data: "region="+selectValD+"&type=shipping&province_default="+shippingPostcode,
            beforeSend: function () {
                jQuery('.select-postcode-shipping').attr('disabled', true);
            },
            success: function(data) {
                jQuery('.select-postcode-shipping').removeAttr('disabled');
                if (data) {
                defalut = '<option value="">Por Favor, Seleccione una Provincia - Distrito</option>';
                data = defalut+data;
                
                    jQuery('.select-postcode-shipping').attr("id","shipping:postcode").show();
                    jQuery('.select-postcode-shipping').find('option').remove();
                    jQuery('.select-postcode-shipping').html(data).fadeIn();

                    jQuery('.input-postcode-shipping').removeAttr("id").hide();
                }else{
                
                jQuery('.select-postcode-shipping').removeAttr("id").hide();

                jQuery('.input-postcode-shipping').attr("id","shipping:postcode").show();
                jQuery('.input-postcode-shipping').html('').fadeIn();
                }
                oscvalidate($('shipping:postcode'));
                if (typeof getShippingPostcode !== 'undefined') {getShippingPostcode();}
            }
        });
        
    }*/
    function classValidateDocumentShipping(value){
        if (value == '1') {
            jQuery('#shipping\\:fax').removeClass('validate-pasport').removeClass('validate-ce').addClass('validate-dni');
            }
        if (value == '4') {
            jQuery('#shipping\\:fax').removeClass('validate-pasport').removeClass('validate-dni').addClass('validate-ce');
        }
        if (value == '7') {
            jQuery('#shipping\\:fax').removeClass('validate-dni').removeClass('validate-ce').addClass('validate-pasport');
        }
    }
   jQuery(document).ready(function(){
        jQuery('#shipping\\:city').val("<?php echo $defaultCity ?>");
        var selectValD = jQuery('#shipping\\:region_id option:selected').text();
        //shippingSwitchDistritoField(selectValD);

        jQuery('#shipping\\:country_id').change(function() {
            //shippingSwitchCityField();
        });
        jQuery('#shipping\\:region_id').change(function() {
            //shippingSwitchDistritoField('');
        });
        jQuery('.select-postcode-shipping').change(function() {
            jQuery('.input-postcode-shipping').val(jQuery(this).val());
            var spvalue = jQuery(this).val();
            jQuery('.input-postcode').val(spvalue);
            if (spvalue.length) {
                var _spvalue = spvalue.split("-")[1].trim();
                jQuery('#shipping\\:city').val(_spvalue);
            }
            oscvalidate($('shipping:city'));
            getBillingPostcode();
        });
        var select_td = jQuery('#shipping\\:doctype option:selected').val();
        classValidateDocumentShipping(select_td);
        jQuery('#shipping\\:doctype').change(function() {
            classValidateDocumentShipping(jQuery(this).val());
        });

        if (jQuery("#shipping\\:doctype").length) {
            var select_std = jQuery('#shipping\\:doctype option:selected').val();
            classValidateDocument(select_std, "billing\\:fax");
            jQuery('#shipping\\:doctype').change(function() {
                classValidateDocument(jQuery(this).val(), "billing\\:fax");
                oscvalidate($('shipping:fax'));
            });
        }
        else {
            classValidateDocument("7", "billing\\:fax");
        }
   })
</script>