div.price-slider {height: 20px;background-color: #fff;margin: 5px 22px;position: relative;}
div.price-slider .filter-handle {cursor: e-resize;display: block;margin: -10px 0 0;z-index: 9;}
div.price-slider .price-slider-to {cursor: w-resize;margin-top: -19px;}
ul li.section .exapnded{list-style: none;margin: 0;padding: 0;}
ul li a.title {border-bottom: 1px solid rgba(0,0,0,.2);color: #3f3f3f;display: block;font-weight: normal;text-decoration: none;}
ul li div.toggle {padding:12px 20px; font-size: 13px;}
ul li.section.expanded a.title, ul li.section a.title:hover {background: #FFF;border-color: #fc0e31;}
.disabled, .disabled * {border-color: red !important;color: red !important;}  
.loading {width: 100%;height: 100%;z-index: 1000;position: fixed;top: 0;left: 0;opacity: .6;background: #000;filter: alpha(opacity=60);-ms-filter: "alpha(opacity=60)";}
.loadingWrapper .content {background: #fff;left: 50%;top: 50%;padding: 10px 50px;position: fixed;text-align: center;vertical-align: middle;z-index: 1000;}
.loadingWrapper .content img{width:32px;margin:0px auto;}
.loadingWrapper .content span{display:block;width:100%;}
#narrow-by-list .section .symbol{background: url("../../../images/apptha/productfilters/expand_options.png") no-repeat;width: 13px;height: auto;background-position: 0 0%;display: inline-block;margin: 0 0 0 5px;float: right;}
.block-content #narrow-by-list .expanded .symbol{background-position: 0% 100%;}
#narrow-by-list .toggle .product_block_count_zero{color:#b5b5b5;}
#narrow-by-list .toggle a .ratings, #narrow-by-list .toggle a{color:#000;text-decoration:none;}
#narrow-by-list .toggle a:hover .ratings, #narrow-by-list .toggle a:hover{color:#fc0e31}
#narrow-by-list .toggle #mydiv{padding:0px;}
#narrow-by-list .toggle #mydiv input[type="checkbox"]{margin:0 5px 0 0}
#narrow-by-list .toggle .ratings .rating-box{float:left;margin-right:5px;}
#narrow-by-list .toggle .catagory_list .cat-list li{padding:1px 0;}
#narrow-by-list .accor{background: url("../../../images/apptha/productfilters/arrow_menu_list.png") no-repeat;width:13px;height:13px;float:left;background-position: 0% 100%;margin: 4px 5px 0 0;display: inline-block; margin-bottom: 20px;}
#narrow-by-list .accor + a.ajaxfilter {font-weight: bold;}
#narrow-by-list .accor.minus{background: url("../../../images/apptha/productfilters/arrow_menu.png") no-repeat;width: 13px;height: 13px;float:left;background-position: 0% 100%;margin: 4px 5px 0 0;display: inline-block;}
#narrow-by-list .sub-cat-list{margin:0 0 0 25px;}
#narrow-by-list	.cat-list li .no-accor + a.ajaxfilter{font-weight: normal;line-height: 25px;}
#narrow-by-list	.sub-cat-list li .no-accor + a.ajaxfilter{font-weight: inherit;}
#narrow-by-list .sub-cat-list .product_categories_list .no-accor, .cat-list .no-accor {float: left;height: 13px;margin: 5px 0 0;}
.label{	display :block;}
.invalid-licence {padding: 8px;background-color: #FFCDCD;border: 1px solid #f00;}