
<?php
//
//    $_code= $this->getMethodCode();
//    $_total = Mage::getSingleton('checkout/cart')->getQuote()->getGrandTotal();
//
//?>
<!--<ul class="form-list" id="payment_form_--><?php //echo $_code ?><!--" style="display:none;">-->
<!--    <img  height="44" width="207" src="--><?php //echo $this->getSkinUrl('images/pos/mdp_pos_visa.png') ?><!--">-->
<!--    <li style="padding-top:10px;">-->
<!--        --><?php //echo $this->getMethod()->getConfigData('instructions');?>
<!--    </li>-->
<!--</ul>-->
<?php $_code=$this->getMethodCode() ?>
<div class="payment-item-<?php echo $_code ?>">
    <div class="<?php echo $_code ?>-icon">
    	<img src="<?php echo $this->getSkinUrl('images/checkout/mdp/credit-cards.png') ?>" alt="Tarjeta Crédito" class="no-display" />
    	<p class="instructions"><?php echo $this->getMethod()->getConfigData('instructions');?></p>
    </div>
    <div class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    	<li>
	        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
	        	<div class="row d-flex align-items-center form-group">
	        		<div class="col-xs-5 col-sm-5"><label for="<?php echo $_code ?>_cc_owner" class="required"><?php echo $this->__('Name on Card') ?><em>*</em>:</label></div>
	        		<div class="col-xs-7 col-sm-7">
	        		<div class="input-box"><input type="text" title="<?php echo $this->__('Name on Card') ?>" class="input-text required-entry" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" value="<?php echo $this->escapeHtml($this->getInfoData('cc_owner')) ?>" />
	            	<i class="fa fa-user" aria-hidden="true"></i></div>
	        		</div>
	        	</div>
	    </li>

	    <li>
	        <div class="input-box">
	        	<div class="row d-flex align-items-center form-group">
	        		<div class="col-xs-12"><label for="<?php echo $_code ?>_cc_type" class="required"><?php echo $this->__('Card Type') ?><em>*</em>:</label></div>
	        		<div class="col-xs-12">
	        		<select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" title="<?php echo $this->__('Credit Card Type') ?>" class="required-entry validate-cc-type-select no-display">
	                <option value=""><?php echo $this->__('--Please Select--') ?></option>
	        	<?php $_ccType = $this->getInfoData('cc_type') ?>
	            <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
	                <option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
	            <?php endforeach ?>
	            </select>
	        		</div>
	        	</div>
	            <ul id="list_<?php echo $_code ?>_cc_type" class="tarjeta_cc_type list-inline">
	            	<?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
	                <li><input type="radio" name="payment[cc_type]" id="<?php echo $_typeCode ?>" value="<?php echo $_typeCode ?>" <?php if($_typeCode==$_ccType): ?> checked="checked"<?php endif ?>>
	                <label for="<?php echo $_typeCode ?>">
	                <?php echo $_typeName ?>
	                	<img src="<?php echo $this->getSkinUrl('images/checkout/mdp/'.strtolower($_typeCode).'.jpg') ?>" alt="<?php echo $_typeName ?>" height="40" width="60">
	                </label>
	                </li>
	            <?php endforeach ?>
	            </ul>
	        </div>
	    </li>

	    <li>
        	<div class="row d-flex align-items-center form-group">
        		<div class="col-xs-5 col-sm-5"><label for="<?php echo $_code ?>_cc_number" class="required"><?php echo $this->__('Card Number') ?><em>*</em>:</label></div>
        		<div class="col-xs-7 col-sm-7">
        		<div class="input-box"><input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type" value="" />
            	<i class="fa fa-credit-card" aria-hidden="true"></i></div>
        		</div>
        	</div>
	    </li>

	    <li id="<?php echo $_code ?>_cc_type_exp_div">
	        <div class="input-box">
	        	<div class="row d-flex align-items-center form-group">
	        		<div class="col-xs-5 col-sm-5"><label for="<?php echo $_code ?>_expiration" class="required"><?php echo $this->__('Expiration Date') ?><em>*</em>:</label></div>
	        		<div class="col-xs-7 col-sm-7">
	        		<div class="row row-medium">
	        		<div class="v-fix col-xs-6">
		                <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry">
		                <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
		                <?php foreach ($this->getCcMonths() as $k=>$v): ?>
		                    <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
		                <?php endforeach ?>
		                </select>
		            </div>
		            <div class="v-fix col-xs-6">
		                <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
		                <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry">
		                <?php foreach ($this->getCcYears() as $k=>$v): ?>
		                    <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
		                <?php endforeach ?>
		                </select>
		            </div>
	        		</div>
	        		</div>
	        	</div>
	        </div>
	    </li>
	    <li>
	        	<div class="row d-flex align-items-center form-group">
	        		<div class="col-xs-5 col-sm-5"><label for="<?php echo $_code ?>_cc_cid" class="required"><?php echo $this->__('Código de seguridad') ?><em>*</em>:</label></div>
	        		<div class="v-fix col-xs-7 col-sm-7">
		                <div class="input-box">
		                	<div class="row row-medium">
		                		<div class="col-xs-6">
	                			<input type="text" title="<?php echo $this->__('Código de seguridad') ?>" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value="" />
	                			<i class="fa fa-lock" aria-hidden="true"></i>
		                		</div>
		                		<div class="col-xs-6"><a href="#" class="cvv-what-is-this"><?php echo $this->__('CVV/CVC') ?></a></div>
		                	</div>
		            	</div>
	        		</div>
	        </div>
	    </li>
	    <li>
	    	<div class="input-box">
	    		<div class="row d-flex align-items-center form-group">
	    			<div class="col-xs-5 col-sm-5"><label for="<?php echo $_code ?>_doctype" class="required">Tipo Documento<em>*</em>:</label></div>
	    			<div class="col-xs-7 col-sm-7">
	    			<select id="<?php echo $_code ?>_doctype" title="Tipo Documento" class="validate-select select-doctype" onchange="classValidateDocument(this.value,'<?php echo $_code ?>_cc_dni');oscvalidate($('<?php echo $_code ?>_cc_dni'));">
			    		<option value="">Seleccione una opción</option>
		                <option value="1">DNI</option>
		                <option value="4">CE</option>
		                <option value="7">PASAPORT</option>
		            </select>
	    			</div>
	    		</div>
            </div>
	    </li>
	    <li>
	        <div class="input-box">
	        	<div class="row d-flex align-items-center form-group">
	        		<div class="col-xs-5 col-sm-5"><label for="<?php echo $_code ?>_cc_dni" class="required"><?php echo $this->__('Número de documento') ?><em>*</em>:</label></div>
	        		<div class="v-fix col-xs-7 col-sm-7">
		            <input type="text" class="input-text required-entry validate-dni" id="<?php echo $_code ?>_cc_dni" name="payment[cc_dni]" value="" maxlength="12" />
		            </div>
	        	</div>
	        </div>
	    </li>
	    <li>
	        <div class="input-box">
	        	<div class="row d-flex align-items-center">
	        		<div class="col-xs-5 col-sm-5"><label for="<?php echo $_code ?>_expiration" class="required"><?php echo $this->__('Cuotas') ?><em>*</em>:</label></div>
	        		<div class="v-fix col-xs-7 col-sm-7">
	            		<?php $installments = $this->getInstallments() ?>
	                <select id="<?php echo $_code ?>_installments" name="payment[cc_installments]" class="Required">
	                    <option value="1" selected="selected"><?php echo $this->__('Sin Cuotas') ?></option>
	                    <?php for ($i=1; $i <= $installments; $i++) { ?>
	                    	<option value="<?php echo $i ?>"><?php echo ($i != 1 ) ? $this->__('%s Cuotas',$i) : $this->__('%s Cuota',$i); ?></option>
	                    <?php } ?>
	                </select>
	            </div>
	        	</div>
	        </div>
	    </li>
	    
	    <!-- Payu Method-->
	    <?php 
	    	$cookie = Mage::getModel('core/cookie')->get('frontend'); 
	    	$usuario_id = '80200';
	     	$deviceSessionId = md5($cookie.microtime()); 
	     	$deviceSessionId_usario = $deviceSessionId.$usuario_id; 

	     ?>
	    <input id="<?php echo $_code ?>_device_session_id" name="payment[cc_device_session_id]" type="hidden" value="<?php echo $deviceSessionId ?>"/>
	    <p style="background:url(https://maf.pagosonline.net/ws/fp?id=<?php echo $deviceSessionId_usario ?>)"></p>
		  <img src="https://maf.pagosonline.net/ws/fp/clear.png?id=<?php echo $deviceSessionId_usario ?>">

		  <script src="https://maf.pagosonline.net/ws/fp/check.js?id=<?php echo $deviceSessionId_usario ?>"></script>

		  <object type="application/x-shockwave-flash"
		  data="https://maf.pagosonline.net/ws/fp/fp.swf?id=<?php echo $deviceSessionId_usario ?>" width="1" height="1"
		  id="thm_fp">
		  <param name="movie" value="https://maf.pagosonline.net/ws/fp/fp.swf?id=<?php echo $deviceSessionId_usario ?>" />
		</object>
    </div>
</div>
<script>
	jQuery(document).ready(function () {
		onChangeCheckboxtoSelect('#<?php echo $_code ?>_cc_type', '#list_<?php echo $_code ?>_cc_type');
	})
</script>