<?php
$_collection = $this->getItems();
$_idx = 0;
?>
<?php if ($_collection->getSize()): ?>
<table width="100%" border="0" cellspacing="1" cellpadding="5" class="crossSellHtml">
    <tr>
    <?php foreach ($_collection as $_item): ?>
        <td valign="top" align="center" width="33.333%">
            <a class="block" href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>">
                <img alt="<?php echo $this->htmlEscape($_item->getName()) ?>" class="img-border" src="<?php echo Mage::helper('mstcore/image')->init($_item, 'thumbnail', 'catalog/product')->resize(100, 100) ?>" width="100" height="100" />
            </a>
            <div class="prod-dec">
                <h4 class="product-name center">
                    <?php echo $this->htmlEscape($_item->getName()) ?>
                </h4>
                <div class="prod-price">
                    <?php echo $this->getPriceHtml($_item, true) ?>
                </div>
                <a class="small-button" href="<?php echo $_item->getProductUrl() ?>">Ver Producto</a>
            </div>
        </td>
        <?php $_idx++ ?>
        <?php if ($_idx >= 3) {
    break;
} ?>
    <?php endforeach ?>
    </tr>
</table>
<?php endif ?>