<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                	<td align="center" valign="middle" style="padding: 20px 0;vertical-align: middle;">
                        <h5 class="closing-text" style="color: #888!important;font-family: Arial, sans-serif;font-size: 11px;margin: 0 0 10px 0;padding: 0 20px;">Ante cualquier consulta puedes comunicarte con nosotros al número {{var store_phone}}</h5>
                        <h5 class="closing-text" style="color: #888!important;font-family: Arial, sans-serif;font-size: 11px;margin: 0;padding: 0 20px;text-transform: uppercase;">{{var store.getFrontendName()}} corp ®</h5>
                	</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
