<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body bgcolor="#EEEEEE" class="email-body" style="padding: 60px 15px!important;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;">
<!-- Begin wrapper table -->
<table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" class="background-table" style="color: #222;max-width: 500px;margin: 0 auto;">
    <tr>
        <td valign="top" class="container-td" align="center">
            <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table" width="600" style="width: 100%;">
                <tr>
                    <td style="vertical-align: middle;">
                        <table bgcolor="#fc0e31" cellpadding="0" cellspacing="0" border="0" class="logo-container" width="100%">
                            <tr>
                                <td align="center" valign="center" class="logo" height="80" width="100%" style="padding: 0;vertical-align: middle;">
                                    <a href="{{store url=""}}" style="float: none;">
                                        <img
                                            {{if logo_width}}
                                            width="{{var logo_width}}"
                                            {{else}}
                                            width="140"
                                            {{/if}}

                                            src="{{var logo_url}}"
                                            alt="{{var logo_alt}}"
                                            border="0"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="top-content" style="padding: 0;">
                    <!-- Begin Content -->
