<?php
    $rate = $this->getRate();
    $urb_helper = Mage::helper('urbaner');
    $helper = Mage::helper('alldaydelivery');
    $delivery_time = $helper->getDeliveryTime();
    $address = $rate->getAddressShipping();
    $coordinates = $rate->getCoordinates();
    $_coordinates = $urb_helper->getCoordinates();
    $upon_stores = $urb_helper->getStoreUponDelivery(true);
    $id_store_default = $urb_helper->getIdStoreDefault();
    $name_store_default = $urb_helper->getNameStoreDefault();

    $center = $_coordinates['data'][0]['coordinate_center'];
    $center = explode(',', $center);
    $district = $coordinates['nombre'];

    $arrayMapa = "ArrayAllDayMapa = ".$_coordinates['data'][0]['polygon'].";";

    $vehicle_types = $urb_helper->getVehicleTypes();
    $order_types = $helper->getOrderTypes();
    $hours = $urb_helper->getHours();
?>
<div class="alldaydelivery_content form-group">
    <div class="header-allday hidden">
        <span class="description"><?php echo $delivery_time; ?></span>
    </div>
    <?php if ($order_types): ?>
    <div class="one-field ordertypes form-group text-center">
        <div class="content-ordertypes">
            <h4 class="required">Tipo de Orden<em>*</em>:</h4>
            <div class="row">
            <div class="table d-table no-margin">
                <div class="col-xs-5 col-sm-4 list-ordertype">
                <ul class="no-margin text-left" id="allday_ordertypes">
                <?php $ot_checked = count($order_types) == 1 ? " checked" : "" ?>
                <?php foreach ($order_types as $key => $type): ?>
                    <li class="cont_radio">
                        <input id="<?php echo 'allday_ordertype_id'.$key ?>"<?php echo $ot_checked ?> type="radio" data-info-text="<?php echo $type['text'] ?>" class="alldaydelivery_ordertypes radio validate-one-required-by-name" name="alldaydelivery[ordertypes]" value="<?php echo $key ?>" />
                        <label for="<?php echo 'allday_ordertype_id'.$key ?>" class="no-margin"><span><?php echo $type['name'] ?></span></label>
                  </li>
                <?php endforeach ?>
                </ul>
                </div>
                <div class="col-xs-7 col-sm-8 info-method-ordertypes">
                <div class="info" id="info-allday-ordertypes">
                <?php if ($ot_checked): ?>
                <?php echo array_shift($order_types)['text'] ?>
                <?php else: ?>
                <span class="description"><?php echo $this->__('Please select an option.') ?></span>
                <?php endif ?>
                </div>
                <div class="content-allday-hours-express-schudeled">
                    <select class="" name="alldaydelivery[hours]" id="allday-hours-express-schudeled" style="display: none;">
                    <?php foreach ($hours as $key => $type): ?>
                        <option value="<?php echo $key ?>"><?php echo $type ?></option>
                    <?php endforeach ?>
                    </select>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
    <?php endif ?>
    <?php if ($vehicle_types): ?>
    <div class="table d-table allday-vehicletypes form-group">
        <div class="d-table-cell col-xs-6 col-sm-5 v-middle text-left" style="padding: 0 15px 0 0;">
            <label class="required" for="allday_vehicletypes">Tipo de Vehículo<em>*</em>:</label>
        </div>
        <div class="d-table-cell col-xs-6 col-sm-7 v-middle no-padding">
            <select class="validate-select" name="alldaydelivery[vehicletypes]" id="allday_vehicletypes" onchange="save_shipping_method(shipping_method_url,1,1);">
                <?php foreach ($vehicle_types as $key => $type): ?>
                <option value="<?php echo $key ?>"><?php echo $type ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>
    <?php endif ?>
    <div class="one-field">
        <label class="required" for="alldaydelivery_address"><?php echo $this->__('Address') ?><em>*</em></label><br>
        <div class="row">
        <div class="col-xs-12 allday_input_latlong-address">
            <input id="allday_address" autocomplete="" name="alldaydelivery[address]" value="<?php echo $address ?>" title="<?php echo $this->__('Address') ?>" class="input-text required-entry validate-alldaydelivery validate-upon-alldaydelivery" type="text">
            <i class="fa fa-spin fa-spinner" style="display:none;position:absolute;right:20px;top:7px;"></i>
            <p class="text-red text-left advice"><strong>Por favor, verificar que su dirección coincida en el mapa, no colocar manzanas ni lotes.</strong></p>
        </div>
        </div>
    </div>
    <div class="cont-mapa text-center">
        <div id="allday-mapa" style="width: 100%; height: 200px;"></div>
        <div class="bg-block-lab text-white" id="allday-msg-warning-zone" style="display: none;">Estás fuera del distrito seleccionado.</div>
        <input type="hidden" name="alldaydelivery[lat_lng]" id="allday_lat_long">
        <input type="hidden" name="alldaydelivery[almacen_id]" id="allday_almacen_id">
        <input type="hidden" name="alldaydelivery[lat_]" id="allday_lat" value="<?php echo $center[0] ?>">
        <input type="hidden" name="alldaydelivery[lng_]" id="allday_lng" value="<?php echo $center[1] ?>">
        <input type="hidden" name="alldaydelivery[district]" id="allday_district" value="<?php echo $district ?>">
        <div class="buttons-set no-margin">
            <button class="btn btn-success" id="btn-addressvalidate" type="button" data-toggle="popover" data-placement="auto" data-content="Click aquí para activar siguiente paso"><strong>Validar Dirección</strong></button>
        </div>
    </div>
    <div class="info-tienda form-group text-center">
        <div class="title" id="allday-title-store" style="font-size: 12px;"></div>
        <div class="hours" id="allday-horario"></div>
    </div>
</div>
<script type="text/javascript">
    allday_upon_stores = <?php echo json_encode($upon_stores) ?>;
    <?php echo $arrayMapa ?>
    ArrayAllDayMapa = toObjectCoo(ArrayAllDayMapa);

    var allday_map = new google.maps.Map(document.getElementById('allday-mapa'), {
        zoom: 12,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_CENTER
        },
    });

    //allday_map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(msg);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: allday_map,
        anchorPoint: new google.maps.Point(0, -29),
        draggable: true
    });
    var flightPath = new google.maps.Polygon({
        path: ArrayAllDayMapa,
        //geodesic: true,
        strokeColor: '#2B2B2B',
        fillColor: '#2B2B2B',
        strokeOpacity: 0.7,
        fillOpacity: 0.2,
        strokeWeight: 2
    });
    flightPath.setMap(allday_map);

    var place_msg = jQuery("#allday-msg-warning-zone"),
        allday_address = $('allday_address'),
        allday_district = $('allday_district'),
        allday_loader = jQuery(".alldaydelivery_content .fa-spinner"),
        btn_addrvalidate = jQuery('#btn-addressvalidate');

    function getAddressShippingFromBS() {
        var ds_checked = $('shipping:different_shipping').checked;

        if (ds_checked) {
            var shipping_address = $('shipping:street1').value;
            if(allday_address) {
                allday_address.setValue(shipping_address);
                getAlldayCodeAddress(shipping_address);
            }
        } else {
            var billing_address = $('billing:street1').value;
            if(allday_address) {
                allday_address.setValue(billing_address);
                getAlldayCodeAddress(billing_address);
            }
        }
    }

    jQuery('#allday_address').donetyping(function (event) {
        btn_addrvalidate.show();
        btnValidateShipping.hide();
    })

    jQuery("#billing\\:street1").donetyping( function (event) {
        getAddressShippingFromBS();
    })

    jQuery("#shipping\\:street1").donetyping( function (event) {
        getAddressShippingFromBS();
    })

    /*jQuery("#allday_address").donetyping( function (event) {
        getAlldayCodeAddress(allday_address.value);
    })*/

    /*var options = {
        //types: ['(cities)'],
        componentRestrictions: {country: 'pe'}
    };

    allday_address.setValue(allday_address.value + " " + allday_district.value);
    autocomplete = new google.maps.places.Autocomplete(allday_address, options);
    autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("Por favor, seleccione una opción del listado sugerido o revise su dirección.");
            return;
        }
        var place_address = place.formatted_address,
            ad_location = place.geometry.location,
            lat = ad_location.lat(),
            lng = ad_location.lng();
        infowindow.close();
        marker.setVisible(false);

        result = initializeZoneReparto(lat, lng, ArrayAllDayMapa);
        latlng = new google.maps.LatLng(lat, lng);
        lastPosition = latlng;

        if (result) {
            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                allday_map.fitBounds(place.geometry.viewport);
            } else {
                allday_map.setCenter(place.geometry.location);
                allday_map.setZoom(17);  // Why 17? Because it looks good.
            }
            infowindow.setContent('<strong>' + place_address + '</strong>');
            infowindow.open(allday_map, marker);
            marker.setIcon( ({
                url:place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(latlng);
            marker.setVisible(true);

            circle = new google.maps.Circle({
                map: allday_map,
                // metres
                radius: 30,
                fillColor: '#fff',
                fillOpacity: 0,
                strokeColor: '#fff',
                strokeOpacity: 0,
                strokeWeight: .8,
                center: latlng
            });

            bounds = circle.getBounds();

            $('allday_lat_long').setValue(lat+','+lng);
                var response_upon = validateStoresUpon(lat, lng, allday_upon_stores, 'allday-title-store');
                if (response_upon) {
                    $('allday_almacen_id').setValue(response_upon);
                } else {
                    $('allday_almacen_id').setValue('<?php echo $id_store_default ?>');
                    $('allday-title-store').update('<strong><?php echo $name_store_default ?></strong>');
                }
            save_shipping_method(shipping_method_url, 1, 1);
            msg.hide();

        } else {
            locationNotFound();
        }
        google.maps.event.addListener(marker, 'dragend', function() {
            var position = marker.getPosition();
            bounds = circle.getBounds();
            result = bounds.contains(position);
            (result) ? lastPosition = position : marker.setPosition(lastPosition);
            if (result) {
                lastPosition = position;
                $('allday_lat_long').setValue(position.lat()+','+position.lng());
                var response_upon = validateStoresUpon(position.lat(),position.lng(),allday_upon_stores, 'allday-title-store');
                if (response_upon) {
                  $('allday_almacen_id').setValue(response_upon);
                } else {
                  $('allday_almacen_id').setValue('<?php echo $id_store_default ?>');
                  $('allday-title-store').update('<strong><?php echo $name_store_default ?></strong>');
                }
            } else {
                marker.setPosition(lastPosition);
            }
        });
    })*/

    function getAlldayCodeAddress(address_place, showNext) {
        showNext = showNext || false;
        var result = false, lastPosition;
        jQuery('#btnValidateShipping').hide();
        btn_addrvalidate.show();
        btn_addrvalidate.attr('disabled', true);
        if (address_place != '' && allday_district.value) {
            var bounds;
            geocoder = new google.maps.Geocoder();
            allday_loader.show();
            address_place = address_place + ", " + allday_district.value;
            geocoder.geocode( { 'address': address_place}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                var place_address = results[0].formatted_address,
                    ad_location = results[0].geometry.location,
                    lat = ad_location.lat(),
                    lng = ad_location.lng(),
                    place_street_number = false;
                infowindow.close();
                marker.setVisible(false);

                for (var i = 0; i < results[0].address_components.length; i++) {
                    var addressType = results[0].address_components[i].types[0];
                    if (addressType == 'street_number') {
                        place_street_number = true;
                        break;
                    }
                }

                result = initializeZoneReparto(lat, lng, ArrayAllDayMapa);
                latlng = new google.maps.LatLng(lat, lng);
                lastPosition = latlng;

                if (result) {
                    allday_map.setCenter(latlng);
                    allday_map.setZoom(17);
                    infowindow.setContent('<strong>' + place_address + '</strong>');
                    infowindow.open(allday_map, marker);
                    marker.setIcon( ({
                        url:'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(35, 35)
                    }));
                    marker.setPosition(latlng);
                    marker.setVisible(true);

                    if (!place_street_number) {
                        locationNotFound(0);
                        return;
                    }

                    circle = new google.maps.Circle({
                        map: allday_map,
                        // metres
                        radius: 30,
                        fillColor: '#fff',
                        fillOpacity: 0,
                        strokeColor: '#fff',
                        strokeOpacity: 0,
                        strokeWeight: .8,
                        center: latlng
                    });

                    bounds = circle.getBounds();

                    $('allday_lat_long').setValue(lat+','+lng);
                    var response_upon = validateStoresUpon(lat,lng,allday_upon_stores, 'allday-title-store');
                    if (response_upon) {
                        $('allday_almacen_id').setValue(response_upon);
                    } else {
                        $('allday_almacen_id').setValue('<?php echo $id_store_default ?>');
                        $('allday-title-store').update('<strong><?php echo $name_store_default ?></strong>');
                    }
                    save_shipping_method(shipping_method_url,1,1);
                    place_msg.hide();
                    if (showNext) {
                        btn_addrvalidate.hide();
                        jQuery('#btnValidateShipping').show();
                    }
                    btn_addrvalidate.attr('disabled', false);
                    allday_loader.hide();

                } else {
                    locationNotFound(2);
                    allday_map.setCenter(latlng);
                }
              } else {
                locationNotFound(3);
                console.log("GeocoderStatus failed");
              }
            });

            google.maps.event.addListener(marker, 'dragend', function() {
                var position = marker.getPosition();
                bounds = circle.getBounds();
                result = bounds.contains(position);
                (result) ? lastPosition = position : marker.setPosition(lastPosition);
                if (result) {
                    lastPosition = position;
                    $('allday_lat_long').setValue(position.lat()+','+position.lng());
                    var response_upon = validateStoresUpon(position.lat(),position.lng(),allday_upon_stores, 'allday-title-store');
                    if (response_upon) {
                      $('allday_almacen_id').setValue(response_upon);
                    } else {
                      $('allday_almacen_id').setValue('<?php echo $id_store_default ?>');
                      $('allday-title-store').update('<strong><?php echo $name_store_default ?></strong>');
                    }
                } else {
                    marker.setPosition(lastPosition);
                }
            });
        } else {
            allday_address.focus();
            locationNotFound(1);
        }
        Validation.validate(allday_address);
    }
    function locationNotFound(type) {
        if (type == 0) {
            place_msg.text("Verifique que su dirección sea la correcta.");
        } else if (type == 1) {
            place_msg.text("Estás fuera del distrito seleccionado.");
        } else if(type == 2) {
            place_msg.text("Estás fuera de la zona de reparto.");
        } else {
            place_msg.text("No se pudo encontrar la dirección ingresada.");
        }
        place_msg.show();
        infowindow.close();
        marker.setVisible(false);
        if ($('allday_lat_long')) {
            $('allday_lat_long').setValue('');
        }
        allday_loader.hide();
        btn_addrvalidate.attr('disabled', false);
    }
    
    jQuery(document).ready(function () {
        //save_shipping_method(shipping_method_url, 1, 1);

        btn_addrvalidate.on('click', function () {
            getAlldayCodeAddress(allday_address.value, true);
        })

        jQuery('input[type="radio"][value="alldaydelivery_alldaydelivery"]').click(function () {
            if (jQuery(this).is(':checked')) {
                getAlldayCodeAddress(allday_address.value);
                google.maps.event.trigger(allday_map, 'resize');
                setTimeout(function () {
                    btn_addrvalidate.popover('show').popover('disable');
                }, 200);
            }
        })
        jQuery('#allday_ordertypes input').on('click',function() {
            var $this = jQuery(this),
                this_value = $this.val(),
                this_text = $this.attr('data-info-text');
          
            $('info-allday-ordertypes').update(this_text);
            if (this_value != '' && this_value != '4') {
                save_shipping_method(shipping_method_url, 1, 1);
            }

            if (this_value == '2') {
                $('allday-hours-express-schudeled').show();
                $('allday-hours-express-schudeled').addClassName('validate-select');
            } else {
                $('allday-hours-express-schudeled').hide();
                $('allday-hours-express-schudeled').removeClassName('validate-select');
            }
            getAlldayCodeAddress(allday_address.value);
        })
    })

    Validation.add('validate-alldaydelivery', 'Por favor ingresar una dirección valida en el mapa', function(v) {
        var lat_lng = $('allday_lat_long').value;
        if (lat_lng.length > 0) {
            return true;
        } else {
            return false;
        }
    });

    Validation.add('validate-upon-alldaydelivery', 'El envío  no esta disponible para esta dirección.', function(v) {
        var almacen_id = $('allday_almacen_id').value;
        if (almacen_id.length > 0) {
            return true;
        } else {
            return false;
        }
    });

</script>
