<div class="onestepcheckout-forgot-password">
	<div class="page-title">
    <h1><?php echo $this->__('Forgot Your Password?') ?></h1>
	</div>
	<p><?php echo $this->__("Please enter your email below and we will send you a new password.");?></p>
	<div class="close-box">
		<p align="right"><a href="" onclick="javascript:TINY.box.hide();return false">Close</a></p>
	</div>
	<div id="onestepcheckout-login-loading" style="display: none;" class="loading-ajax">&nbsp;</div>
	<div id="onestepcheckout-login-error-message" style="display:none;"></div>
	<form action="" method="post" id="osc-forgotpassword-form">
		<div class="login-fields">
			<ul>
				<li>
					<div class="input-text">
						<label><?php echo $this->__('Email Address');?></label>
						<input type="text" name="email" id="forgotpassword_email_address" class="input-text required-entry validate-email" value="<?php echo $this->htmlEscape($this->getEmailValue()) ?>" />
					</div>
				</li>
			</ul>
		</div>
		<div class="login-button">
			<p class="back-link"><a href="" onclick="javascript:TINY.box.hide();showloginbox();return false;"><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>
			<button type="button" class="button" title="<?php echo $this->__('Send Password') ?>" onclick="retrievePassword(); return false;"><span><span><?php echo $this->__('Send Password') ?></span></span></button>
		</div>
	</form>
</div>