<?php
    $rate = $this->getRate();
    $delivery_time = $rate->getDeliveryTime();
    $volume = $rate->getVolume();
    $address = $rate->getAddressShipping();
    $coordinates = $rate->getCoordinates();
    $distrito = $coordinates['nombre'];
    $center = ($coordinates['center']) ? $coordinates['center']:array('-77.0514713','-12.0480353');
    //Mage::log($center);
    $coordinates_ = ($coordinates['coordenadas']) ? $coordinates['coordenadas']:array();
    $arrayMapa = "ArrayMapa = [";
    foreach($coordinates_ as $value) {
        $arrayMapa.="{lat:".$value['lat'].",lng:".$value['lng']."},";
    }
    $arrayMapa .= "];";
?>
<!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places"
        async defer></script>-->
<div class="content_motoboy text-center">
    <div class="header-motoboy">
        <span class="description"><?php echo $delivery_time; ?></span>
    </div>

    <div class="one-field">
        <label class="required" for="motoboy_address">Dirección<em>*</em></label><br>
        <div class="row">
            <div class="col-xs-12 input_latlong-address">
                <input id="motoboy_address" autocomplete="" name="motoboy[address]" value="<?php echo $address ?>" title="Dirección" class="input-text required-entry validate-motoboy" type="text">
                <i class="fa fa-spin fa-spinner" style="display:none;position:absolute;right:20px;top:7px;"></i>
            </div>
        </div>
    </div>
    <div class="cont - mapa">
        <div id="mapa" style="width: 100%; min-height: 180px;"></div>
        <div id="msg-warning-zone" style="display: none;">Estás fuera del distrito seleccionado.</div>
        <input type="hidden" name="motoboy[lat_lng]" id="motoboy_lat_long">
        <input type="hidden" name="motoboy[lat_]" id="lat_" value="<?php echo $center[1] ?>">
        <input type="hidden" name="motoboy[lng_]" id="lng_" value="<?php echo $center[0] ?>">
        <input type="hidden" name="motoboy[district]" id="district" value="<?php echo $distrito ?>">
        <!--<div><?php echo Mage::getModel('core/date')->date('Y-m-d H:i:s') ?></div>-->
    </div>
</div>
<?php 
        /*$xml = simplexml_load_file(Mage::getBaseUrl().'distritos.xml');
        foreach ($xml->Document[0]->Folder[0]->Placemark as $placemark) 
        {
            Mage::log((string)$placemark->name);
            foreach ($placemark->LineString[0]->coordinates as $nodos) {
                Mage::log((string)$nodos);
            }
        }*/

 ?>
<script type="text/javascript">
    <?php echo $arrayMapa ?>
     //initMap();
    var lat_ = $('lat_').value;
    var lng_ = $('lng_').value;

    var map = new google.maps.Map(document.getElementById('mapa'), {
      center: {lat:parseFloat(lat_),lng:parseFloat(lng_)},
      //center: {lat: -33.8688, lng: 151.2195},
      //center: {lat: 24.886, lng: -70.268},
      zoom: 14,
      streetViewControl: false,
      mapTypeControl: false,
      zoomControl:true,
      zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER
      },

    });
    maps = map;
    var msg = (document.getElementById('msg-warning-zone'));

    map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(msg);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29),
        draggable: true
    });
    var flightPath = new google.maps.Polygon({
        path: ArrayMapa,
        //geodesic: true,
        strokeColor: '#FF0500',
        fillColor: '#FF0500',
        strokeOpacity: 0.8,
        fillOpacity: 0.1,
        strokeWeight: 2
    });
    flightPath.setMap(map);

    //initialize(map,infowindow,marker);
    var address_motoboy = $('motoboy_address').value;
    getCodeAddress(address_motoboy);


    /*Event.observe('motoboy_address', 'blur', function(event) {
        var address_motoboy = $('motoboy_address').value;
        getCodeAddress(address_motoboy);
    });*/
    var inter_billing;

    Event.observe('billing:street1', 'keypress', function(event) {
        var checked_ = $('shipping:different_shipping').checked;

        if (!checked_) {
            jQuery(".input_latlong-address .fa-spinner").show();
            clearInterval(inter_billing); 
            inter_billing = setInterval(function(){
                var billing_address = $('billing:street1').value;
                $('motoboy_address').setValue(billing_address);
                getCodeAddress(billing_address);
                clearInterval(inter_billing);
            }, 2000);
        }
        
        
    });
    var inter_shipping;

    Event.observe('shipping:street1', 'keypress', function(event) {
        jQuery(".input_latlong-address .fa-spinner").show();
        clearInterval(inter_shipping); 
        inter_shipping = setInterval(function(){
            var shipping_address = $('shipping:street1').value;
            $('motoboy_address').setValue(shipping_address);
            getCodeAddress(shipping_address);
            clearInterval(inter_shipping);
        }, 2000);
    });
    var inter_motoboy;
    Event.observe('motoboy_address', 'keypress', function(event) {
        jQuery(".input_latlong-address .fa-spinner").show();
         clearInterval(inter_motoboy); 
        if ( event.keyCode == Event.KEY_RETURN  || event.which == Event.KEY_RETURN ) {
            var address_motoboy = $('motoboy_address').value;
            getCodeAddress(address_motoboy);
        } else {
            inter_motoboy = setInterval(function(){
                var address_motoboy = $('motoboy_address').value;
                getCodeAddress(address_motoboy);
                clearInterval(inter_motoboy);
            }, 2000);
        }
        
    });
    

    function initialize(map,infowindow,marker) {

        var autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('motoboy_address')),
      {types: ['address'],componentRestrictions: {country: "PE"}});
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            infowindow.close();
            marker.setVisible(false);
            
            if (place.geometry) {
                var lat = place.geometry.location.lat();
                var lng = place.geometry.location.lng();
                var result = initializeZoneReparto(lat,lng);

            }else{
                result = false;
            }
            if (result) {
                
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                  } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                  }
                marker.setIcon(/** @type {google.maps.Icon} */({
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                  }));
                  marker.setPosition(place.geometry.location);
                  marker.setVisible(true);

                  var address = '';
                  if (place.address_components) {
                    
                    address = [
                      (place.address_components[1] && place.address_components[1].short_name || ''),
                      (place.address_components[0] && place.address_components[0].short_name || ''),
                      (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(', ');
                  }

                  infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                  infowindow.open(map, marker);
                  //jQuery('#billing\\:city').val(lat+ ' ; ' + lng);
                    console.log('En la zona');

                  jQuery("#msg-warning-zone").slideUp(300);
                  //jQuery("#content-continue-address").show();
                  //jQuery("#address-description").html('<span class="district">'+jQuery('#billing\\:postcode').val()+'</span><br>'+place.adr_address);
                  //jQuery('#billing\\:street1').val(address);

            }else{
                //jQuery('#billing\\:city').val('');
                //jQuery('#billing\\:street1').val('');
                //alert('La zona no esta disponible para delivery');
                console.log('Fuera de zona');
                jQuery("#msg-warning-zone").slideDown(300);
                //jQuery("#content-continue-address").hide();
                //jQuery("#address-description").html('');


            }

        });
    }

    function initializeZoneReparto(lat,lng){

        var latLng = new google.maps.LatLng(lat,lng);
        var result = false;
        var TriangleZone = new google.maps.Polygon({paths: ArrayMapa });
        if(google.maps.geometry.poly.containsLocation(latLng, TriangleZone) == true) {
            result = true;
        }
        return result;
    }


    function getCodeAddress(address ) {
        //var address_motoboy = $('motoboy_address').value;
        //var address_billing = $('billing:street1').value;
        //var address_shipping = $('shipping:street1').value;

        //var province = jQuery('#billing\\:postcode option:selected').text();
        var distrito = $('district').value;
        var returnResult = false;
        var result = false;
        var lastPosition;

        if (address != ''  && distrito ) {
            
            var bounds;
            var address_place = address+', '+distrito;
            geocoder = new google.maps.Geocoder();
            geocoder.geocode( { 'address': address_place}, function(results, status) {

              if (status == google.maps.GeocoderStatus.OK) {

                var localtion=results[0].geometry.location;
                var lat = localtion.lat();
                var lng = localtion.lng();
                infowindow.close();
                marker.setVisible(false);

                result = initializeZoneReparto(lat,lng);
                latlng = new google.maps.LatLng(lat, lng);
                lastPosition = latlng;

                if (result) {
                    map.setCenter(latlng);
                    map.setZoom(17);
                    marker.setIcon( ({
                        url:'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(35, 35)
                    }));
                    marker.setPosition(latlng);
                    marker.setVisible(true);

                    circle = new google.maps.Circle({
                        map: map,
                        // metres
                        radius: 30,
                        fillColor: '#fff',
                        fillOpacity: 0,
                        strokeColor: '#fff',
                        strokeOpacity: 0,
                        strokeWeight: .8,
                        center: latlng
                    });

                    bounds = circle.getBounds();

                    infowindow.setContent('<div><strong>' + distrito + '</strong><br><strong>' + address + '</strong>');
                    infowindow.open(map, marker);

                    $('motoboy_lat_long').setValue(lat+';'+lng);

                    jQuery("#msg-warning-zone").slideUp(300);
                    
                }else {
                    infowindow.close();
                    marker.setVisible(false);
                    jQuery("#msg-warning-zone").slideDown(300);
                    $('motoboy_lat_long').setValue('');

                    
                }
              } else {
                infowindow.close();
                marker.setVisible(false);
                jQuery("#msg-warning-zone").slideDown(300);
                $('motoboy_lat_long').setValue('');
                
              }
            });
            
            google.maps.event.addListener(marker, 'dragend', function() {
                var position = marker.getPosition();
                bounds = circle.getBounds();
                result = bounds.contains(position);
                //esult = initializeZoneReparto(position.lat(),position.lng());
                (result) ? lastPosition = position : marker.setPosition(lastPosition);
                if (result) {
                    lastPosition = position;
                    $('motoboy_lat_long').setValue(position.lat()+';'+position.lng());
                }else{
                    marker.setPosition(lastPosition);
                }
            });
        }else{
            infowindow.close();
            marker.setVisible(false);
            jQuery("#msg-warning-zone").slideDown(300);
                $('motoboy_lat_long').setValue('');

        }
        jQuery(".input_latlong-address .fa-spinner").hide();
        //var valid_moto = Validation.validate($('motoboy_address'));
        //console.log(valid_moto);
        //if (valid_moto) {jQuery('#motoboy_address').next('.validation-advice').hide();}
    }
    jQuery('input[type="radio"][value="motoboy_motoboy"]').click(function () {
        if (jQuery(this).is(':checked')) {
            google.maps.event.trigger(maps, 'resize');
        }
    })

if ($("validate-motoboy")) {
    Validation.add('validate-motoboy', 'Por favor ingresar una dirección valida en el mapa', function(v) {
        //return Validation.get('IsEmpty').test(v) || /^([a-zA-Z0-9]+[a-zA-Z0-9._%-]*@gmail\.com)$/i.test(v)
        var lat_lng = $('motoboy_lat_long').value;
        if (lat_lng.length > 0) {
            return true;
        }else{
            return false;
        }

    });
}
    
</script>