<?php
    $rate = $this->getRate();
    $delivery_time = $rate->getDeliveryTime();
?>
<div class="calendar_status_olva text-center">
    <div class="title"><span>Fecha de Entrega </span></div>
    <div id="olvadsel2"></div>
    <div class="wtf" id="olvawtf"></div>
    <div class="input-box" style="display: none;">
        <input type="hidden" id="delivery_date_olva" name="olva[shipping_date]" value="" title="" class="input-text validate-date"/>
    </div>
</div>

<?php $holidays = Mage::helper('olva')->getHolidays(); ?>
<?php $disabledDay = Mage::helper('olva')->getDisabledDays(); ?>

<?php $holidays  = explode(',',$holidays);  ?>
<?php $disabledDay  = explode(',',$disabledDay); ?>

<script type="text/javascript">
    var holidays=<?php echo json_encode($holidays);?>;
    var disabledDays=<?php echo json_encode($disabledDay);?>;
    var monthsN=["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
    var calendarPicker2 = jQuery("#olvadsel2").calendarPicker({
        monthNames:["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        dayNames: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
        useWheel:true,
        callbackDelay:500,
        years:0,
        months:0,
        days:4,
        showDayArrows:true,
        hiddenDay:disabledDays,//domingo = 0 lunes= 1 martes =2...
        beforeShowHolidays:holidays,
        aditionalDay:<?php echo ($delivery_time)? $delivery_time:'0'; ?>,
        callback:function(cal) {
            jQuery("#olvawtf").html("<span><label class='title-date'>Fecha Seleccionada: </label> <label>" + cal.currentDate.getDate()+' de '+monthsN[cal.currentDate.getMonth()]+' de '+cal.currentDate.getFullYear()+'</label></span>');
            jQuery('#delivery_date_olva').val(cal.currentDate.getFullYear()+'-'+(cal.currentDate.getMonth() + 1)+'-'+cal.currentDate.getDate());
        }});
</script>