<?php
    $rate = $this->getRate();
    $delivery_time = $rate->getDeliveryTime();
?>
<div class="calendar_shipping text-center">
    <div class="title"><span>Fecha de Entrega </span></div>
    <div id="dsel2"></div>
    <div id="wtf" class="wtf"></div>
    <div class="input-box" style="display: none;">
        <input type="hidden" id="delivery_date" name="sitewards[delivery_date]" value="" title="" class="input-text validate-date"/>
    </div>
</div>

<?php $holidays = Mage::helper('servientrega')->getHoliday(); ?>
<?php $disabledDay = Mage::helper('servientrega')->getDisabledDay(); ?>

<?php $holidays  = explode(',',$holidays);  ?>
<?php $disabledDay  = explode(',',$disabledDay); ?>

<script type="text/javascript">
    //var holidays = ['1/1','1/5','24/6','29/6','28/7','29/7','30/8','8/10','1/11','8/12','25/12','11/4','12/4','13/4','14/4','15/4'];
    //var disabledDay = ['0'];
    var holidays=<?php echo json_encode($holidays);?>;
    var disabledDays=<?php echo json_encode($disabledDay);?>;
    //console.log(holidays);
    var monthsN=["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
    var calendarPicker2 = jQuery("#dsel2").calendarPicker({
        monthNames:["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        dayNames: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
        useWheel:true,
        callbackDelay:500,
        years:0,
        months:0,
        days:4,
        showDayArrows:true,
        hiddenDay:disabledDays,//domingo = 0 lunes= 1 martes =2...
        beforeShowHolidays:holidays,
        aditionalDay:<?php echo ($delivery_time)? $delivery_time:'0'; ?>,
        callback:function(cal) {
            jQuery("#wtf").html("<span><label class='title-date'>Fecha Seleccionada: </label> <label>" + cal.currentDate.getDate()+' de '+monthsN[cal.currentDate.getMonth()]+' de '+cal.currentDate.getFullYear()+'</label></span>');
            jQuery('#delivery_date').val(cal.currentDate.getFullYear()+'-'+(cal.currentDate.getMonth() + 1)+'-'+cal.currentDate.getDate());
        }});
</script>