<?php
    $rate = $this->getRate();
    $helper = Mage::helper('urbaner');
    $delivery_time = $helper->getDeliveryTime();
    $volume = $rate->getVolume();
    $address = $rate->getAddressShipping();
    $coordinates = $rate->getCoordinates();
    $_coordinates = $helper->getCoordinates();
    $upon_stores = $helper->getStoreUponDelivery(true);
    $id_store_default = $helper->getIdStoreDefault();
    $name_store_default = $helper->getNameStoreDefault();

    $_center = $_coordinates['data'][0]['coordinate_center'];
    $_center = explode(',', $_center);
    $district = $coordinates['nombre'];
    $center = ($coordinates['center']) ? $coordinates['center'] : array('-12.046374', '-77.042793');
    //$coordinates_ = ($coordinates['coordenadas']) ? $coordinates['coordenadas']:array();

    /*$coordinates_ = ($_coordinates['data'][0]['polygon']) ? $_coordinates['data'][0]['polygon']:array();

    $arrayMapa = "ArrayUrbMapa = [";
    foreach($coordinates_ as $value) {
        Mage::log($value);
        $arrayMapa.="{lat:".$value['lat'].",lng:".$value['lng']."},";
    }
    $arrayMapa .= "];";*/

    $arrayMapa = "ArrayUrbMapa = ".$_coordinates['data'][0]['polygon'].";";

    $vehicle_types = $helper->getVehicleTypes();
    $order_types = $helper->getOrderTypes();
    $hours = $helper->getHours();
?>
<div class="urbaner_content form-group">
    <div class="header-urbaner hidden">
        <span class="description"><?php echo $delivery_time; ?></span>
    </div>
    <?php if ($order_types): ?>
    <div class="one-field ordertypes form-group text-center">
        <!--<label class="required" for="ordertypes">Tipo de Orden<em>*</em></label>-->
        <div class="content-ordertypes">
            <h4 class="required">Tipo de Orden<em>*</em>:</h4>
            <div class="row">
            <div class="table d-table no-margin">
                <div class="col-xs-5 col-sm-4 list-ordertype">
                <ul class="no-margin text-left" id="urbaner_ordertypes">
                <?php $ot_checked = count($order_types) == 1 ? " checked" : "" ?>
                <?php foreach ($order_types as $key => $type): ?>
                    <li class="cont_radio">
                      <input id="<?php echo 'urbaner_type_id'.$key ?>"<?php echo $ot_checked ?> type="radio" data-info-text="<?php echo $type['text'] ?>" class="urbaner_ordertypes radio validate-one-required-by-name" name="urbaner[ordertypes]" value="<?php echo $key ?>" />
                      <label for="<?php echo 'urbaner_type_id'.$key ?>" class="no-margin"><span><?php echo $type['name'] ?></span></label>
                  </li>
                <?php endforeach ?>
                </ul>
                </div>
                <div class="col-xs-7 col-sm-8 info-method-ordertypes">
                <div class="info" id="info-ordertypes">
                <?php if ($ot_checked): ?>
                <?php echo array_shift($order_types)['text'] ?>
                <?php else: ?>
                <span class="description"><?php echo $this->__('Please select an option.') ?></span>
                <?php endif ?>
                </div>
                <div class="content-hours-express-schudeled">
                    <select class="" name="urbaner[hours]" id="hours-express-schudeled" style="display: none;">
                    <?php foreach ($hours as $key => $type): ?>
                        <option value="<?php echo $key ?>"><?php echo $type ?></option>
                    <?php endforeach ?>
                    </select>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
    <?php endif ?>
    <?php if ($vehicle_types): ?>
    <div class="table d-table vehicletypes form-group">
        <div class="d-table-cell col-xs-6 col-sm-5 v-middle text-left" style="padding: 0 15px 0 0;">
            <label class="required" for="vehicletypes">Tipo de Vehículo<em>*</em>:</label>
        </div>
        <div class="d-table-cell col-xs-6 col-sm-7 v-middle no-padding">
        <select class="validate-select" name="urbaner[vehicletypes]" id="vehicletypes" onchange="save_shipping_method(shipping_method_url,1,1);">
            <?php foreach ($vehicle_types as $key => $type): ?>
            <option value="<?php echo $key ?>"><?php echo $type ?></option>
            <?php endforeach ?>
        </select>
        </div>
    </div>
    <?php endif ?>
    <div class="one-field">
        <label class="required" for="urbaner_address"><?php echo $this->__('Address') ?><em>*</em></label><br>
        <div class="row">
            <div class="col-xs-12 urb_input_latlong-address">
                <input id="urbaner_address" autocomplete="" name="urbaner[address]" value="<?php echo $address ?>" title="<?php echo $this->__('Address') ?>" class="input-text required-entry validate-urbaner validate-upon-delivery" type="text">
                <i class="fa fa-spin fa-spinner" style="display:none;position:absolute;right:20px;top:7px;"></i>
                <p class="text-red text-left advice"><strong>Por favor, verificar que su dirección coincida en el mapa, no colocar manzanas ni lotes.</strong></p>
            </div>
        </div>
    </div>
    <div class="cont-mapa text-center">
        <div id="urbanermapa" style="width: 100%; height: 200px;"></div>
        <div class="bg-block-lab text-white" id="urbaner-msg-warning-zone" style="display: none;">Estás fuera del distrito seleccionado.</div>
        <input type="hidden" name="urbaner[lat_lng]" id="urbaner_lat_long">
        <input type="hidden" name="urbaner[almacen_id]" id="urbaner_almacen_id">
        <input type="hidden" name="urbaner[lat_]" id="urb_lat" value="<?php echo $_center[0] ?>">
        <input type="hidden" name="urbaner[lng_]" id="urb_lng" value="<?php echo $_center[1] ?>">
        <input type="hidden" name="urbaner[district]" id="urb_district" value="<?php echo $district ?>">
        <div class="buttons-set no-margin">
            <button class="btn btn-success" id="btn-urbaddressvalidate" type="button" data-toggle="popover" data-placement="auto" data-content="Click aquí para activar siguiente paso"><strong>Validar Dirección</strong></button>
        </div>
    </div>
    <div class="info-tienda form-group text-center">
        <div class="title" id="urbaner-title-store" style="font-size: 12px;"></div>
        <div class="hours" id="urbaner-horario"></div>
    </div>
</div>
<script type="text/javascript">
    /*Event.observe('input[name=urbaner_ordertypes]', 'change', function(event) {
    $('hours-express-schudeled').hide();
    $('hours-express-schudeled').removeClassName('validate-select');
    if (this.value == '1') {
      console.log('servicio express');
      $('info-ordertypes').update('<?php //echo $txt_express; ?>');
    } else if (this.value == '2') {
      $('info-ordertypes').update('<?php //echo $txt_express_schudeled; ?>');
      $('hours-express-schudeled').show();
      $('hours-express-schudeled').addClassName('validate-select');
    } else if (this.value == '3') {
        $('info-ordertypes').update('<?php //echo $txt_next_day; ?>');
    } else {
        $('info-ordertypes').update('');
    }
  });*/

  /*
  $('urbaner_ordertypes').on('change', '.urbaner_ordertypes', function(event) {
      console.log(this);
      $('hours-express-schudeled').hide();
      $('hours-express-schudeled').removeClassName('validate-select');
      if (this.value == '1') {
        console.log('servicio express');
        $('info-ordertypes').update('<?php //echo $txt_express; ?>');
      } else if (this.value == '2') {
        $('info-ordertypes').update('<?php //echo $txt_express_schudeled; ?>');
        $('hours-express-schudeled').show();
        $('hours-express-schudeled').addClassName('validate-select');
      } else if (this.value == '3') {
          $('info-ordertypes').update('<?php //echo $txt_next_day; ?>');
      } else {
          $('info-ordertypes').update('');
      }
  });
  */

  upon_stores = <?php echo json_encode($upon_stores) ?>;
    <?php echo $arrayMapa ?>
    ArrayUrbMapa = toObjectCoo(ArrayUrbMapa);

    var urb_map = new google.maps.Map(document.getElementById('urbanermapa'), {
      //center: new google.maps.LatLng(<?php echo $center[0] ?>, <?php echo $center[1] ?>),
      zoom: 12,
      streetViewControl: false,
      mapTypeControl: false,
      zoomControl: true,
      zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER
      },
    });

    maps = urb_map;
    //urb_map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(msg);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: urb_map,
        anchorPoint: new google.maps.Point(0, -29),
        draggable: true
    });
    var flightPath = new google.maps.Polygon({
        path: ArrayUrbMapa,
        //geodesic: true,
        strokeColor: '#2B2B2B',
        fillColor: '#2B2B2B',
        strokeOpacity: 0.7,
        fillOpacity: 0.1,
        strokeWeight: 2
    });
    flightPath.setMap(urb_map);

    var msg = jQuery("#urbaner-msg-warning-zone"),
        urbaner_address = $('urbaner_address'),
        urb_district = $('urb_district'),
        urbaner_loader = jQuery(".urbaner_content .fa-spinner"),
        btn_urbaddrvalidate = jQuery('#btn-urbaddressvalidate');

    function getUrbAddressShippingFromBS() {
        var ds_checked = $('shipping:different_shipping').checked;
        urbaner_loader.show();

        if (ds_checked) {
            var shipping_address = $('shipping:street1').value;
            if(urbaner_address) {
                urbaner_address.setValue(shipping_address);
                getUrbCodeAddress(shipping_address);
            }
        } else {
            var billing_address = $('billing:street1').value;
            if(urbaner_address) {
                urbaner_address.setValue(billing_address);
                getUrbCodeAddress(billing_address);
            }
        }
    }

    jQuery('#urbaner_address').donetyping(function (event) {
        btn_urbaddrvalidate.show();
        btnValidateShipping.hide();
    })
    jQuery("#billing\\:street1").donetyping( function (event) {
        getUrbAddressShippingFromBS();
    })
    jQuery("#shipping\\:street1").donetyping( function (event) {
        getUrbAddressShippingFromBS();
    })

    /*Event.observe('billing:street1', 'keypress', function(event) {
        getUrbAddressShippingFromBS();
    });*/
    /*Event.observe('shipping:street1', 'keypress', function(event) {
        getUrbAddressShippingFromBS();
    });*/

    /*var inter_urbaner;
    Event.observe('urbaner_address', 'keypress', function(event) {
        urbaner_loader.show();
        clearInterval(inter_urbaner);

        if ( event.keyCode == Event.KEY_RETURN  || event.which == Event.KEY_RETURN ) {
            var urbaner_address = $('urbaner_address').value;
            getUrbCodeAddress(urbaner_address);
        } else {
            inter_urbaner = setInterval(function(){
                var urbaner_address = $('urbaner_address').value;
                getUrbCodeAddress(urbaner_address);
                clearInterval(inter_urbaner);
            }, 2000);
        }
    });*/

    //setTimeout(function() {save_shipping_method(shipping_method_url,0,1);}, 500);

    function getUrbCodeAddress(address, showNext) {
        showNext = showNext || false;
        var result = false, lastPosition;
        jQuery('#btnValidateShipping').hide();
        btn_urbaddrvalidate.show();
        btn_urbaddrvalidate.attr('disabled', true);
        if (address != ''  && urb_district.value ) {
            var bounds,
                address_place = address+', '+urb_district.value;
            geocoder = new google.maps.Geocoder();
            urbaner_loader.show();
            geocoder.geocode( { 'address': address_place}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                var place_address = results[0].formatted_address,
                    urb_location = results[0].geometry.location,
                    lat = urb_location.lat(),
                    lng = urb_location.lng(),
                    place_street_number = false;
                infowindow.close();
                marker.setVisible(false);

                for (var i = 0; i < results[0].address_components.length; i++) {
                    var addressType = results[0].address_components[i].types[0];
                    if (addressType == 'street_number') {
                        place_street_number = true;
                        break;
                    }
                }

                result = initializeZoneReparto(lat, lng, ArrayUrbMapa);
                latlng = new google.maps.LatLng(lat, lng);
                lastPosition = latlng;

                if (result) {
                    urb_map.setCenter(latlng);
                    urb_map.setZoom(17);
                    infowindow.setContent('<strong>' + place_address + '</strong>');
                    infowindow.open(urb_map, marker);
                    marker.setIcon( ({
                        url:'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(35, 35)
                    }));
                    marker.setPosition(latlng);
                    marker.setVisible(true);

                    if (!place_street_number) {
                        locationUrbNotFound(0);
                        return;
                    }

                    circle = new google.maps.Circle({
                        map: urb_map,
                        // metres
                        radius: 30,
                        fillColor: '#fff',
                        fillOpacity: 0,
                        strokeColor: '#fff',
                        strokeOpacity: 0,
                        strokeWeight: .8,
                        center: latlng
                    });

                    bounds = circle.getBounds();

                    $('urbaner_lat_long').setValue(lat+','+lng);
                    //console.log(lat+','+lng);
                    //if ($$('input:checked[name="urbaner[ordertypes]"]').length) {
                        //var val_ordertypes = $$('input:checked[name="urbaner[ordertypes]"]')[0].value;
                        //if (val_ordertypes == '4') {
                          //console.log('<?php echo $id_store_default ?>');
                          var response_upon = validateStoresUpon(lat, lng, upon_stores, 'urbaner-title-store');
                          if (response_upon) {
                            $('urbaner_almacen_id').setValue(response_upon);
                          } else {
                            $('urbaner_almacen_id').setValue('<?php echo $id_store_default ?>');
                            $('urbaner-title-store').update('<strong><?php echo $name_store_default ?></strong');
                          }
                        //}
                    //}
                    save_shipping_method(shipping_method_url, 1, 1);
                    msg.hide();
                    if (showNext) {
                        btn_urbaddrvalidate.hide();
                        jQuery('#btnValidateShipping').show();
                    }
                    btn_urbaddrvalidate.attr('disabled', false);
                    urbaner_loader.hide();

                } else {
                    locationUrbNotFound(2);
                    allday_map.setCenter(latlng);
                }
              } else {
                locationUrbNotFound(3);
              }
            });

            google.maps.event.addListener(marker, 'dragend', function() {
                var position = marker.getPosition();
                bounds = circle.getBounds();
                result = bounds.contains(position);
                (result) ? lastPosition = position : marker.setPosition(lastPosition);
                if (result) {
                    lastPosition = position;
                    $('urbaner_lat_long').setValue(position.lat()+','+position.lng());
                    var response_upon = validateStoresUpon(position.lat(), position.lng(),upon_stores, 'urbaner-title-store');
                    if (response_upon) {
                      $('urbaner_almacen_id').setValue(response_upon);
                    } else {
                      $('urbaner_almacen_id').setValue('<?php echo $id_store_default ?>');
                      $('urbaner-title-store').update('<strong><?php echo $name_store_default ?></strong>');
                    }
                } else {
                    marker.setPosition(lastPosition);
                }
            });
        } else {
            urbaner_address.focus();
            locationUrbNotFound(1);
        }
    }

    function locationUrbNotFound(type) {
        if (type == 0) {
            msg.text("Verifique que su dirección sea la correcta.");
        } else if (type == 1) {
            msg.text("Estás fuera del distrito seleccionado.");
        } else if(type == 2) {
            msg.text("Estás fuera de la zona de reparto.");
        } else {
            msg.text("No se pudo encontrar la dirección ingresada.");
        }
        msg.show();
        infowindow.close();
        marker.setVisible(false);
        if ($('urbaner_lat_long')) {
            $('urbaner_lat_long').setValue('');
        }
        urbaner_loader.hide();
        jQuery('#btnValidateShipping').hide();
        btn_urbaddrvalidate.attr('disabled', false);
    }

    jQuery(document).ready(function () {
        //save_shipping_method(shipping_method_url, 1, 1);

        btn_urbaddrvalidate.on('click', function () {
            //jQuery(this).attr('disabled', true);
            getUrbCodeAddress(urbaner_address.value, true);
            //jQuery(this).attr('disabled', false);
        })

        jQuery('input[type="radio"][value="urbaner_urbaner"]').click(function () {
            if (jQuery(this).is(':checked')) {
                getUrbCodeAddress(urbaner_address.value);
                google.maps.event.trigger(maps, 'resize');
                setTimeout(function () {
                    btn_urbaddrvalidate.popover('show').popover('disable');
                }, 200);
            }
        })

        jQuery('#urbaner_ordertypes input').on('click',function() {
            var $this = jQuery(this),
                this_value = $this.val(),
                this_text = $this.attr('data-info-text');
          
            $('info-ordertypes').update(this_text);
            if (this_value != '' && this_value != '4') {
                save_shipping_method(shipping_method_url, 1, 1);
            }

            if (this_value == '2') {
                $('hours-express-schudeled').show();
                $('hours-express-schudeled').addClassName('validate-select');
            } else {
                $('hours-express-schudeled').hide();
                $('hours-express-schudeled').removeClassName('validate-select');
            }
            getUrbCodeAddress(urbaner_address.value);
        })
    })

if ($$("validate-urbaner")) {
    Validation.add('validate-urbaner', 'Por favor ingresar una dirección valida en el mapa', function(v) {
        var lat_lng = $('urbaner_lat_long').value;
        if (lat_lng.length > 0) {
            return true;
        } else {
            return false;
        }
    });
}
if ($$("validate-upon-delivery")) {
    Validation.add('validate-upon-delivery', 'El envío  no esta disponible para esta dirección.', function(v) {
        var almacen_id = $('urbaner_almacen_id').value;
        //if ($$('input:checked[name="urbaner[ordertypes]"]').length) {
        // var order_types = $$('input:checked[name="urbaner[ordertypes]"]')[0].value;
          //if (order_types == '4') {
              if (almacen_id.length > 0) {
                return true;
              } else {
                return false;
              }
          /*} else {
              return true;
          }*/
        /*} else {
          return true;
        }*/
        
        
    });
}
</script>