<?php if ($this->getPointsEarned()): ?>
    <?php $_helper = Mage::helper('giantpoints') ?>
    <span class="giantpoints-earning-msg">
  <?php echo $this->getPointIcon(); ?>
        <b><span class="giantpoints-message-<?php echo $this->getProduct()->getId()?>">
    <?php echo $this->__('acumula %s', $_helper->addLabelForPoint($this->getPointsEarned())) ?>
    </span> </b>
</span>
<?php endif; ?>