<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_PromoBannersLite
 */
?>
<?php /** @var Amasty_PromoBannersLite_Block_Banner $this */?>
<?php /** @var Mage_SalesRule_Model_Rule $rule */?>

<?php $validRules = $this->getValidRules();
if (Mage::helper('ambannerslite')->isEnable() && isset($validRules)): ?>
<?php foreach($validRules as $rule) :?>
    <?php if ($this->existBanner($rule)) :?>
        <?php if ($this->enablePosition($rule)):?>
            <div class="<?php echo ($this->getPosition() == "top" ? "category-image" : "product-options")?>">
                <?php if ($this->getBannerData('_banner_description', $rule)): ?>
                    <div class="ampromo-desc">
                        <?php echo Mage::helper('cms')->getPageTemplateProcessor()
                            ->filter($this->getBannerData('_banner_description', $rule)); ?>
                    </div>
                <?php endif; ?>
                <?php $img = $this->getImage($rule); ?>
                <?php if ($img) :?>
                    <p>
                    <?php if ($this->getLink($rule)): ?>
                        <a href="<?php echo $this->getLink($rule);?>"
                           title="<?php echo $this->escapeHtml($this->getBannerData('_banner_hover_text', $rule)) ?>">
                        <?php endif ?>
                            <img src="<?php echo $img;?>"
                                 alt="<?php echo $this->escapeHtml($this->getBannerData('_banner_alt', $rule)) ?>"
                                 title="<?php echo $this->escapeHtml(
                                     $this->getBannerData('_banner_hover_text', $rule)) ?>" />
                        <?php if ($this->getLink($rule)): ?>
                        </a>
                        <?php endif ?>
                    </p>
                <?php endif; ?>
                <?php if ($this->getBannerData('_banner_gift_images_enable', $rule) && $this->checkForPromoSku($rule)) :?>
                    <ul class="ampromo-gift">
                        <?php foreach($this->getProducts($rule) as $product): ?>
                            <?php
                            $product->getAttributeRawValue($product->getId(), $this->getStoreConfigData('attribute_header'), 1);
                            $id = uniqid("ampromo-gift-img-");
                            ?>
                            <li>
                                <a class="product-image" href="<?php echo $product->getProductUrl()?>">
                                    <img id="<?php echo $id;?>"
                                         width="<?php echo $this->getStoreConfigData('gift_image_width');?>"
                                         height="<?php echo $this->getStoreConfigData('gift_image_height');?>"
                                         src="<?php echo Mage::helper('catalog/image')->init($product, 'thumbnail')
                                             ->resize(
                                                 $this->getStoreConfigData('gift_image_width'),
                                                 $this->getStoreConfigData('gift_image_height')); ?>"/>
                                    <div id="<?php echo $id;?>-data" style="display: none;">
                                        <div class="ampromo-product-name"><?php echo $product->getResource()
                                                ->getAttribute($this->getStoreConfigData('attribute_header'))
                                                ->getFrontend()->getValue($product);?></div>
                                        <div><?php echo $product->getResource()
                                                ->getAttribute($this->getStoreConfigData('attribute_description'))
                                                ->getFrontend()
                                                ->getValue($product);?></div>
                                    </div>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
                <div style="clear: both;"></div>
            </div>
        <?php endif;?>
    <?php endif;?>
<?php endforeach; ?>
<?php endif; ?>
<?php if (Mage::helper('ambase')->isModuleActive('ampromo')) { ?>
<script>
    $$('.ampromo-gift img').each(function (img){
        img.observe('mouseover', ampromo_tooltip_show);
        img.observe('mouseout', ampromo_tooltip_hide);
    });
</script>
<?php } ?>

