<?php
$content_arr = explode("|", $this->bl_content);
$obj = new Cmsmart_Megamenu_Block_Navigation();
$sku = $content_arr[0];
$p = $obj->_getProductData($sku);
?>

<div class="product-info-left-right">
	<h2><?php echo $content_arr[1]; ?></h2>
	<a class="product-image" href="<?php echo $p->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($p, 'small_image')->resize(250, 250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($p->getName()) ?>" />
	</a>
	<h2 class="product-name"><a title="<?php echo $p->getData("name") ?>" href="<?php echo $p->getProductUrl() ?>"><?php echo $p->getData("name") ?></a></h2>
	<?php
		$formattedPrice = Mage::helper('core')->currency($p->getPrice(), true, false);
		$formattedFinalPrice = Mage::helper('core')->currency($p->getFinalPrice(), true, false);
	?>
	<div class="price-box">
		<?php if($p->getFinalPrice() < $p->getPrice()): ?>
		<p class="special-price"> 
			<span class="price">
			<?php echo $formattedFinalPrice ?>
			</span>
		</p>
		<p class="old-price"> 
			<span class="price">
			<?php echo $formattedPrice ?>   
			</span>
		</p>
		<?php else: ?>
		<span class="regular-price">
		<span class="price">
		<?php echo $formattedFinalPrice ?>
		<span>
		</span>
		<?php endif; ?>
		
		<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($p); ?>')">
		<span><span><?php echo $this->__('Add to Cart') ?></span></span>
		</button>
	</div>
	<div class="actions">
		<?php
		$desc = $p->getData("short_description");
		$_mydesc = Mage::helper('megamenu/data')->limit_text($desc, 7);
		?>
		<p><?php echo $_mydesc ?><a href="<?php echo $p->getProductUrl() ?>">read more</a></p>
	</div>
</div>