<?php
	/*
	* Name Extension: Cmsmart megamenu
	* Author: The Cmsmart Development Team 
	* Date Created: 06/09/2013
	* Websites: http://cmsmart.net
	* Technical Support: Forum - http://cmsmart.net/support
	* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
	* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
	*/
	?>
<?php
	/**
	 * Top menu for store
	 *
	 * @see Mage_Catalog_Block_Navigation
	 */
	?>
<?php
	/**
	 * $this->renderCategoriesMenuHtml() supports optional arguments:
	 * bool Add opener if menu is used as accordion
	 * int Level number for list item class to start from
	 * string Extra class of outermost list items
	 * string If specified wraps children list in div with this class
	 */
	?>
<?php
	$_helper    = $this->helper('catalog/output');
	$childrens = Mage::helper('megamenu/data')->getSubCategories(Mage::helper('megamenu/data')->getRootCatId());
	/* some contants */
	$c_contact = Cmsmart_Megamenu_Model_Contenttype::Contact;/* 7 */
	$c_pgrid = Cmsmart_Megamenu_Model_Contenttype::Product_Grid;/* 4 */
	$c_dynamic_cat = Cmsmart_Megamenu_Model_Contenttype::Dynamic_Category_Listing;/* 2 */
	$c_plist = Cmsmart_Megamenu_Model_Contenttype::Product_Listing;/* 5 */
	$c_static = Cmsmart_Megamenu_Model_Contenttype::Static_Category_Listing; /* 3 */
	
	?>
<?php /******** Root Cateogry - Level 1 ********/ ?>
	<div id="nb_megamenu" class="magemenu-menu horizontal-menu">
		<div class="header-nav">
			<h4 class="no-display">Default Menu</h4>
			<ul class="nav-exploded explodedmenu">
				<?php if(Mage::helper('megamenu/data')->isShowHomePage()): ?>
				<li class="menu" id="menu3">
					<a href=""><span><?php echo $this->__('Home') ?></span></a>
				</li>
				<?php endif; ?>
				<?php foreach ($childrens as $category){ ?>
				<?php /* id of cat for each categories */ ?>
				<?php $child_cat_id = $category["entity_id"]; ?>
				<?php 
					$parent_class = "";
					$top_block = $this->_getBlockTop($child_cat_id);
					$left_block = $this->_getBlockLeft($child_cat_id); 
					$sku = $this->_getCatSku($child_cat_id);
					$left_content = $this->_getLeftCatSku($child_cat_id);
					$left_sku = explode("|", $left_content)[0];
					$right_content = $this->_getRightCatSku($child_cat_id);
					$right_sku = explode("|", $right_content)[0];
					$right_block = $this->_getBlockRight($child_cat_id);
					$bottom_block = $this->_getBlockBottom($child_cat_id);
					$content_type = $this->_getContentType($child_cat_id);
                                        $content_type_name = "nbtype-".$content_type;
                                        
					if($left_block || $sku || $right_block){
						$parent_class = "nb-repare-width";
					}
					$h_label = $this->_getCatLabelImage($child_cat_id);
					$column = $this->_getNumOfCol($child_cat_id);
					?>
				<?php /***level 2 ***/ ?>
				<?php $childrens2 = Mage::helper('megamenu/data')->getSubCategories($child_cat_id); ?>
				
				<?php 
					if(count($childrens2) || $content_type == $c_contact || $content_type == $c_pgrid) {
						$submenu_class = "parentMenu";
					}
				?>
				
				<li data-special-class="<?php echo $this->_getSpecClass($child_cat_id); ?>" class="menu <?php echo $submenu_class; ?> <?php echo $this->_getSpecClass($child_cat_id); ?> <?php echo $content_type_name; ?>">
					<!-- vertical menu -->
					<a href="<?php echo $this->_getCatUrl($child_cat_id) ?>">
					
					<?php if($h_label != ""){ ?>
					<img alt="" src="<?php echo $h_label;?>">
					<?php } ?>
					
					<span><?php echo $category["name"] ?></span>
					</a>
					
					<?php if(count($childrens2) && $content_type != $c_contact && $content_type != $c_pgrid && $content_type != $c_dynamic_cat && $content_type != $c_plist && $content_type != $c_static){ ?>
					
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block static-block">
							<div class="inner-cms-block <?php echo $parent_class; ?>">
								<!-- top block --> 
								<?php if($top_block){ ?>
								<div class="block block-top">
									<?php echo $top_block; ?>
								</div>
								<?php } ?>
								<div class="clearfix"></div>
								<!-- end static block top -->
								<!-- left block check khi nao co block thi moi show div block block-left --> 
								
									<?php 
										if($left_block){
									?>
									<div class="block block-left">
										<?php echo $left_block; ?> 
									</div>
									<?php } ?>
									
									<?php 
										if($left_sku){
									?>
									<div class="block block-left">
										<?php
										echo $this->getLayout()->createBlock('core/template')
													->setData('bl_content', $left_content)
													->setTemplate('cmsmart/megamenu/sku.phtml')->toHtml(); 
										?>
									</div>
									<?php } ?>
									<!-- end static block left -->
									<!-- sub-categories  -->
									<div class="block block-cate">
										<?php foreach ($childrens2 as $cate){ ?>
										<?php /*** level 3 ***/ ?>
										<?php $childrens3 = Mage::helper('megamenu/data')->getSubCategories($cate["entity_id"]); ?>
										<div class="subcate <?php if(count($childrens3)){echo "subparent";}?>">
											<h3>
												<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>"><?php echo $cate["name"] ?></a>
											</h3>
											<?php if(count($childrens3)){ ?>
											<ul class="itemsubmenu">
												<?php foreach ($childrens3 as $cate){ ?>
												<?php /*** level 4 ***/ ?>
												<?php $childrens4 = Mage::helper('megamenu/data')->getSubCategories($cate["entity_id"]); ?>
												<li class="itemMenu level4 <?php if(count($childrens4)){echo "subparent";}?>">
													<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>"><?php echo $cate["name"] ?></a>
													<?php if(count($childrens4)){ ?>
													<ul class="itemsubmenu level4">
														<?php foreach ($childrens4 as $cate){ ?>
														<?php /*** level 5 ***/ ?>
														<?php $childrens5 = Mage::helper('megamenu/data')->getSubCategories($cate["entity_id"]); ?>
														<li class="itemMenu level5 <?php if(count($childrens5)){echo "subparent";}?>">
															<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>" class="itemMenuName level2"><span><?php echo $cate["name"] ?></span></a>
															<?php if(count($childrens5)){ ?>
															<ul class="itemsubmenu level5">
																<?php foreach ($childrens5 as $cate){ ?>
																<li class="itemMenu level6">
																	<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>" class="itemMenuName level6"><span><?php echo $cate["name"] ?></span></a>
																</li>
																<?php } ?>
															</ul>
															<?php } ?>
														</li>
														<?php } /* end level4 */ ?>
													</ul>
													<?php } /* end level4 */ ?>
												</li>
												<?php } /* end level3 */ ?>
											</ul>
											<?php } /* end level3 */ ?>
										</div>
										<?php } /* end level2 */ ?>
									</div>
									<!-- end sub-categories -->
									<!-- block show specical product -->
									<?php
										if($sku){
										?>
									<div class="block block-product">
										<div class="product-grid">
											<div class="inner">
												<div class="item">
													<?php 
														/* block title for product */
														$container_title = $this->_getProductTitle($child_cat_id);
														$p = $this->_getProductData($sku);
														$purl = Mage::helper('catalog/product')->getProductUrl($p->getData("entity_id"));
														$imageUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog/product' . $p->getData("image");
														if($container_title){
														?>
													<h2><?php echo $container_title ?></h2>
													<?php } ?>
													<div class="product-info">
														<a class="product-image" href="<?php echo $p->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($p, 'small_image')->resize(250, 250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($p->getName()) ?>" />
														</a>
														<h2 class="product-name"><a title="<?php echo $p->getData("name") ?>" href="<?php echo $p->getProductUrl() ?>"><?php echo $p->getData("name") ?></a></h2>
														<?php
															$formattedPrice = Mage::helper('core')->currency($p->getPrice(), true, false);
															$formattedFinalPrice = Mage::helper('core')->currency($p->getFinalPrice(), true, false);
															  ?>
														<div class="price-box">
															<?php if($p->getFinalPrice() < $p->getPrice()): ?>
															<p class="special-price"> 
																<span class="price">
																<?php echo $formattedFinalPrice ?>
																</span>
															</p>
															<p class="old-price"> 
																<span class="price">
																<?php echo $formattedPrice ?>   
																</span>
															</p>
															<?php else: ?>
															<span class="regular-price">
															<span class="price">
															<?php echo $formattedFinalPrice ?>
															<span>
															</span>
															<?php endif; ?>
														</div>
														<div class="actions">
															<p><?php echo $p->getData("short_description") ?></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<?php } ?>
									<!-- block show specical product -->
									<!-- right block anh check cho em khi nao co thi moi hien thi block -->
									<?php 
										if($right_block){
										?>
									<div class="block block-right">
										<?php echo $right_block; ?>
									</div>
									<?php } ?>
									
									<?php 
										if($right_sku){
									?>
									<div class="block block-right">
										<?php
										echo $this->getLayout()->createBlock('core/template')
													->setData('bl_content', $right_content)
													->setTemplate('cmsmart/megamenu/sku.phtml')->toHtml(); 
										?>
									</div>
									<?php } ?>
									
									<!-- end content block right --> 
								
								<div class="clearfix"></div>
								<!-- bottom block --> 
								<?php 
									if($bottom_block){
									?>
								<div class="block block-bottom">
									<?php echo $bottom_block; ?>	
								</div>
								<?php } ?>
								<!-- end content block bottom -->
							</div>
						</div>
					</div>
					<?php } ?>
					
					<!-- contact menu -->
					<?php
					if($content_type == $c_contact) {
						$idenf =  $this->_getBlockContent($child_cat_id);
						if($idenf){
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block">
							<div class="inner-cms-block my-contact-form"> 
								<?php 
								$helper = Mage::helper('cms');
								$source = Mage::getModel('cms/block')->load($idenf);
								$processor = $helper->getPageTemplateProcessor();
								echo $processor->filter($source->getContent());
								?>					
							</div>

						</div>
					</div>
						<?php } ?>
					<?php } ?>
					
					<!-- product grid menu -->
					<?php
					if($content_type == $c_pgrid) {
						$title = $this->_getGridProductTitle($child_cat_id);
						$arr_ids = explode(",", $this->_getGridProductIds($child_cat_id));
						$n = count($arr_ids);
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block">
							<div class="inner-cms-block row-productgrid">
                                <p><strong class=""><?php echo $title; ?></strong> </p>
								<!-- foreach -->
								<?php for($i=0; $i < $n; $i++){ ?>
								<?php
								$pid = trim($arr_ids[$i]);
								$p = Mage::getModel('catalog/product')->load($pid); 
								$purl = Mage::helper('catalog/product')->getProductUrl($pid);
								$imageUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog/product' . $p->getData("image");
								?>
								<div class="col-nb-<?php echo $column; ?>">
									<a href="<?php echo $purl; ?>" class="">
									<img width="135" height="135" alt="" src="<?php echo $imageUrl; ?>"></a>
									<a href="" class="mm-product-name"><strong><?php echo $p->getName(); ?></strong></a>
									<?php
										$formattedPrice = Mage::helper('core')->currency($p->getPrice(), true, false);
										$formattedFinalPrice = Mage::helper('core')->currency($p->getFinalPrice(), true, false);
									?>
									<div class="price-box">
										<?php if($p->getFinalPrice() < $p->getPrice()): ?>
										<p class="special-price"> 
											<span class="price">
											<?php echo $formattedFinalPrice ?>
											</span>
										</p>
										<p class="old-price"> 
											<span class="price">
											<?php echo $formattedPrice ?>   
											</span>
										</p>
										<?php else: ?>
										<span class="regular-price">
										<span class="price">
										<?php echo $formattedFinalPrice ?>
										<span>
										</span>
										<?php endif; ?>
									</div>
								</div>
								<?php } ?>
							</div>
						</div>
					</div>
					<?php } ?>
					
					<!-- dynamic icon menu -->
					<?php 
					if($content_type == $c_dynamic_cat) {
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block">
							<div class="inner-cms-block row-cate-grid">
							<?php if($this->_getDynamicCat($child_cat_id) == ""){ ?>
								<?php foreach ($childrens2 as $cate){ ?>
									<div class="form-group text-center col-nb-<?php echo $column; ?>">
										<?php
											$cat_id = $cate["entity_id"];
											$cat_name = $cate["name"];
											$category = Mage::getModel('catalog/category')->load($cat_id);
										?>
										<a title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>">
										<?php if($category->getImageUrl()) { ?>
											<span class="">
											<img  title="<?php echo $cat_name ?>" alt="<?php echo $cat_name ?>" src="<?php echo $category->getImageUrl(); ?>">
											</span>
										<?php } ?>	
										</a>
										<a class="mm-cate-name" title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>"><span class=""><?php echo $cat_name ?></span></a>
									</div>
								<?php } ?>	
							<?php 
							} else {
								$arr_cats = explode(",", $this->_getDynamicCat($child_cat_id));
								for ($i=0; $i < count($arr_cats); $i++){ ?>
									<div class="form-group text-center col-nb-<?php echo $column; ?>">
										<?php
											$cat_id = trim($arr_cats[$i]);
											$category = Mage::getModel('catalog/category')->load($cat_id);
											$cat_name = $category->getName();
										?>
										<a title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>">
										<?php if($category->getImageUrl()) { ?>
											<span class="">
											<img  title="<?php echo $cat_name ?>" alt="<?php echo $cat_name ?>" src="<?php echo $category->getImageUrl(); ?>">
											</span>
										<?php } ?>	
										</a>
										<a class="mm-cate-name" title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>"><span class=""><?php echo $cat_name ?></span></a>
									</div>
								<?php }
							} ?>
							</div>
						</div>
					</div>
					<?php } ?>
					
					<!-- product list menu -->
					<?php 
					if($content_type == $c_plist) {
						$title = $this->_getGridProductTitle($child_cat_id);
						$arr_ids = explode(",", $this->_getGridProductIds($child_cat_id));
						$n = count($arr_ids);
                        $cols = 5;
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block">
							<!-- block 1 -->
							<div class="inner-cms-block row-cate-grid">
								<p><strong class=""><?php echo $title; ?></strong></p>
								<!-- foreach -->
								<?php for($i=0; $i < $n; $i++){ ?>
								<?php
								$p = Mage::getModel('catalog/product')->load($arr_ids[$i]); 
								$purl = Mage::helper('catalog/product')->getProductUrl($arr_ids[$i]);
								?>				
								<div class="">                 
                                    <a href="<?php echo $purl; ?>" class="form-group"><span><?php echo $p->getName(); ?></span></a><br> 
                                </div>
							<?php } ?>	
							</div>
							<!-- block 2 -->
							<div id="block 2">
							</div>
						</div>
					</div>
					<?php } ?>
					
					<!-- static categories menu (categories by column) -->
					<?php 
					if($content_type == $c_static) {
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block">
							<!-- block 1 -->
							<div class="inner-cms-block row-cate-grid">
								<!-- foreach column categories -->
								<?php $childrens = Mage::helper('megamenu/data')->getSubCategories($child_cat_id); ?>
								<?php foreach ($childrens as $cate){ ?>
								<div class="col-category col-xs-3">	
									<?php 
									$cat_id = $cate["entity_id"];
									$cat_name = $cate["name"];
									$category = Mage::getModel('catalog/category')->load($cat_id);
									?>
									<?php if($category->getImageUrl()) { ?>
										<span class="">
										<img width="100px" height="75px" title="<?php echo $cat_name ?>" alt="<?php echo $cat_name ?>" src="<?php echo $category->getImageUrl(); ?>">
										</span>
									<?php } ?>
									
									<a href="<?php echo $this->_getCatUrl($cat_id) ?>" class=""><?php echo $cat_name ?></a>
									<?php $childrens2 = Mage::helper('megamenu/data')->getSubCategories($cat_id); ?>
									<!-- foreach items in column -->
									<?php foreach ($childrens2 as $cate){ ?>
										<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>" class=""><?php echo $cate["name"] ?></a>
									<?php } ?>	
							    </div>
								<?php } ?>	
							</div>
							<!-- block 2 -->
							<div id="block-col2">
							</div>
						</div>
					</div>
					<?php } ?>
				</li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<script type="text/javascript"> 
//		jQuery(window).load(function(){
//			jQuery(".horizontal-menu .inner-cms-block").each(function(){
//				//var w = jQuery( window ).width();
//				var block_left = 0;
//				var block_cate = 0;
//				var block_product = 0;
//				var block_right = 0;
//				var inner_cms_block = 0;
//				block_left = jQuery(this).find(".block-left").innerWidth();
//				block_cate = jQuery(this).find(".block-cate").innerWidth();
//				block_product = jQuery(this).find(".block-product").innerWidth();
//				block_right = jQuery(this).find(".block-right").innerWidth();
//				inner_cms_block = block_left + block_cate + block_product + block_right; 
//				//console.log(this);
//				if(jQuery(this).hasClass('nb-repare-width')){ 
//					inner_cms_block += 110;
//					console.log(inner_cms_block);
//                                        jQuery(this).css('width',inner_cms_block); 
//				}else if(jQuery(this).hasClass('my-contact-form')){
//					inner_cms_block += 300; 
//                                        jQuery(this).css('width',inner_cms_block); 
//				}else{
//					//inner_cms_block += 30; 
//				}
//				  
//			});	
//		});
	</script>