<?php
	/*
	* Name Extension: Cmsmart megamenu
	* Author: The Cmsmart Development Team 
	* Date Created: 06/09/2013
	* Websites: http://cmsmart.net
	* Technical Support: Forum - http://cmsmart.net/support
	* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
	* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
	*/
	?>
<?php
	/**
	 * Top menu for store
	 *
	 * @see Mage_Catalog_Block_Navigation
	 */
	?>
<?php
	/**
	 * $this->renderCategoriesMenuHtml() supports optional arguments:
	 * bool Add opener if menu is used as accordion
	 * int Level number for list item class to start from
	 * string Extra class of outermost list items
	 * string If specified wraps children list in div with this class
	 */
?>
<?php
echo $this->getLayout()->createBlock('core/template')->setTemplate('cmsmart/megamenu/v_colors.phtml')->toHtml(); 
?>
	
<?php
	$p_vertical = Cmsmart_Megamenu_Model_Menutype::VERTICAL;

	$_helper    = $this->helper('catalog/output');
	$childrens = Mage::helper('megamenu/data')->getSubCategories(Mage::helper('megamenu/data')->getRootCatId());
	/* some contants */
	$c_contact = Cmsmart_Megamenu_Model_Contenttype::Contact;/* 7 */
	$c_pgrid = Cmsmart_Megamenu_Model_Contenttype::Product_Grid;/* 4 */
	$c_dynamic_cat = Cmsmart_Megamenu_Model_Contenttype::Dynamic_Category_Listing;/* 2 */
	$c_plist = Cmsmart_Megamenu_Model_Contenttype::Product_Listing;/* 5 */
	$c_static = Cmsmart_Megamenu_Model_Contenttype::Static_Category_Listing; /* 3 */
	$c_pcat_list = Cmsmart_Megamenu_Model_Contenttype::Product_Listing_Category; /* 6 */

	//zend_debug::dump($childrens->getData());
	?>
<?php /******** Root Cateogry - Level 1 ********/ ?>
<div id="nb_megamenu" class="wrap-vertical-menu col-lg-3">
	<span class="btn-menu">all category</span>
	<div class="magemenu-menu vertical-menu">
		<div class="header-nav">
			<h4 class="no-display">Default Menu</h4>
			<ul class="nav-exploded explodedmenu">
				<?php foreach ($childrens as $category){ ?>
				<?php /* id of cat for each categories */ ?>
				<?php $child_cat_id = $category["entity_id"]; ?>
				<?php 
					$parent_class = "";$block_class = "";
					$top_block = $this->_getVerticalBlockTop($child_cat_id);
					$left_block = $this->_getVerticalBlockLeft($child_cat_id); 
					$sku = $this->_getVerticalCatSku($child_cat_id);
					$right_block = $this->_getVerticalBlockRight($child_cat_id);
					$bottom_block = $this->_getVerticalBlockBottom($child_cat_id);
					if($right_block && $left_block && $sku ){
						$block_class = "block-full";
					}
					if($left_block || $sku || $right_block){
						$parent_class = "nb-repare-width";
					}
					$v_label = $this->_getVerticalCatLabelImage($child_cat_id);
					$v_icon = $this->_getVerticalIcon($child_cat_id);
					
					$left_content = $this->_getLeftCatSku($child_cat_id, $p_vertical);
					$right_content = $this->_getRightCatSku($child_cat_id, $p_vertical);
					$left_sku = explode("|", $left_content)[0];
					$right_sku = explode("|", $right_content)[0];
					
					$content_type = $this->_getContentType($child_cat_id, $p_vertical);
                    $content_type_name = "nbtype-".$content_type;
					$column = $this->_getNumOfCol($child_cat_id, $p_vertical);
				
				?>
				<?php /***level 2 ***/ ?>
				<?php $childrens2 = Mage::helper('megamenu/data')->getSubCategories($child_cat_id); ?>
				
				<?php if($this->_getPosition($child_cat_id) == Cmsmart_Megamenu_Model_Position::left_menu 
						|| $this->_getPosition($child_cat_id) == ""
						|| $this->_getPosition($child_cat_id) == Cmsmart_Megamenu_Model_Position::both){ ?>
						
				<li class="menu <?php if(count($childrens2)){echo "parentMenu";}?> <?php echo $this->_getVerticalSpecClass($child_cat_id) ?> <?php echo $content_type_name; ?>">
					<!-- vertical menu -->
					<a href="<?php echo $this->_getCatUrl($child_cat_id) ?>">
					
					<?php if($v_label != ""){ ?>
					<img alt="" src="<?php echo $v_label;?>">
					<?php } ?>
					
					<span>
					<?php if($v_icon != ""){ ?>
						<img width="25px" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $v_icon; ?>" alt=""/>
					<?php } ?>
					<?php echo $category["name"] ?>
					</span>
					</a>
					
					<?php if(count($childrens2) && $content_type != $c_contact && $content_type != $c_pgrid && $content_type != $c_dynamic_cat && $content_type != $c_plist && $content_type != $c_static){ ?>
					<div class="explodedmenu-menu-popup" id="popup4">
						<div class="exploded-cms-block static-block">
							<div class="inner-cms-block <?php echo $parent_class; ?> <?php echo $block_class; ?>">
								<!-- top block --> 
								<?php if($top_block){ ?>
								<div class="block block-top">
									<?php echo $top_block; ?>
								</div>
								<?php } ?>
								<div class="clearfix"></div>
								<!-- end static block top -->
								<!-- left block check khi nao co block thi moi show div block block-left -->  
									<?php 
										if($left_block){
										?>
									<div class="block block-left">
										<?php echo $left_block; ?> 
									</div>
									<?php } ?>
									
									<?php 
										if($left_sku){
									?>
									<div class="block block-left">
										<?php
										echo $this->getLayout()->createBlock('core/template')
													->setData('bl_content', $left_content)
													->setTemplate('cmsmart/megamenu/sku.phtml')->toHtml();
										?>
									</div>
									<?php }  ?>
									
									<!-- end static block left -->
									<!-- sub-categories  -->
									<div class="block block-cate">
										<?php foreach ($childrens2 as $cate){ ?>
										<?php /*** level 3 ***/ ?>
										<?php $childrens3 = Mage::helper('megamenu/data')->getSubCategories($cate["entity_id"]); ?>
										<div class="subcate <?php if(count($childrens3)){echo "subparent";}?>">
											<h3>
												<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>"><?php echo $cate["name"] ?></a>
											</h3>
											<?php if(count($childrens3)){ ?>
											<ul class="itemsubmenu">
												<?php foreach ($childrens3 as $cate){ ?>
												<?php /*** level 4 ***/ ?>
												<?php $childrens4 = Mage::helper('megamenu/data')->getSubCategories($cate["entity_id"]); ?>
												<li class="itemMenu level4 <?php if(count($childrens4)){echo "subparent";}?>">
													<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>"><?php echo $cate["name"] ?></a>
													<?php if(count($childrens4)){ ?>
													<ul class="itemsubmenu level4">
														<?php foreach ($childrens4 as $cate){ ?>
														<?php /*** level 5 ***/ ?>
														<?php $childrens5 = Mage::helper('megamenu/data')->getSubCategories($cate["entity_id"]); ?>
														<li class="itemMenu level5 <?php if(count($childrens5)){echo "subparent";}?>">
															<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>" class="itemMenuName level2"><span><?php echo $cate["name"] ?></span></a>
															<?php if(count($childrens5)){ ?>
															<ul class="itemsubmenu level5">
																<?php foreach ($childrens5 as $cate){ ?>
																<li class="itemMenu level6">
																	<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>" class="itemMenuName level6"><span><?php echo $cate["name"] ?></span></a>
																</li>
																<?php } ?>
															</ul>
															<?php } ?>
														</li>
														<?php } /* end level4 */ ?>
													</ul>
													<?php } /* end level4 */ ?>
												</li>
												<?php } /* end level3 */ ?>
											</ul>
											<?php } /* end level3 */ ?>
										</div>
										<?php } /* end level2 */ ?>
									</div>
									<!-- end sub-categories -->
									<!-- block show specical product -->
									<?php
										if($sku){
										?>
									<div class="block block-product">
										<div class="product-grid">
											<div class="inner">
												<div class="item">
													<?php 
														/* block title for product */
														$container_title = $this->_getVerticalProductTitle($child_cat_id);
														$p = $this->_getProductData($sku);
														$purl = Mage::helper('catalog/product')->getProductUrl($p->getData("entity_id"));
														$imageUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog/product' . $p->getData("image");
														if($container_title){
														?>
													<h2><?php echo $container_title ?></h2>
													<?php } ?>
													<div class="product-info">
														<a class="product-image" href="<?php echo $p->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($p, 'small_image')->resize(250, 250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($p->getName()) ?>" />
														</a>
														<h2 class="product-name"><a title="<?php echo $p->getData("name") ?>" href="<?php echo $p->getProductUrl() ?>"><?php echo $p->getData("name") ?></a></h2>
														<?php
															$formattedPrice = Mage::helper('core')->currency($p->getPrice(), true, false);
															$formattedFinalPrice = Mage::helper('core')->currency($p->getFinalPrice(), true, false);
															  ?>
														<div class="price-box">
															<?php if($p->getFinalPrice() < $p->getPrice()): ?>
															<p class="special-price"> 
																<span class="price">
																<?php echo $formattedFinalPrice ?>
																</span>
															</p>
															<p class="old-price"> 
																<span class="price">
																<?php echo $formattedPrice ?>   
																</span>
															</p>
															<?php else: ?>
															<span class="regular-price">
															<span class="price">
															<?php echo $formattedFinalPrice ?>
															<span>
															</span>
															<?php endif; ?>
															
															<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($p); ?>')">
															<span><span><?php echo $this->__('Add to Cart') ?></span></span>
															</button>
														</div>
														<div class="actions">
															<?php
															$desc = $p->getData("short_description");
															$_mydesc = Mage::helper('megamenu/data')->limit_text($desc, 7);
															?>
															<p><?php echo $_mydesc ?><a href="<?php echo $p->getProductUrl() ?>">read more</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<?php } ?>
									<!-- block show specical product -->
									<!-- right block anh check cho em khi nao co thi moi hien thi block -->
									<?php 
										if($right_block){
										?>
									<div class="block block-right">
										<?php echo $right_block; ?>
									</div>
									<?php } ?>
									
									<?php 
										if($right_sku){
									?>
									<div class="block block-right">
										<?php
										echo $this->getLayout()->createBlock('core/template')
													->setData('bl_content', $right_content)
													->setTemplate('cmsmart/megamenu/sku.phtml')->toHtml();
										?>
									</div>
									<?php } ?>
									
									<!-- end content block right --> 
								 
								<div class="clearfix"></div>
								<!-- bottom block --> 
								<?php 
									if($bottom_block){
									?>
								<div class="block block-bottom">
									<?php echo $bottom_block; ?>	
								</div>
								<?php } ?>
								<!-- end content block bottom -->
							</div>
						</div>
					</div>
					<?php } ?>
					
					<!-- contact menu -->
					<?php
					if($content_type == $c_contact) {
						$idenf =  $this->_getBlockContent($child_cat_id, $p_vertical);
						if($idenf){
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block">
							<div class="inner-cms-block my-contact-form"> 
								<?php 
								$helper = Mage::helper('cms');
								$source = Mage::getModel('cms/block')->load($idenf);
								$processor = $helper->getPageTemplateProcessor();
								echo $processor->filter($source->getContent());
								?>					
							</div>

						</div>
					</div>
						<?php } ?>
					<?php } ?>
					
					<!-- product grid menu -->
					<?php
					if($content_type == $c_pgrid) {
						$title = $this->_getGridProductTitle($child_cat_id, $p_vertical);
						$arr_ids = explode(",", $this->_getGridProductIds($child_cat_id, $p_vertical));
						$n = count($arr_ids);
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block">
							<div class="inner-cms-block row-productgrid">
                                <p><strong class=""><?php echo $title; ?></strong> </p>
								<!-- foreach -->
								<?php for($i=0; $i < $n; $i++){ ?>
								<?php
								$pid = trim($arr_ids[$i]);
								$p = Mage::getModel('catalog/product')->load($pid); 
								$purl = Mage::helper('catalog/product')->getProductUrl($pid);
								$imageUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog/product' . $p->getData("image");								
								?>
								<div class="col-nb-<?php echo $column; ?>">
									<a href="<?php echo $purl; ?>" class="">
									<img width="135" height="135" alt="" src="<?php echo $imageUrl; ?>"></a>
									<a href="<?php echo $purl; ?>" class="mm-product-name"><strong><?php echo $p->getName(); ?></strong></a>
									<?php
										$formattedPrice = Mage::helper('core')->currency($p->getPrice(), true, false);
										$formattedFinalPrice = Mage::helper('core')->currency($p->getFinalPrice(), true, false);
									?>
									<div class="price-box">
										<?php if($p->getFinalPrice() < $p->getPrice()): ?>
										<p class="special-price"> 
											<span class="price">
											<?php echo $formattedFinalPrice ?>
											</span>
										</p>
										<p class="old-price"> 
											<span class="price">
											<?php echo $formattedPrice ?>   
											</span>
										</p>
										<?php else: ?>
										<span class="regular-price">
										<span class="price">
										<?php echo $formattedFinalPrice ?>
										<span>
										</span>
										<?php endif; ?>
									</div>
								</div>
								<?php } ?>
							</div>
						</div>
					</div>
					<?php } ?>
					
					<!-- dynamic icon menu -->
					<?php 
					if($content_type == $c_dynamic_cat) {
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block">
							<div class="inner-cms-block row-cate-grid">
							<?php if($this->_getDynamicCat($child_cat_id, $p_vertical) == ""){ ?>
								<?php foreach ($childrens2 as $cate){ ?>
									<div class="form-group text-center col-nb-<?php echo $column; ?>">
										<?php
											$cat_id = $cate["entity_id"];
											$cat_name = $cate["name"];
											$category = Mage::getModel('catalog/category')->load($cat_id);
										?>
										<a title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>">
										<?php if($category->getImageUrl()) { ?>
											<span class="">
											<img  title="<?php echo $cat_name ?>" alt="<?php echo $cat_name ?>" src="<?php echo $category->getImageUrl(); ?>">
											</span>
										<?php } ?>	
										</a>
										<a class="mm-cate-name" title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>"><span class=""><?php echo $cat_name ?></span></a>
									</div>
								<?php } ?>	
							<?php 
							} else {
								$arr_cats = explode(",", $this->_getDynamicCat($child_cat_id, $p_vertical));
								for ($i=0; $i < count($arr_cats); $i++){ ?>
									<div class="form-group text-center col-nb-<?php echo $column; ?>">
										<?php
											$cat_id = trim($arr_cats[$i]);
											$category = Mage::getModel('catalog/category')->load($cat_id);
											$cat_name = $category->getName();
										?>
										<a title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>">
										<?php if($category->getImageUrl()) { ?>
											<span class="">
											<img  title="<?php echo $cat_name ?>" alt="<?php echo $cat_name ?>" src="<?php echo $category->getImageUrl(); ?>">
											</span>
										<?php } ?>	
										</a>
										<a class="mm-cate-name" title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>"><span class=""><?php echo $cat_name ?></span></a>
									</div>
								<?php }
							} ?>
							</div>
						</div>
					</div>
					<?php } ?>
					
					<!-- product list menu -->
					<?php 
					if($content_type == $c_plist) {
						$title = $this->_getGridProductTitle($child_cat_id, $p_vertical);
						$arr_ids = explode(",", $this->_getGridProductIds($child_cat_id, $p_vertical));
						$n = count($arr_ids);
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block _row-product-list">
							<!-- block 1 -->
							<div class="inner-cms-block row-product-list col-sm-9">
								<p><strong class=""><?php echo $title; ?></strong></p>
								<!-- foreach -->
								<?php for($j=0; $j < $column; $j++): ?>
								<div class="col-nb-<?php echo $column; ?>">
									<?php for($i=0; $i < $n; $i++){ ?>
									<?php
									$pid = $arr_ids[$i];
									$p = Mage::getModel('catalog/product')->load($pid); 
									$purl = Mage::helper('catalog/product')->getProductUrl($pid);
									if(($i % $column) == $j):
									?>				
									<div class="nb_lbl_type">
										<?php if($this->_getVerLabel($child_cat_id, $pid, Cmsmart_Megamenu_Model_Label::lblNew)){ ?>
										<img src="<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_new.png'); ?>">	
										<?php } ?>
										<?php if($this->_getVerLabel($child_cat_id, $pid, Cmsmart_Megamenu_Model_Label::lblHot)){ ?>
										<img src="<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_hot.png'); ?>">	
										<?php } ?>
										<?php if($this->_getVerLabel($child_cat_id, $pid, Cmsmart_Megamenu_Model_Label::lblSale)){ ?>
										<img src="<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_sale.png'); ?>">	
										<?php } ?>
										<a href="<?php echo $purl; ?>" class="form-group"><span><?php echo $p->getName(); ?></span></a>
									</div>
									<?php endif;} ?>
								</div>
								<?php endfor; ?>
							</div>
							<!-- block 2 -->
							<?php
							$idenf =  $this->_getBlockContent($child_cat_id, $p_vertical);
							if($idenf){
							?>
							<div id="block-2" class="block-2 row-product-list col-sm-3">
								<?php 
								$helper = Mage::helper('cms');
								$source = Mage::getModel('cms/block')->load($idenf);
								$processor = $helper->getPageTemplateProcessor();
								echo $processor->filter($source->getContent());
								?>
							</div>
							<?php } ?>
						</div>
					</div>
					<?php } ?>
					
					<!-- static categories menu (categories by column) -->
					<?php 
					if($content_type == $c_static) {
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block _row-static-cate-grid">
							<!-- block 1 -->
							<div class="inner-cms-block row-static-cate-grid col-sm-9">
								<!-- foreach column categories -->
								<?php $childrens = Mage::helper('megamenu/data')->getSubCategories($child_cat_id); ?>
								<?php foreach ($childrens as $cate){ ?>
								<div class="col-category col-nb-<?php echo $column; ?>">	
									<?php 
									$cat_id = $cate["entity_id"];
									$cat_name = $cate["name"];
									$category = Mage::getModel('catalog/category')->load($cat_id);
									?>
									<?php if($category->getImageUrl()) { ?>
										<span class="">
										<img title="<?php echo $cat_name ?>" alt="<?php echo $cat_name ?>" src="<?php echo $category->getImageUrl(); ?>" class="img-responsive">
										</span>
									<?php } ?>
									
									<a href="<?php echo $this->_getCatUrl($cat_id) ?>" class="nb_pstatic_cat"><?php echo $cat_name ?></a>
									<?php $childrens2 = Mage::helper('megamenu/data')->getSubCategories($cat_id); ?>
									<!-- foreach items in column -->
									<?php foreach ($childrens2 as $cate){ ?>
										<a href="<?php echo $this->_getCatUrl($cate["entity_id"]) ?>" class="">+ <?php echo $cate["name"] ?></a>
									<?php } ?>	
								</div>
								<?php } ?>	
							</div>
							<!-- block 2 -->
							<?php
							$idenf =  $this->_getBlockContent($child_cat_id, $p_vertical);
							if($idenf){
							?>
							<div id="block-col2" class="inner-cms-block row-static-cate-grid col-sm-3">
								<?php 
								$helper = Mage::helper('cms');
								$source = Mage::getModel('cms/block')->load($idenf);
								$processor = $helper->getPageTemplateProcessor();
								echo $processor->filter($source->getContent());
								?>
							</div>
							<?php } ?>	
						</div>
					</div>
					<?php } ?>
					
					<!-- product listing by sub-categories  -->
					<?php if($content_type == $c_pcat_list) { ?>
					<?php 
					$dynamic_cats = $this->_getDynamicCat($child_cat_id, $p_vertical);
					$arr_cats = explode(",", $dynamic_cats); 
					if($dynamic_cats != ""){
						$arr_cats = explode(",", $dynamic_cats);
					} else {
						foreach ($childrens2 as $cate){
							$arr_cats[] = $cate["entity_id"];
						}
					}
					?>
					<?php
					if(count($arr_cats) > 1) {
					?>
					<div class="explodedmenu-menu-popup">
						<div class="exploded-cms-block static-block product_list_by_sub_cat">
							<div class="inner-cms-block">
								<div class="row">
									<div class="col-sm-3">
										<ul class="">
											<?php 
											for ($i=0; $i < count($arr_cats); $i++){ 
												$cat_id = trim($arr_cats[$i]);
												$category = Mage::getModel('catalog/category')->load($cat_id);
												$cat_name = $category->getName();	
											?>
											<li title="Click Item To Show Product Grid" class="subcate_list <?php if($i == 0) echo ' active';?>" data-toggle="subcate-<?php echo $i; ?>"><span class=""><?php echo $cat_name ?></span></li>
											<?php } ?>
										</ul>
									</div>
								<div class="col-sm-9">
								<?php 
									/* $arr_cats = explode(",", $this->_getDynamicCat($child_cat_id)); */
									for ($i=0; $i < count($arr_cats); $i++){ 
										$cat_id = trim($arr_cats[$i]);
        									$category = Mage::getModel('catalog/category')->load($cat_id);
										$cat_name = $category->getName();                                                                        
										$products = Mage::getModel('catalog/category')->load($cat_id)
													 ->getProductCollection()
													 ->addAttributeToSelect('entity_id') // add all attributes - optional
													 ->addAttributeToFilter('status', 1) // enabled
													 ->addAttributeToFilter('visibility', 4)  //visibility in catalog,search	
                                                     ->setPageSize(7);
									?>                                    
									<div class="subcate subcate_content <?php if($i == 0) echo ' active';?>" id="subcate-<?php echo $i; ?>">
										<!-- foreach -->
<!--                                    <h3><a title="<?php echo $cat_name ?>" href="<?php echo $this->_getCatUrl($cat_id) ?>"><span class=""><?php echo $cat_name ?></span></a></h3>-->
										<?php 
										$count_link = 0;
										foreach($products as $p){ 
											$count_link ++;
											$pid = $p->getId();
											$p = Mage::getModel('catalog/product')->load($pid); 
											$purl = Mage::helper('catalog/product')->getProductUrl($pid);
											$imageUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog/product' . $p->getData("image");
											?>
											<div class="col-nb-<?php echo $column; ?>">
												<a href="<?php echo $purl; ?>" class="">
												<img width="135" height="135" alt="" src="<?php echo $imageUrl; ?>"></a>
												<a href="" class="mm-product-name"><strong><?php echo $p->getName(); ?></strong></a>
												<?php
													$formattedPrice = Mage::helper('core')->currency($p->getPrice(), true, false);
													$formattedFinalPrice = Mage::helper('core')->currency($p->getFinalPrice(), true, false);
												?>
												<div class="price-box">
													<?php if($p->getFinalPrice() < $p->getPrice()): ?>
													<p class="special-price"> 
														<span class="price">
														<?php echo $formattedFinalPrice ?>
														</span>
													</p>
													<p class="old-price"> 
														<span class="price">
														<?php echo $formattedPrice ?>   
														</span>
													</p>
													<?php else: ?>
													<span class="regular-price">
													<span class="price">
													<?php echo $formattedFinalPrice ?>
													<span>
													</span>
													<?php endif; ?>
												</div>
											</div>
											
											<?php if($count_link > 5) { ?>
											<div class="pull-right"><a href="<?php echo $this->_getCatUrl($cat_id) ?>"><?php echo $this->__('View More'); ?></a></div>
											<?php break; ?>								
											<?php } ?>
											
										<?php } ?>
									</div>
									<?php } ?>
								</div>
                              </div>
							</div>
						</div>
					</div>
					<?php } ?>
					<?php } ?>
					<!-- end product listing by sub-categories -->
					
				</li>
				<?php } ?>
				
				<?php } /* end position menu */ ?>
			</ul>
		</div>
	</div>
	<script type="text/javascript"> 
		jQuery(window).load(function(){ 
				jQuery(".vertical-menu .inner-cms-block").each(function(){
					var block_left = 0;
					var block_cate = 0;
					var block_product = 0;
					var block_right = 0;
					var inner_cms_block = 0;
					block_left = jQuery(this).find(".block-left").width();
					block_cate = jQuery(this).find(".block-cate").width();
					block_product = jQuery(this).find(".block-product").width();
					block_right = jQuery(this).find(".block-right").width(); 
					inner_cms_block = block_left + block_cate + block_product + block_right; 
					if(jQuery(this).hasClass('nb-repare-width')){
						inner_cms_block += 110;
					}else{
						inner_cms_block += 30; 
					} 
					if(jQuery(this).hasClass('block-full')){
						inner_cms_block +=25;
					};
					if(!jQuery(this).hasClass('row-static-cate-grid') && !jQuery(this).hasClass('row-product-list')){
						jQuery(this).css('width',inner_cms_block); 
					}
					 
				});	
					jQuery('.wrap-vertical-menu .btn-menu').on('click',function(){
				 if(jQuery('.vertical-menu').hasClass('show')){
				  jQuery(".vertical-menu").removeClass('show');
				 }else{
				  jQuery(".vertical-menu").addClass('show');
				 }
				jQuery(".vertical-menu li.menu").each(function(){
					var w_container = jQuery("#header-nav").width();
					var w_parent = jQuery(this).width();
					var w_child = w_container - w_parent;
					jQuery(this).find(".explodedmenu-menu-popup .row-productgrid, .explodedmenu-menu-popup .my-contact-form, .explodedmenu-menu-popup .row-cate-grid,.explodedmenu-menu-popup ._row-product-list, .explodedmenu-menu-popup ._row-static-cate-grid, .explodedmenu-menu-popup .product_list_by_sub_cat").css('width', w_child);
					jQuery(this).find('.product_list_by_sub_cat .inner-cms-block').css('width', '100%');
				});
			 }); 
		});
	</script> 
</div>