<!--@subject You've reached a {{var milestone_description}} at {{var store_name}}!@-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table cellspacing="0" cellpadding="0" border="0" width="600" style="width: 100%;">
    <tr>
        <td valign="top">
            <p>Dear {{var customer_firstname}},</p>


            <p>Congratulations for reaching a milestone at <a href="{{store url=''}}">{{var store_name}}</a>!
            <br/>{{var milestone_message}}</p>

            <br/>
            <p>Happy Shopping!</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}
