<!--@subject You've reached a {{var milestone_description}} at {{var store_name}}!@-->
<!-- Example: You've reached a 7 day period of inactivity at THE STORE! -->
<!--
-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table cellspacing="0" cellpadding="0" border="0" width="600" style="width: 100%;">
    <tr>
        <td valign="top">
            <p>Dear {{var customer_firstname}},</p>

            Looks like you haven't logged into <a href="{{store url=''}}">{{var store_name}}</a> in the
            past {{var inactive_day}} days.

            {{if point_amount}}
            Come visit us again and take advantage of an extra {{var point_string}}
            towards your next purchase!
            {{/if}}
            {{if customer_group_id}}
            Come visit us again and take advantage of some exclusive deals!
            {{/if}}

            <br/>

            <p>Happy Shopping!</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}