<?php
/**
* Ultimate_Slider extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*/
/**
*
* @category       Images & Media
* @package        Ultimate_Slider
* @copyright      Copyright (c) 2015
* @license        http://opensource.org/licenses/mit-license.php MIT License
*/
/**
* Slider list template
*
* @category    Images & Media
* @package     Ultimate_Slider
* @author      Rajasingh and Manikandan D
* @modified    2015-11-21 04:54:53 PM IST
*/
?>
<?php $_sliders = $this->retrieveData(); ?>
<?php $media = Mage::getBaseUrl('media'); ?>
<?php if (count($_sliders) > 0): ?>
<div class="flexslider"> <!--flexslider-container -->
    <ul class="slides"> <!--slides -->
<?php $_counter = 0; ?>
<?php foreach($_sliders as $slider): ?>
<?php $_counter++; $_link = ''; ?>

    <?php if( $slider['image'] != '' || $slider['video_url'] != '' ) { ?>
        <?php
        $mobile_img = '';
        //if ($slider['mobile_image']) {
            $mobile_img = '<img class="mobile-img" data-mobile-src="'.$media.$slider['mobile_image'].'" alt="'.$slider['title'].'" height="98">';
        //}
        ?>
        <li>

        <?php if ($slider['link'] != ''): ?>
            <?php if (is_numeric($slider['link'])): ?>
            <?php $_link = Mage::getModel("catalog/category")->load($slider['link'])->getUrl(); ?>
            <?php else: ?>
                <?php $_link = $slider['link'] ?>
            <?php endif ?>
        <?php endif ?>

        <?php if (preg_match('/(\.jpg|\.png|\.gif)$/', $slider['image'])) { ?>
            <?php if ($slider['video_url'] != ''): ?>
            <a href="<?php echo $slider['video_url'] ?>" target="_blank" class="flexslider-link" title="Ir a la p&aacute;gina">
                <span><?php echo $slider['title']; ?></span>
            </a>
            <?php endif ?>
        <div class="slider-item-<?php echo $_counter ?>">
        <?php if ($_link): ?>
            <a href="<?php echo $_link ?>">
        <?php endif; ?>
            <?php echo $mobile_img ?>
            <img class="desktop-img" data-desktop-src="<?php echo $media . $slider['image'];?>" alt="<?php echo $slider['title'];?>" title="<?php echo $slider['title'];?>" height="570" />
        <?php if ($_link): ?>
            </a>
        <?php endif; ?>
        </div>

        <?php } elseif($slider['video_url'] != '') { ?>
            <?php if ($_link): ?>
            <a href="<?php echo $_link ?>" class="flexslider-link" title="Ir a la p&aacute;gina">
                <span><?php echo $slider['title'];?></span>
            </a>
            <?php endif; ?>
            <div class="slider-item-<?php echo $_counter ?>">
                <?php echo $mobile_img ?>
                <iframe id="player<?php echo $_counter ?>" frameborder="0" width="100%" height="570" src="<?php echo $slider['video_url'];?>" allowfullscreen></iframe>
            </div>

        <?php if (strpos($slider['video_url'], "youtube.com")): ?>
            <script>
            var player<?php echo $_counter ?>;
            function onYouTubeIframeAPIReady() {
              player = new YT.Player('player<?php echo $_counter ?>', {
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                }
              });
            }
        </script>
        <?php endif; ?>
            
        <?php } else { ?>
            <div class="slider-item-<?php echo $_counter ?>">
            <?php echo $mobile_img ?>
            <video width="100%" height="570" controls="controls" alt="<?php echo $slider['title'];?>" title="<?php echo $slider['title'];?>">
                <source src="<?php echo $media.$slider['image']; ?>">
                Your browser does not support the video tag. But you could include an iframe/embeded video here.
            </video> 
            </div>
        <?php } ?>

        </li>
    <?php } ?>

<?php endforeach; ?>
    </ul>
<?php if(Mage::getStoreConfig('ultimate_slider/slider/roll_slides_active')==0) { ?>
<script type="text/javascript">
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
        $j('.flexslider').flexslider({
            slideshow: true,
            slideshowSpeed: 3000,
            pauseOnHover: true,
            video: false,
            controlNav: true,
            directionNav: true,
            prevText: "",
            nextText: "",
        });

        if ($j(window).width() > 767) {
            $j(".desktop-img").each(function(){
                $j(this).attr('src', $j(this).attr('data-desktop-src'));
            });
        }
        else{
            $j(".mobile-img").each(function(){
                $j(this).attr('src', $j(this).attr('data-mobile-src'));
            });
        }
    });
</script>
<?php } ?>
<a class="slider-down"><i class="fa fa-angle-down"></i></a>
</div>
<?php endif ?>