<?php
/**
* Ultimate_Slider extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*/
/**
*
* @category       Images & Media
* @package        Ultimate_Slider
* @copyright      Copyright (c) 2015
* @license        http://opensource.org/licenses/mit-license.php MIT License
*/
/**
* Slider list template
*
* @category    Images & Media
* @package     Ultimate_Slider
* @author      Rajasingh and Manikandan D
* @modified    2015-11-21 04:54:53 PM IST
*/
?>
<?php $_sliders = $this->retrieveData(); ?>
<div class="flexslider"> <!--slideshow-container -->
    <ul class="slides"> <!--slideshow -->
    <?php $_counter = 0; ?>
        <?php foreach($_sliders as $slider){ $_counter++; ?>
        <?php if((!isset($slider['video_url'])) || (!isset($slider['image']))) { ?>
        <li>

        <?php if ($slider['link'] != ''): ?>
            <?php if (is_numeric($slider['link'])): ?>
            <?php $cat_url = Mage::getModel("catalog/category")->load($slider['link'])->getUrl(); ?>
            <?php else: ?>
                <?php $cat_url = $slider['link'] ?>
            <?php endif ?>
        <?php endif ?>

        <?php if(($slider['video_url']!='')){ ?>
            <?php if ($slider['link'] != ''): ?>
            <a href="<?php echo $cat_url ?>" class="flexslider-link" title="Ir a la p&aacute;gina">
                <span><?php echo $slider['title'];?></span>
            </a>
            <?php endif; ?>
            <div class="slider-item-<?php echo $_counter ?>" style="/*background-image: url('<?php //echo Mage::getBaseUrl('media');?><?php //echo $slider['mobile_image'];?>')*/">
                <img class="mobile-img" src="<?php echo Mage::getBaseUrl('media').$slider['mobile_image'];?>" alt="<?php echo $slider['title'] ?>" height="98">
                <iframe id="player<?php echo $_counter ?>" frameborder="0" width="100%" height="570" src="<?php echo $slider['video_url'];?>" allowfullscreen></iframe>
            </div>

        <?php if (strpos($slider['video_url'], "youtube.com")): ?>
            <script>
            var player<?php echo $_counter ?>;
            function onYouTubeIframeAPIReady() {
              player = new YT.Player('player<?php echo $_counter ?>', {
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                }
              });
            }
        </script>
        <?php endif; ?>

        <?php } else { ?>

        <?php if (preg_match('/(\.jpg|\.png|\.gif)$/', $slider['image'])) { ?>

        <div class="slider-item-<?php echo $_counter ?>">
        <?php if ($slider['link'] != ''): ?>
            <a href="<?php echo $cat_url ?>">
        <?php endif; ?>
            <img class="mobile-img" src="<?php echo Mage::getBaseUrl('media').$slider['mobile_image'];?>" alt="<?php echo $slider['title'] ?>" height="98">
            <img class="desktop-img" src="<?php echo Mage::getBaseUrl('media') . $slider['image'];?>" alt="<?php echo $slider['title'];?>" title="<?php echo $slider['title'];?>" height="570" />
        <?php if ($slider['link'] != ''): ?>
            </a>
        <?php endif; ?>
        </div>
            
        <?php } else { ?>
            <div class="slider-item-<?php echo $_counter ?>">
            <img class="mobile-img" src="<?php echo Mage::getBaseUrl('media').$slider['mobile_image'];?>" alt="<?php echo $slider['title'] ?>" height="98">
            <video width="100%" height="570" controls="controls">
                <source src="<?php echo Mage::getBaseUrl('media');?><?php echo $slider['image'];?>" alt="<?php echo $slider['title'];?>" title="<?php echo $slider['title'];?>"
                >
                Your browser does not support the video tag. But you could include an iframe/embeded video here.
            </video> 
            </div>
        <?php } }?>

        </li>
        <?php } ?>
    <?php } ?>
    </ul>
        <!--<div class="slideshow-pager">&nbsp;</div>
        <span class="slideshow-prev fa fa-angle-left">&nbsp;</span> 
        <span class="slideshow-next fa fa-angle-right">&nbsp;</span>-->
<?php if(Mage::getStoreConfig('ultimate_slider/slider/roll_slides_active')==0) { ?>
<script type="text/javascript">
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
    // ==============================================
    // UI Pattern - Slideshow
    // ==============================================
    /*$j('.slideshow-container .slideshow')
        .cycle({
            slides: '> li',
            pager: '.slideshow-pager',
            pagerTemplate: '<span class="pager-box"></span>',
            speed: 800,
            pauseOnHover: true,
            swipe: true,
            prev: '.slideshow-prev',
            next: '.slideshow-next',
            fx: 'scrollHorz'
        }).cycle('pause');*/
    $j('.flexslider').flexslider({
        slideshow: true,
        slideshowSpeed: 3000,
        pauseOnHover: true,
        video: false,
        controlNav: true,
        directionNav: true,
        prevText: "",
        nextText: "",
    });

});
</script>
<?php } ?>
</div>