<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<div class="special-products">
<?php /*?><!--<div class="category-title"><h2><a href="<?php echo $this->getUrl('') ?>specialproducts"><?php echo $this->getHeading(); ?></a></h2></div>
--><?php */?>
<?php $_productCollection=$this->getProductCollection() ?>

<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
 
	<?php $_collectionSize = $_productCollection->count() ?> 
	<?php 
		$sliderFor = 5;
		$productCount = $_collectionSize; 
	?> 
	<?php if ($productCount >= $sliderFor): ?>
		<div class="customNavigation">
			<a class="btn prev">&nbsp;</a>
			<a class="btn next">&nbsp;</a>
		</div>	
	<?php endif; ?>	 
			<ul class="<?php if ($productCount >= $sliderFor){?>product-carousel<?php }else{?>products-grid<?php }?>" id="<?php if ($productCount >= $sliderFor){?>special-carousel<?php }else{?>special-grid<?php }?>">
  
		
   			<?php $i=0; foreach ($_productCollection as $_product):  $i++;?>

            <li class="item <?php if ($productCount >= $sliderFor){?>slider-item<?php }else{?>product-items<?php }?>">
				<div class="product-block">
				<div class="product-block-inner">
				<div class="product-image-block">
				
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
				
				<?php $this->helper('jnqadmin')->getProductLabels($_product) ?>
				
               <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(235,250); ?>" width="235" height="250" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
			   
			   	<div class="hover_block">
			   			<div class="actions">
					<?php if($_product->isSaleable()): ?>
					<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Add to Cart') ?></span></span></button>
					<?php else: ?>
					<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
					<?php endif; ?>  
					<div class="description grid_rating">
						<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
					</div>	
					<ul class="add-to-links">
                      <?php if ($this->helper('wishlist')->isAllow()) : ?>
                       <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                       <?php endif; ?>
                       <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                       <li><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>					                  
				</div>
				</div>
				</div>
			   
				<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName())?></a></h2> 
				
				<?php echo $this->getPriceHtml($_product, true) ?>
				
						 
				 
				</div>
				</div>		
            </li>

        <?php endforeach ?>        
        </ul>
		<span style="display: none; visibility: hidden;" class="special_default_width"></span>
<?php endif; ?>
</div>
