<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
	$jnqadmin = $this->helper('jnqadmin');
	$_productCollection = $this->getLoadedProductCollection();
	$_productCollection->getSelect()->limit($this->getLimit());
	$_category = Mage::getModel('catalog/category')->load($this->getCategoryId());
	$placeholder = $jnqadmin->getPlaceholderImage('small', 250);
 ?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="bestseller">
	<header class="bestseller-title nav-title no-display">
		<h2 class="text-uppercase">Lo Más Vendido en LAB</h2>
		<div class="right nav-see-more">
			<a href="<?php echo $_category->getUrl() ?>"><span><?php echo $this->__('Ver Todo') ?></span></a>
		</div>
	</header>
	<ul class="owl-carousel owl-theme" id="bestsellercarousel">
		<?php foreach ($_productCollection as $_product): ?>
			<?php $click = Mage::helper('udevix_google_tag_manager_ee')->click($_product); ?>
		<li class="item slider-item">
			<?php $jnqadmin->getProductLabels($_product) ?>
			<div class="product-block">
				<div class="product-block-inner">
					<div class="table d-table no-margin">
           				<div class="product-image-block col-xs-6 col-sm-5 col-md-5 no-padding">
	           				<a <?php echo $click; ?> href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
		           			<img class="owl-lazy" src="<?php echo $placeholder ?>" data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,250); ?>" width="100" height="100" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
	           			</div>
						<div class="product-book col-xs-6 col-sm-7 col-md-7">
							<h2 class="product-name"><a <?php echo $click; ?> href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>">
							<?php echo $this->escapeHtml($_product->getName()); ?>
		                	</a></h2>
							<div class="valoration-summary clearfix no-display">
								<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
								<?php echo $jnqadmin->getRatingNumber($_product); ?>
							</div>
					        <div class="attr-container clearfix">
								<?php echo $this->getPriceHtml($_product, true) ?>
							</div>
							<div class="buttons-set no-padding a-left">
		                		<?php if (!$_product->canConfigure() && $_product->isSalable()): ?>
								<button <?php echo $click; ?> type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Buy Now') ?></span></button>
								<?php else: ?>
								<a <?php echo $click; ?> title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" href="<?php echo $_product->getUrl() ?>"><span><?php echo $this->__('Buy Now') ?></span></a>
								<?php endif ?>
		                	</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	<?php endforeach ?>
	</ul>
	<div class="owl-loading hidden-xs hidden-sm"><i class="fa fa-spinner fa-spin"></i></div>
	<div class="buttons-set no-padding">
		<a title="<?php echo $_category->getName() ?>" class="button btn-dark" href="<?php echo $_category->getUrl() ?>"><span>Ver Más Ofertas</span></a>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		if ($(window).width() > 991) {
			$("#bestsellercarousel").owlCarousel({
		    	autoplay: false,
		    	nav: true,
		    	navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
		    	dots: false,
		    	lazyLoad: true,
		    	responsiveClass:true,
		    	responsive: {0: { items: 2 },480: { items: 2 },600: { items: 3},1000: { items: 3 }},
		    	margin: 0,
		    })
		}
	})
</script>
<?php endif; ?>