<?php $_product = $this->getProduct() ?>
<?php $jnqadmin = Mage::helper('jnqadmin') ?>
<?php $count = 2 ?>
<?php if ($promo_banner = $this->_helper->getFitnessPromoBanner()): ?>
<style type="text/css">
	@media only screen and (min-width: 992px) {
		.fitness_promo {background-image: url("<?php echo $promo_banner ?>");}
	}
</style>
<?php endif ?>
<div class="fitness_promos pd-container">
<div class="container">
   <div class="row">
   	<div class="table no-margin d-md-table">
   		<?php if ($_product): ?>
   		<?php $click = Mage::helper('udevix_google_tag_manager_ee')->click($_product) ?>
   	<div class="col-xs-12 col-sm-12 col-md-8 fitness_promo bg-cover d-cell-bottom">
   		<div class="row">
   		<div class="container-fluid table d-up-sm-table no-margin clearfix">
   			<div class="col-xsm-12 col-xs-6 col-sm-6 col-md-7 text-center fitness-promo-content">
   				<header class="font-dinbek_bold">
		   			<h2 class="font-italic title text-uppercase"><?php echo $this->getProductTitle() ?></h2>
		   		</header>
		   		<div class="content">
		   			<h4 class="font-dinbek_bold font-italic short-description"><?php echo $this->getProductShortDescription() ?></h4>
		   			<div class="description hidden-xs hidden-sm"><?php echo $this->getProductDescription() ?></div>
		   			<?php echo $this->getPriceHtml($_product, true) ?>
		   			<?php if($jnqadmin->getPriceCountDown($_product)) :?>
   					<div class="timer_wrapper font-dinbek_bold" id="timer_wrapper<?php echo $count; ?>">
                    <?php if ($jnqadmin->isShowTitle('listpage')): ?>
                        <div class="timer-heading hide"><?php echo $jnqadmin->getTimerTitle(); ?></div>
                    <?php endif; ?>
                    <div id="countbox_<?php echo $count; ?>" class="timer-view">
                    	<span class="day"><i class="fa fa-spinner fa-spin"></i></span>
                    	<span class="hour"><i class="fa fa-spinner fa-spin"></i></span>
                    	<span class="min"><i class="fa fa-spinner fa-spin"></i></span>
                    	<span class="sec"><i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                    <?php if ($jnqadmin->isShowCaption('listpage')): ?>
                        <div class="timerdate text-uppercase">
                            <span class="day">Días</span>
                            <span class="hour">Horas</span>
                            <span class="min">Min</span>
                            <span class="sec">Seg</span>
                        </div>
                        <div class="text-loading" style="display: none;">Cargando...</div>
                    <?php endif;?>
                    </div>
            		<?php $toDate = $_product->getSpecialToDate();?>
		            <script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery.ajax({
							url: '<?php echo $this->getUrl('jnqadmin/ajax/getcurrentdate') ?>',
							dataType: "json",
							success: function(response) {
								var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
								start = response;
								start_date = Date.parse(start);
								var dnow<?php echo $count; ?> = new Date(start_date);
								if(CountStepper>0)
								ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
								else
								ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
								gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
								var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
								CountBack(gsecs<?php echo $count; ?>,iid<?php echo $count; ?>, timer);
								timer++;
							},
							error: function(response) {
							    console.log('no se puedo concretar el ajax.');
							}
						});
					});
					</script>
					<?php endif;?>
		   			<div class="buttons-set no-padding">
						<a <?php echo $click; ?>  title="<?php echo $this->__('Buy Now') ?>" class="button btn-orange" href="<?php echo $_product->getProductUrl() ?>"><span><?php echo $this->__('Buy Now') ?></span></a>
                	</div>
		   		</div>
   			</div>
   			<div class="col-xsm-12 col-xs-6 col-md-5 d-cell-bottom fitness-promo-image text-center">
   				<a <?php echo $click; ?> href="<?php echo $_product->getUrl() ?>" title="<?php echo $_product->getName() ?>">
   					<img alt="<?php echo $_product->getName() ?>" src="<?php echo $this->getProductImage() ?>" width="400" height="400">
   				</a>
   			</div>
   		</div>
   		</div>
   	</div>
   	<?php endif ?>
   	<?php if ($this->_helper->getFitnessCalcultarorEnable()): ?>
   	<div class="col-xs-12 col-md-4 fitness_calculator">
   		<div class="row text-center bg-cover" id="test">
   			<div class="table d-table no-margin">
   			<div class="col-xs-7 col-sm-6 col-md-12">
   				<header class="description font-italic">
					<img alt="Fitness Calculator" src="<?php echo $this->getSkinUrl('images/fitness_promos/fitness_calculator.png') ?>" width="189" height="87">
					<h2 class="font-dinbek_bold text-uppercase">¿Sabes qué productos <br>son <span class="text-red">exclusivos</span> <br>para tí?</h2>
				</header>
				<div class="buttons-set">
					<button class="button btn-test" type="button"><span>Empezar Test</span></button>
				</div>
			</div>
			<div class="col-xs-5 col-sm-6 hidden-md hidden-lg">&nbsp;</div>
			</div>
		</div>
		<div class="row hide" id="form-fitness">
			<div class="col-xs-12" id="fitness-formulario">
				<header>
					<div class="row">
						<div class="table d-table no-margin">
							<div class="col-xs-6">
								<img alt="Fitness Calculator" src="<?php echo $this->getSkinUrl('images/fitness_promos/fitness_calculator.png') ?>" width="126" height="58">
							</div>
							<div class="col-xs-6">
								<ul class="nav nav-pills pasos f-right no-margin">
									<li class="active">
										<a href="#tab-sexo" data-toggle="tab">1</a>
										<div class="circle"></div>
									</li>
									<li>
										<a href="#tab-edad" data-toggle="tab">2</a>
										<div class="circle"></div>
									</li>
									<li>
										<a href="#tab-estatura-peso" data-toggle="tab">3</a>
										<div class="circle"></div>
									</li>
						  			<li>
						  				<a href="#tab-objetivo" data-toggle="tab">4</a>
						  				<div class="circle"></div>
						  			</li>
						  			<li class="hidden">
						  				<a href="#tab-resultado" data-toggle="tab">5</a>
						  				<div class="circle"></div>
						  			</li>
								</ul>
								<div class="buttons-set no-margin buttons-result" style="display: none;">
									<h3 class="text-uppercase text-right no-margin">Tu resultado</h3>
								</div>
							</div>
						</div>
					</div>
				</header>
				<form id="fitness_calculator">
					<div class="tab-content text-uppercase text-center clearfix">
						<div class="tab-pane active" id="tab-sexo">
			          		<h4 class="title font-italic">Selecciona tu sexo</h4>
			          		<div class="bg-resultado-sexo no-select text-center">
			          			<img src="<?php echo $this->getSkinUrl('images/pareja_fitness.png') ?>" width="190" height="157">
			          		</div>
			          		<div class="buttons-set no-padding no-margin">
			          			<div class="row">
				          			<div class="col-xs-6 no-padding text-right">
				          				<input type="radio" name="genero" class="input-radio validate-one-required-by-name nexttab" onchange="validate_field(this)" id="radio-m" value="M">
			          				<label class="button btn-sexo no-margin" for="radio-m"><span>Hombre</span></label>
				          			</div>
				          			<div class="col-xs-6 no-padding text-left">
				          				<input type="radio" name="genero" class="input-radio validate-one-required-by-name nexttab" onchange="validate_field(this)" id="radio-f" value="M">
			          				<label class="button btn-sexo no-margin" for="radio-f"><span>Mujer</span></label>
				          			</div>
			          			</div>
			          		</div>
						</div>
						<div class="tab-pane" id="tab-edad">
							<h4 class="title font-italic">¿Cuál es tu edad?</h4>
							<div class="form-group">
								<input class="form-control validate-number required-entry" onkeyup="validate_field(this)" type="text" id="edad" name="edad" value=""> <span>AÑOS</span>
							</div>
							<div class="buttons-set">
				          		<button class="button nexttab" id="btn-edad" type="button"><span>Siguiente</span></button>
			          		</div>
						</div>
			        	<div class="tab-pane" id="tab-estatura-peso">
			        		<h4 class="title font-italic">¿Cuál es tu estatura y peso?</h4>
							<div class="form-group">
								<input class="form-control required-entry validate-digits" type="text" id="estatura" name="estatura" value="" onkeyup="validate_field(this)"> <span>CM</span>
							</div>
							<div class="form-group">
								<input class="form-control required-entry validate-digits" type="text" name="peso" id="peso" onkeyup="validate_field(this)" value=""> <span>KG</span>
							</div>
							<div class="buttons-set">
				          		<button class="button nexttab" id="btn-ep" type="button"><span>Siguiente</span></button>
			          		</div>
						</div>
			          	<div class="tab-pane" id="tab-objetivo">
			          		<h4 class="title font-italic">¿Qué objetivo buscas?</h4>
							<div class="form-group">
								<select class="form-control validate-select" type="text" name="objetivo_id" id="select-objetivo" onchange="validate_field(this)">
									<option value="">Seleccione su objetivo</option>
								</select>
								<p class="text-loading" style="display: none;">Cargando objetivos ...</p>
							</div>
							<div class="buttons-set">
				          		<button class="button nexttab" id="btn-obj" type="button"><span>Ver Resultados</span></button>
			          		</div>
						</div>
						<div class="tab-pane" id="tab-resultado">
			          		<h4 class="title font-italic">Ingresa tu correo para ver tu resultado</h4>
							<div class="form-group">
								<input class="form-control required-entry validate-email text-center" autocomplete="email" type="text" name="email" id="email" value="" placeholder="correo electrónico" onkeyup="validate_field(this)">
							</div>
							<div class="buttons-set">
		          				<button class="button nexttab" id="btn-email" type="submit"><span>Listo</span></button>
			          			<p class="text-loading" style="display: none;">Calculando...</p>
			          			<ul class="fitness-messages" style="display: none;"></ul>
			          		</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-12" id="fitness-list" style="display: none;"></div>
		</div>
   	</div>
   	<?php endif ?>
   	</div>
   </div>
</div>
</div>
<?php if ($this->_helper->getFitnessCalcultarorEnable()): ?>
<script type="text/javascript">
	function validate_field(id){
		Validation.validate(id);
	}
	function nextTab($tabs, $valido) {
		if($valido) {
			$tabs.filter('.active').addClass("complete");
			$tabs.filter('.active').next('li').find('a[data-toggle="tab"]').tab('show');
		}
		else {
			$tabs.filter('.active').removeClass("complete");
		}
	}

	function saveFitness() {
		var fitness_calculatorForm = Form.serialize('fitness_calculator');
	    var rev_validator = new Validation($('fitness_calculator'));
	    var res = rev_validator.validate();
	    if(res) {
			jQuery.ajax({
				url: '<?php echo $this->getUrl('fitnesscalculator/ajax/calculator') ?>',
				data: fitness_calculatorForm,
				dataType: "json",
				beforeSend: function() {jQuery("#tab-resultado .text-loading").show();},
				success: function(response) {
					if(response.error) {
						jQuery(".buttons-result").hide();
						jQuery(".pasos").show();
						jQuery(".fitness-messages").show().html('<li class="error">'+response.mensaje+'</li>');
					}
					else {
						jQuery(".buttons-result").show();
						jQuery(".pasos").hide();
						jQuery("#fitness_calculator").hide();
						jQuery(".fitness-messages").show().html('<li class="success">'+response.mensaje+'</li>');
						jQuery("#fitness-list").show().html(response.html);
						jQuery("#fitness-products").owlCarousel({
					    	autoplay: false,
					    	nav: true,
					    	navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
					    	dots: false,
					    	responsiveClass:true,
					    	responsive: {
					    		0: {items:1, stagePadding:80},
					    		480: {items: 2, stagePadding:80},
					    		767: {items:3, stagePadding:80},
					    		1000: {items: 1} },
					    	margin: 0,
					    });
					}
				},
				complete: function() {
				    jQuery("#tab-resultado .text-loading").hide();
				},
				error: function(response) {
					jQuery("#fitness-list").html('');
				    console.log('no se puedo concretar el registro.');
				}
			});
		}
	}
	
	jQuery(document).ready(function ($) {
		var $tabs = $('.pasos li');
		var validar = false, _edad = false, _estatura = false, _peso = false, _obj = false, _email = false;

		$('.prevtab').on('click', function() {
		    $tabs.filter('.active').prev('li').find('a[data-toggle="tab"]').tab('show');
		});

		$('#radio-f, #radio-m').on('click', function() {
			nextTab($tabs, true);
		});
		$('#btn-edad').on('click', function() {
			_edad = Validation.validate(document.getElementById("edad"));
			nextTab($tabs, _edad);
		});
		$('#btn-ep').on('click', function() {
			_estatura = Validation.validate(document.getElementById("estatura"));
			_peso = Validation.validate(document.getElementById("peso"));
			validar = (_estatura && _peso);
			nextTab($tabs, validar);
		});
		$('#btn-obj').on('click', function() {
			_obj = Validation.validate(document.getElementById("select-objetivo"));
			nextTab($tabs, _obj);
		});
		$('#btn-email').on('click', function(e) {
			e.preventDefault();
			_email = Validation.validate(document.getElementById("email"));
			nextTab($tabs, _email);
			if(_edad && _estatura && _peso && _obj && _email) {
				saveFitness();
			}
		});

		$select = $("#select-objetivo");
		$.ajax({
			url: '<?php echo $this->getUrl('fitnesscalculator/ajax/objetivos') ?>',
			//data: "id="+_id,
			dataType: "json",
			cache: true,
			beforeSend: function() {$("#tab-objetivo .text-loading").show();},
			success: function(data) {
				$.each(data,function(key, value) {
				    $select.append('<option value=' + value['id'] + '>' + value['name'] + '</option>');
				});
			},
			complete: function() {$("#tab-objetivo .text-loading").hide();},
			error: function() {}
		});

		$(".btn-test").click(function () {
			$("#test").addClass("hide");
			$("#form-fitness").removeClass('hide');
			return false;
		})
	})
</script>
<?php endif ?>