<?php 
$style='';
if (Mage::getBlockSingleton('page/html_header')->getIsHomePage())
  {$size=6;}
else
  $size=4;
$_productCollection = Mage::getModel('catalog/product')->getCollection()
->joinField('category_id', 'catalog/category_product', 'category_id', 'product_id = entity_id', null, 'left')
->addAttributeToSelect('*')
->addAttributeToFilter('category_id', array(array('finset' => 11 )))
->addAttributeToFilter('status',array('eq' => Mage_Catalog_Model_Product_Status::STATUS_ENABLED))
->addAttributeToSort('entity_id', 'desc');

$_helper = $this->helper('catalog/output');
$jnq_helper = Mage::helper('jnqadmin');
?>
<?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="bestpromotions pd-container">
<header class="bestpromotions-title nav-title">
	<h2>NUESTRAS PROMOCIONES</h2>
	<div class="right nav-see-more">
		<a href="<?php echo Mage::getModel('catalog/category')->load(11)-> getUrl(); ?>"><span><?php echo $this->__('Ver Todo') ?></span></a>
	</div>
</header>
<?php $_collectionSize = $_productCollection->count() ?>
	<?php $sliderFor = 5; $productCount = $_collectionSize; ?>

<?php if ($productCount >= $sliderFor): ?>
	<div class="customNavigation">
		<a class="btn prev"><i class="fa fa-angle-left"></i></a>
		<a class="btn next"><i class="fa fa-angle-right"></i></a>
	</div>	
<?php endif; ?>

	<ul class="<?php if ($productCount >= $sliderFor){?>product-carousel<?php }else{?>products-grid<?php }?>" id="<?php if ($productCount >= $sliderFor){?>bestpromotions-carousel<?php }else{?>bestpromotions-grid<?php }?>">
	<?php $i=0; foreach ($_productCollection as $_product): $i++; ?>
		<?php
			$rating_number = $jnq_helper->getRatingNumber($_product);
			$marca_swatch = $jnq_helper->getManufacturerProduct($_product);
			//$objetivos = $jnq_helper->getObjetivos($_product);
		?>
		<li class="item <?php if ($productCount >= $sliderFor){?>slider-item<?php }else{?>product-items<?php }?>">
			<div class="product-block">
				<div class="product-block-inner">
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>">
					<?php echo $this->escapeHtml($_product->getName()); ?>
                    <?php echo $marca_swatch; ?>
                	</a></h2>
					<div class="valoration-summary clearfix">
		                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
		            	<?php echo $rating_number; ?>
					</div>
					<div class="product-image-block">
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
						<img alt="" src=" <?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(235,250); ?>" />
					</a>
					<div class="product-book">
					<div class="desc std text-left product-details"><?php
						echo $jnq_helper->text_truncate($this->stripTags($_product->getShortDescription()),55," ","...");
						?>
                    </div>

                    <!-- //Objetivos //-->

		            <div class="attr-container clearfix">
                    <div class="price-box">
                    	<label><?php echo $this->__('Price') ?></label>
	                	<?php 
	                	$_store = $_product->getStore();
	                	$_coreHelper = $this->helper('core');
	                	$_taxHelper = $this->helper('tax');
	                	$_simplePricesTax = ($_taxHelper->displayPriceIncludingTax() || $_taxHelper->displayBothPrices());
	                	$_convertedFinalPrice = $_store->roundPrice($_store->convertPrice($_product->getFinalPrice()));
	                	$_convertedPrice = $_store->roundPrice($_store->convertPrice($_product->getPrice())); 

	                	$_regularPrice = $_taxHelper->getPrice($_product, $_convertedPrice, $_simplePricesTax);
	                	$_finalPrice = $_taxHelper->getPrice($_product, $_convertedFinalPrice);
	                	$_price = $_coreHelper->formatPrice($_finalPrice, false); 
	                	$_regularPrice = $_coreHelper->formatPrice($_regularPrice, false); 
	                	$_regularPrice = ($_price == $_regularPrice) ? '' : $_regularPrice ;
	                	 ?>
						<span class="price special-price"><?php echo $_price ?></span>
						<span class="price" id="old-price-<?php echo $_product->getId(); ?>">
							<span class="price-label"><?php echo ($_regularPrice) ? 'Precio regular:' :'' ?></span>
							<span class="old-price"><?php echo $_regularPrice ?></span>
						</span>
					</div>
					</div>
					<?php if($_product->isSaleable()): ?>
                    <button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Buy Now') ?></span></span></button>
                	<?php endif; ?>
					</div>
				</div>
				</div>
			</div>
		</li>
		
	 <?php endforeach ?>
</ul>
<span style="display: none; visibility: hidden;" class="bestpromotions_default_width"></span>
<?php endif; ?>
</div>