<?php
$jnqhelper = Mage::helper('jnqadmin');
$category_parent = 8;
$_category = Mage::getModel('catalog/category')->load($category_parent);    
$_categories = $_category
                ->getCollection()
                ->addAttributeToSelect("*")
                ->addIdFilter($_category->getChildren());
$_categories->getSelect()->order('position', 'DESC');                
?>
<div class="pormas-objetivos">
	<div class="container">
		<div class="row">
			<header class="objetivos-title nav-title">
			<h2><span class="hidden-xs hidden-sm">Por</span> <span class="text-dark-red">+</span>Objetivos</h2>
			<div class="right nav-see-more">
				<a href="<?php echo $this->getUrl("objetivo.html") ?>"><span>Ver Todo</span></a>
			</div>
		</header>
			<div class="table d-md-table">
				<div class="col-md-3 objects-list">
					<ul class="nav nav-tabs tabs-left no-margin">
					<?php $_tabs = ""; ?>
					<?php foreach ($_categories as $category) { ?>
						<li class="<?php echo $category->getUrlKey() ?>">
							<a href="#cat-<?php echo $category->getId() ?>" data-url="<?php echo $this->getUrl('jnqadmin/ajax/products') ?>" data-id="<?php echo $category->getId() ?>" data-loaded="false" data-toggle="tabajax">
							<?php $image = $this->getSkinUrl("images/iconos/".$category->getUrlKey().".svg") ?>
							<?php echo $jnqhelper->getSVGPath($image) ?>
								<span><?php echo $category->getName() ?></span>
								<button class="button btn-plus hidden-md hidden-lg" onclick="setLocation('<?php echo $this->getUrl("objetivo.html") ?>')" type="button"><span>Ver Más</span></span></button>
							</a>
							<div class="tab-content text-center hidden-md hidden-lg">
								<div class="tab-pane" id="cat-<?php echo $category->getId() ?>-mobile"></div>
							</div>
						</li>
						<?php $_tabs .= '<div class="tab-pane" id="cat-'.$category->getId().'"></div>' ?>
					<?php } ?>
					</ul>
				</div>
				<div class="col-md-9 tab-main hidden-xs hidden-sm">
					<div class="tab-content text-center">
						<?php echo $_tabs ?>
					</div>
				</div>
			</div>
			<div class="buttons-set hidden-md hidden-lg">
				<a class="button btn-dark" href="<?php echo $this->getUrl("objetivo.html") ?>" title="Ver Más Objetivos"><span>Ver Más Objetivos</span></a>
			</div>
		</div>
	</div>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		if($(window).width() < 991) {
			$(".pormas-objetivos").insertAfter(".fitness_promos");
		}
		_width = $(window).width();
		$('[data-toggle="tabajax"]').click(function(e) {
		    var $this = $(this),
		        loadurl = $this.data('url'),
		        _id = $this.data('id'),
		        loaded = $this.data('loaded'),
		        targ = (_width > 992) ? $this.attr('href') : $this.attr('href') + "-mobile";

		    if (loadurl && !loaded) {
			    $.ajax({
					url: loadurl,
					data: "id="+_id,
					dataType: "json",
					cache: true,
					beforeSend: function() {
						$(targ).html('<i class="fa fa-spinner fa-spin owl-loading"></i>');
					},
					success: function(data) {
						$(targ).html(data);
						$(targ).find(".owl-carousel").owlCarousel({
					    	autoplay: false,
					    	nav: true,
					    	navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
					    	dots: false,
					    	responsiveClass:true,
					    	responsive: {0: { items: 1,stagePadding:80 },480: { items: 2,stagePadding:80 },767: { items: 3},1000: { items: 3 }},
					    	margin: 0,
					    });
					    $this.data("loaded", "true");
						$this.parent().addClass("loaded");
					},
					complete: function() {
					    //console.log("complete");
					},
					error: function() {
					    $(targ).html('<p class="note-msg">No hay productos en esta categoría.</p>');
					}
				});
		    }
		    $this.tab('show');

		    return false;
		});

		$('.objects-list .nav li:first-of-type [data-toggle="tabajax"]').trigger('click');
	})
</script>
</div>