<?php $helper = Mage::helper('jnqadmin'); ?>
<?php if ($_product = $this->getProduct()) { ?>
	<?php $click = Mage::helper('udevix_google_tag_manager_ee')->click($_product); ?>
<div class="product_sale col-xs-12 col-sm-5 col-md-4 no-padding">
<div class="pd-container">
	<div class="salepromo-item block no-padding">
		<div class="block-title">
			<h4 class="text-uppercase no-margin"><strong><i class="fa fa-star"></i> <span>Promoción Del Día</span></strong></h4>
		</div>
		<div class="block-content product-block-inner">
			<div class="table d-table">
				<div class="product-image-block col-xs-5 col-md-5 no-padding">
				<a <?php echo $click; ?> href="<?php echo $this->getsaleBannerUrl() ?>" title="<?php echo $_product->getName() ?>" class="product-image"><img src="<?php echo $this->saleBannerBannerImage() ?>" width="200" height="200" alt="<?php echo $_product->getName() ?>" /></a>
				</div>
				<div class="product-details product-book col-xs-7 col-md-7">
				<h2 class="product-name">
		            <a <?php echo $click; ?> href="<?php echo $this->getsaleBannerUrl() ?>" title="<?php echo $_product->getName() ?>"><?php echo $_product->getName(); ?></a>
		        </h2>
				<?php echo $this->getPriceHtml($_product, true) ?>
				<div class="buttons-set no-padding">
					<button <?php echo $click; ?> type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getsaleBannerUrl() ?>')"><span><?php echo $this->__('Buy Now') ?></span></button>
				</div>
				</div>
			</div>
		<?php $count = 1 ?>
		<?php if($helper->getPriceCountDown($_product)) { ?>
			<div class="timer_wrapper font-dinbek_bold" id="timer_wrapper<?php echo $count; ?>">
			<?php if ($helper->isShowTitle('listpage')): ?>
			<div class="timer-heading text-center">solo quedan:</div>
			<?php endif; ?>
			<div id="countbox_<?php echo $count; ?>" class="timer-view">
				<span class="day"><i class="fa fa-spinner fa-spin"></i></span>
				<span class="hour"><i class="fa fa-spinner fa-spin"></i></span>
				<span class="min"><i class="fa fa-spinner fa-spin"></i></span>
				<span class="sec"><i class="fa fa-spinner fa-spin"></i></span>
			</div>
			<?php if ($helper->isShowCaption('listpage')): ?>
			    <div class="timerdate text-uppercase">
			        <span class="day">Días</span>
			        <span class="hour">Horas</span>
			        <span class="min">Min</span>
			        <span class="sec">Seg</span>
			    </div>
			<?php endif;?>
			</div>
		<?php $toDate = $_product->getSpecialToDate();?>
		<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery.ajax({
				url: '<?php echo $this->getUrl('jnqadmin/ajax/getcurrentdate') ?>',
				dataType: "json",
				success: function(response) {
					var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
					start = response;
					start_date = Date.parse(start);
					var dnow<?php echo $count; ?> = new Date(start_date);
					if(CountStepper>0)
					ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
					else
					ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
					gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
					var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
					CountBack(gsecs<?php echo $count; ?>,iid<?php echo $count; ?>, timer);
					timer++;
				},
				error: function(response) {
				    console.log('no se puedo concretar el ajax.');
				}
			});
		});
		</script>
		<?php $count = $count + 1; ?>
		<?php } ?>
		</div>
	</div>
<?php if($this->saleBannerPopupEnable()) { ?>
<div class="modal fade salepromomodal text-center" id="salepromoModal" tabindex="-1" role="dialog" aria-labelledby="salePromoLabel">
	<div class="modal-dialog" role="document">
	<div class="modal-content no-border">
	<div class="modal-header no-border no-padding">
	<button type="button" class="btn btn-default close" data-dismiss="modal">&times;</button>
	<h2 class="modal-title text-uppercase hide" id="salePromoLabel">¡Súper Oferta!</h2>
	</div>
	<div class="modal-body text-center no-padding">
	<a <?php echo $click; ?> href="<?php echo $this->getsaleBannerUrl() ?>" title="<?php echo $_product->getName() ?>" class="product-image no-margin">
		<img src="<?php echo $this->saleBannerPopupImage() ?>" width="400" height="400" alt="<?php echo $_product->getName() ?>" />
	</a>
	</div>
	</div>
	</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	setTimeout(function() {
	  jQuery('#salepromoModal').modal('show');
	}, 5000); // milliseconds
});
</script>
<?php } ?>
</div>
</div>
<?php } ?>