<?php
//$cats = Mage::getModel('catalog/category')->getCollection()->addAttributeToSort('position')->load(2);
//rsort($catIds);
$jnqhelper = Mage::helper('jnqadmin');

$categoryMenu = Mage::getModel('catalog/category')->load(2);
$children = Mage::getModel('catalog/category')->getCollection()->setStoreId(Mage::app()->getStore()->getId());
$children->addAttributeToSelect('*')
        ->addAttributeToFilter('parent_id', $categoryMenu->getId())
        ->addAttributeToFilter('is_active', 1)//get only active categories if you want
        ->addAttributeToSort('position');
$categories = array();
foreach ($children as $catId) {
    $category = Mage::getModel('catalog/category')->load($catId->getId());
    $categories[$category->getName()] = array('name' => $category -> getName(), 'url' => $category -> getUrl(), 'url_key' => $category -> getUrlKey(), 'img' => $category -> getImageUrl(), 'subcategories' => $category->getChildrenCategories(), 'position' => $category->getPosition());
}
$maufacturers = $jnqhelper->getManufacturers();
$manufacturerUrl = $this->getUrl('manufacturer');
//ksort($categories, SORT_STRING);

if(count($categories)): ?>
<script type="text/javascript">
    var banner = [];
    var bannerTitle = [];
    var bannerCarousel = []; 
</script>
<nav class="nav-container">
	<div class="nav-inner">
  <div id="advancedmenu" class="clearfix">
    <?php $cont = 1; $_subcatcont = 0 ?>
    <?php foreach($categories as $name => $data): ?>
      <?php
        if($data['url_key'] == 'categorias'){
          foreach ($data['subcategories'] as $subcat) {
            if($_subcatcont == 0){
              $_id = $subcat->getentityId();
            }
            $_subcatcont++;
          }
        } else if($data['url_key'] == 'objetivo'){
          foreach ($data['subcategories'] as $subcat) {
            if($_subcatcont == 10){
              $_id = $subcat->getentityId();
            }
            $_subcatcont++;
          }
        } else{
            $_id = "'9_M'";
        }

      ?>
        <?php $bannerProduct = "--"; ?>
        <div id="<?php echo "menu".$cont;?>" class="menu act"
          onmouseover="megnorShowMenuPopup(this, '<?php echo "popup".$cont;?>');"
          onmouseout="megnorHideMenuPopup(this, event, '<?php echo  "popup".$cont;?>', '<?php echo "menu".$cont;?>')">
          <a class="menu-item <?php if($data['url_key']=="promos"):?>item-noarrow<?php endif; ?>" href="<?php echo ($data['url_key'] != 'marcas')? $data['url']: $manufacturerUrl; ?>" onmouseover="featuredProductOut();featuredProductOver(<?php echo $_id ?>,'<?php echo $data['url_key']; ?>');">
            <span class="menu-parent" ><?php echo ($data['name']); ?></span>
              <?php if($data['url_key'] != "compra" &&  $data['url_key'] != "promos") : ?>
                <div class="menu-arrow" ></div>
              <?php endif; ?>
            </a>
            <!-- div class="parentMenu">
                <a href="<?php echo $data['url']; ?>" title="<?php echo $name; ?>">
                     <img class="cat-image" src="<?php echo $data['img']; ?>" />
                    <?php echo $data['name']; ?>
                </a>
            </div -->
            <?php if($data['url_key'] != "compra" && $data['url_key'] != "promos") : ?>

            <div id="<?php  echo "popup".$cont;?>"
              class="megnor-advanced-menu-popup submenu <?php echo ($bannerProduct!="")?"popup-banner":""?>"
              onmouseout="megnorHideMenuPopup(this, event, '<?php echo  "popup".$cont;?>', '<?php  echo "menu".$cont;?>')"
              onmouseover="megnorPopupOver(this, event, '<?php echo  "popup".$cont;?>', '<?php  echo "menu".$cont;?>')" >
              <div class="container-submenu-global clearfix">
                <div class="submenu-item-container">
                  <div class="submenu-item-container-content">
                    <?php
                    foreach ($data['subcategories'] as $subcategory) : ?>
                    
                    <?php
                    $cacheId = "featured_category_".$subcategory->getentityId();
                        
                    if ($cacheContent = Mage::app()->loadCache($cacheId)) {
                      $productArray = unserialize($cacheContent);
                    } else {
                      $feature = 1 ;
                      $size=2;
                      $size= ($data['url_key'] == 'categorias') ? 4 : 2 ;
                      $_productCollection = Mage::getModel('catalog/product')
                       ->getCollection()
                       ->joinField('category_id', 'catalog/category_product', 'category_id', 'product_id = entity_id', null, 'left')
                       ->addAttributeToSelect('megnor_featured_product')
                       ->addAttributeToSelect('order_feature')
                       ->addAttributeToSelect('manufacturer')
                       ->addAttributeToSelect('*')
                       ->addAttributeToFilter('category_id', array(array('finset' => $subcategory->getentityId())))->addAttributeToSort('order_feature', 'asc')
                       ->addAttributeToFilter('status',array('eq' => Mage_Catalog_Model_Product_Status::STATUS_ENABLED))
                       ->addAttributeToFilter('megnor_featured_product', array('like' => $feature));
                       //->setPageSize($size);
                      $productArray=array();
                      foreach ($_productCollection as $key =>$producto) {

                        $product = Mage::getModel('catalog/product')->load($producto->getId());
                        $prices = Mage::helper ('spp')->getCheapestChildPrice ($product);


                        $storeId = Mage::app()->getStore()->getId();
                        $summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)  ->load($producto->getId());
                        $summaryData['rating_summary'];
                        $summary = ($summaryData['rating_summary']) ? $summaryData['rating_summary'] : '0';
                        $_store = $producto->getStore();
                        $_coreHelper = $this->helper('core');
                        $_taxHelper = $this->helper('tax');
                        $_simplePricesTax = ($_taxHelper->displayPriceIncludingTax() || $_taxHelper->displayBothPrices());
                        $_convertedFinalPrice = $_store->roundPrice($_store->convertPrice($producto->getFinalPrice()));
                        $_convertedPrice = $_store->roundPrice($_store->convertPrice($producto->getPrice())); 
                        $_regularPrice = $_taxHelper->getPrice($producto, $_convertedPrice, $_simplePricesTax);
                        $_finalPrice = $_taxHelper->getPrice($producto, $_convertedFinalPrice);

                        $_regularPrice = $prices['Min']['price'];
                        $_finalPrice = $prices['Min']['finalPrice'];

                        $_price = $_coreHelper->formatPrice($_finalPrice, false);
                        $_regularPrice = $_coreHelper->formatPrice($_regularPrice, false);
                        $_regularPrice = ($_price == $_regularPrice) ? '' : $_regularPrice ;
                        $Array = array();
                        $Array['Url'] =$product->getProductUrl();
                        $Array['Name'] =$product->getName();
                        $Array['Price'] =$_regularPrice;
                        $Array['Summary'] =$summary;
                        $Array['RegularPrice'] =$_price;
                        $Array['Manufacturer'] =$product->getAttributeText('manufacturer');
                        $Array['Availables'] =$jnqhelper->getProductAvailableSizesMenu($producto);
                        //$Array['ShortDescription'] = preg_replace("[\n|\r|\n\r]"," ", $this->stripTags($product->getShortDescription()));
                        $Array['ShortDescription'] = preg_replace("[\n|\r|\n\r]"," ", strip_tags($product->getShortDescription()));
                        $Array['Image'] =(string)$this->helper('catalog/image')->init($product, 'small_image')->resize(150,150); 
                        $productArray[] = $Array;     
                      }
                      try {
                        $cacheContent = serialize($productArray);
                        $tags = array(
                          Mage_Catalog_Model_Product::CACHE_TAG
                        );
                        Mage::app()->saveCache($cacheContent, $cacheId, $tags,2*60*60);
                      } catch (Exception $e) {
                        Mage::logException($e);
                      }
                    }

                    $_collectionSize = count($productArray);
                      $sliderFor = 3; $productCount = $_collectionSize;
                      $custom_nav ='';
                      $product_carousel_menu_class = ($productCount >= $sliderFor) ? 'product-carousel-menu' : 'products-grid-menu';
                      $product_carousel_menu_class_center = ($productCount >= $sliderFor) ? '' : 'product-menu-center';

                      $product_carousel_menu_id = ($productCount >= $sliderFor) ? 'menu-carousel_'.$subcategory->getentityId() : 'menu-grid_'.$subcategory->getentityId();
                      $product_carousel_menu_item = ($productCount >= $sliderFor) ? 'slider-item' : 'product-items';

                      $banner_top='<div class="submenu-banner-container"><ul class="submenu-banner '.$product_carousel_menu_class.' '.$product_carousel_menu_class_center.'" id="'.$product_carousel_menu_id.'">';
                      $banner_buttom = '</ul></div>';
                      $banner_limit ='';
                      $banner ='';
                      $banner_title='<div class="banner-title nav-title"><h3>';
                      $banner_sm_in='<div class="right nav-see-more"><a href="';
                      $banner_sm_fn='"><span>Ver Todo</span></a></div>';
                      
                      if ($productCount >= $sliderFor)
                      $custom_nav ='<div class="customNavigation"><a class="btn prev" onclick="prevCarousel();"><i class="fa fa-angle-left"></i></a><a class="btn next" onclick="nextCarousel();"><i class="fa fa-angle-right"></i></a></div>'; 
                      ?>
                      <script type="text/javascript">
                      if (!banner['<?php echo $subcategory->getentityId(); ?>']) {
                        banner['<?php echo $subcategory->getentityId(); ?>'] ='';};
                        bannerTitle['<?php echo $subcategory->getentityId(); ?>']='<?php echo $banner_title.$subcategory->getName().'</h3>'.$banner_sm_in.$subcategory->getUrl().$banner_sm_fn.'</div>'.$custom_nav?>';
                        bannerCarousel['<?php echo $subcategory->getentityId(); ?>']='<?php echo $banner_top; ?>';</script>

                      <?php
                      foreach ($productArray as $key => $producto) {
                        $description = $jnqhelper->text_truncate($producto['ShortDescription'], 50, " ", "...");
                        $prodmarca = $producto['Manufacturer'] ? $producto['Manufacturer'].' ®' : '';
                        $labelPrReg = $producto['Price'] !='' ? 'Precio Regular: ' : '';
                        $labelPrSp = $producto['Price'] !='' ? 'Desde: ' : '';
                        $banner = '<li class="submenu-product '.$product_carousel_menu_item.'">'.
                                    '<div class="submenu-product-content">'.
                                      '<div class="feature-img">'.
                                          '<a href="'.$producto['Url'].'"><img alt="'.$producto['Name'].'" src="'.$producto['Image'].'" width="150" height="150" /></a>'.
                                      '</div>'.
                                    '<div class="feature-desc">'.
                                      '<a href="'.$producto['Url'].'">'.
                                        '<div class="submenu-product-title">'.
                                          '<span>'.$prodmarca."</span>".
                                          "<span>".$producto['Name'].'</span>'.
                                        '</div>'.
                                        '<div class="available-options">'.$producto['Availables'].'</div>'.
                                        '<div class="submenu-product-description">'.
                                          '<div class="p-desc-featured">'.$description.'</div>'.
                                            '<div class="price-box clearfix">'.
                                              '<p class="price">'.
                                                '<span class="price-label">'.$labelPrReg.'</span>'.
                                                '<span class="old-price">'.$producto['Price'].'</span>'.
                                              '</p>'.
                                              '<p class="price">'.
                                                '<span class="special-price"><span class="pc-from">'.$labelPrSp.'</span>'.$producto['RegularPrice'].'</span>'.
                                              '</p>'.
                                            '</div>'.
                                          '</div></a></div></div></li>';

                              $banner_limit+=$banner;
                          ?><script type="text/javascript">banner['<?php echo $subcategory->getentityId(); ?>']+='<?php echo  $banner;?>';</script><?php
                          }
                          ?>
                          <div class="submenu-item">
                            <a href="<?php echo $subcategory->getUrl() ?>" onmouseover="featuredProductOver(<?php echo $subcategory->getentityId(); ?>,'<?php echo $data['url_key']; ?>')" >
                                <span><?php echo $subcategory->getName(); ?></span>
                            </a>
                          </div>
                          <?php endforeach; ?>

                          <!-- Manufactures  -->
                          <?php if ($data['url_key'] =='marcas'): ?>
                            <?php foreach ($maufacturers as $subcategory): ?>
                                <?php
                                $cacheId = "featured_category_".$subcategory->getId()."_M";
                                if ($cacheContent = Mage::app()->loadCache($cacheId)) {
                                  $productArray = unserialize($cacheContent);  
                                  //var_dump($_productCollection); 
                                } else {
                                  $products_manufacturers= Mage::getModel('manufacturer/manufacturer')->getProductsByManufacturer($subcategory->getManufacturerName(),Mage::app()->getStore()->getId()); 
                                     $productArray=array();
                                    foreach ($products_manufacturers as $producto_id) {
                                      $producto  = Mage::getModel('catalog/product')->load($producto_id);
                                      $storeId = Mage::app()->getStore()->getId();
                                      $summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)  ->load($producto->getId());
                                      $summaryData['rating_summary'];
                                      $summary = ($summaryData['rating_summary']) ? $summaryData['rating_summary'] : '0';
                                      $_store = $producto->getStore();
                                      $_coreHelper = $this->helper('core');
                                      $_taxHelper = $this->helper('tax');
                                      $_simplePricesTax = ($_taxHelper->displayPriceIncludingTax() || $_taxHelper->displayBothPrices());
                                      $_convertedFinalPrice = $_store->roundPrice($_store->convertPrice($producto->getFinalPrice()));
                                      $_convertedPrice = $_store->roundPrice($_store->convertPrice($producto->getPrice())); 
                                      $_regularPrice = $_taxHelper->getPrice($producto, $_convertedPrice, $_simplePricesTax);
                                      $_finalPrice = $_taxHelper->getPrice($producto, $_convertedFinalPrice);
                                      $_price = $_coreHelper->formatPrice($_finalPrice, false); 
                                      $_regularPrice = $_coreHelper->formatPrice($_regularPrice, false); 
                                      $_regularPrice = ($_price == $_regularPrice) ? '' : $_regularPrice ;
                                      $product = Mage::getModel('catalog/product')->load($producto->getId());
                                      $Array = array();
                                      $Array['Url'] =$product->getProductUrl();
                                      $Array['Name'] =$product->getName();
                                      $Array['Price'] =$_regularPrice;
                                      $Array['Summary'] =$summary;
                                      $Array['RegularPrice'] =$_price;
                                      $Array['Availables'] =$jnqhelper->getProductAvailableSizesMenu($producto);
                                      $Array['ShortDescription'] = preg_replace("[\n|\r|\n\r]"," ", strip_tags($product->getShortDescription()));
                                      $Array['Manufacturer'] =$product->getAttributeText('manufacturer')." ®";
                                      $Array['Image'] =(string)$this->helper('catalog/image')->init($producto, 'small_image')->resize(150,150); 
                                      $productArray[] = $Array;
                                    }
                                    try {
                                      $cacheContent = serialize($productArray);
                                      $tags = array(
                                      Mage_Catalog_Model_Product::CACHE_TAG);
                                      Mage::app()->saveCache($cacheContent, $cacheId, $tags,2*60*60);
                                    } catch (Exception $e) {
                                      Mage::logException($e);
                                    }
                                  }

                                  $_collectionSize = count($productArray);
                                  $sliderFor = 3; $productCount = $_collectionSize;
                                  $custom_nav ='';
                                  $product_carousel_menu_class = ($productCount >= $sliderFor) ? 'product-carousel-menu' : 'products-grid-menu';
                                  $product_carousel_menu_class_center = ($productCount >= $sliderFor) ? '' : 'product-menu-center';

                                  $product_carousel_menu_id = ($productCount >= $sliderFor) ? 'menu-carousel_'.$subcategory->getId().'_M' : 'menu-grid_'.$subcategory->getId().'_M';
                                  $product_carousel_menu_item = ($productCount >= $sliderFor) ? 'slider-item' : 'product-items';

                                  $banner_top='<div class="submenu-banner-container"><ul class="submenu-banner '.$product_carousel_menu_class.' '.$product_carousel_menu_class_center.'" id="'.$product_carousel_menu_id.'">';
                                  $banner_buttom = '</ul></div>';
                                  $banner_limit ='';
                                  $banner ='';
                                  $banner_title='<div class="banner-title nav-title"><h3>';
                                  $banner_sm_in='<div class="right nav-see-more"><a href="';
                                  $banner_sm_fn='"><span>Ver Todo</span></a></div>';
                                  
                                  if ($productCount >= $sliderFor)
                                  $custom_nav ='<div class="customNavigation"><a class="btn prev" onclick="prevCarousel();"><i class="fa fa-angle-left"></i></a><a class="btn next" onclick="nextCarousel();"><i class="fa fa-angle-right"></i></a></div>'; 
                                  ?>
                                  <script type="text/javascript">
                                  if (!banner['<?php echo $subcategory->getId()."_M"; ?>']) {
                                    banner['<?php echo $subcategory->getId()."_M"; ?>'] ='';};
                                    bannerTitle['<?php echo $subcategory->getId()."_M"; ?>']='<?php echo $banner_title.$subcategory->getTitle().'</h3>'.$banner_sm_in.$subcategory->getUrl().$banner_sm_fn.'</div>'.$custom_nav?>';
                                    bannerCarousel['<?php echo $subcategory->getId()."_M"; ?>']='<?php echo $banner_top; ?>';</script>

                                  <?php
                                  foreach ($productArray as $key => $producto) {
                                    $description = $jnqhelper->text_truncate($producto['ShortDescription'], 50, " ", "...");
                                    $labelPrReg = $producto['Price'] !='' ? 'Precio Regular: ' : '';
                                    $labelPrSp = $producto['Price'] !='' ? 'Desde: ' : '';
                                    $banner = '<li class="submenu-product '.$product_carousel_menu_item.'"><div class="submenu-product-content"><div class="feature-img"><a href="'.$producto['Url'].'"><img alt="'.$producto['Name'].'" src="'.$producto['Image'].'" width="150" height="150" /></a></div><div class="feature-desc"><a href="'.$producto['Url'].'"><div class="submenu-product-title"><span>'.$producto['Manufacturer']."</span><span>".$producto['Name'].'</span></div><div class="available-options">'.$producto['Availables'].'</div><div class="submenu-product-description"><div class="p-desc-featured">'.$description.'</div><div class="price-box clearfix"><p class="price"><span class="price-label">'.$labelPrReg.'</span><span class="old-price">'.$producto['Price'].'</span></p><p class="price"><span class="special-price"><span class="pc-from">'.$labelPrSp.'</span>'.$producto['RegularPrice'].'</span></p></div></div></a></div></div></li>';
                                    $banner_limit+=$banner;
                                    ?><script type="text/javascript">banner['<?php echo $subcategory->getId()."_M"; ?>']+='<?php echo  $banner;?>';</script><?php
                                  }
                                  ?>
                                  <div class="submenu-item">
                                    <a href="<?php echo $subcategory->getUrl() ?>" onmouseover="featuredProductOver('<?php echo $subcategory->getId()."_M"; ?>','<?php echo $data['url_key']; ?>')" >
                                      <span><?php echo $subcategory->getTitle().' ®'; ?></span>
                                    </a>
                                  </div>
                          <?php endforeach; ?>
                          <?php endif ?>
                        <!-- Fin Manufactures -->
                          
                      </div>
                  </div>
                  <div class="featured-product featured-product_<?php echo $data['url_key']; ?>" id="category-banner">
                  <?php if ($banner_limit != '0'):
                  Mage::log('banner limit');
                    echo $banner_top.$banner_limit.$banner_buttom;
                  endif ?>
                  </div>
                </div>
            </div>
            <?php endif; ?>

        </div>
        <?php $cont++;?>
    <?php endforeach; ?>
    <div class="menu act" id="menu5">
        <a class="menu-item item-noarrow" href="https://labnutrition.com/blog/">
            <span class="menu-parent"><?php echo 'Blog' ?></span>
        </a>
    </div>
    <div class="menu act" id="menu6">
        <a class="menu-item item-noarrow" href="<?php echo $this->getUrl('storelocator') ?>">
            <span class="menu-parent"><?php echo 'Tiendas' ?></span>
        </a>
    </div>
  </div>
  <!--Finish to desktop menu-->

<script type="text/javascript">
  //<![CDATA[
  var CUSTOMMENU_POPUP_WIDTH = <?php echo Mage::getStoreConfig('advanced_menu/popup/width') + 0; ?>;
  var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo Mage::getStoreConfig('advanced_menu/popup/top_offset') + 0; ?>;
  var CUSTOMMENU_POPUP_RIGHT_OFFSET_MIN = <?php echo Mage::getStoreConfig('advanced_menu/popup/right_offset_min') + 0; ?>;
  var CUSTOMMENU_POPUP_DELAY_BEFORE_DISPLAYING = <?php echo Mage::getStoreConfig('advanced_menu/popup/delay_displaying') + 500; ?>;
  var CUSTOMMENU_POPUP_DELAY_BEFORE_HIDING = <?php echo Mage::getStoreConfig('advanced_menu/popup/delay_hiding') + 600; ?>;
  var megnorCustommenuTimerShow = {};
  var megnorCustommenuTimerHide = {};
  //]]>

  var sliderMenu = '';
  function featuredProductOver(product,menu){
    if (banner[product]) {
      jQuery(".featured-product_"+menu).html(bannerTitle[product]+bannerCarousel[product]+banner[product]+'<?php echo $banner_buttom ?>');
      var slider = jQuery("#menu-carousel_"+product );
      slider.sliderCarousel({
        defWidthClss : 'grid_default_width',
        subElement   : '.slider-item',
        subClass     : 'submenu-product-content',
        firstClass   : 'first_item_tm',
        lastClass    : 'last_item_tm',
        slideSpeed : 200,
        paginationSpeed : 800,
        autoPlay : false,
        stopOnHover : false,
        goToFirst : true,
        goToFirstSpeed : 1000,
        goToFirstNav : true,
        pagination : false,
        paginationNumbers: false,
        responsive: true,
        responsiveRefreshRate : 200,
        baseClass : "slider-carousel",
        theme : "slider-theme",
        autoHeight : true,
        itemsSlider: 3
      });
      sliderMenu = slider;
    } else {
      jQuery(".featured-product").html('');
    };
  }
  function featuredProductOut(){
      jQuery(".featured-product").html('<h2 class="placeholder">Labnutrition</h2>');
  }
  function nextCarousel(){
      sliderMenu.trigger('slider.next');
  }
  function prevCarousel(){
      sliderMenu.trigger('slider.prev');
  }
  
</script>

	<!-- Code for responsive menu start -->
	<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top') ?>
	<div class="nav-responsive"><div class="expandable"></div></div>
		<div class="responsive-menu">
			<ul id="nav" class="advanced_nav">
				<?php echo $_menu ?>
          <li class="level0 nav-1 level-top first">
            <a href="<?php echo $this->getUrl('storelocator') ?>" class="level-top">
              <span>Tiendas</span>
            </a>
          </li>
			</ul>
		</div>
	<!-- Code for responsive menu end -->

</nav>

<?php endif ?>