<?php
$cats = Mage::getModel('catalog/category')->load(2)->getChildren();
$catIds = explode(',', $cats);
$categories = array();
foreach ($catIds as $catId) {
    $category = Mage::getModel('catalog/category')->load($catId);
    $categories[$category -> getName()] = array('name' => $category -> getName(), 'url' => $category -> getUrl(), 'img' => $category -> getImageUrl(), 'subcategories' => Mage::getModel('catalog/category') -> getCategories($catId));
}
sort($categories, SORT_STRING);
?>


<div class="nav-container">
    <div class="nav-inner">
        <div id="advancedmenu" style="display: block;">
            <div onmouseout="megnorHideMenuPopup(this, event, 'popup1', 'menu1')" onmouseover="megnorShowMenuPopup(this, 'popup1');" class="menu" id="menu1">
                <div class="parentMenu menu0 home_link">
                    <a href="#">
                        <span>TIENDA</span>
                        <div class="menu-arrow"></div></a>
                </div>
            </div>
            <div onmouseover="megnorPopupOver(this, event, 'popup1', 'menu1')" onmouseout="megnorHideMenuPopup(this, event, 'popup1', 'menu1')" class="megnor-advanced-menu-popup" id="popup1" style="display: none; left: 119px; z-index: 10000;">
                <div class="megnor-advanced-menu-popup_inner">
                    <div class="clearBoth"></div>
                    <div class="block2" id="tm_advanced_menu_1">
                        <ul class="sub-menumix">
                            <li>
                                <a href="#" >
                                    Benavides
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    Bermudes
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    Canamelares
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    Oropendolas
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <!-- -->
            <div onmouseout="megnorHideMenuPopup(this, event, 'popup3', 'menu3')" onmouseover="megnorShowMenuPopup(this, 'popup3');" class="menu" id="menu3">
                <div class="parentMenu">
                    <a href="#">
                        <span>CATEGORÍAS</span>
                        <div class="menu-arrow"></div></a>
                </div>
            </div>
            <div onmouseover="megnorPopupOver(this, event, 'popup3', 'menu3')" onmouseout="megnorHideMenuPopup(this, event, 'popup3', 'menu3')" class="megnor-advanced-menu-popup" id="popup3" style="display: none; left: 119px; z-index: 10000;">
                <div class="megnor-advanced-menu-popup_inner">
                    <div class="clearBoth"></div>
                    <div class="block2" id="tm_advanced_menu_3">
                        <ul class="sub-menumix">
                            <?php foreach($categories as $name => $data): ?>
                                <li>
                                    <a href="<?php echo $data['url']; ?>" title="<?php echo $data['name']; ?>">
                                        <!-- img class="cat-image" src="<?php echo $data['img']; ?>" / -->
                                        <?php echo $data['name']; ?>
                                    </a>
                                    <!-- ul>
                                        <?php
                                        foreach ($data['subcategories'] as $subcategory) {
                                            echo "<a href='" . $subcategory -> getUrl() . "'><li>" . $subcategory -> getName() . "</li></a>";
                                        }
                                        ?>
                                    </ul -->
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu" id="menu4">
                <div class="parentMenu">
                    <a href="#">
                        <span>OBJETIVO</span>
                        <div class="menu-arrow"></div></a>
                </div>
            </div>
            <div class="menu" id="menu5">
                <div class="parentMenu">
                    <a href="#">
                        <span>PROMOS</span>
                        <div class="menu-arrow"></div>
                    </a>
                </div>
            </div>
            <div class="menu" id="menu6">
                <div class="parentMenu">
                    <a href="#">
                        <span>BLOG</span>
                        <div class="menu-arrow"></div>
                    </a>
                </div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>