<?php
    $route = Mage::app()->getRequest()->getRouteName();

	$helper = $this->helper('catalog/category');
	$obj = ($this instanceof Mage_Catalog_Block_Navigation) ? $this : new Mage_Catalog_Block_Navigation();
	$categories = $obj->getStoreCategories();

	$flat = Mage::helper('catalog/category_flat')->isEnabled();
?>
<?php if (count($categories) > 0): ?>
<div class="modal-header hidden-md hidden-lg">
    <h3 class="modal-title text-uppercase">
    	<div class="svg-container">
            <?php $svg = $this->getSkinUrl('images/icon_filtros.svg') ?>
            <?php echo $this->helper('jnqadmin')->getSVGPath($svg) ?>
        </div>
    	<span>Filtrar Por</span>
	</h3>
    <button class="close" aria-hidden="true">&times;</button>
</div>
<ul id="narrow-by-list-menu" class="level0">
    <?php foreach($categories as $category): ?>
    	<?php
    	if ($flat) {
            $subcategories = $category->getChildrenNodes();
            $childrenCount = count($subcategories);
        } else {
            $subcategories = $category->getChildren();
            $childrenCount = $subcategories->count();
        }
        $hasChildren = $subcategories && $childrenCount;
    	?>
        <?php if ($hasChildren): ?>
        <li class="section" id="menu_lateral_<?php echo $category->getId() ?>">
            <a class="title text-center<?php if (!$obj->isCategoryActive($category)): ?> collapsed<?php endif; ?>" data-toggle="collapse" data-target="#toggle<?php echo $category->getId() ?>"><span><?php echo $this->escapeHtml($category->getName()) ?></span><span class="symbol"></span></a>
                	<div class="toggle collapse<?php if ($obj->isCategoryActive($category)): ?> in<?php endif; ?>" id="toggle<?php echo $category->getId() ?>" data-parent="#narrow-by-list-menu">
				<div class="catagory_list">
                <ul id="leftnav-tree-<?php echo $category->getId() ?>" class="cat-list level1">
                    <?php foreach($subcategories as $subcategory): ?>
                    <li class="level1">
                        <a<?php if ($obj->isCategoryActive($subcategory)): ?> class="active"<?php endif; ?> href="<?php echo $helper->getCategoryUrl($subcategory) ?>"><?php echo $this->escapeHtml(trim($subcategory->getName(), '- ')) ?></a>
                        <?php
			        	if ($flat) {
				            $_subcategories = $subcategory->getChildrenNodes();
				            $childrenCount = count($_subcategories);
				        } else {
				            $_subcategories = $subcategory->getChildren();
				            $childrenCount = $_subcategories->count();
				        }
				        $hasChildren = $_subcategories && $childrenCount;
			        	?>
		                <?php if ($hasChildren && $category->getId() != 8): ?>
	                    <ul class="sub-cat-list">
	                        <?php foreach($_subcategories as $_subcategory): ?>
	                            <li class="level2">
	                                <a <?php if ($obj->isCategoryActive($_subcategory)): ?> class="active"<?php endif; ?> href="<?php echo $helper->getCategoryUrl($_subcategory) ?>"><?php echo $this->escapeHtml(trim($_subcategory->getName(), '- ')) ?></a>
	                            </li>
	                        <?php endforeach; ?>
	                    </ul>
		                <?php endif; ?>
                    </li>
                    <?php endforeach; ?>
                    <li><a class="tag-todos<?php if ($obj->isCategoryActive($category)):?> active<?php endif;?>" href="<?php echo $helper->getCategoryUrl($category) ?>"><?php echo $this->__('All') ?></a></li>
                </ul>
            </div>
            </div>
        </li>
        <?php endif; ?>
    <?php endforeach; ?>
    <?php echo $this->getChildHtml('manufacturer.navigation.left') ?>
</ul>
<?php if ($route == 'catalogsearch') { ?>
    <script type="text/javascript">
    jQuery(document).ready(function($){
        jQuery('#menu_lateral_7 .title').trigger('click');
   });
</script>
<?php } ?>
<?php endif; ?>
