<?php 
	$_jhelper = Mage::helper('jnqadmin');
	$helper = Mage::helper('advancedmenu');
	$categories = $_jhelper->getCatChildren();
	$maufacturers = $_jhelper->getManufacturers();
	$manufacturerUrl = $this->getUrl('manufacturer');
	$currentUrl = Mage::helper('core/url')->getCurrentUrl();
	$route = Mage::app()->getRequest()->getRouteName();

	$_current_category = Mage::registry('current_category');
	$_current_category_id ='';
	$parent_id = 0;
	$parent_id_manufacturer= "";
	if ($_params = $this->getRequest()->getParams()) {
        $parent_id_manufacturer= isset($_params['id']) ? $_params['id'] : '';
    }

	if (is_object($_current_category)) {
		$_current_category_id = $_current_category->getId();
		$parent_id = $_current_category->getParentId();
		$parent_id = ($parent_id == 2 )? $_current_category->getId(): $parent_id;
		$parent_id_manufacturer = 0;
	}
	$collection_category =Mage::getModel('catalog/category')->getCollection()->setStoreId(Mage::app()->getStore()->getId());
 ?>
 
<div class="modal-header hidden-md hidden-lg">
    <h3 class="modal-title text-uppercase">
    	<div class="svg-container">
            <?php $svg = $this->getSkinUrl('images/icon_filtros.svg') ?>
            <?php echo Mage::helper('jnqadmin')->getSVGPath($svg) ?>
        </div>
    	<span>Filtrar Por</span>
	</h3>
    <button class="close" aria-hidden="true">&times;</button>
</div>

<ul id="narrow-by-list-menu">
<?php foreach ($categories as  $data): ?>
	<?php if ($data['children_count'] > 0): ?>
		<?php 
		$subCats = Mage::getModel('catalog/category')->load($data['id'])->getChildren();
		$subCatIds = explode(',',$subCats);
		if (is_object($_current_category)) {
			if (in_array($_current_category->getParentId(), $subCatIds)) {
			    $parent_id = $data['id'];
			}
		}
		 ?>
	<li style="cursor:pointer" class="section" id="menu_lateral_<?php echo $data['id'] ?>">
		<a class="title text-center"><span style="cursor:pointer;">COMPRAR POR <?php echo $data['name'] ?></span><span class="symbol">
		</span>
		</a>
		<div class="toggle" style="cursor:default;">
		<?php $catlistHtml = $helper->getTreeCategories($data['id'],$collection_category,$data,false,($data['id'] == 7 )? true:false,$_current_category_id ); ?>
		<div class="catagory_list">
			<?php  echo $catlistHtml; ?>
		</div>
			<!--<div class="catagory_list">
			<?php //foreach ($data['subcategories'] as $subcategory): ?>
				<ul class="cat-list">
					<li>
						<div class="ajaxloader product_categories_list">
							<span class="no-accor"></span>
							<a  name="cat"  style="color: <?php //echo ($subcategory->getName()==$_current_category_id)? '#f92525;': '' ; ?>" href="<?php //echo $subcategory->getUrl() ?>"><?php //echo $subcategory->getName() ?></a>
						</div>
					</li>
			<?php //endforeach; ?>
					<li class="list_all">
						<div>
							<a class="tag-todos" href="<?php //echo $data['url'] ?>">Todos</a>
						</div>
					</li>
				</ul>
			</div>-->
		</div>
	</li>
<?php endif ?>
<?php endforeach; ?>

	<li style="cursor:pointer" class="section" id="manufacturer">
		<a class="title text-center"><span style="cursor:pointer;">COMPRAR POR MARCA</span><span class="symbol">
		</span>
		</a>
		<div class="toggle" style="cursor:default;">
			<div class="catagory_list">
				<ul class="cat-list">
				<?php foreach ($maufacturers as $subcategory): ?>
					<li>
						<div class="ajaxloader product_categories_list">
							<span class="no-accor">
							</span>
							<a data-url="<?php echo $subcategory->getUrl() ?>" <?php echo ($subcategory->getId()==$parent_id_manufacturer)? 'class="active"': '' ; ?> href="<?php echo $subcategory->getUrl() ?>"><?php echo $subcategory->getTitle() ?></a>
						</div>
					</li>
				<?php endforeach; ?>
					<li class="list_all">
						<div>
							<a class="tag-todos" href="<?php echo $manufacturerUrl ?>">Todos</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
<script type="text/javascript">
	var accordion = new Accordion('narrow-by-list-menu', {
		startHidden: true,
		mutuallyExclusive: false
	});

	jQuery(document).ready(function($){
		//$(".product_categories_list_menu .accor").toggleClass('minus');
		//$(".product_categories_list_menu .accor").parent().children('ul.sub-cat-list').toggle();
		$(".product_categories_list_menu .accor").on("click",function(event){				
			$(this).toggleClass('minus');
			$(this).parent().children('ul.sub-cat-list').toggle();				
  		});

  		$("#menu_lateral_7 a.title").on("click",function(event){
  			minusAcordion();
  		});

	<?php if ($route == 'manufacturer'): ?>
		if(jQuery(window).width() > 768){
			jQuery('#manufacturer').addClass('expanded');
			jQuery('#manufacturer .toggle').css('display','block');
		}
	<?php else: ?>
		jQuery('#menu_lateral_<?php echo $parent_id; ?>').toggleClass('expanded');
		jQuery('#menu_lateral_<?php echo $parent_id; ?> .toggle').toggle();
	<?php endif ?>

	<?php if ($route == 'catalogsearch'): ?>
		jQuery('#menu_lateral_7').toggleClass('expanded');
		jQuery('#menu_lateral_7 .toggle').toggle();
	<?php endif ?>

   });
</script>