<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_PriceCount
 * @version     0.1.4
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
?>
<!--Condition for Timer Controllers goes here-->
<?php if ($this->getPriceCountDown()): ?>
<?php
/* Count for timer calculation declared here */
$count = 1;
$_product = $this->getProduct();
$toDate = $_product->getSpecialToDate();
?>
<?php 
	/* Admin Controllers for timer are declared here */
	$desc_color = Mage::getStoreConfig('timer/apptha_timer_color/description');
	$timer_color = Mage::getStoreConfig('timer/apptha_timer_color/text');
	$head_color = Mage::getStoreConfig('timer/apptha_timer_color/heading_text_color');
?>
<div class="timer_wrapper" id="timer_wrapper<?php echo $count; ?>">
	<?php if (Mage::helper('jnqadmin')->isShowTitle('viewpage')): ?>
	<h2 class="timer-heading" style="color:#<?php echo $head_color; ?>;"><?php echo Mage::helper('jnqadmin')->getTimerTitle(); ?></h2>
	<?php endif; ?>
		<div id="countbox_<?php echo $count; ?>" class="timer-view" style="color: #<?php echo $timer_color; ?>;">
			<span class="day"><i class="fa fa-spinner fa-spin"></i></span>
			<span class="hour"><i class="fa fa-spinner fa-spin"></i></span>
			<span class="min"><i class="fa fa-spinner fa-spin"></i></span>
			<span class="sec"><i class="fa fa-spinner fa-spin"></i></span>
		</div>
	<?php if (Mage::helper('jnqadmin')->isShowCaption('viewpage')): ?>
		<div class='timerdate' id="caption<?php echo $count; ?>" style="color: #<?php echo $desc_color; ?>;font-size: 13px;">
			<span class="day"><?php echo $this->__('Days') ?></span>
			<span class="hour"><?php echo $this->__('Hours') ?></span>
			<span class="min" ><?php echo $this->__('Minutes') ?></span>
			<span class="sec"><?php echo $this->__('Seconds') ?></span>
		</div>
	<?php endif;?>
</div>
<script type="text/javascript">
   jQuery(document).ready(function() {
		jQuery.ajax({
			url: '<?php echo $this->getUrl('jnqadmin/ajax/getcurrentdate') ?>',
			dataType: "json",
			success: function(response) {
				var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
				start = response;
				start_date = Date.parse(start);
				var dnow<?php echo $count; ?> = new Date(start_date);
				if(CountStepper>0)
				ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
				else
				ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
				gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
				var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
				CountBack(gsecs<?php echo $count; ?>,iid<?php echo $count; ?>, timer);
				timer++;
			},
			error: function(response) {
			    console.log('no se puedo concretar el ajax.');
			}
		});
	});
</script>
<?php $count = $count + 1; ?>
<?php endif; ?>