
<tr>
    <td colspan="10" width="470">
   <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true&key=<?php echo Mage::helper('storelocator')->getConfig('gkey') ?>"></script>

<div class="Magetotal-map" id="Magetotal-map">

    <div id="button-reset" style="margin-top:20px; "><button type="button" onclick="renewMap(); return false;"><span><?php echo $this->__('Renew Google Map')?></span></button><p class="note"><?php echo $this->__('Reset the store location on Google Map when you change its address in the General Information tab.'); ?></p></div>

     <div id="map" style=" height:400px;width:100%;border:1px solid #ccc;" ></div>
</div>

   <?php
    $locationCurrent = $this->getStore();
   ?>
<script>
      var lat = '<?php echo $locationCurrent->getLatitude(); ?>';
      var long = '<?php echo $locationCurrent->getLongtitude(); ?>';
      var zoom = '<?php echo $locationCurrent->getZoomLevel(); ?>';
      var imageIcon = '<?php echo  $locationCurrent->getImageIcon() ?>';
      var url_icon    = '<?php echo Mage::getBaseUrl("media") . "storelocator/images/icon/resize/{icon}" ?>';
      var storelocator_id = '<?php echo  $locationCurrent->getId() ?>';
     lat = lat ? lat : 0.00;
     long = long ? long : 0.00;
     zoom = zoom ? zoom : 1;
    var store_id = '<?php $this->getRequest()->getParam('id'); ?>';
    $('storelocator_tabs_gmap_section').observe('click', function(){
        loadMap(lat, long, zoom);
    });
    function loadMap(lat, long, zoom){
        $('storelocator_tabs_gmap_section_content').setStyle({'display': 'block'});
        $('latitude').value= lat;
        $('longtitude').value=long;
        lat = parseFloat(lat);
        long = parseFloat(long);
        zoom = parseFloat(zoom);

       var mapOptions = {
            zoom: zoom,
            center: new google.maps.LatLng(lat, long),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var marker = new google.maps.Marker({
            position:  new google.maps.LatLng(lat, long),
            draggable:true,
            map: map,
            icon: (imageIcon != null && imageIcon != '') ? url_icon.replace('{id}', storelocator_id).replace('{icon}', imageIcon) : null
        });
      google.maps.event.addListener(marker, 'dragend', function(event) {
            $('latitude').value = event.latLng.lat();
            $('longtitude').value = event.latLng.lng();

        });

        google.maps.event.addListener(map, 'zoom_changed', function() {
            $('zoom_level').value = map.getZoom();


        });
      }

      function renewMap(){
          var address= $('address').value +',' + $('city').value +',' + $('zipcode').value+',' + $('country').value;
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode({'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK){
               var position = results[0].geometry.location;
               lat = position.lat();
               long = position.lng()
               loadMap(lat, long, zoom);


            }
        });

      }
</script>
    </td>
</tr>
