<?php
/**
 * Add In Mage::
 *
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the EULA that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL: http://add-in-mage.com/support/presales/eula/
 *
 *
 * PROPRIETARY DATA
 * 
 * This file contains trade secret data which is the property of Add In Mage:: Ltd. 
 * This file is submitted to recipient in confidence.
 * Information and source code contained herein may not be used, copied, sold, distributed, 
 * sub-licensed, rented, leased or disclosed in whole or in part to anyone except as permitted by written
 * agreement signed by an officer of Add In Mage:: Ltd.
 * 
 * 
 * MAGENTO EDITION NOTICE
 * 
 * This software is designed for Magento Community edition.
 * Add In Mage:: Ltd. does not guarantee correct work of this extension on any other Magento edition.
 * Add In Mage:: Ltd. does not provide extension support in case of using a different Magento edition.
 * 
 * 
 * @category    design
 * @package     default_default
 * @copyright   Copyright (c) 2013 Add In Mage:: Ltd. (http://www.add-in-mage.com)
 * @license     http://add-in-mage.com/support/presales/eula/  End User License Agreement (EULA)
 * @author      Add In Mage:: Team <team@add-in-mage.com>
 *
 * @see AddInMage_DexConditions_Block_Adminhtml_Promo_Quote_Edit_Tab_Renderer_Customer_Constructor
 */
?>
<?php $_element = $this->getElement() ?>
<?php $this->checkFieldDisable() ?>
<script type="text/javascript">

var productChooserUrl = '<?php echo $this->getChooserURL('sku')?>';
var categoryHelperUrl = '<?php echo $this->getCategoryHelperURL()?>';
var categoryJsonConfig = <?php echo Mage::helper('core')->jsonEncode($this->getCategoryChooserConfig()->getData()) ?>;
var customerChooserUrl = '<?php echo $this->getChooserURL('customer')?>';


function decProcessCalendarSetup(c)
{	
	Calendar.setup({
        inputField: "extra_extra_customer_"+c+"_date",
        ifFormat: "<?php echo $this->getDisplayDateFormat() ?>",
        showsTime: false,
        button: "extra_extra_customer_"+c+"_date_trig",
        align: "Bl",
        singleClick : true
    });
}
</script>
<style>
	tr#customer-control button.add {margin-top: 10px;}
	.columns .form-list td.value {width: 280px !important;}
	ul#customer-conditions {padding-top:10px}
	ul#customer-conditions .set-container {margin: 7px 0; padding: 10px; background-color: #E7EFEF; border: 1px solid #A8BDC9; box-shadow: 0 2px 3px #A8BDC9; -moz-box-shadow: 0 2px 3px #A8BDC9; -webkit-box-shadow: 0 2px 3px #A8BDC9}
	ul#customer-conditions .set-container p {clear:both; text-align: right; margin: 5px 0 0;}
	ul#customer-conditions .set-container p a {font-size: 11px;}
	ul#customer-conditions .ccondition-container {clear:both; padding: 0.5em 0;}
	ul#customer-conditions .ccondition-container label {vertical-align: middle; font-size: 11px; color: #6F8992; font-weight: bold;}
	ul#customer-conditions .ccondition-container span {}
	ul#customer-conditions .set-container:nth-child(n) {border: none}
	ul#customer-conditions .ccondition-container select {width: 260px}
	ul#customer-conditions .ccondition-container select.criterion {width: 187px;}
	ul#customer-conditions .ccondition-container input.criterion {width: 58px; margin-left: 8px; color: #777; text-align: center;}
	ul#customer-conditions .ccondition-container select.criterion-half {width: 120px;}
	select.criterion-half.ds {width: 132px !important; margin-left: 8px;}
	ul#customer-conditions .ccondition-container input.criterion-half {width: 126px; margin-left: 8px; color: #777; text-align: left;}
	ul#customer-conditions span.condition-complex {text-align: right;}
	ul#customer-conditions span.condition-complex .field-row {float: none; display: inline-block; vertical-align: middle;}
	ul#customer-conditions .ccondition-container .type-date select.criterion-half {width: 161px;}
	ul#customer-conditions span.condition-complex .criterion-half.date {width: 65px; margin-right: 6px;}
	ul#customer-conditions span.condition-complex .criterion-chooser {width: 206px; margin-right: 8px; *margin-right: 5px;}
	ul#customer-conditions span.condition-complex .criterion-chooser.wide {width: 230px;}
	.rule-chooser {border: none; margin:30px 0 0; padding:0;}
	div.magento_content {height: auto !important}
	div#loading-mask {z-index: 9999}
	.rule-chooser .grid tr.headings th {padding: 1px 4px 0px 4px}
	.rule-chooser .grid tr.filter th, .rule-chooser .grid td {padding: 5px 4px 5px 4px !important}
	ul#customer-conditions span.condition-complex .customer-item-statuses, ul#customer-conditions span.condition-complex .customer-statuses {max-height: 130px;}
	ul#customer-conditions div.lset {position: relative;}
	ul#customer-conditions span.lset {display: block; position: absolute; width: 14px; left: -22px; top: 14px; border-width: 2px 0px 2px 2px; border-style: solid;}	
	ul#customer-conditions span.customer-stores-group {height: 30px; border-color: #ADCBD2 transparent #ADCBD2 #ADCBD2;}
	ul#customer-conditions span.customer-item-statuses-group, ul#customer-conditions span.customer-statuses-group {height: 140px; border-color: #739394 transparent #739394 #739394;}
</style>


<?php if ($_element->getType()=='hidden'): ?>
<tr id="customer-control" style="display:none">
    <td class="hidden" colspan="100"><?php echo trim($_element->getElementHtml()) ?></td>
</tr>
<?php else: ?>
<tr id="customer-control" style="display:none">
    <td class="label"><?php echo trim($this->getElementLabelHtml()) ?></td>
    <td class="value">
        <?php echo trim($this->getElementHtml()) ?>
        <?php if ($_element->getNote()) : ?>
            <p class="note"><?php echo $_element->getNote() ?></p>
        <?php endif; ?>
    </td>
    <td class="scope-label"><span class="nobr"><?php echo $this->getScopeLabel() ?></span></td>
    <?php if ($this->canDisplayUseDefault()): ?>
    <td class="value use-default">
        <input <?php if($_element->getReadonly()):?> disabled="disabled"<?php endif; ?> type="checkbox" name="use_default[]" id="<?php echo $_element->getHtmlId() ?>_default"<?php if ($this->usedDefault()): ?> checked="checked"<?php endif; ?> onclick="toggleValueElements(this, this.parentNode.parentNode)" value="<?php echo $this->getAttributeCode() ?>"/>
        <label for="<?php echo $_element->getHtmlId() ?>_default" class="normal"><?php echo $this->__('Use Default Value') ?></label>
    </td>
    <?php endif; ?>
</tr>
<?php endif; ?>

<script type="text/javascript">

//var customerTemplateCompHash
<?php echo $this->getTemplateComparisonHash();?>

//var forCustomerValue
<?php echo $this->getSelectValueHash();?>

//var inputBehaviorMaps
<?php echo $this->getJsInputElBehaviorHash();?>

//var forCustomerPastInt
<?php echo $this->getSelectIntervalsHash();?>

if($('extra_use_customer_behavior') && $F('extra_use_customer_behavior') !== '0') 
	$('customer-control').show();
    	
$('extra_use_customer_behavior').observe("change", function(){
	if($F('extra_use_customer_behavior') !== '0'){
		$('customer-control').show();
	} else {
		$('customer-control').hide();
	}
});

function beforeLoadNextCriterionStep(index) 
{
	$$('#cc-steps-'+index+' div.step-loaded').invoke('remove');
	$$('#cc-steps-'+index+' div.rule-chooser').invoke('remove');
}

function decCustomerHandleStatuses(sel) 
{
	statCritSel = $(sel);
	var statCritValue = $F(sel);
	var setIndex = statCritSel.up('.set-container').getAttribute('index');
	
	if(statCritValue == 'specified'){
		$('customer-statuses-'+setIndex).show();
		$('customer-statuses-lset-'+setIndex).show();
	} else {
		$('customer-statuses-'+setIndex).hide();
		$('customer-statuses-lset-'+setIndex).hide();
	}	
}

function decHandlePurchaseC(sel) 
{
	storeCritSel = $(sel);
	var storeCritValue = $F(sel);
	var setIndex = storeCritSel.up('.set-container').getAttribute('index');
	
	if(storeCritValue == 'purchased' || storeCritValue == 'purchased_int' || storeCritValue == ''){	
		if(!$('customer-item-statuses-crit-'+setIndex).visible())
			$('extra_extra_customer_'+setIndex+'_item_status_criterion').value = 'any';	
		$('customer-item-statuses-crit-'+setIndex).show();
		
	} 
	if(storeCritValue == 'not_purchased' || storeCritValue == 'not_purchased_int'){
		$('customer-item-statuses-crit-'+setIndex).hide();
		$('customer-item-statuses-'+setIndex).hide();
		$('customer-item-statuses-lset-'+setIndex).hide();
	}	
}

function decHandleStoresC(sel) 
{
	storeCritSel = $(sel);
	var storeCritValue = $F(sel);
	var setIndex = storeCritSel.up('.set-container').getAttribute('index');
	
	if(storeCritValue == 'specified'){
		$('customer-stores-'+setIndex).show();
		$('customer-stores-lset-'+setIndex).show();
	} else {
		$('customer-stores-'+setIndex).hide();
		$('customer-stores-lset-'+setIndex).hide();
	}	
}

function decHandleItemStatusesC(sel) 
{
	statCritSel = $(sel);
	var statCritValue = $F(sel);
	var setIndex = statCritSel.up('.set-container').getAttribute('index');
	
	if(statCritValue == 'specified'){
		$('customer-item-statuses-'+setIndex).show();
		$('customer-item-statuses-lset-'+setIndex).show();
	} else {
		$('customer-item-statuses-'+setIndex).hide();
		$('customer-item-statuses-lset-'+setIndex).hide();
	}	
}

function decHandleIntervals(sel)
{
	forSel = $(sel);
	var forValue = $F(sel);
	var forInput = forSel.up().next().down('input');
	
	if(forCustomerPastInt.get(forValue) !== undefined) {
		forInput.stopObserving();
		forSel.addClassName('criterion');
		forInput.show();
		if(forCustomerPastInt.get(forValue)) {
			forInput.value = forCustomerPastInt.get(forValue);
			forInput.observe('blur', function() {if (this.value == '') {this.value = forCustomerPastInt.get(forValue);}});
			forInput.observe('focus', function() {if (this.value == forCustomerPastInt.get(forValue)) {this.value = '';}});
		} else {
			forInput.value = '';
		}
	} else {
		forSel.removeClassName('criterion');
		forInput.hide().value = '';
		forInput.stopObserving();
	}
}


function decHandleExDate(sel)
{
	critSel = $(sel);
	var forValue = $F(sel);
	var c = critSel.readAttribute('id').match(/\d+\.?\d*/g);
	if(forValue == 'yesterday' || forValue == 'today' || forValue == 'tomorrow' || forValue == 'this_week' || forValue == 'this_month' || forValue == 'next_month' || forValue == 'next_week' || forValue == 'previous_week' || forValue == 'previous_month' || forValue == 'is_na' || forValue == 'is_not_na' || forValue == 'this_year' || forValue == 'previous_year') {
		sel.removeClassName('criterion-half');
		$$('#extra_extra_customer_'+c+'_date, #extra_extra_customer_'+c+'_date_trig').invoke('hide');
		$('extra_extra_customer_'+c+'_date').value = '';
		
	} else {
		sel.addClassName('criterion-half');
		$$('#extra_extra_customer_'+c+'_date, #extra_extra_customer_'+c+'_date_trig').invoke('show');
	}
}

function decLoadNextStep(sel)
{
	critSel = $(sel);
	var forValue = $F(sel);
	var c = critSel.readAttribute('id').match(/\d+\.?\d*/g);
	<?php echo str_replace(array("\n","\r"), '', trim($this->generateTemplatesHash())); ?>
	
	templateId = customerTemplateCompHash.get(forValue);
	
	if(templateId !== undefined && customerTemplateHash.get(templateId) !== undefined) {		
		
		//Clear constructor
		beforeLoadNextCriterionStep(c);	
		//Insert template
		divCustomerStepsContainer = $$('#cc-steps-'+c+' div').last();
		divCustomerStepsContainer.insert({after: customerTemplateHash.get(templateId)});

		if(templateId == 'type_of_date' || templateId == 'type_of_date_acc' || templateId == 'type_of_date_rewdate') {
			decProcessCalendarSetup(c);
		}

		if(templateId == 'specific_product_all' || templateId == 'specific_product_int_all' || templateId == 'review_products' || templateId == 'specific_product_any' || templateId == 'specific_product_int_any' || templateId == 'cart_items_past_orders_any' || templateId == 'cart_items_past_orders_all' || templateId == 'cart_items_past_orders_int_any' || templateId == 'cart_items_past_orders_int_all') {
			ExtraChooserHash.set('extra_extra_customer_'+c+'_products', $H());
			$('extra_extra_customer_'+c+'_products').value = '';    
			extra_extra_customer_fieldset = new ExtraConditionsForm(critSel.up('.set-container'), productChooserUrl);
		}
	    
		if(templateId == 'customer_specific') {
			ExtraChooserHash.set('extra_extra_customer_'+c+'_customer', $H());
			$('extra_extra_customer_'+c+'_customer').value = '';    
			extra_extra_customer_fieldset = new ExtraConditionsForm(critSel.up('.set-container'), customerChooserUrl);
		}

		//Process input onFocus and onBlur
		if(inputBehaviorMaps.get(forValue) !== undefined && $('extra_extra_customer_'+c+'_'+inputBehaviorMaps.get(forValue))) {
			var behInput = $('extra_extra_customer_'+c+'_'+inputBehaviorMaps.get(forValue));
			behInput.stopObserving();

			if(forCustomerValue.get(forValue)) {
				behInput.value = forCustomerValue.get(forValue);
			
				behInput.observe('blur', function() {if (this.value == '') {this.value = forCustomerValue.get(forValue);}});
				behInput.observe('focus', function() {if (this.value == forCustomerValue.get(forValue)) {this.value = '';}});	
			} else {
				behInput.value = '';
			}
		}		
		
	} else {
		//Clear constructor
		beforeLoadNextCriterionStep(c);	
	}
}

function processCategoryChooser(c)
{
	if(typeof window['extra_extra_customer_category_'+c] === 'undefined') {
    	var processMaskEl = $('loading-mask');
        var sourceUrl = null;
        var chooserId = null;
    	
    	new Ajax.Request(categoryHelperUrl, {
     	    method:'post',
    	 	parameters: {'id': c},
     	    onCreate: function() {
     	    	processMaskEl.show();
            },
            onComplete: function (transport) {
            	processMaskEl.hide();
            	if(typeof window['extra_extra_customer_category_'+c] != 'undefined')
            		window['extra_extra_customer_category_'+c].choose();
            },
            onFailure: function(response){
            	processMaskEl.hide();
            	alert('<?php echo $this->__('Unexpected error occured'); ?>');
            },
            onSuccess: function(transport) {
                
            	try {
    	        	
            		if (transport.responseText.isJSON()) {
            			var response = transport.responseText.evalJSON();
            			
            			if(response.url) {
            				sourceUrl = response.url;
           
            				window['extra_extra_customer_category_'+c] = new WysiwygWidget.chooser('extra_extra_customer_category_'+c, sourceUrl, categoryJsonConfig);        				
            	            $('extra_extra_customer_category_'+c+'_value').advaiceContainer = 'extra_extra_customer_category_'+c+'_advice_container';
            	            
            			}
            		} else {
            			alert('<?php echo $this->__('Unexpected error occured'); ?>');
            		}       	    
            	} catch (e) {
            	    console.log(e);
            	}
            }
    	});	
	} else {
		window['extra_extra_customer_category_'+c].choose();
	}
}

function decAddCcSet()
{
	var c = getDecIndex('customer-conditions')+1;
	ulC = $('customer-conditions');
	li = 'li';
	var set = Element.extend(document.createElement("li"));
	set.innerHTML = '<?php echo str_replace(array("\n","\r"), '', trim($this->_getScriptTemplate())); ?>';
	Element.insert(ulC, {top: set});
}

var widgetChooser = {

	    openDialog: function(chooser) {
	        if ($('widget_chooser') && typeof(Windows) != 'undefined') {
	            Windows.focus('widget_chooser');
	            return;
	        }

	        this.chooser = chooser;
			var productChooserTitle = '<?php echo $this->__('Select Products'); ?>';
			var customerChooserTitle = '<?php echo $this->__('Select Customers'); ?>';
			widgetTitle = (chooser.getAttribute('type') == 'product') ? productChooserTitle : customerChooserTitle;
	        
	        this.dialogWindow = Dialog.info(null, {
	        	draggable:true,
                resizable:true,
                closable:true,
                className:'magento',
                windowClassName:"popup-window",
                title: widgetTitle,
                width:950,
                zIndex:5001,
                id: 'widget_chooser',
                recenterAuto:true,
	            onClose: this.closeDialog.bind(this)
	        });
	        
	        chooserId = chooser.readAttribute('id');
		    this.dialogWindow.setContent(chooserId);
		    
		    
		    
		    
	    },
	    closeDialog: function(window) {
	        if (!window) {
	            window = this.dialogWindow;
	        }
	        if (window) {
	            // IE fix - hidden form select fields after closing dialog
	            WindowUtilities._showSelect();
	            window.close();
	            extra_extra_customer_fieldset.cleanChooser(this.chooser);
	        }
	    }
	}
</script>