<?php
/**
 * Add In Mage::
 *
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the EULA that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL: http://add-in-mage.com/support/presales/eula/
 *
 *
 * PROPRIETARY DATA
 * 
 * This file contains trade secret data which is the property of Add In Mage:: Ltd. 
 * This file is submitted to recipient in confidence.
 * Information and source code contained herein may not be used, copied, sold, distributed, 
 * sub-licensed, rented, leased or disclosed in whole or in part to anyone except as permitted by written
 * agreement signed by an officer of Add In Mage:: Ltd.
 * 
 * 
 * MAGENTO EDITION NOTICE
 * 
 * This software is designed for Magento Community edition.
 * Add In Mage:: Ltd. does not guarantee correct work of this extension on any other Magento edition.
 * Add In Mage:: Ltd. does not provide extension support in case of using a different Magento edition.
 * 
 * 
 * @category    design
 * @package     default_default
 * @copyright   Copyright (c) 2013 Add In Mage:: Ltd. (http://www.add-in-mage.com)
 * @license     http://add-in-mage.com/support/presales/eula/  End User License Agreement (EULA)
 * @author      Add In Mage:: Team <team@add-in-mage.com>
 *
 * @see AddInMage_DexConditions_Block_Adminhtml_Promo_Quote_Edit_Tab_Renderer_Sales_Constructor
 */
?>
<?php $_element = $this->getElement() ?>
<?php $this->checkFieldDisable() ?>

<style>
	tr#sales-control button.add {margin-top: 10px;}
	.columns .form-list td.value {width: 280px !important;}
	ul#sales-conditions {padding-top:10px}
	ul#sales-conditions .set-container {margin: 7px 0; padding: 10px; background-color: #E7EFEF; border: 1px solid #A8BDC9; box-shadow: 0 2px 3px #A8BDC9; -moz-box-shadow: 0 2px 3px #A8BDC9; -webkit-box-shadow: 0 2px 3px #A8BDC9}
	ul#sales-conditions .set-container p {clear:both; text-align: right; margin: 5px 0 0;}
	ul#sales-conditions .set-container p a {font-size: 11px;}
	ul#sales-conditions .scondition-container {clear:both; padding: 0.5em 0;}
	ul#sales-conditions .scondition-container label {vertical-align: middle; font-size: 11px; color: #6F8992; font-weight: bold;}
	ul#sales-conditions .scondition-container span {float: right;}
	ul#sales-conditions .set-container:nth-child(n) {border: none}
	ul#sales-conditions .scondition-container select {width: 260px}
	ul#sales-conditions .scondition-container select.criterion {width: 187px;}
	ul#sales-conditions .scondition-container input.criterion {width: 58px; margin-left: 8px; color: #777; text-align: center;}
	ul#sales-conditions span.condition-complex {text-align: right;}
	ul#sales-conditions span.condition-complex .field-row {float: none; display: inline-block; vertical-align: middle;}
	ul#sales-conditions span.condition-complex .statuses {max-height: 130px;}
	ul#sales-conditions div.lset {position: relative;}
	ul#sales-conditions span.lset {display: block; position: absolute; width: 14px; left: -22px; top: 14px; border-width: 2px 0px 2px 2px; border-style: solid;}	
	ul#sales-conditions span.stores-group {height: 30px; border-color: #ADCBD2 transparent #ADCBD2 #ADCBD2;}
	ul#sales-conditions span.statuses-group {height: 140px; border-color: #739394 transparent #739394 #739394;}
</style>


<?php if ($_element->getType()=='hidden'): ?>
<tr id="sales-control" style="display:none">
    <td class="hidden" colspan="100"><?php echo trim($_element->getElementHtml()) ?></td>
</tr>
<?php else: ?>
<tr id="sales-control" style="display:none">
    <td class="label"><?php echo trim($this->getElementLabelHtml()) ?></td>
    <td class="value">
        <?php echo trim($this->getElementHtml()) ?>
        <?php if ($_element->getNote()) : ?>
            <p class="note"><?php echo $_element->getNote() ?></p>
        <?php endif; ?>
    </td>
    <td class="scope-label"><span class="nobr"><?php echo $this->getScopeLabel() ?></span></td>
    <?php if ($this->canDisplayUseDefault()): ?>
    <td class="value use-default">
        <input <?php if($_element->getReadonly()):?> disabled="disabled"<?php endif; ?> type="checkbox" name="use_default[]" id="<?php echo $_element->getHtmlId() ?>_default"<?php if ($this->usedDefault()): ?> checked="checked"<?php endif; ?> onclick="toggleValueElements(this, this.parentNode.parentNode)" value="<?php echo $this->getAttributeCode() ?>"/>
        <label for="<?php echo $_element->getHtmlId() ?>_default" class="normal"><?php echo $this->__('Use Default Value') ?></label>
    </td>
    <?php endif; ?>
</tr>
<?php endif; ?>

<script type="text/javascript">

if($('extra_use_sales_behavior') && $F('extra_use_sales_behavior') !== '0') 
	$('sales-control').show();
    	
$('extra_use_sales_behavior').observe("change", function(){
	if($F('extra_use_sales_behavior') !== '0'){
		$('sales-control').show();
	} else {
		$('sales-control').hide();
	}
});

//var forSalesPastInt
<?php echo $this->getSalesPastIntHash() ?>

//var forSalesValue
<?php echo $this->getSelectValueHash() ?>

function decHandleStatuses(sel) 
{
	statCritSel = $(sel);
	var statCritValue = $F(sel);
	var setIndex = statCritSel.up('.set-container').getAttribute('index');
	
	if(statCritValue == 'specified'){
		$('statuses-'+setIndex).show();
		$('statuses-lset-'+setIndex).show();
	} else {
		$('statuses-'+setIndex).hide();
		$('statuses-lset-'+setIndex).hide();
	}	
}

function decHandleStores(sel) 
{
	storeCritSel = $(sel);
	var storeCritValue = $F(sel);
	var setIndex = storeCritSel.up('.set-container').getAttribute('index');
	
	if(storeCritValue == 'specified'){
		$('stores-'+setIndex).show();
		$('stores-lset-'+setIndex).show();
	} else {
		$('stores-'+setIndex).hide();
		$('stores-lset-'+setIndex).hide();
	}	
}

function decHandleCrit(sel)
{
	critSel = $(sel);
	var critValue = $F(sel);
	
	var qaInput = critSel.up('.scondition-container').next(3).down('input');
	qaInput.stopObserving();

	if(forSalesValue.get(critValue)) {
		qaInput.value = forSalesValue.get(critValue);
		qaInput.observe('blur', function() {if (this.value == '') {this.value = forSalesValue.get(critValue);}});
		qaInput.observe('focus', function() {if (this.value == forSalesValue.get(critValue)) {this.value = '';}});
	} else {
		qaInput.value = '';
	}	
}

function decHandleFor(sel)
{
	forSel = $(sel);
	var forValue = $F(sel);
	var forInput = forSel.up().next().down('input');
	
	
	if(forSalesPastInt.get(forValue) !== undefined) {
		forInput.stopObserving();
		forSel.addClassName('criterion');
		forInput.show();
		forInput.value = forSalesPastInt.get(forValue);
		forInput.observe('blur', function() {if (this.value == '') {this.value = forSalesPastInt.get(forValue);}});
		forInput.observe('focus', function() {if (this.value == forSalesPastInt.get(forValue)) {this.value = '';}});
	} else {
		forSel.removeClassName('criterion');
		forInput.hide().value = '';
		forInput.stopObserving();
	}
}


function decAddSsSet()
{
	
	var s = getDecIndex('sales-conditions')+1;
	ulS = $('sales-conditions');
	li = 'li';
	var set = Element.extend(document.createElement("li"));
	set.innerHTML = '<?php echo str_replace(array("\n","\r"), '', trim($this->_getScriptTemplate())); ?>';
	Element.insert(ulS, {top: set});
}
</script>