<?php
/**
 * Add In Mage::
 *
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the EULA that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL: http://add-in-mage.com/support/presales/eula/
 *
 *
 * PROPRIETARY DATA
 * 
 * This file contains trade secret data which is the property of Add In Mage:: Ltd. 
 * This file is submitted to recipient in confidence.
 * Information and source code contained herein may not be used, copied, sold, distributed, 
 * sub-licensed, rented, leased or disclosed in whole or in part to anyone except as permitted by written
 * agreement signed by an officer of Add In Mage:: Ltd.
 * 
 * 
 * MAGENTO EDITION NOTICE
 * 
 * This software is designed for Magento Community edition.
 * Add In Mage:: Ltd. does not guarantee correct work of this extension on any other Magento edition.
 * Add In Mage:: Ltd. does not provide extension support in case of using a different Magento edition.
 * 
 * 
 * @category    design
 * @package     default_default
 * @copyright   Copyright (c) 2013 Add In Mage:: Ltd. (http://www.add-in-mage.com)
 * @license     http://add-in-mage.com/support/presales/eula/  End User License Agreement (EULA)
 * @author      Add In Mage:: Team <team@add-in-mage.com>
 *
 * @see AddInMage_DexConditions_Block_Adminhtml_Promo_Quote_Edit_Tab_Renderer_Timeframe_Constructor
 */
?>
<?php $_element = $this->getElement() ?>
<?php $this->checkFieldDisable() ?>

<style>
	.columns .form-list td.value {width: 280px !important;}
	ul#timeframe-sets {padding-top:10px}
	ul#timeframe-sets .set-container {margin: 7px 0; padding: 10px; background-color: #E7EFEF; border: 1px solid #A8BDC9; box-shadow: 0 2px 3px #A8BDC9; -moz-box-shadow: 0 2px 3px #A8BDC9; -webkit-box-shadow: 0 2px 3px #A8BDC9}
	ul#timeframe-sets .set-container p {clear:both; text-align: right; margin: 5px 0 0;}
	ul#timeframe-sets .set-container p a {font-size: 11px;}
	ul#timeframe-sets .time-container {clear:both; padding-bottom: 0.5em;}
	ul#timeframe-sets .time-container label {vertical-align: middle; font-size: 11px; color: #6F8992; font-weight: bold;}
	ul#timeframe-sets .time-container span {float: right;}
	ul#timeframe-sets .set-container:nth-child(n) {border: none}
</style>


<?php if ($_element->getType()=='hidden'): ?>
<tr id="time-frames-control" style="display:none">
    <td class="hidden" colspan="100"><?php echo trim($_element->getElementHtml()) ?></td>
</tr>
<?php else: ?>
<tr id="time-frames-control" style="display:none">
    <td class="label"><?php echo trim($this->getElementLabelHtml()) ?></td>
    <td class="value">
        <?php echo trim($this->getElementHtml()) ?>
        <?php if ($_element->getNote()) : ?>
            <p class="note"><?php echo $_element->getNote() ?></p>
        <?php endif; ?>
    </td>
    <td class="scope-label"><span class="nobr"><?php echo $this->getScopeLabel() ?></span></td>
    <?php if ($this->canDisplayUseDefault()): ?>
    <td class="value use-default">
        <input <?php if($_element->getReadonly()):?> disabled="disabled"<?php endif; ?> type="checkbox" name="use_default[]" id="<?php echo $_element->getHtmlId() ?>_default"<?php if ($this->usedDefault()): ?> checked="checked"<?php endif; ?> onclick="toggleValueElements(this, this.parentNode.parentNode)" value="<?php echo $this->getAttributeCode() ?>"/>
        <label for="<?php echo $_element->getHtmlId() ?>_default" class="normal"><?php echo $this->__('Use Default Value') ?></label>
    </td>
    <?php endif; ?>
</tr>
<?php endif; ?>

<script type="text/javascript">


if($('extra_use_daily_behavior') && $F('extra_use_daily_behavior') !== '0') 
	$('time-frames-control').show();
    	
$('extra_use_daily_behavior').observe("change", function(){
	if($F('extra_use_daily_behavior') !== '0'){
		$('time-frames-control').show();
	} else {
		$('time-frames-control').hide();
	}
});

function decAddTimeframeSet()
{
	var i = getDecIndex('timeframe-sets')+1;
	ulI = $('timeframe-sets');
	li = 'li';
	var set = Element.extend(document.createElement("li"));
	set.innerHTML = '<?php echo str_replace(array("\n","\r"), '', trim($this->_getScriptTemplate())); ?>';
	Element.insert(ulI, {top: set});
}
</script>