<?php
$country = Mage::getStoreConfig('payment/mercadopago/country');
$_code = $this->getMethodCode();
$get_identification_type = $this->getIdentificationType();
$get_banks = $this->getBanks();

?>
<script type="text/javascript">
if (typeof sendAnalyticsData === 'function') {
  sendAnalyticsData("<?php echo $_code ?>");
}
</script>
<?php
$form_labels = array(
  "form" => array(
    "document_type" => $this->__("Document Type"),
    'document_number' => $this->__("Document Number"),
    'bank' => $this->__("Bank"),
    'type_person' => $this->__("Type of Person")
    )
  );
  ?>
<?php if ($this->getMethod()->getConfigData('communication') != ""): ?>
  <p class="communication"><?php echo $this->getMethod()->getConfigData('communication') ?></p>
<?php endif; ?>

<?php if ($this->getMethod()->getConfigData('banner_checkout') != ""): ?>
  <img src="<?php echo $this->getMethod()->getConfigData('banner_checkout'); ?>" class="banner_checkout_ticket_mp"/>
<?php endif; ?>
<div class="mercadopago-box-form">
  <div id="mercadopago-bank-transfer">
    <ul class="form-list form-mercadopago" id="payment_form_<?php echo $_code ?>" style="display:none;">
      <li>
        <div class="form-row">

          <div class="form-col-6">
            <label><?php echo $form_labels['form']['document_type']; ?></label>
            <select id="mercadopago-bk-identification-type" name="payment[<?php echo $_code; ?>][identification_type]">
              <?php foreach ($get_identification_type["response"] as $document) { ?>
                <option value="<?php echo $document["id"]; ?>">
                  <?php echo ucfirst($document["name"]); ?>
                </option>
                <?php } ?>
              </select>
            </div>

            <div class="form-col-6">
              <label><?php echo $form_labels['form']['document_number']; ?></label>
              <input type="text" id="mercadopago-bk-identification-number" name="payment[<?php echo $_code; ?>][identification_number]" autocomplete="off" maxlength="24" class="validate-number required-entry" />
            </div>
          </div>

          <div class="form-row">
            <div class="form-col-6">
              <label><?php echo $form_labels['form']['bank']; ?></label>
              <select id="mercadopago-bk-financial-institutions" name="payment[<?php echo $_code; ?>][financial_institutions]">
                <?php
                foreach ($get_banks["response"]['results'] as $bank) {
                  if($bank['id'] == 'pse'){
                    foreach ($bank['financial_institutions'] as $financial) {
                      ?>

                      <option value="<?php echo $financial["id"]; ?>">
                        <?php echo ucfirst($financial["description"]); ?>
                      </option>

                      <?php
                    }
                  }
                }?>
              </select>
            </div>
            <div class="form-col-6">
              <label><?php echo $form_labels['form']['type_person']; ?></label>
              <select id="mercadopago-bk-legal-status" name="payment[<?php echo $_code; ?>][legal_status]">
                <option value="individual">Natural</option>
                <option value="legal_entity">Jurídica</option>
              </select>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
