<!--@subject {{var order.getStoreGroupName()}}: Factura de abono # {{var creditmemo.increment_id}} para pedido # {{var order.increment_id}} @-->

{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<!-- [ middle starts here] -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle">
<table cellspacing="0" cellpadding="0" border="0" width="90%" class="creditmemo">
    <tr>
        <td valign="top" style="padding: 20px 0;">
        <table cellspacing="0" cellpadding="0" width="100%" border="0" class="content-customer">
            <tbody>
            <tr>
                <td align="left" valign="center" style="padding: 0 20px;">
                <p><span style="color:#000;font-family: Arial,Helvetica,sans-serif;font-size: 16px;">Estimado/a </span><strong style="color:#000;font-family: Arial,Helvetica,sans-serif;font-size: 18px;">{{var order.getCustomerName()}}</strong>,</p>
                <p>Gracias por su pedido desde {{var order.getStoreGroupName()}}.<br/>
                    Puede revisar el estado de su pedido <a href="{{store url="customer/account/"}}" style="color:#5dd054;">iniciando sesión en su cuenta</a>.<br> Si tiene cualquier pregunta sobre su pedido no dude en contactar con nosotros en <a href="mailto:{{config path="trans_email/ident_sales/email"}}" style="color:#5dd054;">{{config path="trans_email/ident_sales/email"}}</a> o llamando al <span class="nobr">{{config path="general/store_information/phone"}}</span> de lunes a viernes de 9:00 a 17:00 horas.</p>
                <h3 style="font-size: 1.05em; padding: 20px 0;padding-bottom: 0;margin-bottom: 0;">Su factura de abono #{{var creditmemo.increment_id}} para el pedido #{{var order.increment_id}}</h3>
                </td>
            </tr>
            </tbody>
        </table>
        <hr style="margin-top: 20px;margin-bottom: 20px; border: 0;border-top: 1px solid #eee;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" >
        <tbody>
            <tr>
                <td valign="top" align="left" style="padding: 0 20px;">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="padding: 20px;">
                        <thead>
                        <tr>
                            <th align="left" width="100%" bgcolor="#ffffff" style="padding:8px 10px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Información de facturación:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:10px; border:1px solid #e3e3e3; border-top:0; background:#f9f9f9;">
                                {{var order.billing_address.format('html')}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="padding: 20px;">
                        <thead>
                        <tr>
                            <th align="left" width="100%" bgcolor="#ffffff" style="padding:8px 10px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Método de pago:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:10px; border:1px solid #e3e3e3; border-top:0; background:#f9f9f9;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table border="0" width="100%" style="padding: 20px;">
                        <tbody>
                            <tr>
                                <td align="left" valign="center">{{depend order.getIsNotVirtual()}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="padding: 20px;">
                        <thead>
                        <tr>
                            <th align="left" width="100%" bgcolor="#ffffff" style="padding:8px 10px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Información de envío:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:10px; border:1px solid #e3e3e3; border-top:0; background:#f9f9f9;">
                                {{var order.shipping_address.format('html')}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="padding: 20px;">
                        <thead>
                        <tr>
                            <th align="left" width="100%" bgcolor="#ffffff" style="padding:8px 10px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Método de envío:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:10px; border:1px solid #e3e3e3; border-top:0; background:#f9f9f9;">
                                {{var order.shipping_description}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    {{/depend}}

                    {{layout handle="sales_email_order_creditmemo_items" creditmemo=$creditmemo order=$order}}

                    <p>{{var comment}}</p>
                    <p>
                        Gracias,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
        </td>
    </tr>
</table>
</td>
  </tr>
</table>
{{template config_path="design/email/footer"}}