<!--@subject {{var order.getStoreGroupName()}}: Factura de abono # {{var creditmemo.increment_id}} actualización @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<!-- [ middle starts here] -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle">
    <table cellspacing="0" cellpadding="0" border="0" width="90%">
        <tr>
            <td valign="top">
                <p><span style="color:#000;font-family: Arial,Helvetica,sans-serif;font-size: 16px;">Estimado/a </span><strong style="color:#000;font-family: Arial,Helvetica,sans-serif;font-size: 18px;">{{var billing.getName()}}</strong>,</p>
                <p>Su pedido núm. {{var order.increment_id}} está en estado <strong>{{var order.getStatusLabel()}}</strong>.</p>
                <p>{{var comment}}</p>
                <p>
                    Si tiene cualquier pregunta no dude en contactar con nosotros en <a href="mailto:{{config path="trans_email/ident_sales/email"}}" style="color:#5dd054;">{{config path="trans_email/ident_sales/email"}}</a> o llamando al {{config path="general/store_information/phone"}} de lunes a viernes de 9:00 a 17:00 horas.
                </p>
                <p>Gracias,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
    </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}