<!--@subject  {{var order.getStoreGroupName()}}: Factura # {{var invoice.increment_id}} para pedido # {{var order.increment_id}} @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle">
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="90%">
            <tr>
                <td valign="top">
                    <p><span style="color:#000;font-family: Arial,Helvetica,sans-serif;font-size: 16px;">Estimado/a </span><strong style="color:#000;font-family: Arial,Helvetica,sans-serif;font-size: 18px;">{{var billing.getName()}}</strong>,</p>
                    <p>Gracias por su pedido desde {{var order.getStoreGroupName()}}.<br/>
                        Si tiene cualquier pregunta sobre su pedido no dude en contactar con nosotros en <a href="mailto:{{config path="trans_email/ident_sales/email"}}" style="color:#5dd054;">{{config path="trans_email/ident_sales/email"}}</a> o llamando al <span class="nobr"> {{config path="general/store_information/phone"}}</span> de lunes a viernes de 9:00 a 17:00 horas.
                    </p>
                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                        Su factura #{{var invoice.increment_id}} para el pedido #{{var order.increment_id}}
                    </h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="100%" bgcolor="#fff" style="padding:5px 9px 6px 9px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Información de facturación:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #e3e3e3; border-top:0; background:#f8f7f5;">
                                {{var order.billing_address.format('html')}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="100%" bgcolor="#fff" style="padding:5px 9px 6px 9px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Método de pago:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #e3e3e3; border-top:0; background:#f8f7f5;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="100%" bgcolor="#fff" style="padding:5px 9px 6px 9px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Información de envío:</th>
                            <th width="3%"></th>
                            <th align="left" width="100%" bgcolor="#fff" style="padding:5px 9px 6px 9px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Método de envío:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #e3e3e3; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_address.format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #e3e3e3; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_description}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}

                    {{layout handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}

                    <p>{{var comment}}</p>
                    <p>
                        Gracias,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                    </p>
                </td>
            </tr>
        </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}