<!--@subject {{var order.getStoreGroupName()}}: Actualización de Pedido # {{var order.increment_id}} @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr>
      <td height="112" colspan="2" align="left" valign="top"  style="padding: 25px 20px;">
        <span style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:16px;">Hola </span>
        <span style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:18px;"><strong>{{var order.getCustomerName()}}</strong></span><br /><br />
        <span style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:13px; line-height: 18px;">Tu orden N&ordm; {{var order.increment_id}}, realizada el {{var order.getCreatedAtFormated('long')}}, ahora se encuentra en estado <strong>{{var order.getStatusLabel()}}</strong><br /><br/>
        Puedes revisar el estatus de tu orden <a href="{{store url="customer/account/"}}" style="color:#000;"><strong>iniciando sesi&oacute;n en tu cuenta.</strong></a><br /><br/>
        {{depend urbaner_tracking}}
        <p style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;line-height:18px;margin-bottom:20px;"><strong>Tracking envio:</strong> <a target="_blank" href="{{var urbaner_tracking}}">Ver Tracking</a></p>
        {{/depend}}
        {{var comment}}<br /><br/>
        Si tienes alguna pregunta, no dudes en <a href="{{store url=""}}" style="color:#000;">contactarnos aqu&iacute;</a>.
        </span>
       </td>
  </tr>
  <tr>
    <td height="93" align="center" valign="middle" bgcolor="#f9f9f9">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="bottom"><span style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:13px;">&iexcl;No te olvides de visitar <a href="{{store url=""}}" style="font-family:Arial, Helvetica, sans-serif; color:#3f3737;">www.labnutrition.com</a> para m&aacute;s novedades!</span></td>
          </tr>
        </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}