<!--@subject {{var order.getStoreGroupName()}}: Pedido # {{var order.increment_id}} actualización @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<!-- [ middle starts here] -->
<table cellspacing="0" cellpadding="0" border="0" width="600" style="width: 100%;">
<tr>
    <td valign="top" style="padding: 0 20px;">
        <p><span style="color:#000;font-family: Arial,Helvetica,sans-serif;font-size: 16px;">Estimado/a </span><strong style="color:#000;font-family: Arial,Helvetica,sans-serif;font-size: 18px;">{{var billing.getName()}}</strong>,</p>
        <p>Su pedido núm. {{var order.increment_id}} está en estado <strong>{{var order.getStatusLabel()}}</strong>.</p>
        {{depend urbaner_tracking}}
        <p style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;line-height:18px;margin-bottom:20px;"><strong>Tracking envio:</strong> <a target="_blank" href="{{var urbaner_tracking}}">Ver Tracking</a></p>
        {{/depend}}
        <p>{{var comment}}</p>
        <p>
            Si tiene cualquier pregunta no dude en contactar con nosotros en <a href="mailto:{{config path="trans_email/ident_sales/email"}}" style="color:#5dd054;">{{config path="trans_email/ident_sales/email"}}</a> o llamando al {{config path="general/store_information/phone"}} de lunes a viernes de 9:00 a 17:00 horas.
        </p>
        <p>Gracias,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
    </td>
</tr>
</table>
{{template config_path="design/email/footer"}}