<!--@subject {{var order.getStoreGroupName()}}: Nuevo pedido # {{var order.increment_id}} @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle">
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="129" align="center" valign="middle">
      
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
     <tr>
        <td colspan="2" align="left" valign="middle" style="padding: 25px 0px 15px;">
        <h1 style="font-family:Arial, Helvetica, sans-serif; color:black; font-size:16px;font-weight: 500;margin:0px">Tu pedido <strong>{{var order.increment_id}}</strong> ha sido procesado</h1>
        </td>
      </tr>
      <tr>
        <td height="240" colspan="2" align="center" valign="middle">
          <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
           <tr>
             <td align="center" valign="middle" bgcolor="#eeeeee" height="35"><strong style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:14px;">¡Ganaste {{var giantpoint_earn }} Puntos!</strong></td>
           </tr>
           <tr>
             <td align="center" valign="middle" bgcolor="#FFFFFF"><span style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:14px;">{{layout handle="sales_email_order_items" order=$order}} {{var items_html}}</span></td>
           </tr>
           <tr style="display:none!important;">
             <td align="center" valign="middle" bgcolor="#FFFFFF"  style="padding: 17px 0;"><span style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:14px;">{{var order.getOnestepcheckoutCustomercomment()}}</span></td>
           </tr>
           <tr>
            <td align="center" valign="middle" style="padding:17px 5px;">
              {{depend storepickup}}
              <p style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;line-height:18px;margin-bottom:20px;"><strong>Recojo en tienda:</strong> El tiempo máximo de recojo será de 3 días desde que se procesa tu compra. <br>Si en caso no pudieras acercarte siendo el titular de la compra, puedes enviar a una tercera persona con el número de pedido que comienza con #10000 y la copia de tu DNI.</p>
              <!--<p style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;line-height:18px;margin-bottom:0px;"><strong>Método de pago en tienda:</strong>  Puedes realizar tu pago en Efectivo, Tarjeta de crédito - débito y Pago Efectivo que es nuestro método prepago. <br>Recuerda que nuestro horario de atención en la tienda Óvalo Gutierrez es de Lunes a Viernes : 9:00AM - 9:00PM y Sábados y Domingos: 11:00AM - 7:00PM</p>-->
              <p><strong>Método de PAGO EFECTIVO: Puedes realizar tu pago utilizando tu código de PAGO EFECTIVO:</strong></p>
              <p>Dile al operario que es un pago a la empresa PagoEfectivo.</p>
              <ul style="color: #888;">
                <li>BBVA Continental</li>
                <li>BCP (Código de empresa 02186)</li>
                <li>Interbank (Código de empresa: 2735001)</li>
                <li>Scotiabank</li>
                <li>BanBif</li>
                <li>Kasnet</li>
                <li>Western Union</li>
                <li>FullCarga</li>
              </ul>
              <p>Tu código lo tienes en un correo enviado por Mercado Pago.</p>
              {{/depend}}
              {{depend express}}
              <table cellpadding="0" cellspacing="0" style="width: 100%; max-width: 500px; margin: auto;">
                <tbody>
                  <tr>
                    <td>
                      <p style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;line-height:18px;margin-bottom:20px;"><strong>Envío Express:</strong> El tiempo máximo de envío será de 3 horas. Excepto en días feriados.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" style="width: 100%; max-width: 500px;">
                <tbody>
                  <tr>
                    <td bgcolor="#fefefe" style="padding: 10px;"><h3 style="font-size: 15px;font-weight: bold;margin: 0"><strong style="font-family: Arial, sans-serif;">Comentarios:</strong></h3></td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="10" style="width: 100%; max-width: 500px; margin: auto;">
                        <tbody>
                        <tr>
                          <td align="center" width="60"><img border="0" src="{{skin url='images/email/ic_correo.png' _area='frontend' _package='templatemela' _theme='MAG100202'}}"></td>
                        <td align="left" style="font-family: Arial, sans-serif;">Cualquier duda o consulta sobre tu pago puedes escribirnos: <a href="mailto:{{var store_email}}" style="text-decoration: none;color: #000;">{{var store_email}}</a></td>
                        </tr>
                        <tr>
                          <td align="center" width="60"><img border="0" src="{{skin url='images/email/ic_whatsapp.png' _area='frontend' _package='templatemela' _theme='MAG100202'}}"></td>
                          <td align="left" style="font-family: Arial, sans-serif;">O al Whatsapp: {{var store_phone}}, para poder revisar el estado de compra.</td></tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              {{/depend}}
              {{depend ondeliveryship}}
              <table cellpadding="0" cellspacing="0" style="width: 100%; max-width: 500px; margin: auto;">
                <tbody>
                  <tr>
                    <td>
                      <p style="color: #000;text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;line-height:18px;margin-bottom:20px;">En breve se pondrá en contacto un asesor de ventas para validar tu compra y enviarte un motorizado con el POS seleccionado y tus productos en un lapso de 3 horas máximo.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" style="width: 100%; max-width: 500px;">
                <tbody>
                  <tr>
                    <td bgcolor="#fefefe" style="padding: 10px;"><h3 style="font-size: 15px;font-weight: bold;margin: 0"><strong style="font-family: Arial, sans-serif;">Comentarios:</strong></h3></td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="10" style="width: 100%; max-width: 500px; margin: auto;">
                        <tbody>
                        <tr>
                          <td align="center" width="60"><img border="0" src="{{skin url='images/email/ic_correo.png' _area='frontend' _package='templatemela' _theme='MAG100202'}}"></td>
                        <td align="left" style="font-family: Arial, sans-serif;">Cualquier duda o consulta sobre tu pago puedes escribirnos: <a href="mailto:{{var store_email}}" style="text-decoration: none;color: #000;">{{var store_email}}</a></td>
                        </tr>
                        <tr>
                          <td align="center" width="60"><img border="0" src="{{skin url='images/email/ic_whatsapp.png' _area='frontend' _package='templatemela' _theme='MAG100202'}}"></td>
                          <td align="left" style="font-family: Arial, sans-serif;">O al Whatsapp: {{var store_phone}}, para poder revisar el estado de compra.</td></tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              {{/depend}}
              {{depend anothershippingmethod}}
              <p style="color: #000;font-family: Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;"><strong style="font-family: Arial, sans-serif;">Fecha de entrega:</strong> Entrega a domicilio: Lima: A partir de 3 dias útiles, Provincias: 4 a 7 dias útiles.</p>
              <table cellpadding="0" cellspacing="0" style="width: 100%; max-width: 500px;">
                <tbody>
                  <tr>
                    <td bgcolor="#fefefe" style="padding: 10px;"><h3 style="font-size: 15px;font-weight: bold;margin: 0"><strong style="font-family: Arial, sans-serif;">Comentarios:</strong></h3></td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="10" style="width: 100%; max-width: 500px; margin: auto;">
                        <tbody>
                          <tr>
                            <td align="center" width="60"><img border="0" src="{{skin url='images/email/ic_reloj.png' _area='frontend' _package='templatemela' _theme='MAG100202'}}"></td>
                            <td align="left" style="font-family: Arial, sans-serif;">Solo tienes 24 horas para pagar tu pedido o será cancelado automáticamente.</td>
                        </tr>
                        <tr>
                          <td align="center" width="60"><img border="0" src="{{skin url='images/email/ic_correo.png' _area='frontend' _package='templatemela' _theme='MAG100202'}}"></td>
                        <td align="left" style="font-family: Arial, sans-serif;">Cualquier duda o consulta sobre tu pago puedes escribirnos: <a href="mailto:{{var store_email}}" style="text-decoration: none;color: #000;">{{var store_email}}</a></td>
                        </tr>
                        <tr>
                          <td align="center" width="60"><img border="0" src="{{skin url='images/email/ic_whatsapp.png' _area='frontend' _package='templatemela' _theme='MAG100202'}}"></td>
                          <td align="left" style="font-family: Arial, sans-serif;">O al Whatsapp: {{var store_phone}}, para poder revisar el estado de compra.</td></tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              {{/depend}}
             </td>
           </tr>
         </table>
       </td>  
     </tr>
      </table>
      </td>
    </tr>
  </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}