<!--@subject {{var order.getStoreGroupName()}}: Nuevo pedido # {{var order.increment_id}} @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle">
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="129" align="center" valign="middle" >
      
      <table width="460" border="0" cellspacing="0" cellpadding="0">
     <tr>
        <td colspan="2" align="left" valign="middle" style="padding: 25px 25px 15px;">
        <!--<span style="font-family:Arial, Helvetica, sans-serif; color:black; font-size:18px;"><strong>{{var order.getCustomerName()}}</strong></span><br />
        <span style="font-family:Arial, Helvetica, sans-serif; color:black; font-size:13px;">&iexcl;Hemos recibido tu orden N&ordm; <strong>{{var order.increment_id}}</strong>, realizada el {{var order.getCreatedAtFormated('long')}}!<br /><br />
        Puedes revisar el detalle de tu orden <a href="{{store url="customer/account/"}}" style="color:black;"><strong>iniciando sesi&oacute;n con tu cuenta.</strong></a></span>-->
        <h1 style="font-family:Arial, Helvetica, sans-serif; color:black; font-size:16px;font-weight: 500;margin:0px">Tu pedido <strong>{{var order.increment_id}}</strong> ha sido procesado</h1>
        </td>
      </tr>
      <tr>
        <td height="240" colspan="2" align="center" valign="middle" >
          <table border="0" cellspacing="0" cellpadding="0">
            <tr style="display:none!important;">
           	  <td height="27" colspan="3" align="center" valign="top"><span style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:13px;">A continuaci&oacute;n, los detalles de tu orden <strong>N&ordm; {{var order.increment_id}}.</strong></span></td>
            </tr>
           <tr style="display:none!important;">
             <td valign="middle" bgcolor="#eeeeee"  height="35" ><span style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:14px;"><strong>&nbsp;&nbsp;&nbsp;Direcci&oacute;n de Env&iacute;o:</strong></span></td>
           </tr>
           <tr style="display:none!important;">
             <td align="center" valign="middle" bgcolor="#FFFFFF" style="padding: 17px 0;" ><span style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:14px;">{{var order.getShippingAddress().format('html')}}</span></td>
           </tr>
           <tr style="display:none!important;">
             <td height="18" valign="middle"></td>
           </tr>
           <tr style="display:none!important;">
             <td width="197" valign="middle" bgcolor="#eeeeee"  height="35" ><span style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:14px;"><strong>&nbsp;&nbsp;&nbsp;M&eacute;todo de Pago:</strong></span></td>
           </tr>
           <tr style="display:none!important;">
             <td align="center" valign="middle" bgcolor="#FFFFFF" style="padding: 17px 0;"><span style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:14px;">{{var payment_html}}</span></td>
           </tr>
           <tr style="display:none!important;">
             <td height="18" valign="middle"></td>
           </tr>
           <tr style="display:none!important;">
             <td valign="middle" bgcolor="#eeeeee" height="35" ><span style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:14px;"><strong>&nbsp;&nbsp;&nbsp;Detalle del pedido:</strong></span></td>
           </tr>
           <tr>
             <td align="center" valign="middle" bgcolor="#FFFFFF"><span style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:14px;">{{layout handle="sales_email_order_items" order=$order}} {{var items_html}}</span></td>
           </tr>
           <tr style="display:none!important;">
             <td valign="middle" bgcolor="#eeeeee" height="35" ><span style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:14px;"><strong>&nbsp;&nbsp;&nbsp;Comentarios:</strong></span></td>
           </tr>
           <tr style="display:none!important;">
             <td align="center" valign="middle" bgcolor="#FFFFFF"  style="padding: 17px 0;"><span style="font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:14px;">{{var order.getOnestepcheckoutCustomercomment()}}</span></td>
           </tr>
           <tr>
            <td align="center" valign="middle" style="padding:17px 25px;">
              <p style="display: none;text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;line-height:18px;margin-bottom:10px;">Tu pedido debe llegar en los siguientes <strong>03</strong> días calendarios.<br> Puedes ver el estado de tu pedido con tu código indicado arriba o contáctate con nosotros.</p>
              <p style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight: 500;font-size:14px;line-height:18px;margin-bottom:20px;">Puedes ver el estado de tu pedido con tu código indicado arriba o contáctate con nosotros.</p>
              <a href="{{store url="sales/order/history/" _secure="true" }}" style="display: inline-block;padding: 12px 60px;text-decoration: none;color: #FFF;background-color: #5dd054;font-size: 14px;letter-spacing: 2px;border-radius: 2px;">HACER SEGUIMIENTO</a>
             </td>
           </tr>
         </table>
       </td>  
     </tr>
      </table>
      </td>
    </tr>
  </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}