<!--@subject {{var order.getStoreGroupName()}}: Envío # {{var shipment.increment_id}} actualización @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="background-color: #eee;padding: 60px 15px;font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="500" style="background-color: #fff;margin:auto;max-width: 500px;width: 100%;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table bgcolor="#F92525" align="center" border="0" width="100%">
        <tr>
          <td height="90" valign="center" align="center">
          <a href="{{store url='' _secure='true'}}" style="color:#FFF;text-decoration:none;"><img src="{{skin url='images/logo.png' _secure='true'}}" width="140" alt="Lab Nutrition"></a>
          </td>
        </tr>
      </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td valign="top" style="padding: 0 20px;">
                <p>
                    <strong>Estimado/a {{var billing.getName()}}</strong>,<br/>
                    Su pedido núm. {{var order.increment_id}} está en estado 
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>{{var comment}}</p>
                <p>
                    Si tiene cualquier pregunta no dude en contactar con nosotros en <a href="mailto:{{config path="trans_email/ident_sales/email"}}" style="color:#5dd054;">{{config path="trans_email/ident_sales/email"}}</a> o llamando al {{config path="general/store_information/phone"}} de lunes a viernes de 9:00 a 17:00 horas.
                </p>
                <p>Gracias,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>
