<!--@subject {{var order.getStoreGroupName()}}: Envío # {{var shipment.increment_id}} para el pedido # {{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;background-color: #eee;padding: 60px 15px;">
<table cellspacing="0" cellpadding="0" border="0" width="500" style="background-color: #fff;margin:auto;max-width: 500px;width: 100%;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table bgcolor="#F92525" align="center" border="0" width="100%">
        <tr>
          <td height="90" valign="center" align="center">
          <a href="{{store url='' _secure='true'}}" style="color:#FFF;text-decoration:none;"><img src="{{skin url='images/logo.png' _secure='true'}}" width="140" alt="Lab Nutrition"></a>
          </td>
        </tr>
      </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td valign="top" style="padding: 0 20px;">
                        <p><strong>Estimado/a {{var order.getCustomerName()}}</strong>,<br/>
                            Gracias por su pedido desde {{var order.getStoreGroupName()}}.<br/>
                            Puede revisar el estado de su pedido <a href="{{store url="customer/account/"}}" style="color:#5dd054;">iniciando sesión en su cuenta</a>.
                            Si tiene cualquier pregunta sobre su pedido no dude en contactar con nosotros en <a href="mailto:{{config path="trans_email/ident_sales/email"}}" style="color:#5dd054;">{{config path="trans_email/ident_sales/email"}}</a> o llamando al <span class="nobr">{{config path="general/store_information/phone"}}</span> de lunes a viernes de 9:00 a 17:00 horas.</p>
                        <p>La confirmación de su pedido está a continuación. Gracias por su confianza.</p>
                        <h3 style="font-size:1.05em; margin-bottom:0; ">
                            Su envío #{{var shipment.increment_id}} para el pedido #{{var order.increment_id}}
                        </h3>
                        </td>
                    </tr>
                </table>
                <hr style="margin-top: 20px;margin-bottom: 20px; border: 0;border-top: 1px solid #eee;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top" align="left" style="padding: 0 20px;">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                <tr>
                                    <th align="left" width="100%" bgcolor="#fff" style="padding:8px 10px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Información de facturación:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top" style="padding:10px; border:1px solid #e3e3e3; border-top:0; background:#f8f7f5;">
                                        {{var order.billing_address.format('html')}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                <tr>
                                    <th align="left" width="100%" bgcolor="#fff" style="padding:8px 10px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Método de pago:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top" style="padding:10px; border:1px solid #e3e3e3; border-top:0; background:#f8f7f5;">
                                        {{var payment_html}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                <tr>
                                    <th align="left" width="100%" bgcolor="#fff" style="padding:8px 10px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Método de envío:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top" style="padding:10px; border:1px solid #e3e3e3; border-top:0; background:#f8f7f5;">
                                        {{var order.shipping_description}}
                                        &nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                <tr>
                                    <th align="left" width="100%" bgcolor="#fff" style="padding:8px 10px; border:1px solid #e3e3e3; border-bottom:none; line-height:1em;">Información de envío:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top" style="padding:10px; border:1px solid #e3e3e3; border-top:0; background:#f8f7f5;">
                                        {{var order.shipping_address.format('html')}}
                                        &nbsp;
                                    </td>
                                </tbody>
                            </table>
                            <br/>

                            {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}

                            <br/>
                            {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                            <p>{{var comment}}</p>
                            <p>
                                Gracias,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                            </p>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
