<!--@subject Confirma tu cuenta, {{var customer.name}} @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="middle" bgcolor="#FFFFFF">
    <table width="90%" height="266"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100%" align="center" valign="middle" style="padding: 25px 0;"><span style="color:#4c4c4c; font-size:18px;display:none;">{{var customer.name}}</span><br /><br />
        <strong style="font-size:16px;margin-bottom: 40px;display: inline-block;line-height: normal;">&iexcl;Bienvenido a la comunidad m&aacute;s grande de complementos para la salud y el deporte!</strong>
        <span style="display: block;line-height: 18px;padding: 30px 0px;font-size: 14px;">Estas a un paso de cambiar tu estilo de vida, lo único que necesitas es activar tu cuenta. Apreta el botón VALIDAR CORREO para hacerlo.</span>
        <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="display:inline-block;width:67%;background-color:#5dd054;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-size: 14px;border-radius: 3px;padding:13px 30px;text-decoration: none;">VALIDAR CORREO</a>
      </td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td height="87" align="center" valign="middle" bgcolor="#FFFFFF">
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" valign="top">
          <p style="color:#888;font-family:Arial, Helvetica, sans-serif; font-size:14px;">Si t&uacute; no creaste una cuenta en LABNUTRITION.com, has como si esto no hubiera pasado y sigue con tu vida :)</p>
          </td>
          <!--<td align="center" valign="top"><p style="font-family:Arial, Helvetica, sans-serif; font-size:14px;">
          <strong style="font-weight: normal;">Si tienes alguna duda sobre tu cuenta, escr&iacute;benos<br />
          </strong>
          <strong style="font-weight: normal;">haciendo <a href="{{store url=""}}/contacts/">clic aqu&iacute;</a>.<br />
          </strong></p></td>-->
        </tr>
        <tr style="display:none;">
          <td height="44" align="center" valign="middle"><span style="font-family:Arial, Helvetica, sans-serif; font-size:18px;"><strong style="font-weight: 500;">&iexcl;Disfruta de tu compra!</strong></span></td>
        </tr>
        <tr style="display:none;">
          <td align="center" valign="center"><span style="font-family:Arial, Helvetica, sans-serif; color:#EEEEEE; font-size:13px;">&iexcl;No te olvides de visitar <a href="http://www.labnutrition.com" style="font-family:Arial, Helvetica, sans-serif; color:#EEEEEE;">www.labnutrition.com</a> para m&aacute;s novedades!</span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}