<!--@subject ¡Te damos la bienvenida a Lab Nutrition, {{var customer.name}}! @-->
<style>
    h1 a[href]{color: #fff !important;text-decoration: none;}
</style>
<div style="overflow:hidden;background-color:#eee;padding:60px 15px;width:100%;">
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:auto;background-color: #FFF;max-width:500px!important;width:100%;">
    <tr>
    <td>
      <table bgcolor="#F92525" align="center" border="0" width="100%">
        <tr>
          <td height="93" valign="center" align="center" style="background: url({{skin url='images/logo.png' _secure='true'}}) no-repeat 30px center;background-size: auto 30px;">
            <h1 style="display: inline-block;padding: 0 50px;font-weight: 400;font-size: 20px;vertical-align: middle;color: #FFF;position: relative;margin: 0;line-height: 50px;"><a href="{{store url='' _secure='true'}}" style="color:#FFF;text-decoration:none;">LABNUTRITION.COM</a></h1>
          </td>
        </tr>
      </table>
    </td>
  </tr>
    <tr>
        <td height="50" align="center" valign="middle">
        </td>
    </tr>
    <tr>
        <td height="129" align="center" valign="middle">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="88" align="center" valign="middle">
                        <table width="100%" height="53" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="100%" height="48" align="center" valign="middle" style="padding: 0 20px;">
                          <span style="font-family:Arial, Helvetica, sans-serif; color:#0c0c0c; font-size:18px;">
                            <strong style="display: inline-block;width: 100%;text-align: left;line-height: 24px;font-size: 20px;display:none;">
                                &iexcl;Hola!<br>{{var customer.name}}
                            </strong>
                            <strong style="display: inline-block;width: 100%;text-align: center;font-size: 16px;">¡Bienvenido a la comunidad más grande de complementos para la salud y el deporte!</strong>
                            <label style="line-height: 19px;font-size: 14px;display: inline-block;width: 100%;padding: 12px 0 7px 0;text-align: left;font-weight: 500;" >
                                <strong>Bienvenido a Lab Nutrition.</strong> Para iniciar sesi&oacute;n simplemente <strong>haz clic</strong> en <a target="_blank" href="{{store url="customer/account/"}}" style="font-family:Arial, Helvetica, sans-serif; color:black;">Iniciar Sesi&oacute;n</a> o <a href="{{store url="customer/account/"}}" style="font-family:Arial, Helvetica, sans-serif; color:black;">Mi Cuenta</a>. Ub&iacute;calos en la parte superior de las p&aacute;ginas e ingresa tu direcci&oacute;n de <strong>correo electr&oacute;nico y contrase&ntilde;a.</strong>
                            </label>
                          </span>
                              </td>
                          </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="50" align="center" valign="middle">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>