<!--@subject Nueva contraseña para {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo.png\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" height="167" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%" height="167" align="center" valign="center">
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="100%" height="70" align="left" valign="center" style="padding-top:15px;">
            <strong style="font-family:Arial, Helvetica, sans-serif; color:#333; font-size:20px;font-weight: 500;">Hola {{var customer.name}}</strong>
          </td>
        </tr>
        <tr>
          <td height="42" align="left" valign="middle"><span style="line-height: 16px;font-family:Arial, Helvetica, sans-serif; color:black; font-size:12px;">Hace poco hubo una solicitud de cambio de la contrase&ntilde;a de tu cuenta:</span><br /><br />
            <span style="line-height: 16px; font-family:Arial, Helvetica, sans-serif; color:black; font-size:12px;">Si fuiste t&uacute; quien realiz&oacute; este cambio, haz clic en el siguiente botón para modificar tu contrase&ntilde;a <br /><br />
            </span>
            </td>
        </tr>
        <tr>
          <td height="42" align="center" valign="middle"><span style="line-height: 16px;font-family:Arial, Helvetica, sans-serif; color:black; font-size:12px;">
            <span style="line-height: 16px; text-align: center; font-family:Arial, Helvetica, sans-serif; color:black; font-size:12px;"><a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="display:inline-block;width:65%;background-color:#5dd054;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-size: 14px;border-radius: 3px;padding:13px 30px;text-align: center;text-decoration: none;">MODIFICAR CONTRASEÑA</a></span><br /><br />
            
            </td>
        </tr>
        <tr>
          <td height="42" align="left" valign="middle"><span style="line-height: 16px;font-family:Arial, Helvetica, sans-serif; color:black; font-size:12px;">
            <span style="line-height: 16px; font-family:Arial, Helvetica, sans-serif; color:black; font-size:12px;">Si t&uacute; no realizaste esta solicitud, puedes ignorar este mensaje y tu contrase&ntilde;a se mantendr&aacute;.</span><br /><br />
            </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}