<!--@subject ¡Te damos la bienvenida a Lab Nutrition, {{var customer.name}}! @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="50" align="center" valign="middle">&nbsp;</td>
    </tr>
    <tr>
        <td height="88" align="center" valign="middle">
            <table width="90%" height="53" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%" height="48" align="center" valign="middle">
                        <div style="font-family:Arial, Helvetica, sans-serif; color:#0c0c0c; font-size:18px;">
                        <strong style="display:block;border-bottom: 1px solid #e3e3e3 !important;font-weight: normal;padding: 7px 0;width: 100%;text-align: left;line-height: 24px;font-size: 20px;">
                        &iexcl;Hola {{var customer.name}}!
                        </strong>
                        <br><br>
                        <strong style="font-family:Arial, Helvetica, sans-serif; font-size:16px;margin-bottom: 40px;display: block; font-weight: bold;line-height: normal;">&iexcl;Bienvenido a la comunidad m&aacute;s grande de complementos para la salud y el deporte!</strong>
                        <label style="line-height: 19px;font-size: 15px;display: inline-block;line-height: 1.5;width: 100%;padding: 25px 0;text-align: left;" >Para iniciar sesi&oacute;n simplemente <strong>haz clic</strong> en <a target="_blank" href="{{store url="customer/account/"}}" style="font-family:Arial, Helvetica, sans-serif; color:black;">Iniciar Sesi&oacute;n</a> o <a href="{{store url="customer/account/"}}" style="font-family:Arial, Helvetica, sans-serif; color:black;">Mi Cuenta</a>. Ub&iacute;calos en la parte superior de las p&aacute;ginas e ingresa tu direcci&oacute;n de <strong>correo electr&oacute;nico y contrase&ntilde;a.</strong>
                        </label>
                      </div>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td height="100" align="center" valign="middle">
            <div style="color:#9b9b9b; font-size:12px; padding:11px 33px;">Si tú no creaste una cuenta en Lab Nutrition, has como si esto no hubiera pasado y continua con tu vida :)</div>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}