<!--@subject Nueva contraseña para {{var user.name}} @-->

<style type="text/css">
  body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
  h1 a[href]{color: #fff !important;text-decoration: none;}
</style>

  <div style="background-color: #eee;font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;padding: 60px 15px;">
     <table cellspacing="0" cellpadding="0" border="0" width="500" style="background-color: #fff;max-width: 500px;width: 100%;">
         <tr>
            <td align="center" valign="middle">
              <!-- [ header starts here] -->
              <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                  <td style="background-color: #F92525;vertical-align: middle;" valign="center" align="center">
                    <div style="min-height: 73px;text-align: center;padding: 10px 30px;background: url({{skin url='images/logo.png'}}) no-repeat 30px center;background-size: 80px;">
                        <h1 style="display: inline-block;padding: 0 50px;font-size: 20px;font-weight: 400;vertical-align: middle;color: #FFF;position: relative;margin: 0;line-height: 50px;">LABNUTRITION.COM</h1>
                    </div>
                  </td>
                </tr>
              </table>

                <!-- [ middle starts here] -->
              <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                  <td valign="top">
                    <p><strong>Estimado/a {{var user.name}}</strong>,<br/>
                    Su nueva contraseña es: {{var password}}</p>
                    <p>Puede cambiar su contraseña en cualquier momento, ingresando en <a href="{{store url="adminhtml/system_account/"}}" style="color:#5dd054;">Mi cuenta</a>.<p>

                    <p>Gracias,<br/><strong>La tienda</strong></p>

                 </td>
                 </tr>
               </table>

              </td>
           </tr>
       </table>
    </div>
