<!--@subject Lab Nutrition reclamo {{var codigo_reclamo}} @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" height="217" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%" height="217" align="left" valign="middle">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr bgcolor="#f9f9f9">
                <td height="66" align="center" valign="top" style="padding: 20px;">
                    <table width="100%" border="0" cellspacing="10" cellpadding="0">
                        <tr>
                            <td align="center" style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:16px; font-weight: bold;">Reclamaciones Lab Nutrition</td>
                        </tr>
                        <tr>
                            <td align="center" style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;"> Código de Reclamación <br />
                                <span>{{var codigo_reclamo}}</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="246" align="center" valign="top" style="padding: 20px;">
                    <table width="100%" border="0" cellspacing="2" cellpadding="6">
                        <!-- <tr>
                            <td><span>Fecha</span></td>
                            <td><span>{{var fecha_registro}}</span></td>
                        </tr> -->
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Nombre:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var nombre_cliente}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Domicilio:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var domicilio_cliente}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>DNI:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var dni_cliente}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Telefono:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var telefono_cliente}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Email:</span>
                            </td>
                            <td>
                                <span>{{var email_cliente}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Padre o Madre:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var padremadre_cliente}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Tipo de Bien:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var tiposervicio}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Tipo de Bien Detalle:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var descripcion_tiposervicio}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Tipo de Reclamo:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var tipo_reclamo}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Reclamo Detalle:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var descripcion_reclamo}}</span>
                            </td>
                        </tr>
                        <!--<tr>
                            <td><span>Distrito</span></td>
                            <td><span>{{var distrito_cliente}}</span></td>
                        </tr> -->
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>Acciones Adoptadas:</span>
                            </td>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">
                                <span>{{var acciones_proveedor}}</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#f9f9f9" align="left" valign="middle" style="padding: 20px;">
        <table width="500" style="width: 100%;" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td align="center" valign="middle" style="padding-bottom: 10px;"><span style="font-family:Arial, Helvetica, sans-serif; color:#fc0e31; font-size:16px;"><strong>&iexcl;Disfruta de tu compra!</strong></span></td>
                </tr>
                <tr>
                    <td align="center" valign="bottom"><span style="font-family:Arial, Helvetica, sans-serif; color:#373f3f; font-size:14px;">&iexcl;No te olvides de visitar <a href="{{store url=""}}" style="font-family:Arial, Helvetica, sans-serif; color:#000;">www.labnutrition.com.pe</a> para más novedades!</span></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</table>
{{template config_path="design/email/footer"}}