<!--@subject Confirmación suscripción al boletín de noticias @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" align="center" cellpadding="0" cellspacing="0">
<tr>
  <td height="246" align="center" valign="middle">
    <table width="90%" height="194"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="281" height="194" align="left" valign="middle">
          <table width="259" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="29" height="54" align="left" valign="top">&nbsp;</td>
              <td width="230" align="left" valign="top"><span style="font-family:Arial, Helvetica, sans-serif; color:#888; font-size:16px;">Hola</span><br />
                <span style="font-family:Arial, Helvetica, sans-serif; color:#888; font-size:18px;"><strong>{{var customer.name}}</strong></span></td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="113" align="right" valign="middle" bgcolor="#e6edf6"><table width="230" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="224" height="40" align="left" valign="top"><span style="font-family:Arial, Helvetica, sans-serif; color:#888; font-size:13px;">Para <strong>confirmar la suscripci&oacute;n</strong> a nuestra lista de <strong>noticias</strong> haz clic <br />
                    en el siguiente link:<br />
                    <a href="{{var subscriber.getConfirmationLink()}}" style="color:#888;">{{var subscriber.getConfirmationLink()}}</a><br />
                  </span></td>
                </tr>
              </table></td>
            </tr>
          </table>
        </td>
        <td width="100%" align="left" valign="top"><img src="{{skin url='images/logo.png'}}" width="213" height="194" /></td>
      </tr>
    </table>
  </td>
  </tr>
  <tr>
    <td height="93" align="center" valign="middle" bgcolor="#fff">
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" valign="top"><p style="font-family:Arial, Helvetica, sans-serif; color:#888; font-size:14px;"><strong>Si tienes alguna duda sobre tu cuenta, escr&iacute;benos<br />
          </strong><strong>haciendo <a href="{{store url="contacts"}}">clic aqu&iacute;</a>.<br />
          </strong></p></td>
        </tr>
        <tr>
          <td height="44" align="center" valign="middle"><span style="font-family:Arial, Helvetica, sans-serif; color:#ed1c24; font-size:18px;"><strong>&iexcl;Disfruta de tu compra!</strong></span></td>
        </tr>
        <tr>
          <td align="center" valign="bottom"><span style="font-family:Arial, Helvetica, sans-serif; color:#888; font-size:13px;">&iexcl;No te olvides de visitar <a href="{{store url=''}}" style="font-family:Arial, Helvetica, sans-serif; color:#888;">www.labnutrition.com</a> para m&aacute;s novedades!</span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}