<!--@subject Baja correcta del boletín de noticias @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="65" align="center" valign="middle">
  		<table width="90%" height="53" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="252" height="150" align="center" valign="middle"><strong style="font-family:Arial, Helvetica, sans-serif; color:#0c0c0c; font-size:20px;font-weight: 500;max-width: 360px;">Tu suscripci&oacute;n ha sido cancelada.</strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}