<!--@subject Te damos la bienvenida a nuestro newsletter @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle">
      <table width="90%" height="53" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="100%" height="150" align="center" valign="middle">
            <strong style="display: inline-block;padding: 0;width: 100%;text-align: center;line-height: 24px;font-size: 20px;font-weight: 500;max-width: 360px;">&iexcl;Tu suscripci&oacute;n ha sido realizada exitosamente!</strong>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}