<!--@subject {{var subject}} @-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
    h1 a[href]{color: #fff !important;text-decoration: none;}
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;background-color:#EEE;overflow:hidden;padding: 60px 15px;">
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin:auto;max-width: 500px;width: 100%;">
	<tr>
		<td>
		  <table bgcolor="#F92525" align="center" border="0" width="100%">
		    <tr>
		    	<td height="93" valign="center" align="center">
		        	<a href="{{store url='' _secure='true'}}" style="color:#FFF;text-decoration:none;"><img src="{{skin url='images/logo.png' _secure='true'}}" alt="Lab Nutrition" width="120"></a>
		     	</td>
		    </tr>
		  </table>
		</td>
	</tr>
	<tr>
		<td align="center" valign="middle">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="100%" align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color:#222; font-size:15px;padding: 20px;">
						<label style="line-height: 19px;font-size: 28px;display: block;width: 100%;padding: 10px 0;text-align: center;" >¡Queremos saber de ti!</label>
					</td>
				</tr>
				<tr height="25"><td>&nbsp;</td></tr>
				<tr>
					<td width="100%" align="center" valign="middle" style="padding: 0 20px;">
						<strong style="display: inline-block;padding: 0 0 7px 0;text-align: left;line-height: 24px;font-size: 20px;font-weight: 500;width: 100%;">
						&iexcl;Hola! {{var order.customername}}</strong>
					</td>
				</tr>
				<tr>
					<td width="100%" align="center" style="padding: 0 20px;">
						<p style="color: #888;line-height: 25px;font-weight: 400;font-size: 16px;">Gracias por comprar en nuestra tienda virtual, esperamos que esté satisfecho con su pedido.</p>
                    	<p style="color: #888;line-height: 25px;font-weight: 400;font-size: 16px;">Por favor, tome unos minutos de su tiempo para calificar nuestros productos.</p>
					</td>
				</tr>
				<tr height="25"><td>&nbsp;</td></tr>
				<tr>
					<td width="100%" align="center" valign="middle" style="padding: 0 20px;">
						{{var productsHtml}}
					</td>
				</tr>
				<tr height="25"><td>&nbsp;</td></tr>
				<tr>
			      <td height="50" align="center" valign="center">
			        <span style="color:#888888;line-height:18px;font-size:14px;padding-top:20px;">Lab Nutrition ® - Servicio al cliente {{var store_phone}}</span>
			      </td>
			    </tr>
			</table>
		</td>
	</tr>
</table>
</div>