<!--@subject Nueva contraseña para {{var customer.name}} @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="50"></td>
    </tr>
    <tr>
        <td height="129" align="center" valign="middle">
            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100%" height="287" align="left" valign="middle">
                        <table width="278" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="278" height="142" align="right" valign="middle" >
                                    <table width="252" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="252" height="48" align="left" valign="top">
                                                <strong style="font-family:Arial, Helvetica, sans-serif; font-size:20px;font-weight: 500;">Hola {{var customer.name}}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="42" align="left" valign="middle"><span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;">Tu nueva contrase&ntilde;a es:</span><br />
                                                <span style="font-family:Arial, Helvetica, sans-serif; font-size:18px;"><strong>{{var customer.password}}</strong></span></td>
                                        </tr>
                                        <tr>
                                            <td height="21" align="left" valign="bottom"><span style="font-family:Arial, Helvetica, sans-serif;  font-size:13px;">
                              Haz <a href="{{store url="customer/account/"}}" style="font-family:Arial, Helvetica, sans-serif; color:black; font-weight:bolder; ">clic aqu&iacute;</a> para ingresar a tu cuenta.</span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="50"></td>
    </tr>
</table>
{{template config_path="design/email/footer"}}