<!--@subject Mira la lista de productos interesantes de {{var customer.name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;overflow:hidden;background-color:#EEEEEE;padding: 60px 15px;">
    <table cellspacing="0" cellpadding="0" border="0" width="500" style="max-width: 500px;width: 100%;">
        <tr>
            <td align="center" valign="top">
            <!-- [ header starts here] -->
                <table bgcolor="#F92525" align="center" border="0" width="100%">
                <tr>
                  <td height="93" valign="center" align="center" style="background: url({{skin url='images/logo.png' _secure='true'}}) no-repeat 30px center;background-size: auto 30px;">
                    <h1 style="display: inline-block;padding: 0 50px;font-weight: 400;font-size: 20px;vertical-align: middle;color: #FFF;position: relative;margin: 0;line-height: 50px;"><a href="{{store url='' _secure='true'}}" style="color:#FFF;text-decoration:none;">LABNUTRITION.COM</a></h1>
                  </td>
                </tr>
              </table>

            <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td valign="top">
                        <p>Hola,<br/>
                        Mira mi lista de productos interesantes de la tienda.</p>

                        <p>{{var message}}</p>

                        {{var items}}

                        <br/>

{{depend salable}}<p><strong><a href="{{var addAllLink}}" style="color:#5dd054;">Añadir todos los artículos al carrito de la compra</a></strong> |{{/depend}} <strong><a href="{{var viewOnSiteLink}}" style="color:#5dd054;">Ver todos los artículos de la lista de interés</a></strong></p>

                        <p>Gracias,<br/><strong>{{var customer.name}}</strong></p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
    </div>
