@media (max-width:1199px){
	#one-step-checkout-form input.radio,.address-information ul li.create_account input,
	#one-step-checkout-form input.checkbox,#one-step-checkout-form .order-review-info .onestepcheckout-newsletter input,#one-step-checkout-form .order-review-info .onestepcheckout-giftwrap input,#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input,.address-information ul li.shipping_other_address input,#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input,#one-step-checkout-form li.control input.checkbox
	{margin:-2px 4px 0 0;float:none;}
}
@media (max-width: 991px){
	.one-step-checkout h3 {
		font-size: 13px;
	}
	.ajax-loader1, .ajax-loader2, .ajax-loader3 {
		top: 0;
		background-size: 27px;
		right: 0;
	}	
	#password_section_id .two-fields{width:100%;margin-bottom: 10px;}
}
@media (max-width: 850px){
	.one-step-checkout h3 {
		font-size: 13px;
		background-size: 50px auto !important;
	}
	.ajax-loader1,.ajax-loader2 ,.ajax-loader3 {	
		margin: 13px 0 0 12px !important;
		top: 0;
		background-size: 25px;
		right: 0;
	}
	#one-step-checkout-form label{font-size:12px;}
	#one-step-checkout-form .checkout-review-load .data-table td.qty-box .box-qty{
		width: auto;
		display: flex;
		align-items:center;
		justify-content:center;
		margin:0 auto;
		overflow: hidden;
	}
	.one-step-checkout .onestepcheckout-review-info{width:100%;width: 100% !important;margin-top: 15px !important;}

    .one-step-checkout .order-review-section{float:right;margin: 0;}
	#one-step-checkout-form .checkout-review-load .data-table td.qty-box a{text-align:center;}
	.order-review-section .payment-method .onestepcheckout-payment-methods .sp-methods .form-list .v-fix{width:50%;float:left;margin-right: 0;}
	.order-review-section .payment-method .v-fix .validation-advice{width:100%;}

	.one-step-checkout .button-onestepcheckout{width:100% !important;}
	.one-step-checkout #onestepcheckout-place-order-loading{width:100% !important;}
	#one-step-checkout-form input.radio,.address-information ul li.create_account input,
	#one-step-checkout-form input.checkbox,#one-step-checkout-form .order-review-info .onestepcheckout-newsletter input,#one-step-checkout-form .order-review-info .onestepcheckout-giftwrap input,#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input,.address-information ul li.shipping_other_address input,#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input,#one-step-checkout-form li.control input.checkbox
	{margin:0px  4px 0 0;float:none;}
	
}
@media (max-width: 719px){
    	.ajaxcart-loading {
		top: 5px !important;
		left: 5% !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
	.one-step-checkout h3 {
		font-size: 11px;
	}
	.ajax-loader1,.ajax-loader2 ,.ajax-loader3 {
		background-size: 20px;
		right: -10px;
	}
	#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper2{width:100% !important;}
	#onestepcheckout-toc-popup h1 {
		font-size: 12px;
	}
}
@media (max-width: 718px) and (min-width:640px){
    .ajaxcart-loading {
		top: 5px !important;
		left: 5% !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
	.two-fields{width:100%;}
}
@media (max-width: 767px){
    	.ajaxcart-loading {
		top: 5px !important;
		left: 2px !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
    /*2014.18.11 fix responsive 2 column*/
	/*.one-step-checkout .address-info-3-columns{width:100%;margin:0;}*/
	.one-step-checkout .onestepcheckout-shipping-payment-review{width:100%;}
    .one-step-checkout .address-information{width:100%;margin:0;}
    .one-step-checkout .order-information{width:100%;}
    .one-step-checkout .order-review-section{width:100%;}
    .one-step-checkout .button-onestepcheckout{width:100% !important;margin-right: 0 !important;}
	.one-step-checkout #onestepcheckout-place-order-loading{width:100% !important;}
    .one-step-checkout .onestepcheckout-review-info{width:100%;width: 100% !important;margin-top: 15px !important;}
	/*.one-step-checkout .order-info-3-columns{width:100%;}*/
    /*2014.18.11 fix responsive 2 column*/
    .onestepcheckout-2columns .left-information{width: 100%;}
	.order-review-section{width:100%;}
	.one-step-checkout h3 {
		font-size: 13px;
		background-size:  auto  !important;
	}
	.onestepcheckout-survey-freetext{width:92%;box-sizing:content-box;}
	button#add_coupon_code_button{margin-bottom:0px;}
	.ajax-loader1,.ajax-loader2 ,.ajax-loader3 {	
		background-size: 35px;
		right: 10px;
		margin: 18px 0 0 16px !important
	}
	#one-step-checkout-form .checkout-review-load .data-table tbody th{font-weight:bold;}
	#one-step-checkout-form label,#one-step-checkout-form .address-information ul li.create_account labe{font-size:13px;}	

	#one-step-checkout-form .checkout-review-load .data-table tfoot td, #one-step-checkout-form .checkout-review-load .data-table tfoot th{
		border-right: none !important;
	}
}
@media only screen and (max-width: 639px) and (orientation : landscape){
    .ajaxcart-loading {
		top: 5px !important;
		left: 0px !important;
		width: 100%!important;
		margin-left: 2px !important;
	}
	.address-information ul li.create_account input,#one-step-checkout-form .order-review-info .onestepcheckout-newsletter input{margin-top:1px;}
}
@media (max-width:560px){
    .ajaxcart-loading {
		top: 5px !important;
		left: 0 !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
	#onestepcheckout-login-popup{
		min-width:320px;
		margin:0 0 0 -45% !important;
		width:90%;
		left:50% !important;
	}
}
@media (max-width:440px){
    .ajaxcart-loading {
		top: 5px !important;
		left: 0px !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
	.onestepcheckout-popup-wrapper #onestepcheckout-login-popup-contents-forgot h1{
		font-size: 12px;
		text-indent: 75px;
	}
	.onestepcheckout-place{width:100% !important;max-width: 100%;}
	#onestepcheckout-forgot-table li.last p {
		float: left;
		margin-top: 15px;
		margin-bottom: 10px;
		width: 100%;
	}
	#onestepcheckout-login-popup #onestepcheckout-forgot-button {
		float: left;
	}
	.onestepcheckout-popup-wrapper{width: 90%;}
}
@media (max-width:380px){
    	.ajaxcart-loading {
		top: 5px !important;
		left: 0px !important;
		width: 93%!important;
		margin-left: 2px !important;
	}
	#onestepcheckout-login-popup{
		min-width:320px;
		margin:0 0 0 -160px !important;
		width:320px;
		left:50% !important;
	}
}

body.onestepcheckout-index-index .modal.sagepaymodal {
position: fixed !important;
top: 50% !important;
left: 50% !important;
margin-left: -225px !important;
margin-top: -300px !important;
max-height: 600px !important; }
body.onestepcheckout-index-index .modal.sagepaymodal #direct3d-logos {display: none; }
@media screen and (max-width: 480px) { /* mobile rwd */
	body.onestepcheckout-index-index .modal.sagepaymodal {
	margin-left: -179px !important;
	margin-top: -235px !important;
	max-height: 470px !important; }
	body.onestepcheckout-index-index .modal.sagepaymodal #sage-pay-direct-ddada {
	max-width: 320px; }
	body.onestepcheckout-index-index .modal.sagepaymodal #sage-pay-direct-ddada > h5 {
	font-size: 10px; }
}