<?php
	/*
	* Name Extension: Cmsmart megamenu
	* Author: The Cmsmart Development Team
	* Date Created: 06/09/2013
	* Websites: http://cmsmart.net
	* Technical Support: Forum - http://cmsmart.net/support
	* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
	* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
	*/
?>
<?php if(Mage::helper('megamenu/data')->getMenuType() == Cmsmart_Megamenu_Model_Menutype::HORIZONTAL){

	echo $this->getLayout()->createBlock('megamenu/navigation')
									->setTemplate('cmsmart/megamenu/topmenu.phtml')
									->toHtml();

 } elseif(Mage::helper('megamenu/data')->getMenuType() == Cmsmart_Megamenu_Model_Menutype::VERTICAL){
	echo $this->getLayout()->createBlock('megamenu/navigation')
									->setTemplate('cmsmart/megamenu/vertical.phtml')
									->toHtml();

 } else {
	echo $this->getLayout()->createBlock('megamenu/navigation')
									->setTemplate('cmsmart/megamenu/topmenu.phtml')
									->toHtml();
	echo $this->getLayout()->createBlock('megamenu/navigation')
									->setTemplate('cmsmart/megamenu/vertical.phtml')
									->toHtml();
 } ?>

<!-- RESPONSIVE MENU -->
<?php
    Mage::helper('megamenu/custommenu')->saveCurrentCategoryIdToSession();
    $menuData = Mage::helper('megamenu/custommenu')->getMenuData();
    extract($menuData);
    // ---
    $txtLoading = '';
    $txtMenu = $this->__('Menu');
    $xRtl = $_rtl ? ' rtl' : '';
    $wpInitContent = <<<HTML
    <div id="custommenu-loading" class="$xRtl">
        <div class="menu">
            <div class="parentMenu menu0">
                <a href="javascript:;">
                    <span>$txtLoading</span>
                </a>
            </div>
        </div>
    </div>
    <div id="custommenu-mobile" class="$xRtl" style="display:none;">
        <div id="menu-button" onclick="wpMenuButtonToggle()">
            <a href="javascript:void(0);" class="nav-responsive">
                <div class="menu-icon dropdown-toggle d-table" data-toggle="dropdown">
                    <div class="d-table-cell">
                        <h4>Elige una <br><span class="text-uppercase">Categoría</span></h4>
                    </div>
                </div>
            </a>
        </div>
        <nav id="menu-content" style="display:none;">
            <div id="menu-mobile-loading" class="menu-mobile level0">
                <div class="parentMenu">
                    <a href="javascript:;">
                        <span>$txtLoading</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
HTML;
?>
<div class="nav-container" id="wp-nav-container"></div>
<script type="text/javascript">
//<![CDATA[
var CUSTOMMENU_POPUP_WIDTH = <?php echo $_popupWidth; ?>;
var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo $_popupTopOffset; ?>;
var CUSTOMMENU_POPUP_DELAY_BEFORE_DISPLAYING = <?php echo $_popupDelayBeforeDisplaying; ?>;
var CUSTOMMENU_POPUP_DELAY_BEFORE_HIDING = <?php echo $_popupDelayBeforeHiding; ?>;
var CUSTOMMENU_RTL_MODE = <?php echo $_rtl; ?>;
var CUSTOMMENU_MOBILE_MENU_WIDTH_INIT = <?php echo $_mobileMenuWidthInit; ?>;
var wpCustommenuTimerShow = {};
var wpCustommenuTimerHide = {};
var wpActiveMenu = null;
var wpMobileMenuEnabled = <?php echo $_mobileMenuEnabled; ?>;
var wpMenuAjaxUrl = '<?php echo $_menuAjaxUrl; ?>';
var wpMoblieMenuAjaxUrl = '<?php echo $_moblieMenuAjaxUrl; ?>';
var wpPopupMenuContent = '';
var wpMobileMenuContent = '';
if ($('wp-nav-container') != undefined) {
    $('wp-nav-container').update(<?php echo Mage::helper('core')->jsonEncode($wpInitContent); ?>);
}

Event.observe(document, 'dom:loaded', function(){
    $$('.skip-nav').each(function(element) {
        element.observe('click', function(event) {
            wpMenuButtonToggle();
        });
    });

});
//]]>
</script>
