<?php
/**
 * TemplateMela
 * @copyright  Copyright (c) 2010 TemplateMela. (http://www.templatemela.com)
 * @license    http://www.templatemela.com/license/
 */
 
?>
<?php $_cartdropdown = Mage::getStoreConfig('cartdropdown/general'); ?>
<?php $_cartQty = $this->getSummaryCount() ?>
<div class="block-cart btn-slide dropdown<?php if ($_cartQty > 0): ?> hasitems<?php endif ?>">
	<div class="cart-label dropdown-toggle" data-toggle="dropdown">
	
	<div class="cart_mini_right">
		<div class="carticon header-icon-icon">&nbsp;</div>
		<?php  if ($_cartQty>0): ?>
			<div class="item-cart">
			<?php  if ($_cartQty==0): ?>
            	<?php echo $this->__('0') ?>
            <?php elseif ($_cartQty==1): ?>
				 <?php echo $this->__('1') ?>
			<?php else: ?>
                <?php echo $this->__('%s', $_cartQty) ?>
            <?php endif ?>
			</div>
        <?php endif ?>
        <div class="header-icon-label text-center">Carrito</div>
		<?php //echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
	</div>
	</div>
	
	<div class="block-content dropdown-menu no-padding" id="panel">
	<div class="minicart h-100">
		<?php $_items = $this->getRecentItems() ?>
			<div class="dd-header">
				<p class="block-subtitle"><?php echo $this->__('Recently added item(s)') ?></p>
				<button type="button" class="button close dd-close">&times;</button>
			</div>
		<?php if(count($_items)): ?>
			<div class="dd-body scrollbar">
			<ol id="cart-sidebar" class="mini-products-list">
			<?php foreach($_items as $_item): ?>
				<?php echo $this->getItemHtml($_item) ?>
			<?php endforeach; ?>
			</ol>
			</div>
			<script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
		<?php else: ?>
			<div class="dd-body text-center">
				<div class="row">
				<div class="col-xs-12">&nbsp;</div>
				<div class="col-xs-12">
					<img class="form-group" draggable="false" src="<?php echo $this->getSkinUrl('images/ic_carrito.png') ?>" width="39" height="42">
					<p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
				</div>
				<div class="col-xs-12">&nbsp;</div>
				</div>
			</div>
		<?php endif ?>
		<?php if ($_cartQty>0): ?>
		<div class="dd-footer">
			<div class="summary">           
				<p class="subtotal">
					<?php if ($this->canApplyMsrp()): ?>
						<span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
					<?php else: ?>
						<span class="label"><?php echo $this->__('Subtotal:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
						<?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
							<br />(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
						<?php endif; ?>
					<?php endif; ?>
				</p>
			</div>
		<?php if($this->isPossibleOnepageCheckout()): ?>
		<div class="actions">
			<?php echo $this->getChildHtml('extra_actions') ?>			
			<a type="button" title="<?php echo $this->__('Checkout') ?>" class="button checkout-btn" href="<?php echo $this->getCheckoutUrl() ?>"><span><?php echo $this->__('Checkout') ?></span></a>
			<a type="button" title="<?php echo $this->__('View Cart') ?>" class="button viewcart-btn" href="<?php echo $this->getUrl('checkout/cart') ?>"><span><?php //echo $this->__('View Cart') ?>Comprar Todo</span></a>
		</div>
		<?php endif ?>
		</div>
		<?php endif ?>
	</div>
</div>
</div>