<?php
/**
 * @category Janaq
 * @package Janaq_CartPopup
 * @author Janaq <https://www.janaq.com/>
 */
?>
<?php
/**
 * Cart Popup items template
 *
 * @see Janaq_CartPopup_Block_Cartpopup
 */
?>
<?php
$popupItems = $this->getCartItems();
if ($popupItems) {
	$count = 0;
	$html = "";
	$items = $this->getConfigItems();
	
    foreach ($popupItems as $_product) {
    	$item = $items[$_product->getSku()];
    	$show = $this->getCartPopupShowForAll($_product, $item);
    	if ($show) {
            $count++;
        	$click = $this->helper('udevix_google_tag_manager_ee')->click($_product);

        	$html .= '<li>';
        	if ($_product->isVisibleInSiteVisibility()): $html .= '<a '.$click.' href="'.$_product->getProductUrl().'">'; endif;
        	$image = ($item['image']) ? $item['image'] : $this->helper('catalog/image')->init($_product, "thumbnail")->resize(500,500);
				$html .= '<img alt="'.$_product->getName().'" src="'.$image.'" title="'.$_product->getName().'" width="500" height="500">';
	   		if ($_product->isVisibleInSiteVisibility()): $html .= '</a>'; endif;
	   			$html .= '<div class="buttons-set no-padding a-left"><div class="container"><div class="form-group clearfix">';
   			if (!$_product->canConfigure()) {
   				$_onclick = "'".$this->helper('checkout/cart')->getAddUrl($_product)."'";
   				$html .= '<button type="button" '.$click.' title="'.$this->__('Add to Cart').'" class="button btn-cart" onclick="setLocation('.$_onclick.')"><span>'.$this->_helper->getCartPopupButtonText().'</span></button>';
   			} else {
	       		$html .= '<a '.$click.' title="'.$this->__('Add to Cart').'" class="button btn-cart" href="'.$_product->getProductUrl().'"><span>'.$this->_helper->getCartPopupButtonText().'</span></a>';
   			}
	        $html .= '<button class="btn button bg-black btn-close" data-dismiss="modal"><span>Cerrar</span></button>
           </div></div></div></li>';
       }
    } ?>
<?php if ($count > 0) { ?>
<?php echo $this->_helper->getCartPopupCss(); ?>
<div id="cartpopup" class="modal text-center fade" data-backdrop="static" data-keyboard="false" role="dialog">
	<div class="modal-dialog">
		<div class="cart-popup">
			<ul class="cartpopup-gallery"><?php echo $html ?></ul>
		</div>
	</div>
</div>
<?php $button = '<button type="button" data-toggle="modal" data-target="#cartpopup" title="Mis Promociones" class="button w-100" style="max-width: 300px;"><span>Mis Promociones</span></button>' ?>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$('.cart .cart-collaterals').append('<?php echo $button; ?>');
		//$('#cart-popup').appendTo('body');
		if (!Mage.Cookies.get("jnqcartpopup")) {
        	$("#cartpopup").modal("show");
        	Mage.Cookies.set("jnqcartpopup", 1);
    	}
		<?php if ($count > 1) { ?>
		$('.cartpopup-gallery').addClass('owl-carousel owl-theme');
		$(".cartpopup-gallery").owlCarousel({
			autoplay: false,
			nav: true,
			navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
			dots: false,
			responsiveClass:true,
			items: 1,
			margin: 0,
		});
		<?php } ?>
	})
</script>
<?php } ?>
<?php } ?>