<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
	$jnqadmin = $this->helper('jnqadmin');
	$placeholder = $jnqadmin->getPlaceholderImage('small', 250);
 ?>
<?php if(!$this->getItemCount()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="jnqcrosssell owl-grid">
	<header class="nav-title">
		<h2><?php echo $this->getTitle() ?></h2>
	</header>
	<ul class="owl-carousel owl-theme" id="jnqcrosssellcarousel">
		<?php foreach ($this->getItems() as $_product): ?>
			<?php $click = Mage::helper('udevix_google_tag_manager_ee')->click($_product); ?>
			<?php $isVisible = $_product->isVisibleInSiteVisibility(); ?>
		<li class="item slider-item">
			<?php $jnqadmin->getProductLabels($_product) ?>
			<div class="product-block">
				<div class="product-block-inner">
					<div class="table d-table no-margin">
           				<div class="product-image-block col-xs-5 col-md-5 no-padding">
	           				<?php if ($isVisible):?><a <?php echo $click; ?> href="<?php echo $_product->getProductUrl() ?>" class="product-image"><?php endif; ?>
		           			<img class="owl-lazy" src="<?php echo $placeholder ?>" data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(120,120); ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" width="120" height="120" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /><?php if ($isVisible):?></a><?php endif ?>
	           			</div>
						<div class="product-book col-xs-7 col-md-7">
							<h2 class="product-name" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php if ($isVisible):?><a <?php echo $click; ?> href="<?php echo $_product->getProductUrl() ?>" ><?php endif ?>
							<?php echo $this->escapeHtml($_product->getName()) . $jnqadmin->getManufacturerProduct($_product); ?>
		                	<?php if ($isVisible):?></a><?php endif ?></h2>
							<div class="valoration-summary clearfix no-display">
								<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
								<?php echo $jnqadmin->getRatingNumber($_product); ?>
							</div>
					        <div class="attr-container clearfix">
								<?php echo $this->getPriceHtml($_product, true) ?>
							</div>
							<div class="buttons-set no-padding a-left">
		                		<?php if (!$_product->canConfigure()): ?>
								<button <?php echo $click; ?> type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><?php echo $this->__('Add to Cart') ?></span></button>
								<?php else: ?>
								<a <?php echo $click; ?> title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" href="<?php echo $this->getAddToCartUrl($_product) ?>"><span><?php echo $this->__('Add to Cart') ?></span></a>
								<?php endif ?>
		                	</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	<?php endforeach ?>
	</ul>
	<div class="owl-loading hidden-xs hidden-sm"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$("#jnqcrosssellcarousel").owlCarousel({
	    	autoplay: false,
	    	nav: true,
	    	navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
	    	dots: false,
	    	lazyLoad: true,
	    	responsiveClass:true,
	    	responsive: {0: { items: 1 },576: { items: 2 },991: { items: 3}},
	    	margin: 0,
	    })
	})
</script>
<?php endif; ?>