<?php
//
//
//    $_code= $this->getMethodCode();
//    $_total = Mage::getSingleton('checkout/cart')->getQuote()->getGrandTotal();
//
//
?>
<!--<ul class="form-list" id="payment_form_--><?php //echo $_code ?><!--" style="display:none;">-->
<!--    <li style="padding-top:10px;">-->
<!--        <div>-->
<!--            --><?php //echo $this->getMethod()->getConfigData('instructions');?>
<!--        </div>-->
<!--    </li>-->
<!--</ul>-->
<style type="text/css">
	.postmastercard-card-types .validation-advice:not(:last-of-type) {display: none;}
</style>
<div class="posmastercard-icon">
    <img src="<?php echo $this->getSkinUrl('images/checkout/mdp/mdp_posmastercard.png') ?>" alt="POS Mastercard" />
    <p class="instructions"><?php echo $this->getMethod()->getConfigData('instructions');?></p>
</div>
<div class="postmastercard-card-types">
	<p>Tipo de Tarjeta:</p>
	<ul class="card-types field-row">
		<li class="item"><input class="validate-one-required-by-name" id="mc-mastercard" checked="checked" type="radio" name="posmastercard_cardtypes" value="Master Card"><label for="mc-mastercard">Master Card</label></li>
		<li class="item"><input class="validate-one-required-by-name" id="mc-amex" type="radio" name="posmastercard_cardtypes" value="AMEX"><label for="mc-amex">AMEX</label></li>
		<li class="item"><input class="validate-one-required-by-name" id="mc-dinners" type="radio" name="posmastercard_cardtypes" value="Dinners Club"><label for="mc-dinners">Dinners Club</label></li>
	</ul>
</div>