.page{
	overflow:hidden
}
.magemenu-menu{
	&.horizontal-menu{
		float: left;
		clear: both;
		.menu{ 
			&.nb-custome{
				position: relative;
			}
			>a{
				position: relative;
				img{
					position: absolute;
					left: 50%;
					margin-left: -16px;
					top: -12px;
				}
			}
			.inner-cms-block{  
				.block{ 
					float: left;
					margin-bottom: 0;
					width: auto; 
					&.block-cate{
						position: relative;
						z-index: 2;
						width: 215px;
						min-width: 215px; 
						margin-right: 20px;
						h3{
							position: relative; 
							.transition();
							&:before{
								position:absolute;
								width: 6px;
								height: 6px;
								content: "";
								.border-radius(100%);
								top: 16px;
								left: -15px; 
								.transition();
								border:1px solid @text9;
							}
							a{
								float: left;
								white-space: nowrap;
								text-decoration: none;
								color: @texttop;
							}
						}
						.subcate{
							position: relative;
							float: left;
							width: 100%;
							padding-left: 25px;
							border-bottom: 1px dotted @bordercolor;
							&:first-child{
								border-top:1px dotted @bordercolor;
							}
							&.subparent{
								&:before{
									content:"\f105";
									font-family: "FontAwesome";
									font-size: 14px;
									top: 7px;
									right: 15px;
									color: #444;
									position: absolute;
									.transition();
								}
							}
							h3{
								float: left;
								width: 100%;
								margin: 0;
								line-height: 40px;
								font-size: 100%; 
								text-transform: uppercase; 
								>a{
									color: #444;
								} 
							}
							.itemMenu{
								position: relative;
								padding-left: 15px;
								a{
									color: #444;
									line-height: 40px; 
								}
								&:hover{
									background:@activeColor;
									>a{
										color: #fff;
									}
								} 
							}
							ul.itemsubmenu{
								position: absolute;
								left: 150%;
								min-width: 220px;
								.opacity(0);
								.transition();
								visibility: hidden;
								top: 0;
							}
							ul{
								background: #fff; 
								.shadow(); 
								li{
									border-bottom: 1px dotted @bordercolor;
									&:first-child{
										border-top: 1px dotted @bordercolor;
									}
									a{
										line-height: 40px;
										text-decoration: none;
									}
								}
								.itemMenu{
									&:hover{
										>ul{
											.opacity(100);
											left: 100%;
											.transition();
											visibility: visible;
										}
									}
								}
							}
							&:hover{ 
								background: @activeColor;
								h3{
									.transition();
									&:before{
										.transition(); 
										border-color: #fff; 
									}
									a{
										color: #fff;
									}
								}
								>ul{
									.opacity(100);
									left: 100%;
									top: 0;
									.transition();
									visibility: visible;
								}
							}
						}
					}
					&.block-left{
						min-width: auto;
						margin-right: 20px; 
						width: 225px;
						>p{
							>img{
								width: 100%;
							}
						} 
					}
					&.block-bottom{
						padding-top: 15px;
						width: 100%;
						float: left;
						>p{
							img{
								width: 100%;
							}
						}
					}
					&.block-top{
						margin-bottom: 30px;
						padding:0 0 13px 0;
						border-bottom: 1px dashed @bordercolor;
						width: 100%;
						color: @texttop;
						font-size: 18px;
						text-transform: uppercase;
					}
					&.block-product{
						position: relative;
						z-index: 1; 
						width: 225px;
						min-width: 225px;
						margin-right: 20px;
					}
					&.block-right{
						width: 230px;
						min-width: 230px;
					} 
					h2.title-right{
						font-size: 14px;
						white-space: nowrap;
						text-transform: uppercase;
						color: @texttop;
						width: 100%;
						text-overflow: ellipsis;
						margin-bottom: 10px;
					}
					.block-content{
						float: left;
						width: 100%;
							>a{
								margin-bottom: 10px;
								float: left;
							} 
							>img{
								width: 100%;
							} 
							>p{
								width: 230px;
								color: #888;
								float: left;
							}
						}
				}
				.product-grid{
					.item{
						>h2{
							font-size: 18px; 
							color: @texttop;
							margin-top: -2px;
							margin-bottom: 10px;
						}
						.product-image{
							float: left;
							border:1px solid @bordercolor;
							width: 100%;
							img{
								width: 100%;
							}
						}
						.product-info{
							float: left;
							width: 100%;
							.product-name{
								margin-top: 25px;
								float: left;width: 100%;
								margin-bottom: 3px;
								a{
									font-weight: bold;
									width: 100%;
									text-overflow:ellipsis;
									overflow: hidden;
									white-space: nowrap;
									float: left;
									font-size: 14px; 
								}
							}
							.price-box{
								.regular-price,.special-price{
									padding-left: 0;
									margin-right: 10px;
									.price{
										font-size: 18px;
									}
								}
								.old-price{
									.price{
										font-size: 14px;
									}
								}

							}
						}
						.actions{
							margin-top: 7px; 
							.btn-cart{
								line-height: 40px;
								padding: 0 25px;
								float: left;
								background: @activeColor;
								border:none;
								&:hover{
									.opacity(80)
								}
								span{
									color: #fff;
								}
							}
							.add-to-links{
								float: left;
								width: 100%;
								clear: both;
								li{
									float: left;
									a{
										&.link-wishlist{
											margin-right: 10px;
										}
										&.link-compare{
											margin-left: 10px;
										}
									}
								}
							}
							p{
								color: #888;
							}
						}
					}
				}
			}
		}
		.explodedmenu{ float: left; width: auto; position: relative;	
			>li{ padding: 9px 0;
				&:hover{
					> a{				
						.transition(all 0.5s ease-out 0s);
						background: @activeColor; 
						text-decoration: none; 
						z-index: 1;
						span{ color: #fff; }
					}
				} 
			}
			
			li{
				&.menu{ float: left; 
					> a{ margin-right: 1px;
						float: left; position: relative;
						padding: 4px 20px 4px;	 
						 color: @text3; text-transform: uppercase;
						 span{  font-weight: 500 !important; } 		
					} 			
					&.parentMenu{  
						.explodedmenu-menu-popup{
							position: absolute; top: 58px; z-index: 991; .opacity(0); visibility: hidden; .transition();
							left: 0;
							.inner-cms-block{
								border-top: 3px solid @activeColor;
								.shadow(); background: #fff;padding: 14px 25px;float: left;max-width: 1170px; 
							}
							.exploded-menu-block{ background: #fff;
								ul{ .shadow(); min-width: 270px; padding: 15px 10px;
									li{  position: relative; background: @bgf9;
										a{
											padding: 5px 0 5px 32px; display: block; position: relative; color: @text6;
											 
											&:hover{ background: @activeColor; 
												color: #fff; 
											}
										}
										ul{
											position: absolute; top: 0; left: 230px; background: #fff;
											.opacity(0); visibility: hidden; .transition(); z-index: 9;
										}
										&:hover{
											> ul{
												.opacity(100); visibility: visible; left: 180px;
												.transition();
											}
										}
									}
								}

							}						
						}
						&:hover{
							.explodedmenu-menu-popup{ top: 38px; .opacity(100); visibility: visible; .transition();}
						}
					}
				}
			}	
		}
		.navbar{ min-height: 0; margin-bottom: 0; }
		.subparent{
			&:before{
				content:"\f105";
				font-family: "FontAwesome";
				font-size: 14px;
				top: 7px;
				right: 10px;
				color: #444;
				position: absolute;
				.transition();
			}
			&:hover{
				&.subparent{
					&:before{
						right:5px;
						.transition();
						color: #fff;
					}
				}
			}
		}
	} 
	&.vertical-menu{
		float: left; 
		width: 100%;
		height: 0;
		overflow: hidden;
		position: absolute; 
		top: 50px;
		.opacity(0);
		.transition(); 
		border:1px solid @bordercolor; 
		&.show{
			overflow: visible;
			height: auto;
			.transition();
			min-height: 200px;
			z-index: 999;
			background: #fff;
			.opacity(100);
		} 
		.subparent{
			&:before{
				content:"\f105";
				font-family: "FontAwesome";
				font-size: 14px;
				top: 7px;
				right: 10px;
				color: #444;
				position: absolute;
				.transition();
			}
		}
		.header-nav{
			>ul{
				>li{
					float: left;width: 100%;
					border-top:1px dotted @bordercolor;
					&:first-child{
						border-top:none;
					}
				}
			}
		}
		.explodedmenu{ float: left; width: 100%; position: relative;	
			>li{ padding: 5px 0;
				>a{
					color: #444; 
					float: left;
					width: 100%;
					position: relative;
				}
				&:hover{
					background: @activeColor;
					> a{
						color: #fff; 
					}
				}
				&.parentMenu{
					>a{
						&:after{ content: "\f105"; position: absolute; right:20px;top:3px;
						 font-family: "FontAwesome"; color:#444; z-index: 9; .transition();font-size: 16px;
						}
					}
					&:hover{
						>a{
							&:after{ color: #fff;.transition();
							}
						} 
					}
				}
			}
			li{
				&.menu{ float: left; 
					> a{ margin-right: 1px;
						float: left; position: relative;
						padding: 4px 15px 4px;	 
						text-transform: uppercase;
						text-decoration: none;
						span{  font-weight: 500 !important;
							>img{
								float: left;
								margin-right:15px;
							}
						 } 
						>img{
							position: absolute; 
							left:17%; 
							top: -12px; 

						}		
					}
					.inner-cms-block{  
						.block{ 
							float: left;
							margin-bottom: 0;
							width: auto; 
							&.block-cate{
								position: relative;
								z-index: 2;
								width: 215px;
								min-width: 215px; 
								margin-right: 20px;
								h3{
									position: relative; 
									.transition();
									&:before{
										position:absolute;
										width: 6px;
										height: 6px;
										content: "";
										.border-radius(100%);
										top: 16px;
										left: -15px; 
										.transition();
										border:1px solid @text9;
									}
									a{
										float: left;
										white-space: nowrap;
										text-decoration: none;
										color: @texttop;
									}
								}
								.subcate{
									position: relative;
									float: left;
									width: 100%;
									padding-left: 25px;
									border-bottom: 1px dotted @bordercolor;
									&:first-child{
										border-top:1px dotted @bordercolor;
									}
									&.subparent{
										&:before{
											content:"\f105";
											font-family: "FontAwesome";
											font-size: 14px;
											top: 7px;
											right: 15px;
											color: #444;
											position: absolute;
											.transition();
										}
									}
									h3{
										float: left;
										width: 100%;
										margin: 0;
										line-height: 40px;
										font-size: 100%; 
										text-transform: uppercase; 
										>a{
											color: #444;
										} 
									}
									.itemMenu{
										position: relative;
										padding-left: 15px;
										a{
											color: #444;
											line-height: 40px; 
										}
										&:hover{
											background:@activeColor;
											>a{
												color: #fff;
											}
										} 
									}
									ul.itemsubmenu{
										position: absolute;
										left: 150%;
										min-width: 220px;
										.opacity(0);
										.transition();
										visibility: hidden;
										top: 0;
									}
									ul{
										background: #fff; 
										.shadow(); 
										li{
											border-bottom: 1px dotted @bordercolor;
											&:first-child{
												border-top: 1px dotted @bordercolor;
											}
											a{
												line-height: 40px;
												text-decoration: none;
											}
										}
										.itemMenu{
											&:hover{
												>ul{
													.opacity(100);
													left: 100%;
													.transition();
													visibility: visible;
												}
											}
										}
									}
									&:hover{ 
										background: @activeColor;
										h3{
											.transition();
											&:before{
												.transition(); 
												border-color: #fff; 
											}
											a{
												color: #fff;
											}
										}
										>ul{
											.opacity(100);
											left: 100%;
											top: 0;
											.transition();
											visibility: visible;
										}
									}
								}
							}
							&.block-left{
								min-width: auto;
								margin-right: 20px;
								display: block;
								float: left;  
								width: 225px;
								>p{
									>img{
										width: 100%;
									}
								}
							}
							&.block-bottom{
								padding-top: 15px;
								width: 100%;
								float: left;
								>p{
									img{
										width: 100%;
									}
								}
							}
							&.block-top{
								margin-bottom: 30px;
								padding:0 0 13px 0;
								border-bottom: 1px dashed @bordercolor;
								width: 100%;
								color: @texttop;
								font-size: 18px;
								text-transform: uppercase;
							}
							&.block-product{
								position: relative;
								z-index: 1; 
								width: 225px;
								min-width: 225px;
								margin-right: 20px;
							}
							&.block-right{
								width: 230px;
								min-width: 230px;
								margin-right: 20px;  

							} 
							h2.title-right{
								font-size: 14px;
								white-space: nowrap;
								text-transform: uppercase;
								color: @texttop;
								width: 100%;
								text-overflow: ellipsis;
								margin-bottom: 10px;
							}
							.block-content{
								width: 230px;
								float: left;
								>img{
									width: 100%;
								}
								>a{
									margin-bottom: 10px;
									float: left;
								} 
								>p{
									width: 230px;
									color: #888;
									float: left;
								}
							}
						}
						.product-grid{
							.item{
								>h2{
									font-size: 18px; 
									color: @texttop;
									margin-top: -2px;
									margin-bottom: 10px;
								}
								.product-image{
									float: left;
									border:1px solid @bordercolor;
									width: 100%;
									img{
										width: 100%;
									}
								}
								.product-info{
									float: left;
									width: 100%;
									.product-name{
										margin-top: 25px;
										float: left;width: 100%;
										margin-bottom: 3px;
										a{
											font-weight: bold;
											width: 100%;
											text-overflow:ellipsis;
											overflow: hidden;
											white-space: nowrap;
											float: left;
											font-size: 14px; 
										}
									}
									.price-box{
										.regular-price,.special-price{
											padding-left: 0;
											margin-right: 10px;
											.price{
												font-size: 18px;
											}
										}
										.old-price{
											.price{
												font-size: 14px;
											}
										}

									}
								}
								.actions{
									margin-top: 7px; 
									.btn-cart{
										line-height: 40px;
										padding: 0 25px;
										float: left;
										background: @activeColor;
										border:none;
										&:hover{
											.opacity(80)
										}
										span{
											color: #fff;
										}
									}
									.add-to-links{
										float: left;
										width: 100%;
										clear: both;
										li{
											float: left;
											a{
												&.link-wishlist{
													margin-right: 10px;
												}
												&.link-compare{
													margin-left: 10px;
												}
											}
										}
									}
									p{
										color: #888;
									}
								}
							}
						}
					} 
					&.nb-custome{
						position: relative;
					}
					&.parentMenu{  
						.explodedmenu-menu-popup{
							position: absolute; top: 0px; z-index: 991; .opacity(0); visibility: hidden;.transition();
							left: 150%;
							.inner-cms-block{
								.shadow(); background: #fff;padding: 20px 15px;float: left;max-width: 1170px; 
							}
							.exploded-menu-block{ background: #fff;
								ul{ .shadow(); min-width: 270px; padding: 15px 10px;
									li{  position: relative; background: @bgf9;
										a{
											padding: 5px 0 5px 32px; display: block; position: relative; color: @text6;
											&:before{ content: "\f105"; position: absolute; left: 20px; top: 5px; 
											 font-family: "FontAwesome";
											}
											&:hover{ background: @activeColor; 
												color: #fff;
												&:before{ 
													content: "\f105"; position: absolute; left: 20px; top: 5px; 
											 		font-family: "FontAwesome";
												}
											}
										}
										ul{
											position: absolute; top: 0; left: 230px; background: #fff;
											.opacity(0); visibility: hidden; .transition(); z-index: 9;
										}
										&:hover{
											> ul{
												.opacity(100); visibility: visible; left: 180px;
												.transition();
											}
										}
									}
								}

							}						
						}
						&:hover{
							.explodedmenu-menu-popup{ .opacity(100); visibility: visible; .transition();left: 100%;}
						}
					}
				}
			}	
		}
	}
}
.main-container{
	clear:both;
}
.wrap-vertical-menu{
	padding-left: 0;
	float: left;  
	cursor: pointer;
	clear: both;
	>span{
		line-height: 50px;
		padding-left: 35px;
		position: relative;
		text-transform: uppercase;
		float: left;
		width: 100%;
		color: #444;
		font-weight: bold;
		&:before{
			content:"\f0c9";
			position: absolute;
			font-family: "FontAwesome";
			font-size: 16px;
			top: 0;
			left: 10px;
		}
	}
}
#header-nav{
	border:none !important;
}
#custommenu-mobile .level1{
	background-color: #ededed !important;
}