@media (min-width: 992px) and (max-width: 1199px) {	
	.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-right{
		width: 200px;
		min-width: 200px;
	}
	.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content{
		img{
			width: 100%;
		}
	}
	.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block{
		padding:14px 10px; 
	}  
}
@media (min-width: 768px) and (max-width: 991px){
	.menu-mobile .parentMenu{
		float: left;
		width: 100%;
		padding-left: 20px;
	}
	.wrap-vertical-menu{
		display: none;
	}
}
@media (max-width: 767px){
	.menu-mobile .parentMenu{
		float: left;
		width: 100%;
		padding-left: 20px;
	}
	.wrap-vertical-menu{
		display: none;
	}
}
