<?php $_sellPoints = $this->getSellPoints(); ?>
<?php if ($_sellPoints): ?>
    <?php $_helper = Mage::helper('giantpoints') ?>
    <span class="giantpoints-earning-msg">
  <?php echo $this->getPointIcon(); ?>
        <span class="giantpoints-message-<?php echo $this->getProduct()->getId() ?>">
    <?php echo $this->__('Free using %s !', $_helper->addLabelForPoint($_sellPoints)) ?>
    </span>
</span>
<?php endif; ?>