<?php
/**
* Ultimate_Slider extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*/
/**
*
* @category       Images & Media
* @package        Ultimate_Slider
* @copyright      Copyright (c) 2015
* @license        http://opensource.org/licenses/mit-license.php MIT License
*/
/**
* Slider list template
*
* @category    Images & Media
* @package     Ultimate_Slider
* @author      Rajasingh and Manikandan D
* @modified    2015-11-21 04:54:53 PM IST
*/
?>
<?php $_sliders = $this->retrieveData(); ?>
<?php $media = Mage::getBaseUrl('media'); ?>
<?php $allowed = '/(\.jpg|\.png|\.gif)$/' ?>
<?php if (count($_sliders)): ?>
<div class="main-slider">
    <ul class="slides owl-carousel owl-theme">
<?php $_counter = 0; ?>
<?php foreach($_sliders as $slider): ?>
<?php $_counter++; $_link = ''; ?>
    <?php if( $slider['image'] != '' || $slider['video_url'] != '' ) { ?>
        <li class="item slider-<?php echo $_counter ?>" title="<?php echo $slider['title']; ?>">
        <?php if ($slider['link'] != ''): ?>
            <?php $_link = $slider['link'] ?>
        <?php endif ?>
        <div class="slider-content">
        <?php if (preg_match($allowed, $slider['image'])) { ?>
            <?php if ($slider['video_url'] != ''): ?>
            <a href="<?php echo $slider['video_url'] ?>" target="_blank" class="slider-link" title="Ir a la p&aacute;gina">
                <span><?php echo $slider['title']; ?></span>
            </a>
            <?php endif ?>
            <?php if ($_link): ?>
            <a class="item-link" href="<?php echo $_link ?>">
            <?php endif; ?>
            <div class="bg owl-lazy bg-desktop hidden-xs" data-src="<?php echo $media.$slider['image'] ?>"></div>
            <div class="bg owl-lazy bg-mobile hidden-sm hidden-md hidden-lg" data-src="<?php echo $media.$slider['mobile_image'] ?>"></div>
            <?php if ($_link): ?>
            </a>
            <?php endif; ?>

        <?php } elseif($slider['video_url'] != '') { ?>
            <?php if ($_link): ?>
            <a href="<?php echo $_link ?>" class="slider-link" title="Ir a la p&aacute;gina">
                <span><?php echo $slider['title'];?></span>
            </a>
            <?php endif; ?>
            <a class="bg owl-video" href="<?php echo $slider['video_url'];?>"></a>
        <?php } ?>
        </div>
        </li>
    <?php } ?>
<?php endforeach; ?>
    </ul>
    <div class="owl-loading"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<?php if(Mage::getStoreConfig('ultimate_slider/slider/roll_slides_active')==0) { ?>
<script type="text/javascript">
jQuery(document).ready(function ($) {
    var mainOwl = $(".main-slider .owl-carousel");
    mainOwl.owlCarousel({
        autoplay: false,
        nav: true,
        navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
        dots: true,
        lazyLoad: true,
        loop: true,
        video: true,
        responsiveClass:true,
        animateIn: 'fadeIn',
        animateOut: 'fadeOut',
        autoplay:true,
        autoplayTimeout:3000,
        autoplayHoverPause:true,
        items: 1,
        margin: 0,
    })
    jQuery(document.documentElement).keyup(function (event) {
        // handle cursor keys
        if (event.keyCode == 37) {
           // go left
           mainOwl.trigger('prev.owl.carousel');
        } else if (event.keyCode == 39) {
           // go right
           mainOwl.trigger('next.owl.carousel');
        }

    });
});
</script>
<?php } ?>
<?php endif ?>