<?php
/**
* Ultimate_Slider extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*/
/**
*
* @category       Images & Media
* @package        Ultimate_Slider
* @copyright      Copyright (c) 2015
* @license        http://opensource.org/licenses/mit-license.php MIT License
*/
/**
* Slider list template
*
* @category    Images & Media
* @package     Ultimate_Slider
* @author      Rajasingh and Manikandan D
* @modified    2015-11-21 04:54:53 PM IST
*/
?>
<?php $_sliders = $this->retrieveData(); ?>
<?php $media = Mage::getBaseUrl('media'); ?>
<?php $allowed = '/(\.jpg|\.png|\.gif)$/' ?>
<?php if (count($_sliders)): ?>
<div class="flexslider">
    <ul class="slides">
<?php $_counter = 0; ?>
<?php foreach($_sliders as $slider): ?>
<?php $_counter++; $_link = ''; ?>
    <?php if( $slider['image'] != '' || $slider['video_url'] != '' ) { ?>
        <li class="slider-<?php echo $_counter ?>">
        <?php if ($slider['link'] != ''): ?>
            <?php $_link = $slider['link'] ?>
        <?php endif ?>

        <?php if (preg_match($allowed, $slider['image'])) { ?>
            <?php if ($slider['video_url'] != ''): ?>
            <a href="<?php echo $slider['video_url'] ?>" target="_blank" class="flexslider-link" title="Ir a la p&aacute;gina">
                <span><?php echo $slider['title']; ?></span>
            </a>
            <?php endif ?>
        <div class="slider-content">
            <?php if ($_link): ?>
            <a href="<?php echo $_link ?>" title="<?php echo $slider['title']; ?>">
            <?php endif; ?>
            <div class="bg bg-desktop hidden-xs" style="background-image: url(<?php echo $media.$slider['image'] ?>)"></div>
            <div class="bg bg-mobile hidden-sm hidden-md hidden-lg" style="background-image: url(<?php echo $media.$slider['mobile_image'] ?>)"></div>
            <?php if ($_link): ?>
            </a>
            <?php endif; ?>
        </div>

        <?php } elseif($slider['video_url'] != '') { ?>
            <?php if ($_link): ?>
            <a href="<?php echo $_link ?>" class="flexslider-link" title="Ir a la p&aacute;gina">
                <span><?php echo $slider['title'];?></span>
            </a>
            <?php endif; ?>
            <div class="slider-content">
                <iframe id="player<?php echo $_counter ?>" frameborder="0" width="100%" height="350" src="<?php echo $slider['video_url'];?>" allowfullscreen></iframe>
            </div>
        <?php if (strpos($slider['video_url'], "youtube.com")): ?>
            <script type="text/javascript">
            var player<?php echo $_counter ?>;
            function onYouTubeIframeAPIReady() {
              player = new YT.Player('player<?php echo $_counter ?>', {
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                }
              });
            }
        </script>
        <?php endif; ?>
        <?php } ?>
        </li>
    <?php } ?>
<?php endforeach; ?>
    </ul>
</div>
<?php if(Mage::getStoreConfig('ultimate_slider/slider/roll_slides_active')==0) { ?>
<script type="text/javascript">
var $j = jQuery.noConflict();
$j(document).ready(function () {
    $j('.flexslider').flexslider({
        slideshow: true,
        slideshowSpeed: 3000,
        pauseOnHover: true,
        video: false,
        controlNav: true,
        directionNav: true,
        prevText: "",
        nextText: "",
    });
});
</script>
<?php } ?>
<?php endif ?>