<?php if(!Mage::getSingleton('customer/session')->isLoggedIn()){ ?>
<div class="container">
	<div class="bonuslab-banner login-trigger" style="background-image: url(<?php echo $this->getSkinUrl('images/points/banner_bonlab.png') ?>);" data-toggle="dropdown" data-tab="tab-1"></div>
</div>
<script type="text/javascript">
	jQuery('.login-trigger').click(function(e){
	  // Kill click event:
	  e.stopPropagation();
	  jQuery('.header-user-content[data-tab="tab-1"]').dropdown('toggle');
	});
	var statusLoyalty = 0; //sin loguearse
</script>
<?php } else { ?>
<div class="page-title text-uppercase">
	<h1 class="font-dinbek_bold">Bonus <span class="text-red">Lab</span></h1>
</div>
<?php
$customer = Mage::getSingleton('customer/session')->getCustomer();
if($customer->getData('group_id') == Mage::getStoreConfig('loyalty/friendzone/groupid_friendzone')):?>
<script>statusLoyalty = 1;</script>
<?php elseif($customer->getData('group_id') == Mage::getStoreConfig('loyalty/gileo/groupid_gileos')):?>
<script>statusLoyalty = 2;</script>
<?php elseif($customer->getData('group_id') == Mage::getStoreConfig('loyalty/relacion/groupid_relacion')):?>
<script>statusLoyalty = 3;</script>
<?php endif;?>
<?php } ?>