<script>var statusLoyalty = 0; //sin loguearse</script>
<?php
    if(Mage::getSingleton('customer/session')->isLoggedIn()){
        $customer = Mage::getSingleton('customer/session')->getCustomer();
        $group = Mage::getModel('customer/group')->load($customer->getData('group_id'));
?>
<div class="cuadro-beneficios hide">
    <div class="status">
        <p>Tu estado actual</p>
        <?php if($customer->getData('group_id') == Mage::getStoreConfig('loyalty/friendzone/groupid_friendzone')):?>
        <script>statusLoyalty = 1;</script>
        <img alt="Tranqui" src="<?php echo $this->getSkinUrl('images/points/icon_tranqui_medium.png') ?>" />
        <p class="title"><?php echo Mage::getStoreConfig("loyalty/friendzone/titulo_friendzone") ?></p>
        <p><?php echo Mage::getStoreConfig("loyalty/friendzone/comentario_friendzone") ?></p>

        <?php elseif($customer->getData('group_id') == Mage::getStoreConfig('loyalty/gileo/groupid_gileos')):?>
        <script>statusLoyalty = 2;</script>
        <img alt="Spartan" src="<?php echo $this->getSkinUrl('images/points/icon_spartan_medium.png') ?>" />
        <p class="title"><?php echo Mage::getStoreConfig("loyalty/gileo/titulo_gileos") ?></p>
        <p><?php echo Mage::getStoreConfig("loyalty/gileo/comentario_gileos") ?></p>

        <?php elseif($customer->getData('group_id') == Mage::getStoreConfig('loyalty/relacion/groupid_relacion')):?>
        <script>statusLoyalty = 3;</script>
        <img alt="Maceta" src="<?php echo $this->getSkinUrl('images/points/icon_maceta_medium.png') ?>" />
        <p class="title"><?php echo Mage::getStoreConfig("loyalty/relacion/titulo_relacion") ?></p>
        <p><?php echo Mage::getStoreConfig("loyalty/relacion/comentario_relacion") ?></p>
        <?php endif;?>
    </div>
    <div class="beneficios">
        <p>Beneficios en todas tus compras</p>
        <div class="icon_img tooltip icon_friendzone_bcb<?php echo Mage::getStoreConfig('loyalty/friendzone/groupid_friendzone') == $customer->getData('group_id')?'':'_disable';?>">
            <span class="tooltiptext tooltip-bottom"><?php echo Mage::getStoreConfig("loyalty/friendzone/tooltip_friendzone"); ?></span>
        </div>
        <div class="icon_img tooltip icon_gileos_bcb<?php echo Mage::getStoreConfig('loyalty/gileo/groupid_gileos') == $customer->getData('group_id')?'':'_disable';?>">
            <span class="tooltiptext tooltip-bottom"><?php echo Mage::getStoreConfig("loyalty/gileo/tooltip_gileos"); ?></span>
        </div>
        <div class="icon_img tooltip icon_relacion_bcb<?php echo (Mage::getStoreConfig('loyalty/relacion/groupid_relacion') == $customer->getData('group_id'))?'':'_disable';?>">
            <span class="tooltiptext tooltip-bottom"><?php echo Mage::getStoreConfig("loyalty/relacion/tooltip_relacion"); ?></span>
        </div>
        <?php if ($customer->getData('group_id') == Mage::getStoreConfig('loyalty/friendzone/groupid_friendzone')) : ?>
            <div class="text-no-beneficio">*Llega a gileos y desbloquea tu primer beneficio.</div>
        <?php else: ?>
            <div class="text-no-beneficio">Los puntos acumulados por cada compra expiran en
            <?php
            $expireDays = Mage::helper('giantpoints/config')->getExpireDays();
            if ($expireDays):
                $day = $this->__('day');
                if ($expireDays > 1) $day .= 's';
                echo "<span class='days'>$expireDays $day</span>";
            endif; ?>
            </div>
        <?php endif ?>
    </div>
</div>
<?php
}