<?php $errors = $this->getData("errors"); ?>
<?php $values = $this->getData("values"); ?>

<form action="" method="post" id="libroreclamaciones">  
    <fieldset>
        <header class="titulo_section_libroreclamos">
            <h2>1. Identificación del Consumidor Reclamante</h2>
        </header>
        <div>
            <div class="row hidden">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <label>Fecha Reclamo <em>*</em></label><br>
                    <input class="form-control input-text required-entry" style="width: 100px;" type="hidden" name="date_create" id="date_create" value="<?php if (!$values["date_create"]): echo date('Y-m-d'); else: echo $values["date_create"]; endif ?>" />
                </div>                
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-6">
                    <label for="nombre_cliente">Nombres Completos <em>*</em></label>
                    <input id="nombre_cliente" class="form-control input-text required-entry<?php if ($this->hasError('nombre_cliente', $errors)): ?> errors<?php endif ?>" type="text" name="nombre_cliente" value="<?php echo $values["nombre_cliente"] ?>" />
                        <?php echo $this->renderElementErrors("nombre_cliente", $errors, array("class"=>"errors")); ?>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-6">
                    <label for="apellidos_cliente">Apellidos Completos <em>*</em></label>
                    <input id="apellidos_cliente" class="form-control input-text required-entry<?php if ($this->hasError('apellidos_cliente', $errors)): ?> errors<?php endif ?>" type="text" name="apellidos_cliente" value="<?php echo $values["apellidos_cliente"] ?>" />
                        <?php echo $this->renderElementErrors("apellidos_cliente", $errors, array("class"=>"errors")); ?>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-6">
                    <label for="departamento_cliente">Departamento <em>*</em></label>
                    <?php echo $this->renderSelect("departamento_cliente", array("id"=>"departamento_cliente","class"=>$this->hasError("departamento_cliente", $errors)?"form-control errors":"form-control validate-select"), $values["departamento_cliente"]) ?>
                    <?php echo $this->renderElementErrors("departamento_cliente", $errors, array("class"=>"errors")); ?>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-6">
                    <label for="distrito_cliente">Distrito <em>*</em></label>
                    <?php echo $this->renderSelect("distrito_cliente", array("id"=>"distrito_cliente","class"=>$this->hasError("distrito_cliente", $errors)?"form-control errors":"form-control validate-select"), $values["distrito_cliente"]) ?>
                    <?php echo $this->renderElementErrors("distrito_cliente", $errors, array("class"=>"errors")); ?>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <label for="domicilio_cliente">Domicilio <em>*</em></label>
                    <input class="form-control input-text required-entry<?php if ( $this->hasError("domicilio_cliente", $errors)): ?> errors<?php endif ?>" type="text" id="domicilio_cliente" name="domicilio_cliente" value="<?php echo $values["domicilio_cliente"] ?>" />
                    <?php echo $this->renderElementErrors("domicilio_cliente", $errors, array("class"=>"errors")); ?>
                </div>                
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-3">
                    <label for="dni_cliente">DNI/C.E:</label> 
                    <div class="block-field">
                        <input class="form-control input-text" id="dni_cliente" type="text" name="dni_cliente" value="<?php echo $values["dni_cliente"] ?>" />
                    </div>                    
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3">
                    <label for="telefono_cliente">Teléfono <em>*</em></label>
                    <input class="form-control input-text required-entry<?php if ($this->hasError("telefono_cliente", $errors)): ?> errors<?php endif ?>" type="text" id="telefono_cliente" name="telefono_cliente" value="<?php echo $values["telefono_cliente"] ?>" />
                    <?php echo $this->renderElementErrors("telefono_cliente", $errors, array("class"=>"errors")); ?>                 
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                    <label for="email_cliente">Email <em>*</em></label> 
                    <div class="block-field">
                        <input class="form-control input-text required-entry<?php if ($this->hasError("email_cliente", $errors)): ?> errors<?php endif ?>" type="text" id="email_cliente" name="email_cliente" value="<?php echo $values["email_cliente"] ?>" />
                        <?php echo $this->renderElementErrors("email_cliente", $errors, array("class"=>"errors")); ?>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <label for="padremadre_cliente">Padre o madre (En caso de menor de edad):</label> 
                    <div class="block-field">
                        <input class="form-control input-text" id="padremadre_cliente" type="text" name="padremadre_cliente" value="<?php echo $values["padremadre_cliente"] ?>" />
                    </div>
                </div>
            </div>
        </div> 
    </fieldset>

    <fieldset>
        <header class="titulo_section_libroreclamos">
            <h2>2. Identificación del Bien Contratado (Marca Uno) *</h2>
        </header>
        <div>
            <div class="row">
                <div class="form-group col-xs-4 col-sm-3 col-md-2">
                    <input class="validate-one-required-by-name" type="radio" id="producto" name="tiposervicio" value="producto" <?php echo $values["tiposervicio"]=="producto"?"checked='checked'":"" ?> />
                    <label for="producto">Producto</label>
                </div>
                <div class="form-group col-xs-4 col-sm-3 col-md-2">
                    <input class="validate-one-required-by-name" type="radio" id="servicio" name="tiposervicio" value="servicio" <?php echo $values["tiposervicio"]=="servicio"?"checked='checked'":"" ?> />
                    <label for="servicio">Servicio</label>
                </div>
                <?php echo $this->renderElementErrors("tiposervicio", $errors, array("class"=>"errors")); ?>
            </div>
            
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="descripcion_tiposervicio">Descripcion:</label>
                    <textarea class="form-control input-text" id="descripcion_tiposervicio" name="descripcion_tiposervicio" rows="6"><?php echo $values["descripcion_tiposervicio"] ?></textarea>
                </div>
            </div>                        
        </div> 
    </fieldset>

    <fieldset>
        <header class="titulo_section_libroreclamos">
            <h2>3. Detalle de Reclamación *</h2>
        </header>
        <div>
            <div class="row">
                <div class="form-group col-xs-4 col-sm-3 col-md-2">
                    <input class="validate-one-required-by-name" id="reclamo" <?php echo $values["tipo_reclamo"]=="reclamo"?"checked='checked'":"" ?> type="radio" name="tipo_reclamo" value="reclamo" />
                    <label for="reclamo">Reclamo</label>              
                </div>
                <div class="form-group col-xs-4 col-sm-3 col-md-2">
                    <input class="validate-one-required-by-name" id="queja" <?php echo $values["tipo_reclamo"]=="queja"?"checked='checked'":"" ?>  type="radio" name="tipo_reclamo" value="queja" />
                    <label for="queja">Queja</label>               
                </div>
                <?php echo $this->renderElementErrors("tipo_reclamo", $errors, array("class"=>"errors")); ?>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="descripcion_reclamo">Detalle:</label> 
                    <textarea class="form-control input-text" id="descripcion_reclamo" name="descripcion_reclamo" rows="6"><?php echo $values["descripcion_reclamo"] ?></textarea>
                </div>
            </div>                        
        </div> 
    </fieldset>

    <fieldset>
        <header class="titulo_section_libroreclamos">
            <h2>4. Acciones Adoptadas por El Proveedor</h2>
        </header>
        <div class="row">                        
            <div class="form-group col-md-12">
                <label for="acciones_proveedor">Detalle:</label>
                <textarea class="form-control input-text" id="acciones_proveedor" name="acciones_proveedor" rows="6"><?php echo $values["acciones_proveedor"] ?></textarea>
            </div>                        
        </div> 
    </fieldset>

    <fieldset>
        <div class="buttons-set right">
            <button type="submit" class="button"><span>Enviar</span></button>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    var libroreclamaciones = new VarienForm('libroreclamaciones', true);
    var _select;
    jQuery(document).ready(function () {
        jQuery('#departamento_cliente').change(function () {
            _select = jQuery(this);
            if (_select.val() != "") {
                _distritos();
            }
        })
        jQuery('#departamento_cliente').trigger('change');
    })
    function _distritos(){

       jQuery.ajax({
            type: 'POST',
            url: '<?php echo Mage::getUrl('provincedropdown/ajax/distritos')?>',
            data:   "departamento="+_select.val(),
            beforeSend: function () {
                jQuery('#distrito_cliente').attr('disabled','disabled');
            },
            success: function(response){
                if (response) {
                    jQuery('#distrito_cliente').removeAttr('disabled');
                    jQuery('#distrito_cliente option')
                        .filter(function() {
                            return this.value || jQuery.trim(this.value).length > 0;
                        })
                       .remove();
                    jQuery.each(response, function (i, text) {
                        var div_data = "<option value='" + i + "'>" + text + "</option>";
                        jQuery(div_data).appendTo('#distrito_cliente');
                    });
                }

            }
        });  return false;

        }
</script>