<?php $store = Mage::app()->getStore() ?>
<?php $address = Mage::getStoreConfig('general/store_information/address') ?>

<?php echo $this->getChildHtml('global_messages') ?>
<section class="libroreclamaciones container-fluid">
    <div class="page-title">
        <h1><?=$this->__("Libro de Reclamaciones")?></h1>
    </div>
    <div class="note">
        <p class="note-text">Conforme a lo establecido en el código de la Protección y Defensa del consumidor este establecimiento cuenta con un Libro de Reclamaciones a tu disposición. <strong>Registra la queja o reclamo aquí.</strong></p>
    </div>
    
    <div class="libroreclamaciones-content">
        <div class="fecha">
            <p><i class="fa fa-calendar-o"></i><?php echo date('d / m / Y') ?></p>
        </div>
        <div class="razonsocial-libroreclamaciones">
            <p>
                <span><?php echo $store->getFrontendName() ?> TIENDAS S.R.L.</span><br />
                <span><?php echo nl2br($address) ?></span>
            </p>
        </div>           
        <?php echo $this->getChildHtml("libroreclamaciones.form"); ?>

        <div class="libroreclamaciones-terminos text-justify">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('libro-reclamaciones')->toHtml() ?>
        </div>
    </div>
</section>
