<!--@subject Invitation from  {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email"}
@-->

{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="600" style="width: 100%">
    <!-- [ middle starts here] -->
    <tr>
        <td align="center" valign="top">
            <table cellspacing="0" cellpadding="0" border="0" width="600" style="width: 100%;">
                <tr>
                    <td valign="top">
                        <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; line-height: 20px;font-family: Arial, sans-serif;">
                            Please accept this invitation to join {{var store.getFrontendName()}}
                        </p>
                        <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5;font-family: Arial, sans-serif; line-height: 20px;">

                            {{if message}}
                            <strong style="font-family: Arial, sans-serif;">Message:</strong> {{var message}} <br /><br />
                            {{/if}}

                            <strong style="font-family: Arial, sans-serif;">Link:</strong> <a href="{{var url}}">{{var url}}</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}
