.form-mercadopago{
  padding-left: 0 !important;
}

#mp-box-form{
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#mercadopago-form-general{
  float: left;
  width: 100%;
}

.mp-box-inputs{
  margin: 5px 0;
}
.mp-box-inputs:before,
.mp-box-inputs:after{
  content: '';
  display: table;
}
.mp-box-inputs:after{
  clear: both;
}
.mp-box-inputs .mp-box-inputs {
  padding: 0 5px;
  margin: 0;
}
.mp-box-inputs.mp-doc {
  width: auto;
}

.mp-col-10{
  float: left;
  width: 10%;
}

.mp-col-20{
  float: left;
  width: 20%;
}

.mp-col-25{
  float: left;
  width: 25%;
}

.mp-col-30{
  float: left;
  width: 30%;
}

.mp-col-35{
  float: left;
  width: 35%;
}

.mp-col-45{
  float: left;
  width: 45%;
}

.mp-col-50{
  float: left;
  width: 50%;
}

.mp-col-55{
  float: left;
  width: 55%;
}

.mp-col-65{
  float: left;
  width: 65%;
}

.mp-col-75{
  float: left;
  width: 75%;
}

.mp-col-100{
  margin-bottom: 8px;
}
.row-medium {
  margin-left: -5px;
  margin-right: -5px;
}
.row-medium > div {
  padding-right: 5px;
  padding-left: 5px;
}

.mp-line{
  width: auto;
}

.mp-box-inputs label{
  margin: 0 0 5px 0;
}

.mp-box-inputs input, .mp-box-inputs select{
  width: 100%;
  background-color: #fff;
  border: 1px solid #cecece;
  margin-top: 0;
  max-width: unset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.mp-box-inputs input:focus, .mp-box-inputs select:focus{
  border: 1px solid #999;
  outline: 0;
}

.mp-box-inputs input.mp-error-input, .mp-box-inputs select.mp-error-input{
  border: 1px solid #fc0e31;
}

#mp-box-loading{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: -10px 0px;
}

#mp-separete-date{
  vertical-align: middle;
  line-height: 65px;
  text-align: center;
  height: 48px;
  font-size: 24px;
  font-weight: 100;
}

#mercadopago-utilities{
  display: none;
  border: 1px solid #ff9b05;
  background-color: #ffeacb;
  padding: 10px;
}

#mercadopago-utilities .flag-on{
  color: #fc0e31;
}

#applyCouponTicket{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

#btnSubmit{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

#applyCoupon{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

#applyCoupon:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

#btnSubmit:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

#mpCouponApplyed, #mpCouponApplyedTicket{
  display: none;
  border-style: solid;
  border-width: thin;
  border-color: #009EE3;
  padding: 8px 8px 8px 8px;
}

#mercadopago-form-coupon .mp-box-message{
  margin: 5px 0 5px;
}

#form-ticket{
  width: 384px;
  margin-left: 8px;
  margin-right: 8px;
}

.form-row{
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -15px;
  margin-right: -15px;
}

[class^=form-col-]{
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.form-col-1{
  width: 8.33333333%;
}
.form-col-2{
  width: 16.66666667%;
}
.form-col-3{
  width: 25%;
}
.form-col-4{
  width: 33.33333333%;
}
.form-col-5{
  width: 41.66666667%;
}
.form-col-6{
  width: 50%;
}
.form-col-7{
  width: 58.33333333%;
}
.form-col-8{
  width: 66.66666667%;
}
.form-col-9{
  width: 75%;
}
.form-col-10{
  width: 83.33333333%;
}
.form-col-11{
  width: 91.66666667%;
}
.form-col-12{
  width: 100%;
}

.form-control-mine {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

.mensagem-febraban{
  text-transform: uppercase;
  font-size: 12px;
  display: block;
}

/*
* Error
*/
.mp-error{
  font-size: 11px;
  color: #fc0e31;
  display: none;
  clear: both;
  float: left;
}

.erro_febraban{
  text-transform: uppercase;
  font-size: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 8px;
  color: #fc0e31;
  font-weight: bold;
  display: none;
  clear: both;
}


/*
* Tax
*
*/

#mp-box-input-tax-tea{
  color: #666;
  font-weight: 300;
  font-size: 9px;
  display: none;
}

#mp-box-input-tax-cft{
  font-weight: 300;
  color: #666;
  font-size: 21px;
  display: none;
}

#mp-box-input-tax-cft #mp-tax-cft-text{
  padding-top: 20px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
}

/*
* BANNER
*
*/

.banner_checkout_mp{
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .mb-col{
    margin-bottom: 4px;
  }
}