<?php if($this->countStoreHasProduct()): ?>
<br/><a href="<?php echo $this->getUrl('storelocator',array('product_id'=>Mage::registry('current_product')->getId())) ?>" style="clear: both;float: left;"><?php echo $this->__('search store') ?></a>
<!-- prouduct_id -->
<?php endif; ?>