.giantpointsreport-content{
    margin: 10px 0;
}
.giantpointsreport-comment {
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}
.giantpoints-chart-content{
    margin: 10px;
}
.giantpointsreport-container-left{
    width: 30%;
}
.giant-report-number{
    font-size: 18px;
}
#giantpoints-rate-chart,
#giantpoints-distribution-chart{
    width: 300px;
    height: 200px;
}

#wrap-content-right {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #FFF;
}
#diagram_tab {
    margin: 0 0;
    padding: 10px 6px 0 6px;
    border: 0;
}
#diagram_tab li{
    text-align: center;
    font-size: small;
    margin: 0;
    padding: 0;
    position: relative;
    display: list-item;
}
/*TAB*/
#diagram_tab li:nth-of-type(1) {
    width: 18%;
    float: left;
}
#diagram_tab li:nth-of-type(2) {
    width: 25%;
    float: left;
}
#diagram_tab li:nth-of-type(3) {
    width: 57%;
    float: left;
}
#diagram_tab li:nth-of-type(4) {
    width: 34%;
    float: left;
    clear: left;
}
#diagram_tab li:nth-of-type(5) {
    width: 33%;
    float: left;
}
#diagram_tab li:nth-of-type(6) {
    width: 33%;
    float: left;
}
#diagram_tab li a {
    line-height: 27px;
    margin: 0;
    padding: 0;
    display: block;
}

/*----graph content----*/
#diagram_tab_content {
    width: auto;
    background-color: #FFF;
    padding: 0;
    margin: 10px 16px 16px 16px;
    position: relative;
}
.tab-graph-content {
    width: auto;
}