html{
  height: 100%;
}
body{
  background-color: #333333;
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  color: #f92525;
  font-size: 60px;
  font-weight: 700;
  font-family: 'Open Sans';
}

h3{
  color: #888;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px;
  font-family: 'Open Sans';
}

.container{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media all and (max-width: 767px){
  h1 {
    font-size: 40px;
  }

  body {
    background-position: center 100%;
    background-size: contain;
  }
}
@media all and (max-width: 380px){
  h1 {
    font-size: 26px;
  }
  h3{
    font-size: 20px;
  }
  img{
    width: 80px;
  }
}