@media (max-width:1199px){
	#one-step-checkout-form input.radio,.address-information ul li.create_account input,
	#one-step-checkout-form input.checkbox,#one-step-checkout-form .order-review-info .onestepcheckout-newsletter input,#one-step-checkout-form .order-review-info .onestepcheckout-giftwrap input,#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input,.address-information ul li.shipping_other_address input,#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input,#one-step-checkout-form li.control input.checkbox
	{margin:-2px 4px 0 0;float:none;}
}
@media (max-width: 991px){
	.ajax-loader1, .ajax-loader2, .ajax-loader3 {
		background-size: 27px;
		right: 0;
	}	
	#password_section_id .two-fields{width:100%;margin-bottom: 10px;}

	.onestepcheckout-2columns .hidden-mobile .order-review-info h3,
	.order-review-info .popover,
	.onestepcheckout-2columns .hidden-mobile #checkout-review-load {
	    display: none;
	}
	.order-review-info .onestepcheckout-discount {
		text-align: center;
	}
	.onestepcheckout-2columns .order-information-header {
		margin-bottom: 0;
		padding: 10px 0;
		text-align: center;
	}
	.onestepcheckout-2columns .order-information-title {
		font-size: 18px;
	}

	.header-background .container .table >.header-user,
	.header-background .container .table >.header-user .dropdown {
		position: static;
	}
	.header-background .header-user .dropdown .dropdown-menu {
		left: 50%;
    	margin-left: -135px;
	}
	.header-background .header-user .dropdown .dropdown-menu::before {
		display: none;
	}

	.onestepcheckout-index-index .see-modal {
		line-height: 14px;
		font-size: 14px;
	}
	.onestepcheckout-index-index .see-modal span {
		padding-left: 10px;
	}
}
@media (max-width: 850px){
	.ajax-loader1,.ajax-loader2 ,.ajax-loader3 {
		background-size: 25px;
		right: 0;
	}
	#one-step-checkout-form label{font-size:12px;}
	#one-step-checkout-form .checkout-review-load .data-table td.qty-box .box-qty{
		width: auto;
		display: flex;
		align-items:center;
		justify-content:center;
		margin:0 auto;
		overflow: hidden;
	}
	.one-step-checkout .onestepcheckout-review-info{
		padding: 0;
		width:100%;
	}
	.one-step-checkout .left-information {
		padding: 0;
	}

    .one-step-checkout .order-review-section{float:right;margin: 0;}
	#one-step-checkout-form .checkout-review-load .data-table td.qty-box a{text-align:center;}
	.order-review-section .payment-method .onestepcheckout-payment-methods .sp-methods .form-list .v-fix{width:50%;float:left;margin-right: 0;}
	.order-review-section .payment-method .v-fix .validation-advice{width:100%;}

	.one-step-checkout .button-onestepcheckout{padding: 20px;width:100% !important;}
	.onestepcheckout-3columns .onestepcheckout-comment,
	.onestepcheckout-3columns .order-review-info .onestepcheckout-discount{
		padding: 0 20px;
	}
	.onestepcheckout-3columns .order-review-info .onestepcheckout-terms-conditions{padding-left: 20px;padding-right: 20px;}
	.one-step-checkout #onestepcheckout-place-order-loading{width:100% !important;}
	#one-step-checkout-form input.radio,.address-information ul li.create_account input,
	#one-step-checkout-form input.checkbox,#one-step-checkout-form .order-review-info .onestepcheckout-newsletter input,#one-step-checkout-form .order-review-info .onestepcheckout-giftwrap input,#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input,.address-information ul li.shipping_other_address input,#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input,#one-step-checkout-form li.control input.checkbox
	{margin:0px  4px 0 0;float:none;}
	
}
@media (max-width: 719px){
    .ajaxcart-loading {
		top: 5px !important;
		left: 5% !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
	.ajax-loader1,.ajax-loader2 ,.ajax-loader3 {
		background-size: 20px;
		right: -10px;
	}
	#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper2{width:100% !important;}
	#onestepcheckout-toc-popup h1 {
		font-size: 12px;
	}
}
@media (max-width: 718px) and (min-width:640px){
    .ajaxcart-loading {
		top: 5px !important;
		left: 5% !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
	.two-fields{width:100%;}
	.onestepcheckout-2columns #checkout-review-table-wrapper {
		max-height: 174px;
	}
}
@media (max-width: 767px){
    .ajaxcart-loading {
		top: 5px !important;
		left: 2px !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
    /*2014.18.11 fix responsive 2 column*/
	/*.one-step-checkout .address-info-3-columns{width:100%;margin:0;}*/
	.one-step-checkout .onestepcheckout-shipping-payment-review{width:100%;}
    .one-step-checkout .address-information{width:100%;margin:0;}
    .one-step-checkout .order-information{padding: 0;width:100%;}
    .one-step-checkout .order-review-section{width:100%;}
	.one-step-checkout #onestepcheckout-place-order-loading{width:100% !important;}
    /*2014.18.11 fix responsive 2 column*/
    .onestepcheckout-2columns .left-information{padding: 0 20px;width: 100%;margin-bottom: 20px;}
	.order-review-section{width:100%;}
	.onestepcheckout-survey-freetext{width:92%;box-sizing:content-box;}
	button#add_coupon_code_button{margin-bottom:0px;}
	.ajax-loader1,.ajax-loader2 ,.ajax-loader3 {
		background-size: 35px;
		right: 10px;
	}
	#one-step-checkout-form .checkout-review-load .data-table tbody th{font-weight:bold;}
	#one-step-checkout-form label,#one-step-checkout-form .address-information ul li.create_account labe{font-size:13px;}	

	#one-step-checkout-form .checkout-review-load .data-table tfoot td, #one-step-checkout-form .checkout-review-load .data-table tfoot th{
		border-right: none !important;
	}
	.one-step-checkout .section-title{
		padding: 0 0 10px;
    	margin-bottom: 0;
		text-align: center;
	}
}
@media only screen and (max-width: 639px) and (orientation : landscape){
    .ajaxcart-loading {
		top: 5px !important;
		left: 0px !important;
		width: 100%!important;
		margin-left: 2px !important;
	}
	.address-information ul li.create_account input,#one-step-checkout-form .order-review-info .onestepcheckout-newsletter input{margin-top:1px;}
}
@media (max-width:560px){
	.onestepcheckout-2columns .allow h3,
	.onestepcheckout-2columns .active h3 {
		font-size: 13px;
	}
    .ajaxcart-loading {
		top: 5px !important;
		left: 0 !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
	#onestepcheckout-login-popup{
		min-width:320px;
		margin:0 0 0 -45% !important;
		width:90%;
		left:50% !important;
	}
}
@media (max-width:480px){
    .ajaxcart-loading {
		top: 5px !important;
		left: 0px !important;
		width: 95%!important;
		margin-left: 2px !important;
	}
	.onestepcheckout-popup-wrapper #onestepcheckout-login-popup-contents-forgot h1{
		font-size: 12px;
		text-indent: 75px;
	}
	#onestepcheckout-forgot-table li.last p {
		float: left;
		margin-top: 15px;
		margin-bottom: 10px;
		width: 100%;
	}
	#onestepcheckout-login-popup #onestepcheckout-forgot-button {
		float: left;
	}
	.onestepcheckout-popup-wrapper{width: 90%;}
}
@media (max-width:380px){
    	.ajaxcart-loading {
		top: 5px !important;
		left: 0px !important;
		width: 93%!important;
		margin-left: 2px !important;
	}
	#onestepcheckout-login-popup{
		min-width:320px;
		margin:0 0 0 -160px !important;
		width:320px;
		left:50% !important;
	}
}
@media (min-width:1200px){
	.onestepcheckout-2columns .section-body{
		padding: 20px 30px;
	}
	.order-review-info .popover {
		margin: 0 0 0 10px;
		top: 4px;
	    left: 100%;
	    right: auto;
	}
	.order-review-info .popover>.arrow {
	    top: 50%;
	    left: -11px;
	    margin-top: -11px;
	    border-right-color: #999;
	    border-right-color: rgba(0,0,0,.25);
	    border-bottom-color: transparent;
	    border-left-width: 0;
	    margin-left: 0;
	    border-top-width: 10px;
	}
	.order-review-info .popover>.arrow:after {
	    bottom: -10px;
	    left: 1px;
	    content: " ";
	    border-bottom-color: transparent;
	    border-right-color: #fff;
	    border-left-width: 0;
	    top: auto;
	    margin-left: auto;
	    border-top-width: 10px;
	}
}

@media (min-width: 992px) {
	.one-step-checkout .left-information {
		width:33.333%;
	}
	
	.onestepcheckout-2columns .left-information {
	    width:50%;
	}
	.onestepcheckout-2columns #checkout-review-load {
		display: block;
	}
	.onestepcheckout-3columns .sm_group,
	.onestepcheckout-3columns .payment-method-item {
		width: 50%;
	}
	.onestepcheckout-2columns #table-hours td{
		width: 50% !important;
	}
}
@media (min-width:420px) {
	.onestepcheckout-2columns .address-information .one-field,
	.onestepcheckout-2columns .address-information .two-fields {
		display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -ms-flex-align: center!important;
	    align-items: center!important;
	}
	.onestepcheckout-2columns .address-information .one-field label{
	    float: left;
	    width: 40%;
	}
	.onestepcheckout-2columns .address-information .one-field input,
	.onestepcheckout-2columns .address-information .one-field select{
	    float: left;
	    width: 60%;
	}
	.onestepcheckout-2columns .address-information .blistfield-street input,
	.onestepcheckout-2columns .address-information .blistfield-company input,
	.onestepcheckout-2columns .address-information .slistfield-street input,
	.onestepcheckout-2columns .address-information .slistfield-company input {
	    width: 100%;
	}
	.onestepcheckout-2columns .address-information .two-fields label{
	    float: left;
	    width: 40%;
	}
	.onestepcheckout-2columns .address-information .two-fields input,
	.onestepcheckout-2columns .address-information .two-fields select{
	    float: left;
	    width: 60%;
	}
	.onestepcheckout-2columns .blistfield-doctype .two-fields.last label,
	.onestepcheckout-2columns .slistfield-doctype .two-fields.last label {
	    display: none;
	}
	.onestepcheckout-2columns .blistfield-doctype .two-fields.last input,
	.onestepcheckout-2columns .slistfield-doctype .two-fields.last input {
	    width: 100%;
	}
}
@media screen and (max-width: 480px) { /* mobile rwd */
	body.onestepcheckout-index-index .modal.sagepaymodal {
	margin-left: -179px !important;
	margin-top: -235px !important;
	max-height: 470px !important; }
	body.onestepcheckout-index-index .modal.sagepaymodal #sage-pay-direct-ddada {
	max-width: 320px; }
	body.onestepcheckout-index-index .modal.sagepaymodal #sage-pay-direct-ddada > h5 {
	font-size: 10px; }

	.onestepcheckout-2columns button.onestepcheckout-place{width: 100%;}
	.one-step-checkout h3{padding: 10px 10px 10px 20px;}
	.onestepcheckout-2columns .left-information{padding: 0 10px;}
	.onestepcheckout-2columns .section-body{padding: 10px;}
	.onestepcheckout-2columns .order-review-info .onestepcheckout-discount,
	.onestepcheckout-2columns .onestepcheckout-comment,
	.onestepcheckout-2columns .checkout-totals,
	.onestepcheckout-2columns .button-onestepcheckout,
	.onestepcheckout-2columns .order-review-info .onestepcheckout-terms-conditions{
		padding: 20px;
	}
	.onestepcheckout-index-index .see-modal{font-size: 12px;}
}