.section-body, .buttons-validate {
    position: relative;
}
/* Clear */
.clear{
    width:100%;
    height:0px;
    clear:both;
    font-size:0px;
    line-height:0px;
}
.onestepcheckout-index-index select{
    height: 30px;
    line-height:20px;
    padding: 5px 20px 5px 10px;
    width: 100%;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */
.onestepcheckout-index-index .main {
    padding-bottom: 0;
}
.onestepcheckout-index-index em {
    font-style: normal;
}
.one-step-checkout .section-title{
  font-size: 14px;
  line-height: normal;
  margin-bottom: 15px;
}
.onestepcheckout-review-info{
    float:left;
    width:100%;
    margin: 0;
    background: #FFF;
}
.onestepcheckout-review-info > ol {
    border: 1px solid #EBEBEB;
}

.onestepcheckout-3columns .onestepcheckout-review-info{
    padding-left: 5px;
    width: 50%;
}

.onestepcheckout-3columns .order-review-section {
    width: 100%;
}
.one-step-checkout .page-title {
    border: 0;
}
.one-step-checkout h1.checkout_header{
    text-transform:uppercase;
}
.one-step-checkout p.subtitle{
    font-size:14px;
    font-weight:normal;
    color:#3d3d3d;
    padding: 0;
}
/* Style Onestepcheckout Form Popup */
.onestepcheckout-formpopup .page-title{text-align:left;}
.onestepcheckout-formpopup .page-title h1{color:#F18200;font-size:16px;font-weight:bold;}
.onestepcheckout-formpopup .login-fields{}
.onestepcheckout-formpopup .login-fields ul li{margin-bottom:3px;float:left;width:100%;text-align:left;}
.onestepcheckout-formpopup .login-fields span.require{color:#EB340A;float:right;}
.onestepcheckout-formpopup .login-fields .input-field input.input-text{width:200px;}
.onestepcheckout-formpopup .login-button{float:left;width:100%;}
/************************/
.one-step-checkout li.section { position:relative; }
.one-step-checkout .box { border:1px solid #bbb6a5; border-top:0; padding:15px 20px; background:#faf7ee; }
.one-step-checkout .head { margin-bottom:0; padding:4px 8px 4px 8px; background:#F9F3E3; border-width:0 1px 0 1px; border-color:#D9DDE3; border-style:solid; border-top:1px solid #fff; }
.one-step-checkout .tool-tip { right:8px;position: absolute; }
.one-step-checkout .head a { display:none; }  /* Hide Edit button in step header */
.one-step-checkout h4 { padding-bottom:2px; }
.one-step-checkout h4.title { border-bottom:0; text-transform:none; }
.one-step-checkout .step-count { background:#fff; font-size:.9em; padding:0 4px; line-height:1em; }
.one-step-checkout .content { padding:10px 20px; }
.one-step-checkout label.label { font-size:1.05em; color:#2f2f2f; }
.one-step-checkout .allow .head { background:#d0dce1; border-color:#a3aeb3; border-width:1px 1px 0 1px; cursor:pointer; }
.one-step-checkout .head { margin-bottom:0; border:1px solid #BBAFA0; background:#F9F3E3; cursor:default; }
.one-step-checkout .alloq .head a { display:block; } /* Display Edit button in active selection */
.one-step-checkout .group-select { margin-top:0; border:0; background:none; padding:0;float:left;width:100%; }
.one-step-checkout .allow h3 { color:#fff; }
.one-step-checkout .allow .step-count { background:#dbe6eb; }
.one-step-checkout .step-count { color:#fff; border:1px solid #f19900; background:#F18200; }
.one-step-checkout .box { display:block; border-color:#BBAFA0; background:#FBFAF6 url(../images/onestepcheckout/multi_address_box_bg.gif) 0 0 repeat-x;min-height:40px;height:auto !important;height:40px;}
.one-step-checkout dd .form-list ul { margin:5px 17px 15px 17px; }
.one-step-checkout .checkmo-mailing-address { padding-left:20px; }
.one-step-checkout-progress .page-head { margin-bottom:1em; }
.one-step-checkout-progress li { border:1px solid #A3AEB3; background:#eee; margin-bottom:6px; }
.one-step-checkout-progress h4 { margin:0; color:#999; padding:2px 8px; background:#eee; text-transform:none;  }
.one-step-checkout-progress h4.complete { border-bottom:1px solid #A3AEB3; background:#D0DCE1; color:#5e8ab4; }
.one-step-checkout-progress h4 a { text-transform:none; }
.one-step-checkout-progress .content { padding:8px 13px; }
#opc-login .button-set { border-top:0; }
#opc-review .box { border:0; padding:0; }
#opc-review .content { border:1px solid #d9dde3; border-top:0; }
#opc-review .data-table { border-top:0; }
.opc-please-wait { padding-right:7px; }
.one-step-checkout a.back { background:url(../images/onestepcheckout/icon_opc_back.gif) no-repeat; padding-left:16px; line-height:13px; }
.one-step-checkout .payment-methods dd { padding:0; }
.one-step-checkout .button-set { margin-top:0; text-align:left; }
.onestepcheckout-2columns .button-onestepcheckout{
    background: #fafafa;
    float: left;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
}
.onestepcheckout-3columns .button-onestepcheckout{
    float: right;
    width: 48%;
}

.one-step-checkout .checkout-agreements { border:1px solid #d9dde3; border-width:0 1px; padding:5px 20px; }
.one-step-checkout .checkout-agreements li { margin:20px 0 0; }
.one-step-checkout .checkout-agreements .agreement-content { background-color:#fff; border-color:#e4e4e4; padding:5px; }
.one-step-checkout .checkout-agreements .agree { padding-left:6px; }

.one-step-checkout .box-no-padding {
    border:1px solid #bbb6a5;
    border-top:0;
    padding:15px 0px;
    background:#faf7ee;
}

.one-step-checkout .box-no-padding .inner-box {
    padding:0px 20px;
}
.one-step-checkout .left-information {
    width:100%;
    float:left;
    padding: 0 10px;
}
.one-step-checkout .address-information {
    width:100%;
    float:left;
}

.onestepcheckout-2columns #one-step-checkout-form .blistfield-company label,
.onestepcheckout-2columns #one-step-checkout-form .slistfield-company label{
    width: 100%;
}
.one-step-checkout .address-information .billing_address{
    background:#FFF;
    float:left;
    width:100%;
}
.one-step-checkout .address-information .shipping_address{
    float:left;
    width:100%;
    margin-bottom:15px;
    background:#FFF;
    border:1px solid #ebebeb;
}
.onestepcheckout-2columns .address-information .shipping_address{
    border: 0;
    margin: 0;
}
.one-step-checkout .buttons-set .button > span{
    border-radius: 5px;
    padding: 8px 20px;
}
.one-step-checkout .buttons-set .button i {
    font-size: 23px;
    line-height: 17px;
    margin-left: 5px;
    vertical-align: text-top;
}
.one-step-checkout .buttons-validate .button > span > span {
    display: inline-block;
    vertical-align: middle;
}
.address-information ul li{width:100%;padding:10px 0 0;float:left;}
.address-information ul li.control{margin: 0;}
#one-step-checkout-form li.control input.checkbox{float:left;margin:4px;}
#one-step-checkout-form li.control label{float:none;font-weight:normal;margin-bottom: 0;}
.address-information ul li .input-text,.address-information ul li .select{
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}
.address-information ul li.create_account{
    margin: 13px 0 0;
    width: 100%;
}
.address-information ul li#password_section_id{margin:15px 4% ;padding:0 0 6px ;}
.address-information ul li.create_account input{margin:4px;float:left;}
#one-step-checkout-form .address-information ul li.create_account label,
#one-step-checkout-form .address-information ul li.shipping_other_address label{
    font-size:13px;
    font-weight:normal;
    margin:0;
    line-height: 14px;
}
#one-step-checkout-form .address-information ul li.shipping_other_address label{width: calc(100% - 18px;)}
.address-information ul li.shipping_other_address{
    padding-top: 0;
    margin:0px;
}
.address-information ul li.shipping_other_address .input-box{float:left;width:100%;}
.address-information ul li.shipping_other_address input{margin:4px;float:left;}
.address-information ul li .input-box
{
    width:49%;
    float:left;
}
#shipping-address-select, #billing-address-select{
    height:32px;
    font-size:14px;
    width:100% !important;
}
.address-information ul li .input-box .error-message p {
    color:red;
}

.address-information ul li.wide input{width:78%; clear:both; margin-bottom:3px;}

.one-step-checkout .order-information {
    width:50%;
    float:right;
    margin-bottom:15px;
}
.onestepcheckout-2columns .order-information {
    padding: 0 10px;
    margin: 0;
}

.order-information ol li.shipping-method{
    float:left;
    width:100%;
    background: #FFF;
    border: 1px solid #EBEBEB;
    margin:0 0 15px;
    position:relative;
}
.order-information ol li.delivery{
    float:left;
    width:100%;
    background: #FFF;
    border: 1px solid #EBEBEB;
    margin:0 0 25px;
}
.order-information ol li.delivery .delivery_time_date{
    float:left;
    width:100%;
    padding:15px;
}
#one-step-checkout-form .order-information ol li.delivery .delivery_time_date label{
    font-size:14px;
    font-weight:normal;
    margin:0 5px 0 0;
    float:left;
}
#one-step-checkout-form .order-information ol li.delivery .delivery_time_date input{
    font-size:12px;
    width:65px;
	width:80px\9;
    padding: 0;
    height: auto;
}
#one-step-checkout-form .order-information ol li.delivery .delivery_time_date img{display: inline;}
#one-step-checkout-form .order-information ol li.delivery .delivery_time_date select{margin-left:4px !important;float:left;height: 23px;padding: 1px;}
.one-step-checkout .onestepcheckout-shipping-method-section{
    float:left;
    width:100%;
    padding:15px;
    margin:0;
}
.one-step-checkout ol li .onestepcheckout-shipping-method-section .sp-methods{margin-bottom: 0;}
#one-step-checkout-form .order-information ol li .onestepcheckout-shipping-method-section ul li{float:left;width:100%;margin:5px 0;font-size:14px;}
#one-step-checkout-form input.radio{margin:4px 4px 4px 0;}
#one-step-checkout-form .order-information ol li .onestepcheckout-shipping-method-section ul li .price{font-weight:bold;font-size:14px;}
#one-step-checkout-form .order-information ol li .onestepcheckout-shipping-method-section  .sp-methods dt{
    font-size:13px;
    margin:  0;
}
.one-step-checkout .login{padding-bottom: 20px;}
.one-step-checkout .address-order{
    width:100%; 
    border:none;
}
#loading-mask-onestepcheckout {
    position:absolute;
    color:#d85909;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    opacity:0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
    z-index:500;    
}	

#loading-mask-onestepcheckout .loader-onestepcheckout {
    position:fixed;
    top:45%;
    left:50%;
    width:120px;
    margin-left:-60px;
    padding:15px 60px;
    background:#fff4e9;
    border:2px solid #f1af73;
    color:#d85909;
    font-weight:bold;
    text-align:center;
    z-index:1000;
}

.shipping-method, .payment-method, .order-review-info{
    position:relative;
}

.ajax-loader1{
    width:32px;
    height:12px;
    background:url(../../images/onestepcheckout/loading.gif) top left no-repeat;
    z-index:99;
    clear:both;
    margin:13px 0 0 16px !important;
    position:absolute;
    top:0;
    right:10px;
}

.ajax-loader2{
    width:32px;
    height:12px;
    background:url(../../images/onestepcheckout/loading.gif) top left no-repeat;
    z-index:99;
    clear:both;
    margin:0 !important;
    position:absolute;
    top:14px;
    right:10px;
}

.ajax-loader3{
    width:32px;
    height:12px;
    background:url(../../images/onestepcheckout/loading.gif) top left no-repeat;
    z-index:99;
    clear:both;
    margin:-6px 0 0 !important;
    position:absolute;
    top:50%;
    right:10px;
}
.onestepcheckout-index-success .main{padding:0 10px; width:auto;}
.checkout-success .page-title h1{color:#6E6E70;}

#checkout-step-login .form-list li input{float:left; margin:2px 5px 0px 0px}
#checkout-step-login .ul { list-style:disc outside; padding-left:18px; }
.disc li{
    list-style:disc;
}

.one-step-checkout li label{font-weight:bold;}
label span.required{color:#F00;}
.one-step-checkout .login{width:49%;}
.one-step-checkout h3{
    background: #ebebeb;
    cursor: default;
    padding:10px 20px 10px 30px;	
    float:none;
    width:100%;
    font-weight:normal;
    font-size:13px;
    color:#fff;
    position: relative;
    text-transform: uppercase;
    margin: 0;
}
.onestepcheckout-2columns h3 {
    border-bottom: 1px solid #dadada;
    color:#686868;
}

#onestepcheckout-login-loading {
    background: url(../../images/onestepcheckout/preload.gif) center center no-repeat;
    height:70px;
    float:left;
    width:100%;
    padding: 10px 0;
}

#onestepcheckout-login-error-message {
    float:left;
    padding-bottom:10px;
    color:red;
}

#onestepcheckout-password-loading {
    background: url(../../images/onestepcheckout/preload.gif) center center no-repeat;
    height:35px;
}

.order-review-info .popover {
    display: block;
    width: 115px;
    z-index: 99;
    right: 0;
    top: 99%;
    margin: 0;
    left: auto;
}

.order-review-info .onestepcheckout-newsletter {
    float: left;
    width: 92%;
    padding: 5px 2%;
    margin: 15px 2% 0;
    background: #F4F4F4;
    box-sizing: content-box;
}
#one-step-checkout-form .order-review-info .onestepcheckout-newsletter  input{float:left;margin:4px 6px 4px 0px;}
#one-step-checkout-form .order-review-info .onestepcheckout-newsletter  label{
    font-weight:normal;
    font-size:14px;
}

.order-review-info .onestepcheckout-giftwrap {
    margin: 15px 2% 0;
    float: left;
    width: 92%;
    padding: 6px 2%;
    background: #F4F4F4;
    box-sizing: content-box;
}
#one-step-checkout-form .order-review-info .onestepcheckout-giftwrap label{
    font-weight: normal;
    font-size: 14px;
}
#one-step-checkout-form .order-review-info .onestepcheckout-giftwrap input{float:left;margin:4px 6px 4px 0px;}
.order-review-info .onestepcheckout-giftwrap  label{
    font-weight:normal;
}

.onestepcheckout-comment{
    margin-top: 15px;
    float:left;
    width:100%;
    padding:0;
}

.onestepcheckout-comment textarea {
    width: 100%;	
}	

.order-review-info .onestepcheckout-terms-conditions {
    float: left;
    width: 100%;
    padding: 15px 0 0;
}
.order-review-info .onestepcheckout-terms-conditions a{text-decoration: underline;}
#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions label{
    font-size:12px;font-weight:normal;margin: 0;line-height: 15px;width: calc(100% - 18px);
}
#one-step-checkout-form .order-review-info .onestepcheckout-terms-conditions input{float:left;margin:4px 4px 4px 0;}
.order-review-info .onestepcheckout-terms-conditions label{
    font-weight:normal;
}

.order-review-info .onestepcheckout-discount {
    margin-top: 15px;
    float:left;
    width:100%;
    padding:0;
}

.order-review-info .onestepcheckout-discount label{
    font-weight:normal;
}

.order-review-info .onestepcheckout-giftmessage {
    margin: 15px 2% 0;
    float:left;
    width:92%;
    padding:6px 2%;
    background:#f4f4f4;
    box-sizing: content-box;
}
.order-review-info .onestepcheckout-giftmessage .gift-messages{margin:0;}
.order-review-info .onestepcheckout-giftmessage .gift-messages input{
    float:left;
    margin:4px 6px 4px 0px;
}
.order-review-info .onestepcheckout-giftmessage .field{float:left;width:49%;}
.order-review-info .onestepcheckout-giftmessage .field.f-right{float:right;}
.order-review-info .onestepcheckout-giftmessage .gift-messages-form{float:left;width:100%;padding:0;border:none;}

#one-step-checkout-form .order-review-info .onestepcheckout-giftmessage .gift-messages label {
    font-weight:normal;
    font-size:14px;
}

.onestepcheckout-form-list .field {
    float:left;
    width: 45%;
}

.onestepcheckout-form-list .field .input-box{
    width:100%;
}

.onestepcheckout-form-list .field .input-box .input-text{
    width:100%;
}

#gift-message-whole-message {
    width: 98%;
}

/* for 3 columns layout*/
.order-review-section { 
    float:right; 
    width:48%;
    margin:0;
    background: #FFF;
}
.onestepcheckout-2columns .order-review-section {
    width: 100%;
}
.payment-method .onestepcheckout-payment-methods{
    border: 1px solid #EBEBEB;
    padding:15px;
    margin:0;
}
.onestepcheckout-2columns .payment-method .onestepcheckout-payment-methods{
    border: 0;
}
#one-step-checkout-form ol li .onestepcheckout-shipping-method-section .sp-methods .payment-method-item,
.onestepcheckout-2columns #one-step-checkout-form .sp-methods .payment-method{
  padding: 0 15px;
}
.payment-method .onestepcheckout-payment-methods .sp-methods{
    margin:0;
    padding:0;
}
.payment-method .onestepcheckout-payment-methods .sp-methods .form-list{
    float:left;
    width:100%;
    margin:0;
    padding:0;
}
.payment-method .onestepcheckout-payment-methods .sp-methods .form-list .input-box{float:left;width:100%;}
.payment-method .onestepcheckout-payment-methods .sp-methods .payment-method-item{margin:5px 0;}
.onestepcheckout-2columns .sp-methods .form-list li{margin-bottom: 0;}

.onestepcheckout-3columns .order-information {
    float:left;
    padding-right: 5px;
}

.one-step-checkout .onestepcheckout-shipping-payment-review{
    float:right;
    width:66.666%;
}
/**
* FORM LOGIN POPUP
**/
div.loading-ajax, div.loading-ajax-login {
    height: 50px;
    text-align: center;
    background:url(../../images/onestepcheckout/ajax-loader.gif) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    float:left;
    width:100%;
}

#onestepcheckout-login-popup,#onestepcheckout-toc-popup {
    text-align: center !important;
    position:relative;
}
#onestepcheckout-forgot-success{float:left;width:90%;padding:10px 5%;box-sizing: content-box;}
#onestepcheckout-login-popup {
    background:#fff;
    width: 500px;
    position:absolute!important;
    top:200px!important;
    z-index:999999!important;
}

#onestepcheckout-login-popup table {
    width: 99%;
}

#onestepcheckout-login-popup table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#onestepcheckout-login-popup button.button {
    padding: 0 86px;
    margin:0;
    float:right;
    width:auto;
    height:48px;
    font-size:20px;
    line-height:48px;
    text-align:center;
    font-weight:bold;
    color:#fff;
	text-transform:none;
}
#onestepcheckout-login-popup #onestepcheckout-login-button{float:left; margin-bottom: 10px;text-transform: none;}
#onestepcheckout-login-popup #onestepcheckout-forgot-button{padding: 0 40px;}
#onestepcheckout-login-popup #onestepcheckout-register-button{padding: 0 40px;}
#onestepcheckout-login-popup-contents-login{float:left;width:100%;}

#onestepcheckout-login-error,
#onestepcheckout-register-error,
#onestepcheckout-forgot-error {
    color: red;
    margin-top: 10px;
    float:left;
    width: 90%;
    padding: 5px 5%;
    box-sizing: content-box;
}
#onestepcheckout-login-table,#onestepcheckout-forgot-table,#onestepcheckout-register-table{float:left;width:90%;padding:15px 5%;box-sizing: content-box;}
#onestepcheckout-login-table li{float:left;width:100%;padding:0 0 10px;}
#onestepcheckout-forgot-table li{float:left;width:100%;padding:0 0 15px;}
#onestepcheckout-login-table li.last,#onestepcheckout-forgot-table li.last{padding:0;}
#onestepcheckout-forgot-table .td-fogot {
    vertical-align: middle !important; 
}
#onestepcheckout-login-table li label,
#onestepcheckout-register-table li label,
#onestepcheckout-forgot-table label{
font-weight:bold;
 font-size:13px;
 float: left;
 margin: 0 0 5px;
}
#onestepcheckout-forgot-table li.last p,
#onestepcheckout-register-table li.last p{
	float:left;
	margin-top:15px;
}
#onestepcheckout-forgot-table li.last p a,
#onestepcheckout-register-table li.last p a{
    color: #39C;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
}
#onestepcheckout-forgot-table li.last p a span,
#onestepcheckout-register-table li.last p a span{
    background: url(../../images/onestepcheckout/arrow-r.png) no-repeat center center;
    background-color: #39C;
    width: 10px;
    height: 10px;
    margin: 4px 8px 4px 0;
    border-radius: 6px;
    float: left;
}
p.forgot-link a{
    color: #39C;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
}
p.forgot-link a span{
    background: url(../../images/onestepcheckout/arrow-r.png) no-repeat center center;
    background-color: #39C;
    width: 10px;
    height: 10px;
    margin: 4px 8px 4px 0;
    border-radius: 6px;
    float: left;
}	
#onestepcheckout-login-popup-contents-forgot{float:left;width:100%;}
#onestepcheckout-login-popup-contents-forgot p.title-forgot,p.title-register{
    font-size:14px;
    font-weight:normal;
    float:left;
    width:90%;
    margin:0 5%;
    padding:20px 0 5px;
}
.main{position:static!important;}
/* Onestepcheckout v2.0.0 */
.one-field{
    width:100%;
}
.two-fields{
    width:48%;
    float:left;
}
.one-field input{
    width:100%;
}
.two-fields input{
    width:70%;
}
.two-fields select{
    width:100%;
}

.address-info-3-columns .group-select ul li .two-fields select{
    width:100% !important;
    height:26px;
    margin:0;
    font-size:15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.one-field select{
    width:100%;
    margin:0;
}
.address-info-3-columns .group-select ul li .one-field select{
    line-height: normal;
    margin:0;
    width:100%;
}
.one-step-checkout{
    color: #1c1c1c;
    float:left;
    width:100%;
}

.onestepcheckout-giftmessage .gift-messages-form{
    margin-top: 10px;
}

.onestepcheckout-giftmessage .gift-messages-form .whole-order h4{
    color: #404040 !important;
}

.onestepcheckout-form-list .fields{
    width: 100% !important;
}

.onestepcheckout-popup-footer{
    height: 13px;
}

.onestepcheckout-popup-wrapper .input-text {
    width: 100% !important;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.onestepcheckout-popup-wrapper .modal-title {
    font-size: 14px;
    text-transform: uppercase;
}

.onestepcheckout-giftwrap label span{
    font-weight: bold;
    color:black;
}

.one-step-checkout label{
    color: #282828;
    font-weight: bold;
    font-size:13px;
    margin-bottom:3px;
    padding:0;
}

.onestepcheckout-login-link{
    padding: 15px 0;
}
.onestepcheckout-login-link a{
    color:#3399cc;
    font-size:14px;
    text-decoration:none;
    line-height:18px;
}
.onestepcheckout-login-link a:hover{text-decoration:underline;}
.onestepcheckout-login-link a span{
    background:url(../../images/onestepcheckout/arrow-r.png) no-repeat center center;
    background-color:#3399cc;
    width:10px;
    height:10px;
    margin:4px 8px 4px 0;
    border-radius:6px;
    float:left;
}

/* Review */
#one-step-checkout-form .checkout-review-load .data-table{
    border: none !important;
    border-top: 1px solid #ededed !important;
    border-bottom: 1px solid #ededed !important;
    clear:both;
}
#one-step-checkout-form .onestepcheckout-2columns .checkout-review-load .data-table {
    border-collapse: separate;
    border-radius: 0 0 20px 20px;
}
#one-step-checkout-form .checkout-review-load .data-table th, #one-step-checkout-form .checkout-review-load .data-table td{
    border-bottom: 1px solid #BEBCB7 !important;
}
#one-step-checkout-form .checkout-review-load  .data-table thead th{
    background: none !important;
    border-right: none !important;
    border-bottom: 1px solid #ededed !important;
}

#one-step-checkout-form .checkout-review-load .data-table tfoot td,#one-step-checkout-form .checkout-review-load .data-table tfoot th{
    border-bottom: none !important;
    border-right: 1px solid #ededed !important;
    font-size:14px;
    padding:3px 15px !important;
    font-weight:normal;
}
#one-step-checkout-form .checkout-review-load .data-table tfoot  td.last{border-right:0 !important;}
#one-step-checkout-form .checkout-review-load .data-table tfoot .first td{
    border:0 !important;
    padding: 0 !important;
}
#one-step-checkout-form .checkout-review-load .data-table tfoot .last td{
    border:0 !important;
    padding: 0 !important;
}
#one-step-checkout-form .checkout-review-load .data-table tfoot tr.first td{
    background: #fff !important;
}

#one-step-checkout-form .checkout-review-load .data-table .odd{
    background: none !important;
}

#one-step-checkout-form .checkout-review-load .data-table .even{
    background: none !important;
}

#one-step-checkout-form .checkout-review-load  .data-table tbody th, #one-step-checkout-form .checkout-review-load .data-table tbody td{
    border-bottom: 1px solid #ededed !important;
}

#one-step-checkout-form .checkout-review-load  .data-table tfoot tr{
    background: none !important;
}

#one-step-checkout-form .checkout-review-load .data-table tr.last th, .data-table tr.last td{
    border-bottom: 1px solid #ededed !important;
}

#one-step-checkout-form .checkout-review-load .data-table tbody th, .data-table tbody td{
    border-right: none !important;
    padding-right:5px;
}
#one-step-checkout-form .checkout-review-load .data-table tbody th{
    font-size:13px;
    padding: 6px 15px;
}
#one-step-checkout-form .data-table tfoot strong{
    font-size: 13px !important;
} 

#one-step-checkout-form .checkout-review-load .data-table td{
    padding: 10px 15px !important;
}
#one-step-checkout-form .checkout-review-load .data-table td.qty-box{
    padding:15px 5px !important;
}
#one-step-checkout-form .checkout-review-load .data-table td .qty{
    border:1px solid #ededed;
    float:left;
    width:25px;
    font-size:12px;
    text-align: center;
}
#one-step-checkout-form .checkout-review-load .data-table td .box-qty{width:74px;margin:0 auto;}
#one-step-checkout-form .checkout-review-load .data-table td .box-qty a{float:left;}
#one-step-checkout-form .checkout-review-load .data-table td  .price{font-size:14px;}
#one-step-checkout-form .checkout-review-load .data-table td h2{
    font-size:14px;
    color:#3d3d3d;
    margin-left:30px;
}
#one-step-checkout-form .checkout-review-load .data-table td  dl{margin-left:30px;}
.control_overlay {
    background-color: rgba(255, 255, 255, .1);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50);
    z-index: 99;
}
.control_overlay:before {
    background-color: rgba(255, 255, 255, .7);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
}
#control_overlay{
    background-color: #000000;
    float:left;
}
.payment-method .input-box .input-text{
    width:100%;
}
.payment-method .input-box select{
    width:100% !important;
    font-size:14px;
}
.sp-methods .input-box input.cvv + i {
    right: 10px;
}

/*PAYPAL Pro*/
div.ajaxcart-overlay{
    width: 100%;
    background: #000000;
    position: fixed;
    opacity: 0.5;
    filter:alpha(opacity=50);
    top: 0;
    left: 0;
    z-index: 196;
    height:100%;
}

div.ajaxcart-loading{
    position:fixed;
    top:20%;
    left:50%;
    width:127px;
    text-align:center;
    margin-left:-125px;
    padding:15px 60px;
    border:2px solid #F1AF73;
    color:#D85909;
    background:#FFF4E9;
    z-index: 197;
}
div.form-paypal{
    position:fixed;
    top:45%;
    left:50%;
    width:120px;
    text-align:center;
    margin-left:-125px;
    padding:15px 60px;
    border:2px solid #F1AF73;
    color:#D85909;
    background:#FFF4E9;
    z-index: 197;
}

.onestepcheckout-popup-wrapper{
    position:relative;
    text-align: left;
    z-index:10000;
}
.page,.wrapper{
    position:relative;
}
#onestepcheckout-toc-popup{
    position: fixed;
}
#onestepcheckout-toc-popup .onestepcheckout-toc-terms{
	overflow-y:auto;
}
#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper2{
    background: #fff;
}

.address-info-3-columns ul li p select{
    width:84% !important;
}
.address-info-3-columns #showhide_shipping p select{
    width:84% !important;
}

.onestepcheckout-survey select{
    width: 100%;
}

.onestepcheckout-survey {
    float: left;
    width: 42%;
    padding: 0 4%;
    margin:15px 0 0;
    box-sizing: content-box;
}
#one-step-checkout-form .onestepcheckout-survey label{
    font-size:14px;
    font-weight:normal;
}
#one-step-checkout-form .onestepcheckout-survey select{font-size: 15px;padding:1px 0;}
.onestepcheckout-survey-freetext{
    float: left;
    width: 46%;
    padding: 0 2%;
    margin: 15px 0 0;
    box-sizing: content-box;
}
#one-step-checkout-form  .onestepcheckout-survey-freetext{
    font-size:14px;
    font-weight:normal;
}
.onestepcheckout-survey-freetext textarea{
    width: 98%;
    height:53px;
}
.onestepcheckout-2columns .btn-back > span > span {
  text-decoration: underline;
  vertical-align: middle;
}
.onestepcheckout-2columns .btn-back i {
    font-size: 22px;
    line-height: 15px;
    margin-right: 4px;
    vertical-align: middle;
}
.onestepcheckout-2columns .btn-back:hover > span,
.onestepcheckout-2columns .btn-back:focus > span {
  color: #ce2828;
}
.onestepcheckout-2columns .allow h3,
.onestepcheckout-2columns .active h3 {
    background: #363636 !important;
    border-color: #484848;
    color: #fff;
  font-size: 15px;
}
.onestepcheckout-2columns .allow h3 {
    cursor: pointer;
}
.onestepcheckout-2columns h3 .btn-toggle {
  border: 1px solid #fff;
  float: right;
  border-radius: 30px;
  display: none;
  font-family: serif;
  font-weight: bold;
  line-height: 21px;
  padding: 0px;
  width: 23px;
  height: 23px;
}
.onestepcheckout-2columns .allow h3 .btn-toggle,
.onestepcheckout-2columns .active h3 .btn-toggle {
  display: block;
}
.onestepcheckout-2columns h3 .btn-toggle > span {
  background: none;
  border: 0;
  color: #fff;
  display: none;
  font-family: inherit;
  font-size: 18px;
  min-height: 18px;
  padding: 0;
}
.onestepcheckout-2columns h3 .btn-toggle .plus {
  line-height: 18px;
}
.onestepcheckout-2columns .checkout-section:not(.active) h3 .btn-toggle .plus {
  display: block;
}
.onestepcheckout-2columns .active h3 .btn-toggle .minus {
    display: block;
    font-size: 0;
}
.onestepcheckout-2columns .active h3 .btn-toggle .minus:before {
    content: '';
    background: #fff;
    display: inline-block;
    width: 11px;
    height: 1px;
    vertical-align: middle;
}
.onestepcheckout-2columns .onestepcheckout-review-info{
  background-color: #fafafa;
  padding-top: 20px;
}
.checkout-totals-loading {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    filter:alpha(opacity=80);
    opacity: .8;
    width: 100%;
}
.onestepcheckout-2columns .order-review-info .onestepcheckout-discount,
.onestepcheckout-2columns .onestepcheckout-comment,
.onestepcheckout-2columns .checkout-totals,
.onestepcheckout-2columns .button-onestepcheckout,
.onestepcheckout-2columns .order-review-info .onestepcheckout-terms-conditions {
  padding: 20px 50px;
  margin-top: 0;
}
.onestepcheckout-2columns .onestepcheckout-comment {
  padding-top: 0;
}
.onestepcheckout-2columns .order-review-info .onestepcheckout-terms-conditions {
    padding-top: 0;
}
.onestepcheckout-2columns .order-information-header {
  padding: 0 30px;
  margin-bottom: 20px;
}
.onestepcheckout-2columns .order-information-title {
    border-bottom: 1px solid #2d2d2d;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.onestepcheckout-2columns .order-review-info h3 {
  background-color: #eaeaea !important;
  border: 0;
  color: #686868;
  font-size: 13px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.onestepcheckout-2columns .order-review-info h3 > span{
  text-decoration: underline;
  vertical-align: middle;
}
.onestepcheckout-2columns .order-review-info h3 .btn-toggle {
  border-color: #4d4d4d;
  display: inline-block;
  float: none;
  margin-right: 9px;
}
.onestepcheckout-2columns .order-review-info h3 .btn-toggle > span {
  color: inherit;
}
.onestepcheckout-2columns .order-review-info h3 .btn-toggle .minus:before {
    background: #4d4d4d;
}
.onestepcheckout-2columns .order-review-info.active h3 .btn-toggle .plus {
  display: none;
}
.onestepcheckout-2columns .order-review-info.active h3 .btn-toggle .minus {
  display: block;
}
.onestepcheckout-2columns .section-body {
  display: none;
  padding: 10px 20px;
}
.onestepcheckout-2columns .checkout-section.active .section-body {
    display: block;
}
.onestepcheckout-2columns #checkout-review-load {
  padding: 0 !important;
}
.onestepcheckout-2columns #checkout-review-load .modal-body {
    box-shadow: inset 0px 2px 3px -2px #e6e6e6;
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
    padding: 0;
}
.onestepcheckout-2columns #checkout-review-table tfoot{
  display: none;
}
.onestepcheckout-2columns .checkout-totals table td{
  border: 0;
}
.onestepcheckout-2columns .checkout-totals table td:first-of-type {
    font-size: 12px;
    text-align: left !important;
    text-transform: uppercase;
}

#coupon_code_onestepcheckout{
    margin-bottom:5px;
}
.onestepcheckout-2columns #coupon_code_onestepcheckout {
    width:70%;
}
.onestepcheckout-2columns #coupon_code_onestepcheckout {
    width: 58%;
    float: left;
    margin: 0;
}
.onestepcheckout-2columns #add_coupon_code_button,
.onestepcheckout-2columns #remove_coupon_code_button {
    width: 42%;
    float: left;
    height: 30px;
}
.onestepcheckout-2columns .onestepcheckout-discount .button > span{
    font-size: 13px;
    padding: 4px;
}
.one-step-checkout button.btn-checkout span{
    display:inline-block;
    height:40px!important;
}
.onestepcheckout-place{
    background:#c80707;
    border:1px solid #c80707;
    border-radius: 5px;
    color:#fff;
    font-size:14px;
    padding:10px 20px;	
    margin-top: 15px;
    width: 100%;
    text-transform: uppercase;
}
.onestepcheckout-2columns .onestepcheckout-place{
  width: auto;
}
.onestepcheckout-2columns .onestepcheckout-place .symbol {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    vertical-align: text-top;
    margin-right: 5px;
    position: relative;
}
.onestepcheckout-2columns .onestepcheckout-place .symbol:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    transform: rotate(35deg);
    vertical-align: initial;
    margin-bottom: 3px;
}
#onestepcheckout-place-order-loading{
    font-style: italic;
    margin-top: 10px;
}
button.onestepcheckout-btn-checkout{
    color: #fff;
}
.onestepcheckout-2columns button.place-order-loader {
    background: #ddd;
    border-color: #ddd;
    color: #7e7e7e;
}
.onestepcheckout-2columns .place-order-loader .symbol {
    border-color: #7e7e7e;
}
.onestepcheckout-2columns .place-order-loader .symbol:before {
    border-color: #000;
}
.onestepcheckout-2columns .checkout-section .buttons-validate {
    display: none;
    padding-bottom: 20px;
}
.onestepcheckout-2columns .checkout-section.active .buttons-validate {
    display: block;
}
button.place-order-loader {
    color:#7e7e7e;
}
#email-error-message{
    line-height: 1.456;
    width:100%;
}
/*20130121*/
.customer-dob{float:left;width:100%;}
.dob-month{
    float:left;
    width:24%;
    margin-right:3%;
}
.dob-day{
    float:left;
    width:24%;
    margin-right:3%;
}
.dob-year{
    float:left;
    width:46%;
}
#one-step-checkout-form .sp-methods .input-box .validation-failed{
    outline: none !important;
}
.two-fields.last{float:right;}
.onestepcheckout-2columns #checkout-review-table-wrapper {
    box-shadow: inset 0 -4px 4px -2px #cecece;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
}
#checkout-review-table-wrapper tr  td{background:none!important;}

.one-step-checkout .input-text,
.one-step-checkout textarea {
    width:100%;
}

.one-step-checkout button.btn-checkout span span {
    background-position: 100% 0 !important;
    padding: 0 66px 0 56px!important;
    text-transform: capitalize;
    display:block!important;
}

.a-right .cart-price{text-align:right;}

#add_coupon_code_button, #remove_coupon_code_button{
    background: #ce2828;
    border: medium none;
    padding: 0;
    width:100%;
    cursor:pointer;
}

.onestepcheckout-form-list li.wide{
    clear:both;
    padding-top:10px;
}

#payment_form_ccsave .input-box{width:100%!important;}

.shipment-methods dd{margin-left:0px;}

.one-step-checkout .input-text{display: block;height:30px!important;padding:4px 6px;}

#billing-new-address-form ul{
    padding-bottom:0px!important;
}
.onestepcheckout-3columns .billing-body {
    border: 1px solid #EBEBEB;
    padding: 15px;
}

#allow-gift-message-container{background:none;}
#gift-message-whole-message{height:53px!important;}

#onestepcheckout-login-popup .input-text{height:29px!important;border: 1px solid #C0C0C0;}
#onestepcheckout-register-popup .input-text{height:29px!important;border: 1px solid #C0C0C0;}

#container_payment_method_authorizenet_directpost{float:left;width: 92%;padding: 0 4%;box-sizing: content-box;}

/* Start: added by Daniel - 31/03/2015 - Login/Condition popup */
.onestepcheckout-index-index  #onestepcheckout-login-popup{
	position:fixed !important;
	top:10% !important;	
}
/* End: added by Daniel - 31/03/2015 - Login/Condition popup */

/* Start: added by Daniel - 31/03/2015 - Add product thumbnail in the order review section */
.onestepcheckout-index-index .osc-product-image{
	float: left;
	margin:0 auto;
    width:75px;
    height:75px;
    padding-right: 5px;
}

.onestepcheckout-index-index .item-options dt{clear:none;}
.onestepcheckout-index-index .item-options dd{float:none;}
.onestepcheckout-index-index .onestepcheckout-3columns .osc-product-image:hover img{
	-webkit-transform:scale(4);
    -moz-transform:scale(4);
    -o-transform:scale(4);
    transform:scale(4);
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s ;
	border:1px #eee solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	background:#fff;
    position: relative;
    z-index: 9;
}
#one-step-checkout-form .checkout-review-load .data-table td .item-options-hasimage{}
/* End: added by Daniel - 31/03/2015 - Add product thumbnail in the order review section */

/* Start: added by Daniel - 02/04/2015 - Add top links */
.onestepcheckout-index-index #osc_top_links{
	 width: 100%;
	 min-height: 30px;
	 line-height: 30px;
	 padding: 0px;
	 margin-top: 8px;
	 margin-bottom: 8px;
	 display:none;
}
.onestepcheckout-index-index #osc_top_links a{
	padding: 5px 20px;
	margin: 0px;
	margin-right: 10px;
	text-decoration: none;
	color:#fff;
}
/* End: added by Daniel - 02/04/2015 - Add top links */
/* Register - Add by Leo 03042015 */
p.register-link{
    float:left;
    width: 100%;
    padding-bottom: 15px;
}
p.register-link a{
    color: #39C;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
}
p.register-link a span{
    background: url(../../images/onestepcheckout/arrow-r.png) no-repeat center center;
    background-color: #39C;
    width: 10px;
    height: 10px;
    margin: 4px 8px 4px 0;
    border-radius: 6px;
    float: left;
}
p.forgot-link{
    float:left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
    border-top:1px solid #c2c2c2;
}
#onestepcheckout-login-popup-contents-register {
    float: left;
    width: 100%;
}
#onestepcheckout-register-table li{float:left;width:100%;padding:0 0 10px;}
/* Register - End by Leo 03042015 */

#one-step-checkout-form .billing_address .tm-checkbox {
    float: left;
    margin: 0 3px 0 0;
}

#email-error-message p {
    display: block;
    margin: 0;
    font-size: 12px;
    color: #f92525 !important;
}

#email-error-message p a{
    text-decoration: underline;
    color: red;
}

.onestepcheckout-terms-conditions .tm-checkbox{
    float: left;
    margin: 0 4px 0 0;
}

.onestepcheckout-terms-conditions .validation-advice {
    display: block;
}

.one-step-checkout .tm-radio,.one-step-checkout .tm-checkbox{display: inline-block;}

body.onestepcheckout-index-index .modal.sagepaymodal {
position: fixed !important;
top: 50% !important;
left: 50% !important;
margin-left: -225px !important;
margin-top: -300px !important;
max-height: 600px !important; }
body.onestepcheckout-index-index .modal.sagepaymodal #direct3d-logos {display: none; }