<?php
//BANNER CATEGORY
$_category  = $this->getCurrentCategory();
if ($_imgUrl = $_category->getImageUrl()) { ?>
<?php $_helper = $this->helper('catalog/output'); ?>
<div class="category-image-container">
	<div class="category-image">
	<h1 class="category-title"><?php echo $this->escapeHtml($_category->getName()) ?></h1>
	<img src="<?php echo $_imgUrl ?>" alt="<?php echo $this->htmlEscape($_category->getName()) ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>" width="1280" height="320" /></div>
	<?php if ($_description = $_category->getDescription()): ?>
		<div class="category-description container no-display"><?php echo $_description ?></div>
	<?php endif ?>
</div> 
<?php } ?>