<?php
/**
 * Udevix
 *
 * @author     UdevixTeam <udevix@gmail.com>
 * @copyright  Copyright (c) 2015-2017 Udevix
 */
?>

<?php
/**
 * @var Udevix_GoogleTagManagerEE_Helper_Data                  $helper
 * @var Udevix_GoogleTagManagerEE_Block_EnhancedEcommerce_Cart $this
 */
$helper = Mage::helper('udevix_google_tag_manager_ee');

if ($helper->isActive() && $helper->isActiveCartAddRemove()):
    $cartAddProductData = $this->getCartAddProductData();
    if ($cartAddProductData !== false): ?>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                try {
                    dataLayer.push(<?php echo $cartAddProductData ?>);
                }
                catch (err) {
                }
            });
        </script>
    <?php endif; ?>

    <?php
    $cartRemoveProductData = $this->getCartRemoveProductData();
    if ($cartRemoveProductData !== false): ?>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                try {
                    dataLayer.push(<?php echo $cartRemoveProductData ?>);
                }
                catch (err) {
                }
            });
        </script>
    <?php endif; ?>
<?php endif; ?>
