<!--@subject Falta poco {{var puntos}} LabNutrition quiere ver tu lado Spartan @-->
{{inlinecss file="email-inline.css"}}
{{template config_path="design/email/header"}}
<table width="500" cellspacing="0" cellpadding="0" border="0" align="center" style="border-spacing: 0px; border-collapse: collapse; vertical-align: top; max-width: 700px; margin: 0px auto; width: 100%;">
    <tbody>
    <tr>
        <td style="color: #ce2828; font-family: Arial, Helvetica, sans-serif;font-size: 20px; font-weight: 600; padding: 20px;text-align: center; vertical-align: middle;">Solo necesitas {{var puntos}} puntos para estar en Spartan</td>
    </tr>
    <tr>
        <td align="center" valign="middle" style="padding: 0px 20px 40px 20px;vertical-align: middle;">
            <table cellspacing="0" cellpadding="0" width="500" style="width: 100%;">
                <tbody>
                <tr>
                    <td align="center" style="padding-bottom: 10px;text-align: center;">
                        <a href="{{store url=""}}bonuslab"><img border="0" src="{{skin url='images/points/email/tranqui-spartan.png' _area='frontend' _package='templatemela' _theme='MAG100202'}}" width="280"></a>
                    </td>
                </tr>
                <tr>
                    <td style="color: #000;font-family: Arial, Helvetica, sans-serif;font-size: 17px;font-weight: 500;text-align: center;">Estas a pocos puntos de cumplir la primera meta. El modo Spartan espera por ti. Nosotros confiamos en que lograrás tus metas junto a LabNutrition tu coach perfecto en nutrición.</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr bgcolor="#f5f6f8">
        <td align="center" style="text-align: center;padding: 20px;"><a style="color: #fff;font-family: Arial, Helvetica, sans-serif;text-decoration: none;font-size: 17px;font-weight: 600;background: #ce2828;display:  inline-block;padding: 8px 25px;border-radius: 5px;" href="{{store url=""}}bonuslab">Ver mis Beneficios</a></td>
    </tr>
    <tr>
        <td align="left" style="border-bottom: 1px solid #f1f1f1;padding: 10px 20px 0 20px;">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;">Legales:</p>
            <ul style="line-height: 18px;margin: 20px 0;padding-left: 20px;">
                <li style="color: #666;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">Los puntos acumulados por cada compra expiran en 60 días.</li>
                <li style="color: #666;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">Las promociones y los puntos lab solo son validos y exclusivos en la pagina web <a href="{{store url=""}}" style="color: #ce2828;text-decoration: underline;">www.labnutrition.com</a>.</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{{template config_path="design/email/footer"}}
