
<?php
//
//    $_code= $this->getMethodCode();
//    $_total = Mage::getSingleton('checkout/cart')->getQuote()->getGrandTotal();
//
//?>
<!--<ul class="form-list" id="payment_form_--><?php //echo $_code ?><!--" style="display:none;">-->
<!--    <img  height="44" width="207" src="--><?php //echo $this->getSkinUrl('images/pos/mdp_pos_visa.png') ?><!--">-->
<!--    <li style="padding-top:10px;">-->
<!--        --><?php //echo $this->getMethod()->getConfigData('instructions');?>
<!--    </li>-->
<!--</ul>-->

<div class="payupagoefectivo-icon">
    <img src="<?php echo $this->getSkinUrl('images/checkout/mdp/pagoefectivo.png') ?>" alt="Tarjeta Crédito Visa" />
    <p class="instructions"><?php echo $this->getMethod()->getConfigData('instructions');?></p>
</div>