<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Advancedfilters
 * @version     1.0.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>
<ol>
<?php foreach ($this->getItems() as $_item): ?>
 <li>
 <div id="mydiv">
   <?php if ($_item->getCount() > 0): ?>
		<div class="ajaxloader"><a data-url="<?php echo $_item->getUrl() ?>" 
			    	   name="<?php echo $_item->getFilter()->getRequestVar(); ?>"
			    	   value="<?php echo $_item->getValueString(); ?>" class="ajaxfilter" href="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?></a>  
        <?php else: echo $_item->getLabel() ?>
        <?php endif; ?>
        <?php if ($this->shouldDisplayProductCount()): ?>
        <!--(<?php //echo $_item->getCount() ?>)--></div>
        <?php endif; ?>
        </div>
    </li>
   
<?php endforeach ?>
</ol>
