.htmleditor-design {
  position: relative;
  width: 100%;
}
.htmleditor-design .CodeMirror {
  float: left;
  width: 100%;
  height: 600px;
  max-width: 700px;
  border: 1px solid #d6d6d6;
}
.htmleditor-design iframe {
  width: 100%;
  float: left;
  height: 600px;
  margin-top: 10px;
  border: 1px solid #d6d6d6;
  max-width: 700px;
}
.htmleditor-design .clearfix {
  height: 0px;
  clear: both;
}
.htmleditor-template {
  position: relative;
  width: 98% !important;
}
.htmleditor-template .areas {
  float: left;
  width: 50%;
  position: relative;
}
.htmleditor-template .areas .item {
  padding-right: 10px;
  position: relative;
  margin-bottom: 15px;
}
.htmleditor-template .areas .item .label {
  position: absolute;
  left: -205px;
  top: 0px;
}
.htmleditor-template .areas .item .CodeMirror {
  max-width: 700px;
  min-height: 35px;
  width: 100%;
  border: 1px solid #d6d6d6;
}
.htmleditor-template iframe {
  width: 49%;
  float: left;
  height: 600px;
  border: 1px solid #d6d6d6;
}
.htmleditor-template .clearfix {
  height: 0px;
  clear: both;
}
.icon-head.head-adminhtml-design {
  background-image: url('../images/fam_layout.gif');
}
.emaildesign-adminhtml-template-index h3.icon-head.head-adminhtml-template {
  background-image: url('../images/fam_application_view_tile.gif');
}
