<?php
// Fetch points redmeption data
?>
<?php
$spent_list_id = 'points-list-spent-' . $this->getItem()->getId();
$spentData = $this->getSpentData();
$removeUrl = $this->getRemoveUrl($this->getItem()->getId());;
?>
<?php if (!empty($spentData)) : ?>
    <div class="item-points-spent-section">
    	<span class="item-points-header-spent">
	    	 <?php echo $this->__('Points Spending') ?>: 
		</span>
        <ul class='item-points-list-spent' id='<?php echo $spent_list_id ?>'>
            <li>
                <?php echo $this->__("%s, %s off", $spentData['point_used'], $spentData['discount_amount']); ?>
                <a onclick="javascript: window.location='<?php echo $removeUrl ?>'" href='#'>
                    <img src='<?php echo $this->getSkinUrl('css/magegiant/giantpointsrule/images/remove.gif') ?>'
                         border=0/>
                </a>
            </li>
        </ul>
    </div>
<?php endif; ?>

<!-- // WDCA CODE ENDS // -->
    