<div class="giantpoints-dashboard-container">
    <div class="box-account box-info box-giantpoints-summary">
        <div class="box-head">
            <h2 class="box-title"><?php echo $this->__('Reward information') ?>
                <?php if ($this->getInfoPageUrl()): ?>
                    <span class="separator">|</span>
                    <a class="learnmore" href="<?php echo $this->getInfoPageUrl() ?>"><?php echo $this->__('Learn more') ?></a>
                <?php endif; ?>
            </h2>
        </div>
        <div class="info-summary">
            <dl class="box-content font-dinbek_bold">
                <dt>
                    <?php //echo $this->__('Your balance is') ?>
                    Has acumulados
                    <strong class="giantpoints-money">
                        <?php echo $this->getBalanceText() ?>
                        <?php if ($_pointMoney = $this->getPointMoney()): ?>
                            (<?php echo $_pointMoney ?>)
                        <?php endif ?>
                    </strong>
                    en el camino de tu modo deportista
                </dt>
                <?php echo $this->getChildHtml('dashboard_limit') ?>
            </dl>
        </div>
    </div>
    <div class="buttons-set a-right">
        <a class="button" href="<?php echo $this->getUrl('promos.html') ?>"><span>Ver Promociones</span></a>
    </div>
</div>