<?php
	/*
	* Name Extension: Cmsmart megamenu
	* Author: The Cmsmart Development Team 
	* Date Created: 06/09/2013
	* Websites: http://cmsmart.net
	* Technical Support: Forum - http://cmsmart.net/support
	* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
	* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
	*/
?>

<?php
/* echo $this->getLayout()->createBlock('core/template')
								->setTemplate('cmsmart/megamenu/categories.phtml')
								->toHtml(); */
?>

<div id="hv_menu">
<?php
echo $this->getLayout()->createBlock('core/template')
								->setTemplate('cmsmart/megamenu/position.phtml')
								->toHtml();
?>
</div>

<div id="h_menu">
<?php
echo $this->getLayout()->createBlock('core/template')
								->setTemplate('cmsmart/megamenu/menutop.phtml')
								->toHtml();
?>
</div>

<div id="v_menu">
<?php
echo $this->getLayout()->createBlock('core/template')
								->setTemplate('cmsmart/megamenu/menuvertical.phtml')
								->toHtml();
?>
</div>

<script type="text/javascript">
	
	$('position').observe('change', function(){
		if($F('position') == "<?php echo Cmsmart_Megamenu_Model_Position::top_menu ?>"){
			$('abc_top').show();
			$('abc_top').setStyle({'display':'block'});
			$('v_category_tabs_menu').hide();
			$('v_category_tabs_menu').setStyle({'display':'none'});
		} 
		if($F('position') == "<?php echo Cmsmart_Megamenu_Model_Position::left_menu ?>"){
			$('v_category_tabs_menu').show();
			$('v_category_tabs_menu').setStyle({'display':'block'});
			$('abc_top').hide();
			$('abc_top').setStyle({'display':'none'});
			
		}
		
		if($F('position') == "<?php echo Cmsmart_Megamenu_Model_Position::both ?>"){
			$('abc_top').show();
			$('abc_top').setStyle({'display':'block'});
			$('v_category_tabs_menu').show();
			$('v_category_tabs_menu').setStyle({'display':'block'});
		}
	});
</script>