<?php
	/*
	* Name Extension: Cmsmart megamenu
	* Author: The Cmsmart Development Team 
	* Date Created: 06/09/2013
	* Websites: http://cmsmart.net
	* Technical Support: Forum - http://cmsmart.net/support
	* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
	* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
	*/
?>

<?php 
$posMenu = Mage::helper('megamenu/data')->_getPosition($this->getRequest()->getParam("id"));
$posStyeTop = "display: none;";
if($posMenu == Cmsmart_Megamenu_Model_Position::top_menu || $posMenu == Cmsmart_Megamenu_Model_Position::both ) { 
	$posStyeTop = "display: block;";
}
?>

<style>
#content_type_body {
	width: 100%;
	float: left;
}

#content_type_body .value {
	width: 650px;
}
</style>
<?php
	$theme = $this->helper('megamenu');
	$block = $theme->getAllOptions();
	$categoryArr = $theme->getCategoryArr();
	$toOptionArray = $theme->toOptionArray();
	$checked = false;
	if($categoryArr[0]['static_block_top'] || 
		$categoryArr[0]['static_block_left'] ||
		$categoryArr[0]['static_block_right'] ||
		$categoryArr[0]['static_block_bottom']
	){
		$checked = true;
	}
	
	$explain_msg = $this->__('Go to: CMS -> Static Blocks to create static blocks...');
	
	Mage::getSingleton('core/session')->setSelectedProducts($categoryArr[0]['pgrid_products']);

	/* some contants */
	$c_contact = Cmsmart_Megamenu_Model_Contenttype::Contact;/* 7 */
	$c_pgrid = Cmsmart_Megamenu_Model_Contenttype::Product_Grid;/* 4 */
	$c_dynamic_cat = Cmsmart_Megamenu_Model_Contenttype::Dynamic_Category_Listing;/* 2 */
	$c_plist = Cmsmart_Megamenu_Model_Contenttype::Product_Listing;/* 5 */
	$c_static = Cmsmart_Megamenu_Model_Contenttype::Static_Category_Listing; /* 3 */
	$c_default = Cmsmart_Megamenu_Model_Contenttype::Default_Category_Listing; /* 1 */
	$c_plistbycat = Cmsmart_Megamenu_Model_Contenttype::Product_Listing_Category; /* 6 */
	
	$content_type = $categoryArr[0]['content_type'];
	$style = $style1 = $style2 = $style3 = $style4 = $style5 = $style6 = $style3label = "display: none;";
?>

<div id="h_category_tabs_menu">
<div id = "abc_top" class="entry-edit" style = "<?php echo $posStyeTop; ?>">
<div class="entry-edit-head collapseable">
	<a id="general_setting">
		<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Horizontal Menu Configurations') ?></h4>
	</a>
	<div class="form-buttons"></div>
</div>
<div id="general_setting_form" class="fieldset">
	<table cellspacing="0" class="form-list">
		<tbody id="content_type_body">
			<tr >
				<td class="label"><label for="static_block"><b><?php echo $this->__('* Main Content:')?></b></label></td>
			</tr>	
			<!-- menu content type -->
			<tr>
				<td class="label"><label for="static_block_top"><?php echo $this->__('+ Menu Content Type')?></label></td>
				<td class="value">
					<?php 
					$types = Mage::getModel('megamenu/contenttype')->getTypes();
					?>
					
					<select class=" select" name="content_type" id="content_type">
						<?php foreach ($types as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['content_type']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
				</td>
			</tr>
			
			<!-- Products Box Title -->
			<?php 
			if($content_type == $c_pgrid || $content_type == $c_plist){ $style1 = "display: block;";} 
			?>
			<tr id="nb_box_title" style="<?php echo $style1; ?>">
				<td class="label"><label for="pgrid_box_title"><?php echo $this->__('+ Products Box Title')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['pgrid_box_title']; ?>" name="pgrid_box_title" id="pgrid_box_title">	
				</td>
			</tr>
			
			<!-- Number of columns -->
			<?php if($content_type == $c_pgrid || $content_type == $c_plist || $content_type == $c_static || $content_type == $c_plistbycat || $content_type == $c_dynamic_cat) { $style2 = "display: block;";}  ?>
			<tr id="nb_num_col" style="<?php echo $style2; ?>">
				<td class="label"><label for="pgrid_num_columns"><?php echo $this->__('+ Number of Columns')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['pgrid_num_columns']; ?>" name="pgrid_num_columns" id="pgrid_num_columns">  
				</td>
			</tr>
			<?php //} ?>
			
			<!-- Products -->
			<?php if($content_type == $c_pgrid || $content_type == $c_plist) { $style3 = "display: block;";} ?>
			<tr id="nb_box_products" style="<?php echo $style3; ?>">
				<td class="label"><label for="pgrid_products"><?php echo $this->__('+ Products')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['pgrid_products']; ?>" name="pgrid_products" id="pgrid_products">  
					<img id="my_select" class="v-middle rule-chooser-trigger" src="<?php echo $this->getSkinUrl('cmsmart/megamenu/images/select.gif'); ?>">
					<p><?php echo $this->__('Product IDs. Separate by comma (,)') ?></p>
				</td>
				
				<!-- *** grid select product in checkbox *** -->
				<tr id="nb_top_select_pids">
					<td class="label"></td>
					<td class="value">
						<div id="topmenu_Grid" style="display: none;"></div>
						<?php
							echo $this->getLayout()->createBlock('megamenu/adminhtml_pgrid_grid')
											->setTemplate('cmsmart/megamenu/nb_widget/grid.phtml')->toHtml();
						?>
						<script type="text/javascript">
						Event.observe('my_select', 'click', function() {	
							$('topmenu_Grid').toggle();
							new Ajax.Request('<?php echo Mage::helper("adminhtml")->getUrl("megamenu/adminhtml_pgrid/mgrid") ?>', {
								method: 'post',
								onSuccess: function(response){
									$('topmenu_Grid').innerHTML = response.responseText;
								}
							});
						});
						</script>
					</td>
				</tr>
			
			</tr>

			<!-- Hot/New/Sale -->
			<?php if($content_type == $c_plist) { $style3label = "display: block;";} ?>
			<tr id="nb_label_products" style="<?php echo $style3label; ?>">
				<td class="label"><label for="static_block_right"></label></td>
				<td class="value">
					<p>
					<?php echo $this->__('+ Hot Products IDs (separate by comma): ')?><input type="text" class="input-text" style="width: 250px; margin-left: 6px;" value="<?php  echo $categoryArr[0]['top_hot_products']; ?>" name="top_hot_products" id="top_hot_products">
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_hot.png'); ?>"></img>
					</p>  
					<p>
					<?php echo $this->__('+ New Products IDs (separate by comma): ')?><input type="text" class="input-text" style="width: 250px" value="<?php  echo $categoryArr[0]['top_new_products']; ?>" name="top_new_products" id="top_new_products">
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_new.png'); ?>"></img>
					</p> 
					<p>
					<?php echo $this->__('+ Sale Products IDs (separate by comma): ')?><input type="text" class="input-text" style="width: 250px" value="<?php  echo $categoryArr[0]['top_sale_products']; ?>" name="top_sale_products" id="top_sale_products">
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_sale.png'); ?>"></img>
					</p> 
				</td>
			</tr>
			<?php //} ?>
			
			<!-- Products -->
			<?php if($content_type == $c_dynamic_cat || $content_type == $c_plistbycat){ $style4 = "display: block;"; }?>
			<tr id="nb_box_cats" style = "<?php echo $style4; ?>">
				<td class="label"><label for="pgrid_cats"><?php echo $this->__('+ Categories')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['pgrid_cats']; ?>" name="pgrid_cats" id="pgrid_cats">  
					<img id="cat_select" class="v-middle rule-chooser-trigger" src="<?php echo $this->getSkinUrl('cmsmart/megamenu/images/select.gif'); ?>">
					<p><?php echo $this->__('Categories IDs. Separate by comma (,). If you don\'t push category ids, menu will show sub-categories of this category') ?></p>
				</td>
				
				<!-- *** cat select product in checkbox *** -->
				<tr id = "nb_top_select_cat">
					<td class="label"></td>
					<td class="value">
						<div id="topmenu_CatGrid" style="display: none;">
						<?php
							echo $this->getLayout()->createBlock('core/template')
											->setTemplate('cmsmart/megamenu/top_categories.phtml')->toHtml();
						?>
						</div>
						
						<script type="text/javascript">
						Event.observe('cat_select', 'click', function() {	
							$('topmenu_CatGrid').toggle();
						});
						</script>
					</td>
				</tr>
				<?php //} ?>
			</tr>
			
			<?php if($content_type == $c_contact || $content_type == $c_static || $content_type == $c_plist){ $style5 = "display: block;"; } ?>
			<tr id="nb_content_block" style = "<?php echo $style5; ?>">
				<td class="label"><label for="content_block"><?php echo $this->__('+ Static Block Content')?></label></td>
				<td class="value">
					<select class=" select" name="content_block" id="content_block">
						<?php foreach ($block as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['content_block']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
					<p><?php echo $explain_msg; ?></p>
				</td> 
			</tr>
			<?php //} ?>
		</tbody> 
			<?php if($content_type == $c_default) { $style6 = "display: block;"; } ?>
			<tbody id = "block_select" style = "<?php echo $style6; ?>">
				<tr>
					<td class="hidden" colspan="2"><input type="hidden" value="" name="category_id" id="category_id"></td>
				</tr>
				
				<tr>
					<td class="label"><label for="static_block"><b><?php echo $this->__('* Static Block:')?></b></label></td>
				</tr>
			
			<!-- </tbody>
			
			<tbody id="block"> -->
				<tr>
					<td class="label"><label for="static_block_top"><?php echo $this->__('+ Static Block Top')?></label></td>
					<td class="value">
						<select class=" select" name="static_block_top" id="status">
							<?php foreach ($block as $data) { ?>
							<option <?php if($data['value'] == $categoryArr[0]['static_block_top']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
							<?php } ?>		
						</select>
						<p><?php echo $explain_msg; ?></p>
					</td>
				</tr>
				<tr>
					<td class="label"><label for="static_block_left"><?php echo $this->__('+ Static Block Left')?></label></td>
					<td class="value">
						<select class=" select" name="static_block_left" id="static_block_left">
							<?php foreach ($block as $data) { ?>
							<option <?php if($data['value'] == $categoryArr[0]['static_block_left']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
							<?php } ?>		
						</select>
						<p><?php echo $explain_msg; ?></p>
					</td>
				</tr>
				
				<tr>
					<td class="label"><label for="static_block_left"></label></td>
					<td class="value">
						<?php echo $this->__('- Left Block Product (SKU): ')?><input type="text" class="input-text" style="width: 100px;margin-left: 8px;" value="<?php  echo $categoryArr[0]['left_sku']; ?>" name="left_sku" id="left_sku">  
					</td>
				</tr>
				
				<tr>
					<td class="label"><label for="static_block_left"></label></td>
					<td class="value">
						<?php echo $this->__('- Title Left Block Product: ')?><input type="text" class="input-text" style="width: 250px;margin-left: 18px;" value="<?php  echo $categoryArr[0]['left_sku_title']; ?>" name="left_sku_title" id="left_sku_title">  
					</td>
				</tr>
				
				<tr>
					<td class="label"><label for="static_block_bottom"><?php echo $this->__('+ Static Block Bottom')?></label></td>
					<td class="value">
						<select class=" select" name="static_block_bottom" id="status">
							<?php foreach ($block as $data) { ?>
							<option <?php if($data['value'] == $categoryArr[0]['static_block_bottom']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
							<?php } ?>		
						</select>
						<p><?php echo $explain_msg; ?></p>
					</td>
				</tr>
				<tr>
					<td class="label"><label for="static_block_right"><?php echo $this->__('+ Static Block Right')?></label></td>
					<td class="value">
						<select class=" select" name="static_block_right" id="static_block_right">
							<?php foreach ($block as $data) { ?>
							<option <?php if($data['value'] == $categoryArr[0]['static_block_right']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
							<?php } ?>		
						</select>
						<p><?php echo $explain_msg; ?></p>
					</td>
				</tr>
				
				<tr>
					<td class="label"><label for="static_block_right"></label></td>
					<td class="value">
						<?php echo $this->__('- Right Block Product (SKU): ')?><input type="text" class="input-text" style="width: 100px" value="<?php  echo $categoryArr[0]['right_sku']; ?>" name="right_sku" id="right_sku">  
					</td>
				</tr>
				
				<tr>
					<td class="label"><label for="static_block_right"></label></td>
					<td class="value">
						<?php echo $this->__('- Title Right Block Product: ')?><input type="text" class="input-text" style="width: 250px; margin-left: 10px;" value="<?php  echo $categoryArr[0]['right_sku_title']; ?>" name="right_sku_title" id="right_sku_title">  
					</td>
				</tr>

			<!-- </tbody>
			
			<tbody> -->
				<tr>
					<td class="label"><label for="label"><b><?php echo $this->__('* Other Config: ')?></b></label></td>
				</tr>

				<tr>
					<td class="label"><label for="top_sku"><?php echo $this->__('+ SKU')?></label></td>
					<td class="value" style="width: 100%;">
						<input type="text" class="input-text" style="width: 100px" value="<?php  echo $categoryArr[0]['sku']; ?>" name="top_sku" id="top_sku">  
						<label for="label_container"><?php echo $this->__(' - Title: ')?></label>
						<input type="text" class="input-text" style="margin-left: 2px; width: 250px;" value="<?php echo $categoryArr[0]['label_container']; ?>" name="label_container" id="label_container">  
					</td>
				</tr>
				
				<tr>
					<?php
					$label_ops = Mage::getModel('megamenu/label')->toOptionArray();
					?>
					<td class="label"><label for="label"><?php echo $this->__('+ Category Label Type')?></label></td>
					<td class="value" style="width: 100%;">
						<select class="select" name="label" id="label">
							<?php foreach ($label_ops as $data) { ?>
								<option <?php if($data['value'] == $categoryArr[0]['label']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
							<?php } ?>		
						</select>
						<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_new.png'); ?>"></img>
						<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_hot.png'); ?>"></img>
						<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_sale.png'); ?>"></img>
						
					</td>
				</tr>
				
				<tr>
					<td class="label"><label for="label"><b><?php echo $this->__('* Custom Config: ')?></b></label></td>
				</tr>
				
				<tr>
					<td class="label"><label for="special_class"><?php echo $this->__('+ Custom Class')?></label></td>
					<td class="value" style="width: 100%;">
						<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['special_class']; ?>" name="special_class" id="special_class">  
						<p><?php echo $this->__('You can put the custom class for more style menu. Default: <b>nb-custome</b>') ?></p>
					</td>
				</tr>
			</tbody>
			
			<?php //} ?>
		</tbody>
		
	</table>
</div>

<script type="text/javascript">
	function show_hide_el(){
		$('content_type_body').setStyle({'float':'none'});
		if($F('content_type') == <?php echo $c_default; ?>){ /* default category */
			$('block_select').show();	
		} else {
			$('block_select').hide();
		}
		
		if($F('content_type') == <?php echo $c_dynamic_cat; ?> || $F('content_type') == <?php echo $c_static; ?> || $F('content_type') == <?php echo $c_contact; ?>){ /* dynamic & static category */
			$('nb_box_title').hide();
			$('nb_box_products').hide();
		} else {
			$('nb_box_title').show();
			$('nb_box_products').show();
		}
		
		if($F('content_type') == <?php echo $c_contact; ?>){ /* content block */
			$('nb_content_block').show();
			$('nb_label_products').hide();
		} else {
			$('nb_content_block').hide();
			$('nb_label_products').show();
		}
		
		if($F('content_type') == <?php echo $c_contact; ?> || $F('content_type') == <?php echo $c_default; ?> || $F('content_type') == "0"){
			$('nb_num_col').hide();
		} else {
			$('nb_num_col').show();
		}
		
		if($F('content_type') == <?php echo $c_dynamic_cat; ?> || $F('content_type') == <?php echo $c_plistbycat; ?>){ /* dynamic category */
			$('nb_box_cats').show();
		} else {
			$('nb_box_cats').hide();
		}
		
		if($F('content_type') == <?php echo $c_pgrid; ?> || $F('content_type') == <?php echo $c_plist; ?>){ /* dynamic category */
			$('nb_box_products').show();
			$('nb_box_title').show();
			$('nb_label_products').show();
		} else {
			$('nb_box_products').hide();
			$('nb_box_title').hide();
			$('nb_label_products').hide();
		}
		
		if($F('content_type') == <?php echo $c_plist; ?>){ /* product grid */
			$('nb_label_products').show();
		} else {
			$('nb_label_products').hide();
		}
		
		if($F('content_type') == <?php echo $c_static; ?> || $F('content_type') == <?php echo $c_contact; ?> || $F('content_type') == <?php echo $c_plist; ?>){ /* default category */
			$('nb_content_block').show();
		} else {
			$('nb_content_block').hide();
		}
	}
	
	$('content_type').observe('change', function(){
		show_hide_el();
	});
	
	/* left sku area */
	$('static_block_left').observe('change', function(){
		$('left_sku').setValue("");
		$('left_sku_title').setValue("");
	});
	
	$('left_sku').observe('keypress', function(e) { 
		$('static_block_left').value = "";
	});
	
	$('left_sku').observe('change', function(e) { 
		$('static_block_left').value = "";
	});
	
	/* right sku area */
	$('static_block_right').observe('change', function(){
		$('right_sku').setValue("");
		$('right_sku_title').setValue("");
	});
	
	$('right_sku').observe('keypress', function(e) { 
		$('static_block_right').value = "";
	});
	
	$('right_sku').observe('change', function(e) { 
		$('static_block_left').value = "";
	});
	
	/* function myFunctionSelect(myEl){
		var vfind = myEl.value;
		var pid_arr = $('pgrid_products').value.split(",");
		if(!myEl.checked){
			var aryWithoutFound = pid_arr.filter(function(value) { return value != vfind });
			str = aryWithoutFound.toString();
			str = str.replace(/(^[,\s]+)|([,\s]+$)/g, '');
		} else {
			str = $('pgrid_products').value + "," + vfind;
			str = str.replace(/(^[,\s]+)|([,\s]+$)/g, '');
		}
		$('pgrid_products').value = str;
	}
	
	function myCatSelect(myEl){
		var vfind = myEl.value;
		var cid_arr = $('pgrid_cats').value.split(",");
		if(!myEl.checked){
			var aryCatFound = cid_arr.filter(function(value) { return value != vfind });
			str = aryCatFound.toString();
			str = str.replace(/(^[,\s]+)|([,\s]+$)/g, '');
		} else {
			str = $('pgrid_cats').value + "," + vfind;
			str = str.replace(/(^[,\s]+)|([,\s]+$)/g, '');
		}
		$('pgrid_cats').value = str;
	} */
	
</script>