<?php
	/*
	* Name Extension: Cmsmart megamenu
	* Author: The Cmsmart Development Team 
	* Date Created: 06/09/2013
	* Websites: http://cmsmart.net
	* Technical Support: Forum - http://cmsmart.net/support
	* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
	* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
	*/
?>

<?php 
$posMenu = Mage::helper('megamenu/data')->_getPosition($this->getRequest()->getParam("id"));
$posStyeVer = "display: none;";
if($posMenu == Cmsmart_Megamenu_Model_Position::left_menu || $posMenu == Cmsmart_Megamenu_Model_Position::both ) { 
	$posStyeVer = "display: block;";
}

?>


<style>
	#ver_content_type_body {
		width: 100%;
		float: left;
	}

	#ver_content_type_body .value {
		width: 650px;
	}
</style>

<?php
	$theme = $this->helper('megamenu');
	$block = $theme->getAllOptions();
	$categoryArr = $theme->getCategoryArr();
	$toOptionArray = $theme->toOptionArray();
	$checked = false;
	if($categoryArr[0]['vertical_static_block_top'] ||
		$categoryArr[0]['vertical_static_block_left'] ||
		$categoryArr[0]['vertical_static_block_right'] ||
		$categoryArr[0]['vertical_static_block_bottom']
	){
		$checked = true;
	}
	
	$explain_msg = $this->__('Go to: CMS -> Static Blocks to create static blocks...');
	Mage::getSingleton('core/session')->setVerSelectedProducts($categoryArr[0]['ver_pgrid_products']);
	/* some contants */
	$c_contact = Cmsmart_Megamenu_Model_Contenttype::Contact;/* 7 */
	$c_pgrid = Cmsmart_Megamenu_Model_Contenttype::Product_Grid;/* 4 */
	$c_dynamic_cat = Cmsmart_Megamenu_Model_Contenttype::Dynamic_Category_Listing;/* 2 */
	$c_plist = Cmsmart_Megamenu_Model_Contenttype::Product_Listing;/* 5 */
	$c_static = Cmsmart_Megamenu_Model_Contenttype::Static_Category_Listing; /* 3 */
	$c_default = Cmsmart_Megamenu_Model_Contenttype::Default_Category_Listing; /* 1 */
	$c_plistbycat = Cmsmart_Megamenu_Model_Contenttype::Product_Listing_Category; /* 6 */
	
	$content_type = $categoryArr[0]['ver_content_type'];
	$style = $style1 = $style2 = $style3 = $style4 = $style5 = $style6 = $style3label = "display: none;";

?>

<div id="v_category_tabs_menu" style = "<?php echo $posStyeVer; ?>">
<div class="entry-edit">
<div class="entry-edit-head collapseable">
	<a id="general_country-head">
		<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Vertical Menu Configurations') ?></h4>
	</a>
	<div class="form-buttons"></div>
</div>
<div id="admintestimonials_form" class="fieldset">
	<table cellspacing="0" class="form-list">
		<tbody id="ver_content_type_body">
			<tr>
				<td class="label"><label for="static_block"><b><?php echo $this->__('* Main Content:')?></b></label></td>
			</tr>	
			<!-- menu content type -->
			<tr>
				<td class="label"><label for="static_block_top"><?php echo $this->__('+ Menu Content Type')?></label></td>
				<td class="value">
					<?php 
					$types = Mage::getModel('megamenu/contenttype')->getTypes();
					?>
					
					<select class=" select" name="ver_content_type" id="ver_content_type">
						<?php foreach ($types as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['ver_content_type']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
				</td>
			</tr>
			
			<!-- Products Box Title -->
			<?php 
			if($content_type == $c_pgrid || $content_type == $c_plist){ $style1 = "display: block;";} 
			?>
			<tr id="nb_ver_box_title" style="<?php echo $style1; ?>">
				<td class="label"><label for="pgrid_box_title"><?php echo $this->__('+ Products Box Title')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['ver_pgrid_box_title']; ?>" name="ver_pgrid_box_title" id="ver_pgrid_box_title">  
					
				</td>
			</tr>
			
			<!-- Number of columns -->
			<?php if($content_type == $c_pgrid || $content_type == $c_plist || $content_type == $c_static || $content_type == $c_plistbycat || $content_type == $c_dynamic_cat) { $style2 = "display: block;";}  ?>
			<tr id="nb_ver_num_col"  style="<?php echo $style2; ?>">
				<td class="label"><label for="pgrid_num_columns"><?php echo $this->__('+ Number of Columns')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['ver_pgrid_num_columns']; ?>" name="ver_pgrid_num_columns" id="ver_pgrid_num_columns">  
				</td>
			</tr>
			
			<!-- Products -->
			<?php if($content_type == $c_pgrid || $content_type == $c_plist) { $style3 = "display: block;";} ?>
			<tr id="nb_ver_box_products" style="<?php echo $style3; ?>">
				<td class="label"><label for="pgrid_products"><?php echo $this->__('+ Products')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['ver_pgrid_products']; ?>" name="ver_pgrid_products" id="ver_pgrid_products">  
					<img id="ver_my_select" class="v-middle rule-chooser-trigger" src="<?php echo $this->getSkinUrl('cmsmart/megamenu/images/select.gif'); ?>">
					<p><?php echo $this->__('Product IDs. Separate by comma (,)') ?></p>
				</td>
				
				<!-- *** grid select product in checkbox *** -->
				<?php //if($content_type == $c_pgrid || $content_type == $c_plist) { $style3 = "display: block;";} ?>
				<tr id="nb_ver_select_pids">
					<td class="label"></td>
					<td class="value">
						<div id="vermenu_Grid" style="display: none;"></div>
						<?php
							echo $this->getLayout()->createBlock('megamenu/adminhtml_pgrid_vergrid')
											->setTemplate('cmsmart/megamenu/nb_widget/grid.phtml')->toHtml();
						?>
						<script type="text/javascript">
						Event.observe('ver_my_select', 'click', function() {	
							$('vermenu_Grid').toggle();
							new Ajax.Request('<?php echo Mage::helper("adminhtml")->getUrl("megamenu/adminhtml_pgrid/mvergrid") ?>', {
								method: 'post',
								onSuccess: function(response){
									$('vermenu_Grid').innerHTML = response.responseText;
								}
							});
						});
						</script>
					</td>
				</tr>
			</tr>

			
			<!-- Hot/New/Sale -->
			<?php if($content_type == $c_plist) { $style3label = "display: block;";} ?>
			<tr id="nb_ver_label_products" style="<?php echo $style3label; ?>">
				<td class="label"><label for="static_block_right"></label></td>
				<td class="value">
					<p>
					<?php echo $this->__('+ Hot Products IDs (separate by comma): ')?><input type="text" class="input-text" style="width: 250px; margin-left: 6px;" value="<?php  echo $categoryArr[0]['ver_hot_products']; ?>" name="ver_hot_products" id="ver_hot_products">
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_hot.png'); ?>"></img>
					</p>  
					<p>
					<?php echo $this->__('+ New Products IDs (separate by comma): ')?><input type="text" class="input-text" style="width: 250px" value="<?php  echo $categoryArr[0]['ver_new_products']; ?>" name="ver_new_products" id="ver_new_products">
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_new.png'); ?>"></img>
					</p> 
					<p>
					<?php echo $this->__('+ Sale Products IDs (separate by comma): ')?><input type="text" class="input-text" style="width: 250px" value="<?php  echo $categoryArr[0]['ver_sale_products']; ?>" name="ver_sale_products" id="ver_sale_products">
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_sale.png'); ?>"></img>
					</p> 
				</td>
			</tr>

			<!-- Products -->
			<?php if($content_type == $c_dynamic_cat || $content_type == $c_plistbycat){ $style4 = "display: block;"; }?>
			<tr id="nb_ver_box_cats" style = "<?php echo $style4; ?>">
				<td class="label"><label for="pgrid_cats"><?php echo $this->__('+ Categories')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['ver_pgrid_cats']; ?>" name="ver_pgrid_cats" id="ver_pgrid_cats">  
					<img id="ver_cat_select" class="v-middle rule-chooser-trigger" src="<?php echo $this->getSkinUrl('cmsmart/megamenu/images/select.gif'); ?>">
					<p><?php echo $this->__('Categories IDs. Separate by comma (,). If you don\'t push category ids, menu will show sub-categories of this category') ?></p>
				</td>
				
				<!-- *** cat select product in checkbox *** -->
				<tr id = "nb_ver_select_cat">
					<td class="label"></td>
					<td class="value">
						<div id="vermenu_CatGrid" style="display: none;">
						<?php
							echo $this->getLayout()->createBlock('core/template')
											->setTemplate('cmsmart/megamenu/ver_categories.phtml')->toHtml();
						?>
						</div>
						
						<script type="text/javascript">
						Event.observe('ver_cat_select', 'click', function() {	
							$('vermenu_CatGrid').toggle();
						});
						</script>
					</td>
				</tr>
			</tr>
			
			
			<?php if($content_type == $c_contact || $content_type == $c_static || $content_type == $c_plist){ $style5 = "display: block;"; } ?>
			<tr id="nb_ver_content_block" style = "<?php echo $style5; ?>">
				<td class="label"><label for="content_block"><?php echo $this->__('+ Static Block Content')?></label></td>
				<td class="value">
					<select class=" select" name="ver_content_block" id="ver_content_block">
						<?php foreach ($block as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['ver_content_block']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
					<p><?php echo $explain_msg; ?></p>
				</td> 
			</tr>
		
		</tbody>

		<!-- <tbody> -->
		<?php if($content_type == $c_default) { $style6 = "display: block;"; } ?>
		<tbody id = "ver_block_select" style = "<?php echo $style6; ?>">
			<tr>
				<td class="hidden" colspan="2"><input type="hidden" value="" name="category_id" id="category_id"></td>
			</tr>
			
			<tr>
				<td class="label"><label for="static_block"><b><?php echo $this->__('* Static Block:')?></b></label></td>
			</tr>
		<!--
		</tbody>
		<tbody id="block">
		-->
			<tr>
				<td class="label"><label for="vertical_static_block_top"><?php echo $this->__('+ Static Block Top')?></label></td>
				<td class="value">
					<select class=" select" name="vertical_static_block_top" id="vertical_static_block_top">
						<?php foreach ($block as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['vertical_static_block_top']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
					<p><?php echo $explain_msg; ?></p>
				</td>
			</tr>
			<tr>
				<td class="label"><label for="vertical_static_block_left"><?php echo $this->__('+ Static Block Left')?></label></td>
				<td class="value">
					<select class=" select" name="vertical_static_block_left" id="vertical_static_block_left">
						<?php foreach ($block as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['vertical_static_block_left']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
					<p><?php echo $explain_msg; ?></p>
				</td>
			</tr>
			
			<tr>
				<td class="label"><label for="static_block_left"></label></td>
				<td class="value">
					<?php echo $this->__('- Left Block Product (SKU): ')?><input type="text" class="input-text" style="width: 100px;margin-left: 8px;" value="<?php  echo $categoryArr[0]['ver_left_sku']; ?>" name="ver_left_sku" id="ver_left_sku">  
				</td>
			</tr>
			
			<tr>
				<td class="label"><label for="static_block_left"></label></td>
				<td class="value">
					<?php echo $this->__('- Title Left Block Product: ')?><input type="text" class="input-text" style="width: 250px;margin-left: 18px;" value="<?php  echo $categoryArr[0]['ver_left_sku_title']; ?>" name="ver_left_sku_title" id="ver_left_sku_title">  
				</td>
			</tr>
			
			<tr>
				<td class="label"><label for="vertical_static_block_bottom"><?php echo $this->__('+ Static Block Bottom')?></label></td>
				<td class="value">
					<select class=" select" name="vertical_static_block_bottom" id="vertical_static_block_bottom">
						<?php foreach ($block as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['vertical_static_block_bottom']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
					<p><?php echo $explain_msg; ?></p>
				</td>
			</tr>
			<tr>
				<td class="label"><label for="vertical_static_block_right"><?php echo $this->__('+ Static Block Right')?></label></td>
				<td class="value">
					<select class=" select" name="vertical_static_block_right" id="vertical_static_block_right">
						<?php foreach ($block as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['vertical_static_block_right']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
					<p><?php echo $explain_msg; ?></p>
				</td>
			</tr>
			
			<tr>
				<td class="label"><label for="static_block_right"></label></td>
				<td class="value">
					<?php echo $this->__('- Right Block Product (SKU): ')?><input type="text" class="input-text" style="width: 100px" value="<?php  echo $categoryArr[0]['ver_right_sku']; ?>" name="ver_right_sku" id="ver_right_sku">  
				</td>
			</tr>
			
			<tr>
				<td class="label"><label for="static_block_right"></label></td>
				<td class="value">
					<?php echo $this->__('- Title Right Block Product: ')?><input type="text" class="input-text" style="width: 250px; margin-left: 10px;" value="<?php  echo $categoryArr[0]['ver_right_sku_title']; ?>" name="ver_right_sku_title" id="ver_right_sku_title">  
				</td>
			</tr>
		<!--
		</tbody>
		
		<tbody>
		-->
			<tr>
				<td class="label"><label for="label"><b><?php echo $this->__('* Other Config: ')?></b></label></td>
			</tr>

			<tr>
				<td class="label"><label for="vertical_sku"><?php echo $this->__('+ SKU')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 100px" value="<?php  echo $categoryArr[0]['vertical_sku']; ?>" name="vertical_sku" id="vertical_sku">  
					<label for="label_container"><?php echo $this->__(' - Title: ')?></label>
					<input type="text" class="input-text" value="<?php echo $categoryArr[0]['vertical_label_container']; ?>" name="vertical_label_container" id="vertical_label_container">  
				</td>
			</tr>
			
			<tr>
				<?php
				$label_ops = Mage::getModel('megamenu/label')->toOptionArray();
				?>
				<td class="label"><label for="label"><?php echo $this->__('+ Cateogry Label Type')?></label></td>
				<td class="value" style="width: 100%;">
					<select class="select" name="vertical_label" id="vertical_label">
						<?php foreach ($label_ops as $data) { ?>
							<option <?php if($data['value'] == $categoryArr[0]['vertical_label']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_new.png'); ?>"></img>
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_hot.png'); ?>"></img>
					<img src = "<?php echo $this->getSkinUrl('cmsmart/megamenu/images/icon_sale.png'); ?>"></img>
					
				</td>
			</tr>

			<tr>
				<td class="label"><label for="vertical_special_class"><?php echo $this->__('+ Icon category')?></label></td>
				<td class="value" style="width: 100%;">
				<?php if($categoryArr[0]['vertical_cat_icon']){ ?>
					<img src = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $categoryArr[0]['vertical_cat_icon']; ?>" width='30px'></img>
				<?php } ?>
					<input name="uploads" class="buttons" type="file" accept="image/*" />
					<br />
					<input class="checkbox"  type="checkbox" name="delete_icon" value="1"/> <?php echo $this->__('Delete Icon')?>
				</td>
			</tr>
			
			<tr>
				<td class="label"><label for="label"><b><?php echo $this->__('* Custom Config: ')?></b></label></td>
			</tr>
			
			<tr>
				<td class="label"><label for="vertical_special_class"><?php echo $this->__('+ Custom Class')?></label></td>
				<td class="value" style="width: 100%;">
					<input type="text" class="input-text" style="width: 275px" value="<?php echo $categoryArr[0]['vertical_special_class']; ?>" name="vertical_special_class" id="vertical_special_class">  
					<p><?php echo $this->__('You can put the custom class for more style menu. Default: <b>nb-custome</b>') ?></p>
				</td>
			</tr>
		</tbody>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	function show_hide_el(){
		$('ver_content_type_body').setStyle({'float':'none'});
		
		if($F('ver_content_type') == <?php echo $c_default; ?>){ /* default category */
			$('ver_block_select').show();
		} else {
			$('ver_block_select').hide();
		}
		
		if($F('ver_content_type') == <?php echo $c_dynamic_cat; ?> || $F('ver_content_type') == <?php echo $c_static; ?> || $F('ver_content_type') == <?php echo $c_contact; ?>){ /* dynamic & static category */
			$('nb_ver_box_title').hide();
			$('nb_ver_box_products').hide();
		} else {
			$('nb_ver_box_title').show();
			$('nb_ver_box_products').show();
		}
		
		if($F('ver_content_type') == <?php echo $c_contact; ?>){ /* content block */
			$('nb_ver_content_block').show();
			$('nb_ver_label_products').hide();
		} else {
			$('nb_ver_content_block').hide();
			$('nb_ver_label_products').show();
		}
		
		if($F('ver_content_type') == <?php echo $c_contact; ?> || $F('ver_content_type') == <?php echo $c_default; ?> || $F('ver_content_type') == "0"){
			$('nb_ver_num_col').hide();
		} else {
			$('nb_ver_num_col').show();
		}
		
		if($F('ver_content_type') == <?php echo $c_dynamic_cat; ?> || $F('ver_content_type') == <?php echo $c_plistbycat; ?>){ /* dynamic category */
			$('nb_ver_box_cats').show();
		} else {
			$('nb_ver_box_cats').hide();
		}
		
		if($F('ver_content_type') == <?php echo $c_pgrid; ?> || $F('ver_content_type') == <?php echo $c_plist; ?>){ /* dynamic category */
			$('nb_ver_box_products').show();
			$('nb_ver_box_title').show();
			$('nb_ver_label_products').show();
		} else {
			$('nb_ver_box_products').hide();
			$('nb_ver_box_title').hide();
			$('nb_ver_label_products').hide();
		}
		
		if($F('ver_content_type') == <?php echo $c_plist; ?>){ /* product grid */
			$('nb_ver_label_products').show();
		} else {
			$('nb_ver_label_products').hide();
		}
		
		if($F('ver_content_type') == <?php echo $c_static; ?>  || $F('ver_content_type') == <?php echo $c_contact; ?> || $F('ver_content_type') == <?php echo $c_plist; ?>){ /* default category */
			$('nb_ver_content_block').show();
		} else {
			$('nb_ver_content_block').hide();
		}
	}
	
	$('ver_content_type').observe('change', function(){
		show_hide_el();
	});
	
	/* left sku area */
	$('vertical_static_block_left').observe('change', function(){
		$('ver_left_sku').setValue("");
		$('ver_left_sku_title').setValue("");
	});
	
	$('ver_left_sku').observe('keypress', function(e) { 
		$('vertical_static_block_left').value = "";
	});
	
	$('ver_left_sku').observe('change', function(e) { 
		$('vertical_static_block_left').value = "";
	});
	
	/* right sku area */
	$('vertical_static_block_right').observe('change', function(){
		$('ver_right_sku').setValue("");
		$('ver_right_sku_title').setValue("");
	});
	
	$('ver_right_sku').observe('keypress', function(e) { 
		$('vertical_static_block_right').value = "";
	});
	
	$('ver_right_sku').observe('change', function(e) { 
		$('vertical_static_block_right').value = "";
	});
</script>