<!--<script type="text/javascript" src="http://192402.com/js/mage/adminhtml/grid.js"></script>-->
<?php $base_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>
<script type="text/javascript" src="<?php echo $base_url ?>js/mage/adminhtml/grid.js"></script>

<?php
	/*
	* Name Extension: Cmsmart megamenu
	* Author: The Cmsmart Development Team 
	* Date Created: 06/09/2013
	* Websites: http://cmsmart.net
	* Technical Support: Forum - http://cmsmart.net/support
	* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
	* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
	*/
	?>
<?php
	$theme = $this->helper('megamenu');
	$block = $theme->getAllOptions();
	$categoryArr = $theme->getCategoryArr();
	$toOptionArray = $theme->toOptionArray();
	$checked = false;
	if($categoryArr[0]['vertical_static_block_top'] ||
		$categoryArr[0]['vertical_static_block_left'] ||
		$categoryArr[0]['vertical_static_block_right'] ||
		$categoryArr[0]['vertical_static_block_bottom']
	){
		$checked = true;
	}
?>

<div style="" id="category_tabs_menu">
<div class="entry-edit">
<div class="entry-edit-head collapseable">
	<a id="general_country-head">
		<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Menu Position') ?></h4>
	</a>
	<div class="form-buttons"></div>
</div>
<div id="admintestimonials_form" class="fieldset">
	<table cellspacing="0" class="form-list">
		<tbody id="nb_position">
			<tr>
				<td class="label"><label for="vertical_static_block_top"><?php echo $this->__('+ Position')?></label></td>
				<td class="value">
					<?php 
					$pos = Mage::getModel('megamenu/position')->getPosition();
					?>
					
					<select class=" select" name="position" id="position">
						<?php foreach ($pos as $data) { ?>
						<option <?php if($data['value'] == $categoryArr[0]['position']) {?> selected="selected" <?php } ?> value="<?php echo $data['value']?>"><?php echo $data['label']?></option>
						<?php } ?>		
					</select>
				</td>
				
			</tr>
		</tbody>
	</table>
</div>

