<style>
.my_folder{
	background: transparent url("<?php echo $this->getSkinUrl('cmsmart/megamenu/images/folder.gif'); ?>") no-repeat scroll 0 0;
	display: block;
    float: left;
    height: 12px;
    width: 18px;
}
</style>
<?php
/**
 * This source file open source made by pragnesh karia
 * Thanks to :
 * http://bassistance.de/jquery-plugins/jquery-plugin-treeview/
 * http://www.mdgart.com/2009/03/15/persistent-drag-and-drop-tree-with-jquery-php-and-mysql-part-1/
 * http://www.mdgart.com/jQuery/Simple-Persistent-Tree/initial_test.php
 *
 * @category   category tree view outside magento (tested v 1.5.1.0)
 * @package    Pragnesh Karia
 * @copyright  Copyright (c) 2011 http://pragneshkaria.com
 * @license
 */

function ver_get_categories() {
    $category = Mage::getModel('catalog/category');
    $tree = $category->getTreeModel();
    $tree->load();
    $ids = $tree->getCollection()->getAllIds();
    $arr = array();
    $arrayCategories = array();
    if ($ids) {
        foreach ($ids as $id) {
            $cat = Mage::getModel('catalog/category');
            $cat->load($id);
 
          //  if($id!=1){
 
                $arrayCategories[$id] =
                        array("parent_id" => $cat->getParentId(),
                            "name" => $cat->getName(),
                            "cat_id" => $cat->getId(),
                            "cat_level" => $cat->getLevel(),
                            "cat_url" => $cat->getUrl()
                );
          //  }
        }// for each ends
        return $arrayCategories;
        /*
          echo 'PK<pre>';
          print_r($arrayCategories);
          echo '</pre>';
         */
    }//if ids present
}
$arrayCategories = ver_get_categories();
$categoryArr = Mage::helper('megamenu/data')->getCategoryArr();
Mage::getSingleton('core/session')->setVerCatIds($categoryArr[0]['ver_pgrid_cats']);

function ver_createTree($array, $currentParent, $currLevel = 0, $prevLevel = -1) {
	$selected_arr = explode(",", Mage::getSingleton('core/session')->getVerCatIds());
	
    foreach ($array as $categoryId => $category) {
        if ($currentParent == $category['parent_id']) {
            if ($currLevel > $prevLevel)
                echo "<ul id='ul_".$categoryId."'>";
            if ($currLevel == $prevLevel)
                echo " </li> ";
 
                    $cat_id_hidden = array('1','2');//set category id hidden
                    if(in_array($categoryId,$cat_id_hidden)){
                       // $display = 'none';
                    }
                    else{
                       // $display = 'block';
                    }
 
            /* class="level_'.$category['cat_level'].' " */
			$chk = "";
			if(in_array($categoryId, $selected_arr)){
				$chk = ' checked="true"';
			}
			
            echo '
				<li id="li_'.$categoryId.'">
					<img id="ext-cus-'.$categoryId.'" class="my_folder">';
				if($categoryId > 1){
					echo '<input type="checkbox" class="mytree-l-tcb" id="ext-gen'.$categoryId.'" '.$chk.' value="'.$categoryId.'" onClick="myCatSelectVer(this)">';
				}
            
			echo '<a id="a_'.$categoryId.'" target="_blank" >';
                echo '<span id="span_'.$categoryId.'">'.$category['name'].'</span>';
            echo '</a>';
            //echo '<input type="text" id="m_cat_id_'.$category['cat_id'].'" name="m_cat_id_'.$category['cat_id'].'" value="id = '.$category['cat_id'].' : level = '.$category['cat_level'].' "/>';
            if ($currLevel > $prevLevel) {
                $prevLevel = $currLevel;
            }
            $currLevel++;
            ver_createTree($array, $categoryId, $currLevel, $prevLevel);
            $currLevel--;
        }
    }
    if ($currLevel == $prevLevel)
        echo " </li></ul> ";
}
?>       

        <script type="text/javascript">
            function expand_prags(str){
              
            }
            jQuery(document).ready(function() {
				//to remove default behaviour on category id 1 and 2
				jQuery("#span_1").html('');
				jQuery("#span_1").html('All Categories');
				/* jQuery("#span_2").html('');
				jQuery("#span_2").html('Pragnesh Karia Root Category'); */
	 
				jQuery("#a_1").removeAttr("href");
				jQuery("#a_1").removeAttr("target");
				jQuery("#a_2").removeAttr("href");
				jQuery("#a_2").removeAttr("target");
	 
				jQuery("#a_1").attr({'class':'expandable-hitarea','href':''});
				jQuery("#a_2").attr({'class':'expandable-hitarea','href':''});
 
            });
            jQuery(function() {
                jQuery("#ver_tree").treeview({
                    collapsed: true,
                    animated: "medium",
                    control:".sidetreecontrol",
                    persist: "location"
                });
            })
        </script>

        <div id="ver_sidetree">
            <div class="sidetreecontrol"><a href="?#">Expand All</a> | <a href="?#">Collapse All</a></div>
            <div id="ver_tree">
                <?php ver_createTree($arrayCategories, 0); ?>
            </div>
        </div>