<!--<div style="margin-left:10px;"><img src="--><?php //echo $this->getSkinUrl('images/visanet/visanet_form.png') ?><!--" usemap="#Image-Maps_4201207311051255" alt="VisaNet." />-->
<!---->
<!--	<map id="_Image-Maps_4201207311051255" name="Image-Maps_4201207311051255">-->
<!--<area shape="rect" coords="0,0,84,60" target="_blank" href="http://www.visanet.com.pe/"    />-->
<!--<area shape="rect" coords="99,-15,195,45" target="_blank" href="http://www.visanet.com.pe/visa.htm"  />-->
<!--</map><br /></div>-->

<div><img src="<?php echo $this->getSkinUrl('images/checkout/mdp/mdp_visa.png') ?>" alt="POS Mastercard" /><br /></div>